@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url('prettyPhoto.css');
@import url('social.css'); 
/** Table Of Content 

	- Getting the new tags to behave	Line 51 - 79
	- Start form defaults				Line 81 - 85
	- Start Links defaults style		Line 87 - 94
	- included Files					Line 94 - 102
	- Header							Line 121 - 148
	- Navigation						Line 150 - 155
	- Header CounterLine 				Line 157 - 170
	- HeaderBanner						Line 173 - 186
	- FeatureBox						Line 188 - 205
	- Donation Section					Line 207 - 212
	- CrowdFunding Progress 			Line 214 - 272
	- Progress & Charity 				Line 224 - 265
	- Event & Videos					Line 269 - 310
	- Blog + Store						Line 314 - 354
	- Footer							Line 357 - 442
	- Page title						Line 444 - 447
	- BreadCrumbs /Headings	+ 404 		Line 451 - 483
	- Gallery Hover						Line 485 - 508
	- Blog Listing		 				Line 511 - 524
	- Blog Detail 		 				Line 526 - 558
	- Career + Location Page 			Line 561 - 584
	- Cart Page							Line 587 - 631
	- Contact							Line 637 - 645
	- FAQs								Line 647 - 660
	- Title Dropdown					Line 663 - 667
	- Product Detail					Line 669 - 707
	- Product View						Line 710 - 730
	- Team								Line 732 - 741
	- Sidebar							Line 743 - 780
	- Crowd Funding						Line 783 - 792
	- Charity Payment					Line 794 - 807
	- Event Listing 					Line 809 - 835
	- Button Hover						Line 838 - 843
	- Checkout 							Line 846 - 887
	- MISC								Line 897 - 902
	- Sorting Filters					Line 904 - 924
	- Shortcodes						Line 926 - 930
	- Included Files 					PrettyPhoto.css , Bootstrap.css , bxslider.css, Full Calander  ( calendar.css ), font-awesome.css , gallery_widget.css , Social Icons Hover ( social.css ) , NoJavascript (nj.css);
	

 


End of Table of Content Line 49 **/

/* Getting the new tags to behave Line 51 */

article, aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video { display:block; margin:0; }
mark,
rp,
rt,
ruby,
summary,
time { display:inline }
/* Getting the new tags to behave */

/* Start form defaults Line 81 */
input,
select,
textarea { font-family: 'Open Sans', sans-serif; font-size:1em; vertical-align:middle; font-weight:normal; color:#393939; margin:0; /*padding:0;*/ }
/* End form defaults */

/* Start Links defaults style Line 87 */
a { text-decoration:none; outline:none; }
a:hover { transition: width 1s; -moz-transition: 1s; /* Firefox 4 */ -webkit-transition: 1s; /* Safari and Chrome */ -o-transition: 1s; /* Opera */ text-decoration:underline; }
a img { border:0; }
a img:hover { opacity:0.6; transition: width 1s; -moz-transition: 1s; /* Firefox 4 */ -webkit-transition: 1s; /* Safari and Chrome */ -o-transition: 1s; /* Opera */ }
.first { margin-left:0 !important; }
.m-bottom { margin:0 0 70px !important; }
/* End Links defaults style */

/** CSS IMPORT BX SLIDER **/

/** Tags use once Line 105**/
.mbtm{ margin-bottom:50px;}
.mtop{ margin-top:50px;}
.h-line{ border-top:2px solid #31c8ce; width:75px; position:absolute; bottom:0; left:0;}
.mtp{ margin-top:150px; }
#content h3{ font-size:18px; line-height:24px; margin:0 0 12px;}
.mbtm2 { margin-bottom:30px !important;}










/** End of Tags Use Once Line 121 **/ 

/** General Body Styling **/
/*body{ background:url('../images/bg_main.png') top center repeat;}*/

/** Header **/
.top_bar ul{ list-style-type:none;  margin:0; padding:0; }
.top_bar li{display:inline-block; }
.top_bar{background:#252525; color:#a1a1a1; font-size:12px; padding:20px 0 10px;}
.top_bar .details i{ color:#a1a1a1; font-size:18px; margin-right:5px;}
.top_bar .details li{margin-right:10px; }
.social li{ float:right;}
.top_bar .social li a{ background-image:url('../images/top_social_icons.png'); display:inline-block; width:30px; height:30px; margin-right:3px; overflow:hidden; text-indent:-50000px;}
.top_bar .social li a.s1{ background-position: -5px 0;}
.top_bar .social li a.s1:hover{ background-position: -5px 32px;}
.top_bar .social li a.s2{ background-position: -38px 0;}
.top_bar .social li a.s2:hover{ background-position: -38px 32px;}
.top_bar .social li a.s3{ background-position: -71px 0;}
.top_bar .social li a.s3:hover{ background-position: -71px 32px;}
.top_bar .social li a.s4{ background-position: -104px 0;}
.top_bar .social li a.s4:hover{ background-position: -104px 32px;}
.top_bar .social li a.s5{ background-position: -137px 0;}
.top_bar .social li a.s5:hover{ background-position: -137px 32px;}
.top_bar .social li a.s6{ background-position: -169px 0;}
.top_bar .social li a.s6:hover{ background-position: -169px 32px;}
.top_bar .social li a.s7{ background-position: -202px 0;}
.top_bar .social li a.s7:hover{ background-position: -202px 32px;}
.top_bar .social li a.s8{ background-position: -236px 0;}
.top_bar .social li a.s8:hover{ background-position: -236px 32px;}
.logo_container{ padding:0px;}
#logo img{ width:auto; height:auto;}

/** Navigation **/
#nav{ background:	#363636; border-bottom:2px solid #1b1b1b;}
#nav .navbar{ margin-bottom:0; display:inline-block; float:left;}
#nav .navbar-inner{ background:none !important; background-image:none !important; border:0px !important; box-shadow:none; padding-left:0; padding-right:0;}
#nav .navbar li:hover{ background:#252525;}


/** Counter **/
.countdown_row { margin:0; list-style:none; padding:0; width:100%; clear:both;}
.hasCountdown, .tCountdOwn {   background: none repeat scroll 0 0 #141414 !important;    margin: 0 auto;    overflow: hidden;    width: 100%; }
.counter_bg{ background: #141414; }
.countdown_section { float:left; border-left:1px solid #1d1d1d; padding:14px 9px 14px 10px; line-height:0px; text-align:center;}
.countdown_section span{font-size:10px; }
span.countdown_amount { display:block; font-size:24px; margin:0 0 2px; line-height:22px; color:#fff;  text-align:center; font-weight:600; color:#cccaca;}
span.countdown_section { display:inline-block; color:#fff; font-size:14px; line-height:5px; }
span.countdown_section:first-child { display:inline-block; color:#fff; font-size:14px; }
.countdown_section br { margin:0px !important; padding:0px !important; display:inline-block; float:left; line-height:0px; }
.charity_counter_wrapper{ background:url('../images/bg_counter.png') top center repeat; overflow:hidden; width:100%; margin-top:19px;}
.charity_title {    background: url("../images/marathon_icon.png") no-repeat scroll 0 center transparent;    color: #1CC3C9;    float: left;    font-size: 14px;    font-weight: bold;    margin: 3px 0 -1px 16px;    min-height: 51px;    padding: 8px 0 0 52px;}
.event_more a{    background: none repeat scroll 0 0 #1CC3C9;    font-size: 21px;    padding: 21px 0 22px;    text-align: center; color:#fff;  display:block; }
.event_more{ margin-left:0 !important;}

/** Header Banner **/
#banner_slider{ width:100%; margin:0; padding:0;}
#banner_slider li img{ width:100%; height:auto !important;}
#banner_slider li { position:relative !important;}
#banner_slider li div{ position:absolute; left:19.4%; top:35%; font-size:48px; line-height:60px; color:#ffffff; font-family: 'Open Sans', sans-serif; max-width:80% !important;}
#banner_slider li div  p{ padding:10px 15px; overflow:hidden; margin-bottom:0; display:inline-block; clear:both;}
#banner_slider li div .b_dark{ background:rgb(27,27,27); background:rgba(27,27,27,0.90); }
#banner_slider li div .b_green{ background:rgb(31,185,191); background:rgba(31,185,191,0.90); margin-top:-11px;}
.banner_slider .bx-default-pager{ display:none;}
.banner_slider{ position:relative;}
.banner_slider .bx-controls-direction{ position:absolute; right:19.3%; top:77%; max-width:90%;}
.banner_slider .bx-controls-direction a{ background-image:url('../images/t_slider_nav.png'); display:inline-block; width:28px; height:28px; overflow:hidden; text-indent:-5000px; }
.banner_slider .bx-controls-direction a.bx-next{ background-position: 28px 0;}
.banner_slider .bx-controls-direction a.bx-prev{ background-position: 0 0;}

/** Features Boxes **/
.feature{  overflow:hidden; -webkit-box-shadow:  1px 1px 8px -6px #000000 ; box-shadow:1px 1px 8px -6px #000000; }
.feature .ftr_img{ background:#fff; padding:30px 0; display:block;}
.ftr_img .img{ display:block;  width:80px; height:80px; margin:0 auto; text-indent:-999px; overflow:hidden;}
.f-img-1 .img{ background:url('../images/feature_img_1.png') top center no-repeat;}
.f-img-2 .img{ background:url('../images/feature_img_2.png') top center no-repeat;}
.f-img-3 .img{ background:url('../images/feature_img_3.png') top center no-repeat;}
.f-img-4 .img{ background:url('../images/feature_img_4.png') top center no-repeat;}
.ftr_txt{ background:#fff; padding:15px;}
.ftr_txt strong{ font-size:18px; line-height:30px; display:block; margin:0 0 10px;}
	/** Feature box hover and Active **/
/*.feature:hover  .ftr_txt strong, .feature.active .ftr_txt strong { color:#1cc3c9}*/
/*.feature:hover .ftr_img, .feature.active .ftr_img{ background:url('../images/bg_element_box_hover.png') top center no-repeat #1cc3c9; display:block; }
.feature:hover .ftr_txt, .feature.active .ftr_txt{ background:#fff; }
.feature:hover .f-img-1 .img, .feature.active .f-img-1 .img{ background:url('../images/feature_img_1_hover.png') top center no-repeat;}
.feature:hover .f-img-2 .img, .feature.active .f-img-2 .img{ background:url('../images/feature_img_2_hover.png') top center no-repeat;}
.feature:hover .f-img-3 .img, .feature.active .f-img-3 .img{ background:url('../images/feature_img_3_hover.png') top center no-repeat;}
.feature:hover .f-img-4 .img, .feature.active .f-img-4 .img{ background:url('../images/feature_img_4_hover.png') top center no-repeat;}*/
/** Feature box hover and Active **/

/** Donation Section **/
#donation_box{-webkit-box-shadow:  1px 1px 8px -6px #000000 ; box-shadow:  1px 1px 8px -6px #000000; max-width:1170px; margin-left:auto; margin-right:auto;}
#donation_box .container{ background:#fff; padding:25px 0; }
#donation_box form{ margin:0;}
#donation_box h2{ font-weight:normal; border-left:3px solid #1cc3c9; padding-left:17px; margin:0; line-height:27px; }
#donation_box button { background:#1abfc6; color:#fff; border:0; padding-left:30px; padding-right:30px; border-radius:5px;  -webkit-border-radius:5px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/** Progress & Charity News **/
#charity_progress {-webkit-box-shadow:  1px 1px 8px -6px #000000 ; box-shadow:  1px 1px 8px -6px #000000; }
#charity_progress { background:#fff;}
#charity_progress h3{ background:#1cc3c9; color:#fff;    margin-top: 0;    padding: 0 30px 0 20px; margin-bottom:0; text-transform:capitalize;}
#charity_progress .img{ border: 1px solid #b4b4b4;}
#charity_process_inner { padding:14px 20px; overflow:hidden; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#charity_progress h2{ color:#1cc3c9; margin:0;}
#charity_progress h4{ margin-top:0; }
#charity_progress .progress-striped .bar {  background-color: #1CC3C9;}
#charity_progress .progress.active .bar {    animation: 4s linear 0s normal none infinite progress-bar-stripes; }
#charity_progress .progress{ height:10px; }
#charity_progress .info{ background: url("../images/bg_counter.png") repeat scroll center top transparent; overflow:hidden; color:#fff; font-weight:bold; padding:2px 5px 2px; }
#charity_progress .info span{ color:#93dce0;}
#charity_progress i{ font-size:26px; width:30px; margin-left:5px; margin-right:5px; }

	/** Start of Charity News Slider **/
#news{ position:relative;}
	/** slider setting **/
	.img_holder { -webkit-box-shadow:  1px 1px 8px -6px #000000 ; box-shadow:  1px 1px 8px -6px #000000;  }
	#news_slider{ margin:0; padding:0;}
	#news .bx-pager{ display:none;}
	#news .bx-controls-direction{ position:absolute; top:0; right:0;}
	#news .bx-controls-direction a{ background-image:url('../images/slider_2_arrow.png'); display:inline-block; width:19px; height:19px; overflow:hidden; text-indent:-5000px; margin-right:1px; }
	#news .bx-controls-direction a:hover{ background-image:url('../images/slider_2_arrow_active.png'); }
	#news .bx-controls-direction a.bx-next{ background-position: 19px 0;}
	#news .bx-controls-direction a.bx-prev{ background-position: 0 0;}
	/** End of slider settings **/

	/** Start of Charity News Content Styling **/
 	
	#news .title{     /* border-bottom: 1px solid #1CC3C9; */   color: #474747;    display: block;    font-size: 14px;    font-weight: bold;    line-height: 20px;    margin-bottom: 20px;    padding-bottom: 25px;    padding-right: 45px; position:relative;}	
	#news img{ width:100%; }
	#news_slider p{ text-align:justify; }
	#news_slider .ns_desc p{ margin:0 0 15px;}
	#news .img_title { position:relative; padding:4px 10px; border-top:2px solid #13afb5; background:#1cc3c9; }
	#news .img_title a { color:#fff;  font-weight:bold; max-width:90%; font-size:14px; }
	#news .img_title p{ font-size:11px; margin:0; }
	#news .img_title i{ position:absolute; right:10px; top:10px; }
	/** End of Charity News Content  Styling **/
	

/** End of Progress & Charity News Section **/


/** Events & Videos **/
/*#events_videos{ center 25px no-repeat rgba(230,230,230,0.3); border-top:1px solid rgba(215,215,215,0.7); border-bottom:1px solid rgba(215,215,215,0.7); padding:50px 0; }*/
#events_videos h2{color:#6c6c6c; text-shadow: 0px 0px 4px rgba(150, 150, 150, 1); font-size:36px;}
#events_videos h2 span{ color:#fff; display:block; width:100%; text-indent:100px; }
#events_videos .video_slider_container { position:relative; margin-top:37px;}
#events_videos .video{ position:relative; }
#events_videos .tag_line{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7); top: 0; padding: 10px; position: absolute; width: 94.5%; color:#fff; }
#events_videos .bx-pager { display:none; }
#events_videos .accordion{margin-bottom:0;}
#events_videos .accordion-group:first-child{margin:0;}
.video_slider_container .bx-controls-direction{ position:absolute; right:10px;  top:15px; }
.video_slider_container .bx-controls-direction a{ background-image:url('../images/video_slider_arrow.png'); display:inline-block; width:9px; height:9px; overflow:hidden; text-indent:-5000px; margin-right:1px; }
.video_slider_container .bx-controls-direction a.bx-next{ background-position: 9px 0;}
.video_slider_container .bx-controls-direction a.bx-next:hover{ background-position: 9px 9px;}
.video_slider_container .bx-controls-direction a.bx-prev{ background-position: 0 0;}
.video_slider_container .bx-controls-direction a.bx-prev:hover{ background-position: 0 9px;}

.video_slider{ margin:0;}

	/** Event Accordion **/
	#news_accordion{ float:right;}
	#accordion_news .accordion-group{ border:0px; margin:2px 0 0; }
	#accordion_news .accordion-heading .accordion-toggle{ padding:0;}
	#accordion_news .accordion-heading{ background:rgba(67,67,67,0.85); padding:0; color:#fff;}
	#accordion_news .accordion-heading a{ color:#fff; overflow:hidden;}
	#accordion_news .accordion-heading h3{ overflow:hidden;}
	#accordion_news  .accordion-body{ background:rgba(46,46,46,0.91);}
	#accordion_news .title{ color:#1cc3c9; font-size:20px; font-weight:bold; padding:12px 0;}
	#accordion_news .datem{     color: #FFFFFF;    font-size: 30px;    line-height: 30px;  text-align: center; padding:17px 0;}
	.location_date{ display:block; clear:both; font-size:14px; color:#fff; line-height:20px;  }
	.location_date span{ display:inline-block; width:45%; 	}
	.location_date  i{ display:block; width:30px; }
	.icon_toggle { background:#1cc3c9; padding:26px 0; text-align:center; float:right !important;}
	.icon_toggle i{ display:block; margin:0 auto; }
	#accordion_news .accordion-inner{ padding:25px 20px; border:0; overflow:hidden;}
	#accordion_news .img{ display:block;}
	#accordion_news p{ color:#fff; margin-bottom:0;}
	#accordion_news .accordion-inner a{ color:#1cc3c9;  font-weight: bold; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
		/** Inactive Section **/
	#accordion_news .inactive .title, #accordion_news .inactive .datem,#accordion_news .inactive .location_date{color:#b2b2b2;}
		#accordion_news .inactive .title { font-size: 18px;}
		#accordion_news .inactive .datem { font-size: 28px;}
		#accordion_news .inactive .location_date{font-size:12px;}
		/** End of Accordion Inactive Section **/
	/** End of Event Accordion  **/

/** End of Events & Videos **/

	
	
/** Blog + Store Section **/
#blog_store{ }
#blog_store #blog, #blog_store #shop{ padding-bottom:10px;}
#blog_store .title {    color: #474747;    display: block;    font-size: 14px;    font-weight: bold;    line-height: 20px;  position:relative;   margin-bottom: 10px;    padding-bottom: 20px;  text-transform: uppercase;}
	/** Blog slider Section**/
		#blog_slider{ list-style-type:none; padding:0; margin:0; } 
		#slider_blog{ position:relative;}
		/*#slider_blog .bx-wrapper{ padding:20px;}*/
		#slider_blog p{text-align:justify;}
		#slider_blog .icon_date i{ background: none repeat scroll 0 0 #1CC3C9;    color: #FFFFFF;    display: inline-block;    font-size: 16px;    padding: 11px 10px 10px;    text-align: center; position:relative; top:1px; }
		#slider_blog .date{ padding:10px 15px 8px; display:inline-block; text-align:left;  background:#474747 ;color:#fff; }
		#slider_blog h4{margin:0 0 10px;}
		#slider_blog h4 a { color:#333333;}
		#slider_blog .post_excerpt i{ margin-left:20px; font-weight:normal; }
		#slider_blog .post_excerpt a:hover{text-decoration:none;}
		/** Blog Slider settings **/
		#slider_blog .bx-pager{ display:none;}
		#slider_blog .bx-controls-direction{ position:absolute; top:20px; right:20px;}
		#slider_blog .bx-controls-direction a{ background-image:url('../images/slider_2_arrow.png'); display:inline-block; width:19px; height:19px; overflow:hidden; text-indent:-5000px; margin-right:1px; }
		#slider_blog .bx-controls-direction a:hover{ background-image:url('../images/slider_2_arrow_active.png'); }
		#slider_blog .bx-controls-direction a.bx-next{ background-position: 19px 0;}
		#slider_blog .bx-controls-direction a.bx-prev{ background-position: 0 0;}
		#slider_blog .icon_date{ margin:0 0 10px;}
	/** End of blog Slider **/

	/** Start of Store **/
		#slider_shop{position:relative;}
		#slider_shop .img{ border:1px solid #d7d7d7;}
		#shop_slider{ padding:0; margin:0; }
		/*#shop_slider img, #slider_blog img{ width:auto; max-width:auto !important;}*/
		#slider_shop .bx-wrapper{ display:block; margin:0 auto;}
		#slider_shop .bx-pager{ display:none;}
		#slider_shop .bx-controls-direction{ }
		#slider_shop .bx-controls-direction a{ background-image:url('../images/shop_slider_nav.png'); display:inline-block; width:30px; height:207px; overflow:hidden; text-indent:-5000px; margin-right:1px; }
		#slider_shop .bx-controls-direction a:hover{ background-image:url('../images/shop_slider_nav.png'); }
		#slider_shop .bx-controls-direction a.bx-next{ background-position: right center; position:absolute; right:-1px; top:0;}
		#slider_shop .bx-controls-direction a.bx-prev{ background-position: left center; position:absolute; left:0; top:0;}
		#slider_shop .price_cart {     background: #31C8CE;    display: block;    overflow: hidden;    padding: 5px 10px;}	#slider_shop .price_cart a{ display:inline-block; float:right;}
		#slider_shop .price_cart i{ float:right; font-size:16px; color:#fff; }
		#slider_shop .price_cart a:hover{ text-decoration:none; }
		
		/** End of Store **/

/** End of blog + Store section **/


/** Footer **/
		#footer{ }
		#footer .footer_1{ background:#1b1b1b; }
		#footer .footer_3{ background:#323232;}
		/** Footer 1 **/
		#footer #banner{ width:86%; margin:0 auto 0 6% !important; overflow:hiden; background:#323232; padding:10px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; color:#fff; position:relative; top:-50px; }
		#banner .inner{ overflow:hidden; border: 2px solid #FFFFFF;    padding: 10px;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;   width: 100%; text-align:center;}
		#banner .inner h2{  border-bottom: 1px solid #FFFFFF;    display: inline-block;    margin-bottom: 0;    padding: 0 20px 5px;    text-align: center; margin:0px; font-size:21px; line-height:24px;}
		#banner .inner h3{ text-align:center; margin:0px; font-size:14px; line-height:22px; text-transform:uppercase;}
		#banner_rounded{ background:#1cc3c9; height: 90px;   position: absolute;   right: 30px;    top: -30px;    width: 90px; padding:30px;    -webkit-border-radius: 500px;    -moz-border-radius: 500px;    border-radius: 500px;behavior: url(/PIE.htc);}
		#banner_rounded h3{    display: block;    font-weight: 800;    line-height: 30px;    margin: 0 auto; }
		#banner_rounded h3 span{ font-size:18px; display:block;}
		
			/** footer widgets **/
			
			#footer h4{ color:#fff; font-weight:bold; position:relative;  padding-bottom:15px; margin-bottom:30px; text-transform:uppercase; }
			#footer h4 span{ font-weight:700; }
				/** Contact Form **/
					#footer #contact_form input{ width:70%; border-radius:0; -webkit-border-radius:0;}
					#footer #contact_form textarea{ width:95%; border-radius:0; -webkit-border-radius:0; resize:none;}
					#footer #contact_form input[type="submit"]{background: #1cc3c9; color:#fff; border:0; padding:5px 15px; width:auto !important  }
					/** End of Contact Form **/
					#footer .widget{ color:#898989;}
					#footer .widget ul{list-style-type:none; margin:0; padding:0; }
					#footer .widget ul li{ margin-bottom:10px; }
					#footer .widget ul li span{ display:block; clear:both;}
					#footer .widget a{ color:#1cc3c9;}
					#footer .v-a{    display: block;    margin-top: 20px;    padding-top: 10px;    position: relative; clear:both;}
					#footer .v-a .h-line{ bottom:auto; top:0; }
					/** Footer Gallery **/
					.view_new { display:inline; border:4px solid #1B1B1B; margin: 10px 8px; float: left;  overflow: hidden; position: relative; text-align: center; cursor: default; background: #fff url(../images/bgimg.jpg) no-repeat center center; }
					.view_new:hover{ border:4px solid #1cc3c9;}
					/*.view_new .mask,*/

					.view_new-admin { display:inline; border:4px solid #1B1B1B; margin: 10px 8px; float: left;  overflow: hidden; position: relative; text-align: center; cursor: default; background: #fff url(../images/bgimg.jpg) no-repeat center center; }
					.view_new-admin:hover{ border:4px solid #1cc3c9;}
					.view_new-admin .mask,

					.view .content { width:100%; height:100%; position: absolute; overflow: hidden; top: 0; left: 0; }
					.view_new img { display: block; position: relative; }
					.view_new h2 { text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; background: rgba(0, 0, 0, 0.8); margin: 20px 0 0 0; }
					.view_new p { font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative; color: #fff; padding: 0 18px 24px; text-align: center; }
					.view_new a.info { display: inline-block; text-decoration: none; padding: 5px 14px; position:relative; background:url(../images/mag.png) no-repeat; top:10px; }
					.view_new a.info: hover { -webkit-box-shadow: 0 0 5px #000; -moz-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }
					
					.view_new-admin img { display: block; position: relative; }
					.view_new-admin h2 { text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; background: rgba(0, 0, 0, 0.8); margin: 20px 0 0 0; }
					.view_new-admin p { font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative; color: #fff; padding: 0 18px 24px; text-align: center; }
					.view_new-admin a.info { display: inline-block; text-decoration: none; padding: 5px 14px; position:relative; background:url(../images/mag.png) no-repeat; top:10px; }
					.view_new-admin a.info: hover { -webkit-box-shadow: 0 0 5px #000; -moz-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }

					.view-tenth img { -webkit-transform: scaleY(1); -moz-transform: scaleY(1); -o-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; -ms-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
					.view-tenth .mask { background-color: rgba(255, 231, 179, 0.3); -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }
					.view-tenth h2 { border-bottom: 1px solid rgba(0, 0, 0, 0.3); background: transparent; margin: 20px 40px 0px 40px; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); color: #333; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }
					.view-tenth p { color: #333; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; }
					.view-tenth a.info { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; }
					.view-tenth:hover img { -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }
					.view-tenth:hover .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
					.view-tenth:hover h2,
					.view-tenth:hover p,
					.view-tenth:hover a.info { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
					/** Footer Gallery **/
				
				/** Popular Post Wideget **/
					#footer .popular_post ul li span {    background: url("../images/bg_foot_icon.png") no-repeat scroll center top transparent;    color: #FFFFFF;    display: block;    float: left;    font-size: 20px;    height: 42px;    margin-right: 20px;    text-align: center;    width: 42px;}
					#footer .popular_post ul li span i{ margin-top:10px; display:block;}					
				/** End of Popular Post Wideget **/
				
			/** End of Footer Widgets **/
		/** End of Footer 1 **/
		
		/** Start of Footer 2 **/
		#footer .footer_2{ background:#888888; padding:5px 0; color:#fff;}
		.footer_2 .footer_left { padding-top:5px;}
		.footer_2 .footer_left i{ font-size:20px; color:#fff; margin-top:5px;  }
		.footer_2 .footer_left span{ margin-right:10px; }
		.footer_2 .footer_right{ text-align:right;}
		/** End of Footer 2 **/
		
		/** Start of Footer 3 **/
		
		.footer_3{background:#323232; padding:15px 0 0; color:#fff;}
		.footer_3 a{ color:#fff;}
		.footer_3 a:hover{ color:#fff;}
 		.footer_nav{ margin:0 0 30px; padding:0;}
		.footer_nav li:first-child{margin-left:0;}
		.footer_nav li:last-child{border-right:0;}
		.footer_nav li {    border-right: 1px solid #EEEEEE;    color: #EEEEEE;    display: inline-block;    line-height: 15px;    margin-left: 20px;    padding-right: 20px;} 
		.footer_3 #latest_tweets { list-style-type:none; font-size:13px; border-left:1px solid #bbbbbb; margin-left:0; padding-left:20px; padding-bottom:12px;}
		#latest_tweets li a { color:#1cc3c9;}
		#tweets.latest_tweets{  background:url('../images/twitter_bg.png') top right no-repeat; min-height:100px;}
		.footer_3 #latest_tweets  li{ width:90%;}
		.footer_3 #latest_tweets span{ clear:both; text-align:right; width:100%; font-style:italic; display:block;}
		/** End of Footer 3 **/
		.footer_3 .footer_left  p{ margin-bottom:0;}
		.footer_3 .footer_right{ margin-bottom:0;  padding-bottom:0; }
		
		/** End of Footer **/
		
/** Page title **/
#page_title{ background:#fff; padding:26px 0;}
#page_title h2{ font-weight:bold; border-left:3px solid #1cc3c9; padding-left:12px; margin:0; }
/** End of page Title **/

/** Breadcrumbs settings **/
#breadcrumbs { margin:20px 0 0;}
#breadcrumbs .breadcrumb{ background:none;}

/** 404 Page **/
.p404{ text-align:center}
.p404 h3 i{ border-radius:500px 500px 500px 500px; -webkit-border-radius:500px 500px 500px 500px; background:#1cc3c9; text-align:center; padding:8px 15px; font-size:20px; color:#fff;}
.p404 form{ background:#fff; display:block; padding:0 10px; max-width:70%; margin:0 auto; border:1px solid #d2d2d2; overflow:hidden; margin-top:50px; position: relative}
.p404 form input[type="text"]{ border:0; box-shadow:none; width:100%; float:left; height:30px; margin-bottom:0;}
.p404 form button{ border:0; background:transparent; color:#999999; font-size:18px; position:absolute; top:8px; right:8px;}
.listing_widget{ margin-bottom:20px;}
.listing_widget h3{ overflow:hidden; position:relative; text-align:left; line-height:24px; }
.listing_widget ul{ list-style-type:none; text-align:left; margin:0; }
.listing_widget li{ border-bottom:1px solid #e2e2e2; padding:5px 3px;}
.listing_widget li a{ background:url('../images/listing_bullet.png') left center no-repeat; padding-left:15px; color:#787878; }
.listing_widget li:hover{ background: #fff; border-bottom:1px solid #e2e2e2;}
.listing_widget li:hover a{color:#39c7cd}
.heading span { border-width:0; border-color:transparent; border-style:solid; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
.heading.sub { max-width:80%; margin:0 auto; }
.heading.bg-div { overflow:hidden; text-align:left; margin-top:10px;}
.heading.bg-div .inner { position:relative; }
.heading.bg-div .inner > .bgl,
.heading.bg-div .inner > .bgr { height:7px; width:auto; display:block; position:absolute;  top:50%; background:url('../images/list-head.png') top center repeat-x;}
.heading.bg-div .inner > .bgl { right:100%; border-width:0 0 0 999px;  margin-right:30px;}
.heading.bg-div .inner > .bgr { left:100%; border-width:0 999px 0 0; margin-left:10px;}
.listing_404{ margin-top:50px; }

.heading1 span { border-width:0; border-color:transparent; border-style:solid; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
.heading1.sub { max-width:80%; margin:0 auto; }
.heading1.bg-div { overflow:hidden; text-align:left; margin-top:10px;}
.heading1.bg-div .inner { position:relative; }
.heading1.bg-div .inner > .bgr1,
.heading1.bg-div .inner > .bgr { height:7px; width:auto; display:block; position:absolute;  top:50%; border-top:1px solid #e2e2e2 !important;}
.heading1.bg-div .inner > .bgr1 { left:100%; border-width:0 9999px 0 0;  margin-left:10px;}
.heading1.bg-div .inner > .bgr { left:100%; border-width:0 590px 0 0; margin-left:10px; margin-right:10px;}

/** End of 404 Page **/

	/** Image Hover Animation **/
	.gallery_img-first img {    -webkit-transition: all 0.2s linear;   -moz-transition: all 0.2s linear;   -o-transition: all 0.2s linear;   -ms-transition: all 0.2s linear;   transition: all 0.2s linear;}
	.gallery_img-first .mask {   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";   filter: alpha(opacity=0);   opacity: 0;   background-color: rgba(28,195,201, 0.95);   -webkit-transition: all 0.4s ease-in-out;   -moz-transition: all 0.4s ease-in-out;   -o-transition: all 0.4s ease-in-out;   -ms-transition: all 0.4s ease-in-out;   transition: all 0.4s ease-in-out;}
	.gallery_img-first h2 {   -webkit-transform: translateY(-100px);   -moz-transform: translateY(-100px);   -o-transform: translateY(-100px);   -ms-transform: translateY(-100px);   transform: translateY(-100px);   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";   filter: alpha(opacity=0);   opacity: 0;   -webkit-transition: all 0.2s ease-in-out;   -moz-transition: all 0.2s ease-in-out;   -o-transition: all 0.2s ease-in-out;   -ms-transition: all 0.2s ease-in-out;   transition: all 0.2s ease-in-out;}
	.gallery_img-first p {   -webkit-transform: translateY(100px);   -moz-transform: translateY(100px);   -o-transform: translateY(100px);   -ms-transform: translateY(100px);   transform: translateY(100px);   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";   filter: alpha(opacity=0);   opacity: 0;   -webkit-transition: all 0.2s linear;   -moz-transition: all 0.2s linear;   -o-transition: all 0.2s linear;   -ms-transition: all 0.2s linear;   transition: all 0.2s linear;}
	.gallery_img-first:hover img {   -webkit-transform: scale(1.1,1.1);   -moz-transform: scale(1.1,1.1);   -o-transform: scale(1.1,1.1);   -ms-transform: scale(1.1,1.1);   transform: scale(1.1,1.1);}
	.gallery_img-first a.info {   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";   filter: alpha(opacity=0);   opacity: 0;   -webkit-transition: all 0.2s ease-in-out;   -moz-transition: all 0.2s ease-in-out;   -o-transition: all 0.2s ease-in-out;   -ms-transition: all 0.2s ease-in-out;   transition: all 0.2s ease-in-out;}
	.gallery_img-first:hover .mask {   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";   filter: alpha(opacity=100);   opacity: 1;}
	.gallery_img-first:hover h2,
	.gallery_img-first:hover p,
	.gallery_img-first:hover a.info {   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";   filter: alpha(opacity=100);   opacity: 1;   -webkit-transform: translateY(0px);   -moz-transform: translateY(0px);   -o-transform: translateY(0px);   -ms-transform: translateY(0px);   transform: translateY(0px);}
	.gallery_img-first:hover p {   -webkit-transition-delay: 0.1s;   -moz-transition-delay: 0.1s;   -o-transition-delay: 0.1s;   -ms-transition-delay: 0.1s;   transition-delay: 0.1s;}
	.gallery_img-first:hover a.info {   -webkit-transition-delay: 0.2s;   -moz-transition-delay: 0.2s;   -o-transition-delay: 0.2s;   -ms-transition-delay: 0.2s;   transition-delay: 0.2s;}
	.gallery_img {   width: 100%;   height: auto;   float: left;    overflow: hidden;   position: relative;   text-align: center;   -webkit-box-shadow: 1px 1px 2px #e6e6e6;   -moz-box-shadow: 1px 1px 2px #e6e6e6;   box-shadow: 1px 1px 2px #e6e6e6;   cursor: default;   background: #fff url(../images/bgimg.jpg) no-repeat center center;}
	.gallery_img .mask,.gallery_img .content {   width: 100%;   height: 100%;   position: absolute;   overflow: hidden;   top: 0;   left: 0;}
	.gallery_img .mask .anchor{ background:#49cfd4; display:inline-block; padding:10px; color:#fff; position:relative; top:48%; margin-right:20px; }
	.gallery_img .mask .anchor:hover{ text-decoration:none;}
	.gallery_img .mask .anchor i{ font-size:20px;}
	.gallery_img img {   display: block;   position: relative;}
	.gallery_img h2 {   text-transform: uppercase;   color: #fff;   text-align: center;   position: relative;   font-size: 17px;   padding: 10px;   background: rgba(0, 0, 0, 0.8);   margin: 20px 0 0 0; }
	.gallery_img p {    font-family: Georgia, serif;  font-style: italic;   font-size: 12px;   position: relative;   color: #fff;   padding: 10px 20px 20px;   text-align: center;}
	.gallery_img a.info {   display: inline-block;   text-decoration: none;   padding: 7px 14px;   background: #000;   color: #fff;   text-transform: uppercase;   -webkit-box-shadow: 0 0 1px #000;   -moz-box-shadow: 0 0 1px #000;   box-shadow: 0 0 1px #000;}
	.gallery_img a.info: hover {   -webkit-box-shadow: 0 0 5px #000;   -moz-box-shadow: 0 0 5px #000;   box-shadow: 0 0 5px #000;}
	/** Image Hover Animation **/


/** Blog listing **/
	#blog_listing #category_image{ margin-bottom:0;}
	#blog_listing .gallery_img{ width:99%; float:none; margin:3px auto;}
	.post_meta ul{ margin:0px; padding:0px; list-style-type:none; color:#787878;}
	.post_meta ul li{ border-bottom:1px solid #e2e2e2; padding:5px 10px;}
	/* .blog_item .gallery_img{ margin-bottom:30px; } */
	.post_meta ul i{ font-size:16px; margin-right:10px; display:inline-block; color:#1cc3c9;}
	.post_meta ul a{ color:#444;}
	.blog_item{margin-bottom:25px; overflow:hidden;}
	.blog_item h3{ margin-top:0;}
	.blog_item h3 a{ color:#444;}
	.blog_item .read_more{ color:#242424; padding:10px 40px; display:inline-block; float:right; clear:both; background:#1cc3c9;text-align: center;}
	.blog_item .read_more:hover{ background:#242424; color:#fff;}
	
/** End of Blog listing **/

/** Blog Detail **/
#blog_post_detail .gallery_img{ margin-bottom:30px; }
#blog_post_detail .post_meta_detail{ padding:10px 5px; border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; width:100%; float:left;}
#blog_post_detail .post_meta_detail ul{ margin:0px; padding:0px; list-style-type:none; color:#787878;}
#blog_post_detail .post_meta_detail ul li{ display:inline; margin-right:10px;}
#blog_post_detail .post_meta_detail ul li i{ color:#1cc3c9; font-size:16px; }
#blog_post_detail .post_meta_detail ul li a{ color:#444444;}
#blog_post_detail h3 a{color:#444444;}
#blog_post_detail .post_detail{ margin-bottom:50px; }
.blog_post{ overflow:hidden;}

#author_bio{ border:1px solid #e2e2e2; background:#fff; overflow:hidden;}
#author_bio .inner{border:4px solid #f7f7f7; padding:18px 32px; overflow:hidden;}
#author_bio .inner h3{ margin-top:0;}
#author_bio .author_Summary{ border-right:1px solid #e2e2e2}
.view_posts{ background:url('../images/link_bg.jpg') bottom left repeat-x #fff; display:inline-block; border:1px solid #d3d3d3; padding:7px 20px;  color:#444444;}
.h_comment{ padding:7px 0; display:inline-block; color:#444;}
.fr{ float:right; z-index:999; position:relative;}
#comments_form{ padding:30px 0;}
#comments_form input{ width:100%; border-radius:0; -webkit-border-radius:0; }
#comments_form textarea{ width:95%; float:right; height:110px; resize:none;  border-radius:0; -webkit-border-radius:0;}
#comments_form .input_wrapper { position:relative;}
#comments_form i{ position:absolute; right:0; top:25%; color:#d4d4d4;}
#comments_form input[type="submit"]{ color:#242424; padding:10px 40px; display:inline-block;  clear:both; background:#1cc3c9; border:0; width:auto !important;}
#comments_form input[type="submit"]:hover{ background:#242424; color:#fff;}
/** End of Blog Detail **/
#comments { margin:0; padding:0; margin-bottom:50px; width:100%; overflow:hidden;}
#comments li{border:1px solid #e2e2e2; background:#f9f9f9; overflow:hidden; margin-bottom:30px;}
#comments .inner{border:4px solid #f7f7f7; padding:18px 32px; overflow:hidden; background:#fff;}
#comments  li .img{ background:#f9f9f9; vertical-align:middle;}
#comments li .img img{ width:50%; height:50%; display:block; margin:60% 0 50% 40%;}
#comments ul{ width:90%; float:right;}
#comments ul li:last-child{ margin-bottom:0; }

/** Career Page **/
#horizontal_tabs ul{ list-style-type:none; margin:0; padding:0; }
#horizontal_tabs ul li a{ background:url('../images/link_bg.jpg') bottom left repeat-x #fff; display:block; border:1px solid #d3d3d3; padding:7px 20px;  color:#444444; margin-bottom:10px; font-weight:bold;}
#horizontal_tabs ul li.active a,#horizontal_tabs ul li:hover a{background:url('../images/link_bg_active.jpg') bottom left repeat-x #3dccd1; color:#fff; border:1px solid #11979c; }
#horizontal_tabs_content { border:1px solid #e2e2e2; background:#fff; overflow:hidden;}
#horizontal_tabs_content #myTabContent{ border:4px solid #f7f7f7; padding:18px 32px; overflow:hidden;}
#myTabContent h3{ margin-top:0;}

/** Office location **/
#office_slider{ margin:0; padding:0; }
#offices_slider_warpper  .bx-wrapper{position:relative;}
#offices_slider_warpper  .bx-wrapper li{ border:1px solid #e5e5e5; }
#offices_slider_warpper  .bx-pager{ display:none;}
#offices_slider_warpper .bx-controls-direction{ position:absolute; width:auto; right:0; }
 #offices_slider_warpper .bx-controls-direction a{ display:inline-block; background-image:url('../images/business_offices.png'); width:30px; height:27px; overflow:hidden; text-indent:-5000px; }
#offices_slider_warpper .bx-controls-direction .bx-prev{ background-position:top left;}
#offices_slider_warpper .bx-controls-direction .bx-next{ background-position:top right;}
#offices_slider_warpper  .bx-viewport{ margin:0 0 13px;}

#vertical_tabs ul{ list-style-type:none; margin:0; padding:0; }
#vertical_tabs ul li a{ background:url('../images/link_bg.jpg') bottom left repeat-x #fff; display:inline-block; border:1px solid #d3d3d3; padding:7px 20px;  color:#444444; margin-bottom:10px; font-weight:bold; margin-right:12px;}
#vertical_tabs ul li a:hover{ text-decoration:none;}
#vertical_tabs ul li{ display:inline;}
#vertical_tabs ul li.active a,#vertical_tabs ul li:hover a{background:url('../images/link_bg_active.jpg') bottom left repeat-x #3dccd1; color:#fff; border:1px solid #11979c; }
#vertical_tabs_content { border:1px solid #e2e2e2; background:#fff; overflow:hidden;}
#vertTabContent{ border:4px solid #f7f7f7; padding:18px 32px; overflow:hidden;}


/** Cart Page **/
.cart_table_holder th{	background:url('../images/cart_bg.jpg') top center repeat; font-size:13px; font-weight:normal; border:1px solid #ebebeb; padding:14px 5px;}
.cart_table_holder th:first-child{text-align:left;}
.cart_table_holder table{ border-radius:4px; -webkit-border-radius:4px;   border-collapse: separate; background:#fff; color:#777777; font-size:13px;}
.cart_table_holder td{ padding:20px; vertical-align:top;}
.cart_table_holder td.price{ text-align:center;}
.cart_table_holder .quantity{ background:#f3f3f3; border-radius:0; -webkit-border-radius:0;  max-width:26px; }
.cart_table_holder tbody td, .cart_table_holder tfoot td{border-right:1px solid #ebebeb; border-bottom:1px solid #ebebeb; }
.cart_table_holder input[type="text"]{ margin-bottom:0; }
.cbtn{ border:1px solid #e5e5e5; background:#f7f7f7; border-radius:5px; -webkit-border-radius:5px; color:#787878; padding:5px 10px;}
.add_remove{ background:url('../images/add_remove.jpg') top center no-repeat; display:inline-block; text-indent:-5000px; width:53px; height:29px; margin-left:5px; }
.cart_table_holder tbody td.img{ border-right:0;}
.product_name{ color:#000;}
.b_price{ font-weight:bold; }
.total_price{ font-size:18px; color:#05242b; text-align:right;}
.total{    background: none repeat scroll 0 0 #ededed;padding:5px 10px;    display: block;    margin-left: -20px;    margin-right: -20px;    position: relative;    top: -20px; text-align:left; font-size:13px;}
.cart_btn_wrapper a{  padding:10px 40px; display:inline-block; color:#fff; border-radius:5px; -webkit-border-radius:5px; font-size:14px; }
.cart_btn_wrapper a:hover{ color:#fff; }
.continue_shopping{ border:1px solid #6c6c6c; background:#363636 !important;}
.btns{ border:1px solid #a5e7ea; background:#1cc3c9 !important;  padding:10px 40px !important; display:inline-block; color:#fff; border-radius:5px; -webkit-border-radius:5px; font-size:14px; }
.title_right .btns{ border:1px solid #a5e7ea; background:#1cc3c9 !important;  padding:7px 20px !important; display:inline-block; color:#fff; border-radius:5px; -webkit-border-radius:5px; font-size:14px; margin-bottom:10px; }
.checkout_btn{ border:1px solid #a5e7ea; background:#1cc3c9;}
.cart_btn_wrapper{ margin:20px 0; }
.title_right{text-align:right; padding:0 20px ;}
.title_right a{background:url('../images/link_bg.jpg') bottom left repeat-x #fff; display:inline-block; border:1px solid #d3d3d3; padding:7px 20px;  color:#787878; font-size:14px; margin-bottom:0; margin-left:10px; }
.title_right a i{ font-size:18px; margin-right:10px; }
.title_right .count{ color:#000;}
#cart_down_content{ border:1px solid #dadada; background:#1cc3c9;  }
#cart_down_content.dropdown-menu li{ background:#1cc3c9;}
.title_right #cart_down_content.dropdown-menu li a{ background:transparent; border:0; }
#cart_down_content.dropdown-menu{ width:480px; left:auto; right:0; background:#ededed;}
#cart_down_content.dropdown-menu #cart{ list-style-type:none; margin:0; padding:0;}
#cart_down_content .dropdown_cart_img{ width:72px; height:60px; border:1px solid #d2f3f4; background:#fff;}
#cart_down_content  .product_name{ font-size:18px; color:#000; width:200px; margin:0 10px;}
#cart_down_content   #cart  li{display: block;    overflow: hidden;    padding: 20px 10px; border-bottom:1px solid #65d5d9 ;}
#cart_down_content   #cart  li:last-child{ border-bottom:0; }
#cart_down_content   #cart div{ float:left; text-align:left; }
#cart_down_content .quantity{ width:90px;}
#cart_down_content input[type="text"]{width:18px; height:15px; }
#cart_down_content .actions a{ border-radius:500px; -webkit-border-radius:500px; border:1px solid #fff !important; padding:0; margin:0; text-align:center; color:#fff;}
#cart_down_content .actions a i{ margin-right:0; padding:0 5px;}
#cart_down_content .cart_total_checkout{ padding:20px; overflow:hidden;}
#cart_down_content .col1{ width:80px; text-align:left; color:#000; font-size:20px; }
#cart_down_content .continue_shopping{ border-radius:0px; -webkit-border-radius:0px; color:#fff;}
#cart_down_content .dropdown-menu{ float:none; left:auto; }
/** end of Cart Page

/** Contact Us **/
#map_holder{ border:2px solid #fff; border-radius:5px; -webkit-border-radius:5px; position:relative;}
#map_holder iframe{ border:3px solid #f3f3f3;}
.form input[type="text"], .form input[type="email"]{ background:#fff; border-radius:0; -webkit-border-radius:0; height:33px; margin-bottom:20px; color:#aaaaaa; text-indent:10px; border:1px solid #dbdbdb; width:70%; clear:both;}
.form textarea{ background:#fff; border-radius:0; -webkit-border-radius:0; margin-bottom:20px; color:#aaaaaa; text-indent:10px; border:1px solid #dbdbdb; width:100%; clear:both; resize:none;}
.contact_info i{ font-size:20px;  margin-right:10px; margin-bottom:10px; color:#1cc3c9;}
#contact_info h3{ margin-top:0;}
.n_social	{ margin-top:30px; }
.n_social a	{ color:#484848; padding:5px 5px 0 5px; text-align:center; border-radius:5px; -webkit-border-radius:5px; border:1px solid #ebebeb; text-align:center; min-width:30px; height:30px;  display:inline-block; background:#fff; font-size:20px;}
.n_social a:hover{ background:transparent; color:#000; text-decoration:none;}
.n_social a i	{ margin:0 !important;}


/** FAQS **/
.faq_accordion h3{ width:95.5%; display:inline-block; border:1px solid #e2e2e2; background:#fff;  margin:0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }
.faq_accordion h3 strong{ border:3px solid #f7f7f7; display:block;padding:3px 1%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.faq_accordion a:hover{ text-decoration:none;}
.faq_accordion a { color:#444444; }
.faq_accordion .accordion-heading .accordion-toggle{ margin:0; padding:0;}
.faq_accordion .accordion-heading .accordion-toggle.inactive .toggle_faq{ background:#d3d3d3;}
.faq_accordion a  i{ color:#fff;}
.faq_accordion .accordion-inner{ border:0px; padding:0; margin:0;}
.faq_accordion .toggle_faq{ width:2%; margin-right:1%; background:#1db2b8; display:inline-block; padding:20px 0.5%; text-align:center;}
.faq_accordion .accordion-group{ border:0px; overflow:hidden; }
.faq_accordion .accordion-body{ width:95.5%; background:#fff; float:right; margin:10px 0;}
.faq_accordion .accordion-inner{  border: 3px solid #F7F7F7;  display: block;    padding: 3px 1%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.faq_accordion .accordion-body.in.collapse{ border:1px solid #e2e2e2;}


/** Title Dropdown style **/

.dropdown.open .hidden_layer, .outer_lyr{	left:auto; right:0 !important; width:400px; display:inline-block; border:1px solid #e2e2e2; background:#fff;  margin:0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  box-shadow:none;}
.dropdown .inner, .inner_lyr{ border: 3px solid #F7F7F7;  display: block;    padding:20px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; background:#fff;    overflow: hidden;text-align:left;}
.inner_lyr-admin { border: 1px solid #D8D8D8;  display: block;    padding:20px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; background:#fff;    overflow: hidden;text-align:left;}
#cart_dropdown h3{ line-height:24px;} 
.icon_alert{   background: none repeat scroll 0 0 #E14939;    border: 1px solid #AF2517;    color: #FFFFFF;    display: inline-block;    font-size: 20px;    font-weight: bold;    margin: 10px auto 0 25%;    padding: 5px 10px;}

/** Product Detail **/
#pro_img{ background:#fff; padding:10px 0; margin-bottom:10px; }
#product_info h3{ color:#1cc3c9; }
.product_properties{ list-style-type:none; margin-left:10px; margin-bottom:25px; }
.product_properties li{ margin-bottom:10px;}
#product_info i {color:#777777}
.price_holder{font-weight:bold; font-size:14px; margin-bottom:25px; }
#product_info .current_price{color:#313131; margin-right:10px; }
.old_price{color:#e30808; font-style:italic; }
.description_holder{ margin-bottom:25px; }
.stock_status{ border-top:1px solid #9a9a9a; border-bottom:1px solid #9a9a9a; padding:9px; font-size:13px; list-style-type:none;  margin-bottom:25px;}
.stock_status li{ display:inline-block; padding:9px 18px ; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  }
.stock_status li:first-child{ border-right: 1px solid #9a9a9a;}
.product_detail_social{ font-size:20px;}
#n_social.product_detail_social .fb i{ color:#4d66a4;}
#n_social.product_detail_social .fb:hover{ background-color:#4d66a4;}
#n_social.product_detail_social .twitter i{ color:#169ed3;}
#n_social.product_detail_social .twitter:hover{ background-color:#169ed3;}
#n_social.product_detail_social .gplus i{ color:#484848;}
#n_social.product_detail_social .gplus:hover{ background-color:#484848;}
#n_social.product_detail_social .linkedin i{ color:#169ed3;}
#n_social.product_detail_social .linkedin:hover{ background-color:#169ed3;}
#n_social.product_detail_social .pintrest i{ color:#e30808;}
#n_social.product_detail_social .pintrest:hover{ background-color:#e30808;}
#n_social.product_detail_social a{ display:block; float:left; border-radius:0; -webkit-border-radius:0;}
#n_social.product_detail_social a:hover{ text-decoration:none;}
#n_social.product_detail_social a:hover i{ color:#fff;}
#n_social.product_detail_social .comments{ font-size:14px; padding-left:20px; padding-right:20px; }
#proudct_options{ background:#fff;  -webkit-box-sizing:border-box; -moz-box-sizing:border-box;box-sizing:border-box;   padding:20px 20px 0 20px;}
#proudct_options label { color:#777777; margin-top:30px; }
#proudct_options input, #proudct_options select, #proudct_options textarea{ background:#f3f3f3; border:1px solid #d1d1d1; border-radius:0; -webkit-border-radius:0; }
#proudct_options input{ max-width:50%; float:left; } 
.cart_total{ clear:both; width:100%; color:#1cc3c9; font-size:20px; display:block; margin-top:30px; margin-bottom:30px; }
#proudct_options button{ background: none repeat scroll 0 0 #242424;    color: #FFFFFF;    font-size: 16px;    padding: 10px 25px;    width: 100%; border:0; }
#product_information{ padding:35px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; background:#fff; overflow:hidden; margin-top:40px; }
.product_info_toggle {}
.product_info_toggle .accordion-heading{ background:#f1f1f1; }
.product_info_toggle .accordion-heading a{ color:#777777; font-weight:bold; }
.product_info_toggle .accordion-heading a.accordion-toggle.active{color:#313131;}

/** Product Grid View **/
#category_image{ position:relative;}
#category_image .inner_lyr{ min-height:300px;}
#product{ padding:20px 10px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; overflow:hidden; background-color:#fff; text-align:left; font-size:13px; color:#777;}
#product h3{ margin:0 0 10px;}
#product .product_img{ position:relative; margin-bottom:20px; }
#product h3 a, #product h3{ color:#000; font-weight:norma;}
#product .price { color:#1cc3c9; font-size:24px; display:inline-block; margin:10px 0;}
#product .price del{ color:#aaaaaa; font-size:15px; }
#product .btn{ border:none !important; background:#1cc3c9 !important;  padding:7px 20px !important; display:inline-block; color:#fff; border-radius:5px; -webkit-border-radius:5px; font-size:14px; text-shadow:none !important;}
.product_view hr{    -moz-border-bottom-colors: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    border:0;    clear: both;    margin: 20px 0}
.product_view .pagination{float:left; }
.product_view .pagination a{ color:#000; }
#view_switcher{ float:right; overflow:hidden; margin:10px; border-radius:5px; -webkit-border-radius:5px;}
#view_switcher li{ list-style-type:none; display:block; float:left; background:#fff;}
#view_switcher i{ font-weight:normal; font-size:1.5em; color:#888888; padding:5px 10px; display:block;}
#view_switcher li.active{ background:#e9e9e9;}
.sale_icon{ background:url('../images/sale_icon.png') top center no-repeat; width:47px; height:47px; position:absolute; right:10px; top:10px; }
/** List view **/
#product_list #product{ padding:20px;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  margin-bottom:20px; }
#product_list .product_img{  margin:0px; }
#product_list .product_description{ text-align:left;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }
/** End of List View **/
/** Team Page **/
.team h3{  padding:20px;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  background:#fff; font-weight:normal; margin-bottom:25px; }
.team h3 i{ font-size:20px; font-weight:normal; line-height:24px;}
.team_member{ overflow:hidden; background:#fff;}
.team_member h5{ margin:0; }
.team_member_description{ padding: 15px;  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  }
.team_member_description .mem_desig{ display:inline-block; padding-bottom:10px; border-bottom:1px solid #1cc3c9; margin-bottom:10px; }
.team_member  #n_social{ font-size:20px; margin-top:0; }
.team_member  #n_social a:hover{ text-decoration:none;}
.team_holder{ margin-bottom:25px; }

/** Sidebar **/
#sidebar { font-size:13px; }
#sidebar #posts li{ margin-bottom:10px; overflow:hidden;}
#sidebar #posts li:last-child{ margin-bottom:0;}
#sidebar ul{ margin:0; padding:0; list-style-type:none; }
#sidebar h3{ font-weight:bold; margin:0 0 15px 0; padding:0px 0px 5px 0; border-bottom:1px solid #363636;  background:none; line-height:18px; }
#sidebar .widget {overflow:hidden; padding-bottom:10px; margin-bottom:10px; }
#sidebar .post_content a{ color:#444444;}
#sidebar #posts h4{ margin-top:0; }
#sidebar #posts .location_date{   color: #444444; font-size:12px;}
#sidebar #posts .location_date span{width: 100%; display:block;}
#sidebar #posts .location_date span i{ display:inline-block; font-size:20px; }
#recent_Comments li{ border-bottom:1px dotted #d1d1d1; padding-bottom:15px; margin-bottom:15px; overflow:hidden; } 
#sidebar li:last-child{margin-bottom:0;}
#recent_Comments li span{ display:block; float:right; max-width:85%}
#recent_Comments li i{ font-size:18px; display:block; float:left; margin-right:15px; }
#tags li{ display:inline-block; margin-right:3px; margin-bottom:10px; }
#tags li a{display:inline-block; padding:10px 20px; color:#fff; background:#c7c7c7 ; }
#tags li a.active, #tags li a:hover{ background:#1cc3c9; color:#000; }
.slider_products{ position:relative; }
#slider_products .product_img{ background:#fff; }
#slider_products .bottom_sec{ background:#1cc3c9; width:100%; padding:10px 15px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  font-size:18px; text-align:right; }
#slider_products .bottom_sec .price{ color:#000; font-size:24px; text-align:left; float:left; }
#slider_products .bottom_sec i{ border-left:1px solid #fff; padding-left:10px; margin-left:10px; }
#slider_products .bottom_sec a{ color:#fff }
.slider_products .bx-pager{display:none;}
.slider_products .bx-controls-direction a{ position:absolute; top:55%; display:block; height:17px;  width:23px; background-image:url('../images/product_slider_arrow.png'); text-indent:-5000px; overflow:hidden; }
.slider_products .bx-controls-direction a.bx-prev{ background-position:top left; left:3%;}
.slider_products .bx-controls-direction a.bx-next{background-position:top right; right:3%;}
#latest_tweets span{ clear:both; width:100%; color:#1cc3c9; display:block; }
#latest_tweets li{ margin-bottom:15px; }
.post_archives li { margin-bottom:10px;}
.post_archives li a{ color:#787878;}
.post_archives li a span{ float:right; }
#social_follow{ background:#fff; overflow:hidden; }
.social_follow span{ width:50%; float:left;   -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  padding:20px 10px;}
.social_follow span em{ display:block; float:right; max-width:50%; }
.social_follow span i{    display: block; float:left;   font-size: 30px;    height: 40px;    text-align: center;    width: 40px; color:#fff; padding:8px 2px 0;  }
.social_fb i { background:#4a6ea9; }
.social_twitter i{  background:#00aced; } 

/** Crowd Funding **/
.crowd_fund input[type="text"]{ width:90%; height:27px;}
.fund_project{ padding:15px 10px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;  padding:20px 10px; background:#fff; }
.projects_holder{ padding-bottom:20px; }

#charity_progress.fund_project h3 {    background: transparent;    margin: 0 0 5px 10px;    padding: 0;	color:#333333; }
#charity_progress.fund_project h3 a{ color:#333333; }
.current_collection{ font-size:24px; font-weight:bold; line-height:30px; color:#1cc3c9; display:block; margin:10px 0; }
.fund_project .progress{ margin-bottom:10px; }

#fund_rasising_listing hr{    -moz-border-bottom-colors: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    border:0;    clear: both;    margin: 20px 0}
.gallery-page hr{    -moz-border-bottom-colors: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    border:0;    clear: both;    margin: 20px 0}

/** Charity Payment Form **/
#charity_payment textarea{ max-width:90%;}
#category_image #charity_progress{ position:absolute; bottom:5px; left:0; background:transparent; padding:0 5px 0 5px !important}
#dayz{ text-align:right; padding-right:10px;}
#project_contet .inner_lyr{ padding:25px 20px;}
#project_contet{ margin-bottom:20px;}
.tier_button { background:url('../images/link_bg_active.jpg') bottom left repeat-x #3dccd1; color:#fff; border:1px solid #11979c; display:inline-block; padding:7px 20px;  font-weight:bold; font-size:16px; margin-bottom:20px; }
.tier_button:hover{color:#444;}
#tiers{ list-style-type:none; margin:0; padding:0; }
#tiers li{ width:100%; display:block; clear:both; margin-bottom:10px; overflow:hidden;}
#tiers span{    background: url("../images/link_bg.jpg") repeat-x scroll left bottom #FFFFFF;    border: 1px solid #D3D3D3;    color: #444444;    display: block;    /* font-weight: bold; */    margin-bottom: 10px;    padding: 7px 20px; }
.donate_btn, 
.abt_btn { background:url('../images/link_bg_active.jpg') bottom left repeat-x #3dccd1; color:#fff; border:1px solid #11979c; display:inline-block; padding:5px 10px;  font-weight:bold; font-size:11px;  border-radius:2px; -webkit-border-radius:2px;}

/** Event Listing **/
#event_grid{ overflow:hidden; margin-bottom:20px; }
#event_grid .inner_lyr{ padding:0; position:relative;}
#event_grid .event_info{ background:#cccccc; overflow:hidden; padding:0 0 0 1%; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; position:absolute; bottom:0; width:100%;}
#event_grid .event_info span.countdown_amount{ color:#fff;	}
#event_grid #event_title { border-right:1px solid #a3a3a3; padding:12px 10px ; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#event_grid #event_title p span{ float:right;}
#event_grid #event_title h3, #event_grid #event_title h3 a{ margin-bottom:0; color:#333;}
#event_grid .countdown_section{ padding:25px 8px; color:#fff; border-right: 1px solid #19afb5 !important; border-left: 1px solid #19afb5; text-align:center;}
.event_info .countdown_section br{ float:none;}
#event_grid .countdown_section:last-child{ border-right:0 !important;}
#event_grid .hasCountdown{ background:#1cc3c9 !important; }
#event_loc i{ font-size:30px; }
#event_loc h3{ font-weight:normal; position:Relative; top:15px;}
#event_loc h3 a{ color:#333;}
#listing_dropdown{ left:auto; right:0; background:#f9f9f9; border:0px;}
#listing_dropdown ul{ list-style-type:none; text-align:left; margin:0; padding:5px; border:1px solid #e2e2e2;}
#listing_dropdown ul li a {    background: none repeat scroll 0 0 #1CC3C9;    border: medium none;    display: inline-block;    margin: 3px;    padding: 2px 10px; float:right; color:#fff; font-size:11px;}
#listing_dropdown ul li{ clear:both; width:100%; color:#787878; border-bottom:1px solid #e2e2e2; overflow:hidden;}
#listing_dropdown ul li:last-child{ border-bottom:0;}
#event_detail h3{ font-weight:normal; text-transform:uppercase; margin-bottom:0;}
#event_detail h4{ color:#b1b1b1; font-weight:normal;}
#map_abs{ position:absolute; right:3%; top:0; background:rgba(28, 195, 201, 0.7); padding:74px 40px; color:#fff;}
#map_abs span{ background:rgba(28, 195, 201, 1); display:block; text-align:center; padding:20px 0;}
#map_abs span i{ font-size:50px; line-height:60px; }
.map-border{ width:100%; height:300px;}
.fc-event-excerpt{ display:none;}
.ntr{ text-align:right; padding-right:5px;}
.clear{ clear:both; display:block; width:100%;}


/** Button Hover styles **/
#donation_box button:hover,#donation_box button:focus{ background:#333; color:#fff; border:0px; }
.post_excerpt a:hover{color:#333;}
#slider_shop .bx-controls-direction a:hover{ opacity:0.9;}
/*.dropdown:hover .dropdown-menu{ display:block;}*/
.about .img img{ margin-bottom:10px;}

/** Checkout **/
.pc_container {    width: 100%;    height: 800px;   -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; padding: 15px 1px 47px 1px;    background-image: url('../images/pc_bg.png');    margin: 0px auto;}
.pc_container .pc_item {    margin-top: 60px;    margin-left: 1px;    width: 100%;    height: auto;}
.pc_container .pc_bar_container {    position: absolute;    top: 0;    color: white;    padding: 0px 10px 0px 10px;    width: 100%;    overflow:visible; }
.pc_bar_container_underflow {    width: 90000px;    overflow: visible; }
.pc_bar_container_overflow {    overflow: hidden;    position: absolute;    top: 0;    color: white;    margin: 0px 10px 0px 10px;    padding: 0px; }
.pc_container .left,.pc_container .center,.pc_container .right {    background-position: left;    background-repeat: no-repeat;    overflow: hidden;    font-size: 1px;    float: left;}
.bar {    background-position: left;    overflow: hidden;    font-size: 1px;    float: left; }
.pc_item{ background:#fff;}
/* Start Billing Info Section */
.billing-form{ margin:0; list-style:none;}
.billing-form li{ overflow:hidden;}
.billing-form li label{display: inline-block; width:25%; float: left; text-align: left !important;}
.billing-form li .control-group{ float:left; margin-right:30px; width:100%;}
.billing-form li .controls{ }
.billing-form li .control-group{ margin-bottom:10px !important;}
.billing-form input[type="text"]{ width:275px;}
 .billing-form select{ width:287px; font-size:12px;}
.billing-form .green-t{ margin:10px 0 0;}
.b-label{float: left !important; margin-right: 20px; margin-top: 10px !important;}
/* Start Billing Info Section */

/* Start Payments Info Section */
.label-holder{ overflow:hidden;}
.billing-form select.month-list{ float:left; width:60%;}
.billing-form select.year-list{ float:right; width:30% ;}
.w-extra{ width:287px;}
/* End Payments Info Section */

/* Start Contact Page Section */
.map-holder{ margin:0 0 20px;}
.c-form-holder .form-horizontal textarea{ max-width:95%; min-width:95%;}
/* End Contact Page Section */

/* Start Order Recieved Section */
.order-list{ margin:0; list-style:none; padding:0 20px 20px;}
.order-list li:first-child{ border-top:0; margin-top:0; padding-top:0;}
.order-list li{ margin:10px 0 0; padding:10px 0 0; border-top:1px dotted #dcdcdc;}
.order-list li span{color:#1e1e1e; font-size:18px;}
/* End Order Recieved Section */
.more-btn { background: url("../images/link_bg_active.jpg") repeat-x scroll left bottom #3DCCD1;    border: 1px solid #11979C;    border-radius: 2px 2px 2px 2px;    color: #FFFFFF;    display: inline-block;    font-size: 11px;    font-weight: bold;    padding: 5px 10px; }
.checkout .control-group{ width:47%; }
.checkout .inner_lyr{ padding:30px;}
.gallery-page{ margin:0;}

.gallery-page .view_new{margin:0;margin-right: 20px; padding-bottom:20px; background:transparent;}
.gallery-page .view_new figure{ border: 4px solid #b4b4b4; position:relative; overflow:hidden;}
.gallery-page .view_new figure:hover{ border-color:#1cc3c9;}
.gallery-page .view_new{ border:0px; !important;}
/*.gallery-page .view_new a.info { display: inline-block; text-decoration: none; padding: 5px 14px; position:relative; background:url(../images/magnify.png) no-repeat; top:40%; left:5%; width:64px; height:64px;}*/
.gallery-page .view_new a.info { display: inline-block; text-decoration: none; padding: 5px 14px; position:absolute; background:url(../images/magnify.png) no-repeat; top:38%; left:39%; width:64px; height:64px;}

/* admin */
.gallery-page .view_new-admin{margin:0;padding-right:18px;padding-bottom:20px; background:transparent;}
.gallery-page .view_new-admin figure{ border: 4px solid #b4b4b4; position:relative; overflow:hidden;}
.gallery-page .view_new-admin figure:hover{ border-color:#1cc3c9;}
.gallery-page .view_new-admin { border:0px; !important;}
.gallery-page .view_new-admin a.info { display: inline-block; text-decoration: none; padding: 5px 14px; position:relative; background:url(../images/magnify.png) no-repeat; top:40%; left:5%; width:64px; height:64px;}
/* end admin*/
/* MISC **/
.nav_search{ margin-top:14px;}
.nav_search form{margin:0; position:relative;}
.nav_search input[type="text"]{background:#303030; border:1px solid #303030; border-radius:0; -webkit-border-radius:0; margin-bottom:0;}
.nav_search button{ background:transparent; position:absolute; right:0; border:none; top:8px; right:5px; color:#f3f3f3;}
.heading-bar-table th{ background:#1CC3C9;}
/* MISC **/

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {   z-index: 2; }
.isotope-hidden.isotope-item {  pointer-events: none;  z-index: 1;}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {  -webkit-transition-duration: 0.8s;     -moz-transition-duration: 0.8s;      -ms-transition-duration: 0.8s;       -o-transition-duration: 0.8s;          transition-duration: 0.8s;}
.isotope {  -webkit-transition-property: height, width;     -moz-transition-property: height, width;      -ms-transition-property: height, width;       -o-transition-property: height, width;          transition-property: height, width;}
.isotope .isotope-item {  -webkit-transition-property: -webkit-transform, opacity;     -moz-transition-property:    -moz-transform, opacity;      -ms-transition-property:     -ms-transform, opacity;       -o-transition-property:      -o-transform, opacity;          transition-property:         transform, opacity;}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {  -webkit-transition-duration: 0s;     -moz-transition-duration: 0s;      -ms-transition-duration: 0s;       -o-transition-duration: 0s;          transition-duration: 0s;}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {  -webkit-transition: none;     -moz-transition: none;      -ms-transition: none;       -o-transition: none;          transition: none; }
#portfolio-item-filter{  text-align:right; margin:0 0 20px;}
#portfolio-item-filter li{ display:inline;}
#portfolio-item-filter a{ border:1px solid #d3d3d3; background:#fff; padding:8px 20px; display:inline-block; color:#444;}
#portfolio-item-filter a:hover{ background:#1eb4ba; color:#fff; }
/** ShortCode Styling **/
.the-icons li{ width:24%; float:left; margin-right:1%; list-style-type:none; font-size:14px; margin-bottom:10px;}
.the-icons .span3 { margin-left:0 !important;}
.the-icons .span3 a{ color:#333; font-size:14px;}
ul.the-icons{ margin:0;}
.shortcodes h3{ clear:both;}
.img_comment{ width:auto; height:auto;}
#charity_progress .progress.active .bar.p80{ width:80% !important;}
.m9p{ margin-bottom:9px !important;}
.statistics { font-family: Cinzel;font-size: 40px;font-weight:300; }
#stats {padding:40px;}
.home_blog_height {height:170px;}
.newcauseform { width:500px !important;}
.donationform{ width:500px !important; }
.loginform {float:none !important;}
.algncenter{margin-left: 18%;}
.algncenter-login{margin-left: 33%;}
.logaccdiv {background-color:#F7F5F2;width:32%;border-color:#F1EEEA; 
border-width:1px;border-style:solid;border-radius:2px;}
.ovrd-width
{
	width:80% !important;
}
.ovrd-width-login
{
	width:48% !important;
}
.selectentity input[type="radio"]
{
	opacity: 0 ;
}
.entity-btn
{
	padding:10px;
	/*background-color: #9c4141;*/
	background-color: #ffffff;
	color:black;	
	border:1px solid #cccccc;
}
.radio:hover
{
	border:1px solid #9c4141;	
}
.m-signup
{
	margin-left:30%;
	margin-right:30%; 
}
.signup-title
{
	font-size: 20px;
}
.text-strikethru
{
	position:relative;
	text-align:center;
	margin-top:10px;
}
.text-strikethru .text
{
	display:inline-block;
	color:#3D3D66;
	padding:5px 10px;
	position:relative;
	font-size:14px;
	top:-16px;
	overflow:visible;
}
.text-strikethru .line{height:1px;background-color: #FFFFFF;width:90%;margin-left: 5%}
.formupper{
padding:20px;
font-size:14px;
text-align:center;
color:#3D3D66;
background-color:rgba(241,238,234,0.2)!important;
border-bottom: 1px solid  #F1EEEA; }
.loginpad{padding:20px;}
.logtitle p {font-weight:normal;font-size: 25px;line-height: 40px;margin-bottom: 30px;}
.btn--login{
	font-weight:bold;
	/*width:100% !important;*/
	color:#FFFFFF;
	background-color: red;
	padding:7px;
	display:block;
	border:0px !important;
	border-radius:5px !important;
}
.btn--red{
	background-color:#9c1818;
}
.btn--facebook{
	background-color:#23345a;
}
.btn--google{
	background-color: #dd4b39;
}
.mbtm-30
{
	margin-bottom: 30px !important;
}
.user_type
{
	font-weight: 100;
	font-size:15px;
	line-height: 3;
}
.vermobpad .btn--verify {
	background-color: #206920;
	width:42%;
	font-weight: bold;
	color:#FFFFFF;
	padding:6px;
	border:0px;
	border-radius:5px;
}
.vermobpad .btn--startprj {
	background-color: #25CB68;
	width:23%;
	font-weight: bold;
	color:#FFFFFF;
	padding:6px;
	border:0px;
	border-radius:5px;
}
.btn--otpsend{
	background-color: #9c1818;
	width:25%;
	font-weight: bold;
	color:#FFFFFF;
	padding:6px;
	border:0px;
	border-radius:5px;
}
.mobotp input[type="text"] {width:54% !important;margin-top:10px;}
.hideotp{display:none;}
.vermobpad{padding-bottom:12px;}
/*done using bootstrap class
.logfldwid input[type="text"]{
	width:340px;
}
.logfldwid input[type="email"]{
	width:340px;
}
.logfldwid textarea {
	width:352px;
}
*/
.remember input[type='checkbox']
{
	margin:0px;
}
.mreg{margin-left: 20px !important;}
.rmpadcause{ padding:0px !important; }
.padcause{padding: 20px !important;}
.regrpad{margin-right:250px !important; }
.reglpad{float:right!important;  }
.regcontrol{padding-left:40px;}
.regpadlink{padding-left:32px !important;}
.controlwidth{width:100%;}
.headinginline{ display:inline-block; }
.hidengo { display:none !important; }
.hidecompany { display:none !important; }
.hideothers { display:none !important; }
.hidereceive { display:none !important; }
.hidedonate{display:none !important;}
.hideindividual{display:none !important;}
.adminhidecompany{display:none !important;}
.adminhidengo{display:none !important;}
.adminhideothers{display:none !important;}
.company-st-1{display:none !important;}
.company-st-2{display:none !important;}
.ngo-st-1{display:none !important;}
.ngo-st-2{display:none !important;}
.ngo-st-3{display:none !important;}
.ngo-st-4{display:none !important;}
.individual-st-1{display:none !important;}
.others-st-1{display:none !important;}
.hidebusiness{display:none !important;}
.hideprofessional{display:none !important;}
.hideservice{display:none !important;}
.hideocc_others{display:none !important;}
.hidecross{display:none !important;}
.hidecsrcross{display:none !important;}

.rmmgdonatereg{ margin:0px !important; }
/*.adjusthead h3 { padding-bottom:5px;margin-bottom:0px; }
.adjusthead strong{padding:15px 1%;border:0px;}*/
.adjusthead h3 { padding:14px 0px 20px 0px !important;margin-bottom:0px !important; }
.adjustcontent {margin-right:14px !important;margin-top:0px !important;width:100% !important;}
.contentpad{padding-bottom: 15px !important;}
.adjustmgn{margin:20px !important;}
.mmyreq{margin: 20px !important;border:1px solid black;}
#activerequest tr th  {text-align:left !important;padding: 8px !important;width:60% !important;border-bottom: 1px solid black !important}
#activerequest tr td  {text-align:center !important;padding: 8px !important;border-bottom: 1px solid black !important;}
.donationdetaillabel{width:70%;}
.aligntext{text-align:center !important;font-size: 30px;}
.adjustpad{padding:5px!important;}
.adminblogwidth{width:100% !important;}
.panel {
  padding: 15px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.admtxtwid{min-width:50%;}
.admusrdtl{background-color: #ffffff !important;margin-bottom: 0px;}
.admmeminfo th {background-color:;}
.mdonate{margin-top: 40px;}
.rmtabborder th {border-top:0px !important;}
.rmtabborder td {border-top:0px !important;}
.inputwidth input,.inputwidth textarea {width:45%;margin-left:27px!important;}
.mprjlabel{margin-left: 9px!important}
.rmmargin{margin:0px !important;}
.addmargin{margin-right:10px;}
.temphide{display:none !important;}
.tempborder{border:2px solid black;}
.styled-select.slate select {
   border: 1px solid #cccccc;
   font-size: 12px;
   height: 40px;
   width: 220px;
}
.styled-select.register select {
   border: 1px solid #cccccc;
   font-size: 12px;
   height: 40px;
   width: 353px;
}
.mktselect select
{
	height: 40px;
}
.adm-prf-select select {
   border: 1px solid #cccccc;
   font-size: 12px;
   height: 35px;
   width: 248px;
   border-radius:5px;
   background-color:#FFFFFF !important;
}
.address textarea{height: 115px;}
.adjmgn{margin:60px;}

.reqbox0{background:#2867DE; padding:40px;}
.reqbox1{background:#FF3450; padding:40px;}
.reqbox2{background:#FFFFFF; padding:30px;}
.goalfig{font-weight:700;color:#ffffff;font-family:sans-serif;font-size: 24px;}
.reqdivhgt{height:500px;}
.reqbox2 p {color:#ffffff;font-weight:300;font-size: 15px;}
.navlogusr{margin-top:20px !important; }
.rqttable2
{
	
}
.rqttable2 th
{
	padding:15px;border-top: 1px solid #dddddd;
}
.rqttable2 td
{
	padding:15px;border-top: 1px solid #dddddd;
}
.headtext
{
	font-weight: 400;
	font-size:22px;

}
.mdonor
{
	background-color: green;
	padding:20px;
	color:#FFFFFF;
	padding-top: 40px;
	padding-bottom: 40px;
}
.mdonor .amt
{
	font-size:24px;
	font-weight: 400;
}
.mdonee
{
	background-color: #155a00;
	padding:20px;
	color:#FFFFFF;
	padding-top: 40px;
	padding-bottom: 40px;
}
.mdonee .amt
{
	font-size:24px;
	font-weight: 400;
}
.kind .lateralmg
{
	margin-left: 80px !important;
}
.time .lateralmg
{
	margin-left: 80px !important;
}

.cause .mdonor {
	background-color: #2e59ab;
}
.cause .mdonee {
	background-color: #0d3098;
}
.gang .mdonor {
	background-color: #d00000;
}
.gang .mdonee {
	background-color: #b10909;
}
.cause .lateralmg
{
	margin-left: 50px !important;
}
.gang .lateralmg
{
	margin-left: 50px !important;
}
.lateralmg button
{
	padding:12px;
}
.mdonor p
{
	font-size:10px;
	font-weight: bold;
}
.mdonee p
{
	font-size:10px;
	font-weight: bold;
}
.blogcomments
{
	margin:20px !important;
}
.blogcomments input {
	width:80%;
}
.blogcomments textarea {
	width:80%;
}
#admin-portfolio-item-filter{ margin:20px 200px 20px 0px;}
#admin-portfolio-item-filter li{ display:inline;}
#admin-portfolio-item-filter a{ border:1px solid #d3d3d3; background:#fff; padding:4px 10px; display:inline-block; color:#444;}
#admin-portfolio-item-filter a:hover{ background:#1eb4ba; color:#fff; }
.mrgntop{
	margin-top:15px;
}
.prjulmrg
{
	font-size:25px;
	margin-top:20px;
	margin-left: 50px !important;
	color:red !important;
}
.prjulmrg a{
	color:red;
}
#faq .head
{
	font-weight: 400;
	font-size:24px;
}
.project img
{
	width:100%;
}
.small-text
{
	color:#626369;
	font-size:12px;
}
.lrg-text
{
	color:#626369;
	font-size:20px;
}
.display-figure
{
	color:rgba(204,0,-1,0.83);
	font-size: 20px;
	font-weight:500; 

}
.display-lrgfigure
{
	color:#ffbdab;
	font-size: 60px;
	font-weight:400;
	line-height: 1.4;
}
.mrg-display
{
	margin-bottom:20px !important;	
}
.mrg-lrgdisplay
{
	margin-bottom:40px !important;	
}
.prj-fig-width
{
	width:350px;
}
.img-circle
{
	border-radius:100%;
	width:50px;
	height:50px;
}
.project-title
{
	font-weight:500;
	font-size: 40px;
	color:#353535;
	
}
.project-head
{	
	font-size:25px; 
	color:#626369;
	line-height: 1;
}
.project-video-link
{
	font-size: 20px;
}
.mprj
{
	margin-bottom:80px;
}
.prj-community
{
background-color:#F7F5F2;border-color:#F1EEEA; 
border-width:1px;border-style:solid;border-radius:2px;
padding:50px;	
}
.prj-campaign-sidebar
{
background-color:#F7F5F2;border-color:#F1EEEA; 
border-width:1px;border-style:solid;border-radius:2px;

}
.prj-campaign-sidebar .pledge1
{
	padding:45px;
}
.search-gang
{
	padding:6px;
	background-color: #F7F5F2;
	
}
.search-gang .gang-searchbox
{
	margin-top:12px;
	margin-left:16px;
	padding-right:90px;
}
.search-gang img
{
	height:39px;
	width:37px;
}
.adm-form input 
{
	width:20% !important;
}

.adm-statutory input
{
	height: 35px !important;
}
.radio-inline input[type=radio]
{
	position:absolute;margin-top:4px\9;margin-left:-20px
}
.adm-radio-inline input[type=radio]
{
	margin:0px !important;
}
.radio-inline
{
	position:relative;
	display:inline-block;
	padding-left:20px;
	margin-bottom:0;
	font-weight:400;
	vertical-align:middle;cursor:pointer
}
.adm-search-width
{
	width:25%;
	display:inline-table !important;
}
.adm-actions
{
	display: inline-table;
	margin-top:7px;
}
.mem-icon
{
	display:inline-table;
	position: relative;
	bottom:11px;
}

.contributor-detail img
{
	border-radius: 50% ;
	height:180px !important;
	width:210px !important;
}
#recommended-cont img
{
	border-radius: 50% ;
	height:90px !important;
	width:105px !important;
}
.hide-requestdetails
{
	display:none;
}
.rmpad
{
	padding:0px !important;
}
.req-head
{
	padding:5px !important;
}
.requestor-donate-btn
{
	border:transparent;
}
#donate-matrix input 
{
	width: 84px;
}
#recommend-request img
{	
	height: 104px !important;
	width: 100px !important;
}

.detail-tab
{
  padding-top:25px;
}
.detail-tab a,.detail-tab button
{
  padding:12px;
  border:1px solid #ddd ;
  text-decoration: none !important;
  color: #1e2d2d;
}
.user-detail-div
{
  padding-top:25px;
}
.user-detail-div a
{
  padding:20px;
  border:1px solid #ddd ;
  text-decoration: none !important;
  color: #1e2d2d;
}
.user-detail-div button
{
  padding:20px;
  border:1px solid #ddd ;
  text-decoration: none !important;
  color: #1e2d2d;
}
.custom-field
{
	padding: 20px;
	border-style:dashed;
}
#project-mkt input
{
	width:97%;
}
#project-mkt select
{
	width:100%;
}
#project-mkt input[type="radio"]
{
	width:35px;
	margin:0px;
}
#project-mkt textarea
{
	width:98%;
}

#start-project input[type="radio"]
{
	width:35px;
	margin:0px;
}
.crt-project-label
{
	font-size: 22px;
	line-height: 30px;
}
.m-adjust
{
	margin-top: 10px;
}
.grey-container
{
	background-color: #f6f6f6;
	padding-top:33px;
	padding-bottom: 7px;
}
.mtop-20
{
	margin-top:20px;
}
.bar-height
{
	height:9px !important;
}
.cont_txt
{
	padding:15px;
}
.cont_txt strong
{
	font-size: 18px;
	line-height: 30px;
	display: block;
	margin:0 0 10px;
}
.req_txt
{
	padding:15px;
}
.req_txt strong
{
	font-size: 18px;
	line-height: 30px;
	display: block;
	margin:0 0 10px;
}
.requestor-bg
{
	background-color:#ffffff;
	padding:15px;
}
.project-bg
{
	background-color:#f6f6f6;
	padding:15px;
}
.contributor-bg
{
	background-color:#f6f6f6;	
	padding:15px;
}
.mem-list
{
	margin-right:15px;
	/*padding:15px;*/	
}
.mkt-th th
{
	color:rgba(3,105,31,0.7);
}



#individual_geography textarea
{
	width:100% !important; 
}
/*for view profile*/


.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.margin-align
{
	margin-left :23px !important;
}
.adm-gang-inline
{
	display:inline-table;
}
.hide-overflow
{
	overflow: hidden;
}
.rm-border
{
	border:none !important;
}
#all_filters table td
{
	border:none !important;
}
#intend-money table td
{
	border:none !important;
}
#intend-kind table td
{
	border:none !important;
}
#intend-time table td
{
	border:none !important;
}
.donate-set-mrg
{
	margin-left:8px;
	margin-top:0px;
}
.search-params
{
	display:inline;
	position: relative;
	margin-top:5px;
}
.search-params input[type="text"]
{
	width:30%;
	/*padding:3px;*/
}
.search-params .icon-search
{
	position:absolute;
	right:7px;
	bottom:1px;
	z-index:initial;
}
.search-params .typeahead
{
	z-index:auto;
	vertical-align: middle !important;
}


.search-params #select-addon
{
	position:absolute;
	width:auto;
	height:40px;
	background-color: blanchedalmond;
	z-index:1;
	margin-top:2px;
}

.container .dropdown-menu
{
	top:inherit;
	left:inherit;
}

.input-group input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.pad-within-text
{
	padding-left: 135px !important;
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    /*background-color: #FFFFFF;*/
}
.typeahead:focus {
    /*border: 2px solid #0097CF;*/
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /*margin-top: 12px;*/
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}
.example-twitter-oss .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #CCCCCC;
}
.example-twitter-oss .repo-language {
    float: right;
    font-style: italic;
}
.example-twitter-oss .repo-name {
    font-weight: bold;
}
.example-twitter-oss .repo-description {
    font-size: 14px;
}
.example-sports .league-name {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px 5px;
    padding: 3px 0;
}
.example-arabic .tt-dropdown-menu {
    text-align: right;
}
.ask-help
{
	margin-top:10px;
	margin-left: 6px;
}
#askhelp .modal-body
{
	height:250px;
	max-height: auto !important;
}

#assign .modal-body
{
	height:250px;
	max-height: auto !important;
}
.crfte-title
{
	line-height: 2;
	font-size: 25px;font-family: monospace;
}
.crfte-1
{
	font-size:20px;
}
.crfte-no
{
	line-height: 3;
	font-size: 20px;
}
.crfte-common-txt
{
	font-size:16px;
	font-family: inherit;
}
.crfte-name
{
	font-size:21px;
	font-family: monospace;
	line-height: 2;
}
.crfte-bracket
{
	line-height: 0;
	height: 20px;
}
.adm-request-text
{
	height:219px;
	background-color: #f6f6f6;
	padding:22px;
	display: inline-block;
	width:66%;
}
.req-image
{
	height:219px;
	width:30%;
}
.adm-prj-list
{
	width:40%;
}
.prj-margin-align
{
	margin-left: 53px !important;
}
.mbtm-20
{
	margin-bottom: 20px;	
}
#adm-project-list .col-lg-5,.col-lg-7
{
	padding:0px;
}
#adminphotos .col-lg-6
{
	padding:0px;
	/*margin-bottom: 20px;*/
	/*margin-right: 10px;*/
}
.adm-project-title
{
	font-weight:500;
	font-size: 25px;
	color: #353535; 
}
.adm-project-head
{
	font-size: 18px;
	color:#626369;
}
.adm-mprj
{
	margin-bottom:40px;
}
.title-fnt
{
	font-size: 16px;
	font-weight: bold;
}
.adm-display-figure
{
	color: rgba(204,0,-1,0.83);
	font-size: 16px;
	font-weight: 500;
}
.adm-prj-fig-width
{
	width: 240px;
}
.adm-prjulmrg
{
	font-size:18px;
	margin-top:20px;
	margin-left:50px !important;
	color:red !important;
}
.adm-project-title
{
	font-weight:500;
	font-size:25px;
	color:#353535;
}
.adm-lrg-text
{
	color:#626369;
	font-size:16px;
	
}
.adm-prj-community
{
background-color:#F7F5F2;border-color:#F1EEEA; 
border-width:1px;border-style:solid;border-radius:2px;
padding:33px;	
}
.name-fnt
{
	font-size: 12px;
	font-weight: bold;
}
.profession-fnt
{
	font-size:10px; 
}
.fnt-update
{
	font-size: 22px;
}
.adj-width
{
	width:38%;
}
.adj-width-photos
{
	width:49%;
}
.adm-toggle_faq
{
	display:inline;
	padding:10px 2px;
	background-color: #b82727;
	background-image: none;
	background: #1db2b8;

}
.adm-q_text
{
	font-weight: bold;
	font-size:18px;
	line-height: 24px;
	font-family: inherit;
	color:inherit; 
	border:3px solid #f7f7f7;
	display: inline-block;
	/*padding-bottom: 6px;*/
	padding :4px 0px 6px 10px;
	text-decoration:none; 
	border:1px solid #e2e2e2;
	background:#fff;
	width:95.5%;
}
.adm-accordion-body
{
	width:97.2%;
	background:#fff;
	display:block;
	border: 1px solid #e2e2e2;

}
.file-field {
    overflow: hidden;
    position: relative;
}

.file-field [type="file"]
{
	cursor: inherit;
    display: block;
    height: 45%;
    width: 46%;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    left: 15px;
    text-align: right;
    top: 20px;
}
.activity_upload
{
	position:relative;
}
.activity_upload [type="file"]
{
	cursor: inherit;
    display: block;
    height: 96%;
    width: 102%;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

.btn-file
{
	min-height: 100%;
    min-width: 50%;
}
/* activity page css*/
.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1{
    display: inline-block;
	margin-top: 25px;	
	position: relative;
}

#preview_image {
  display: none;
  width: 90px;
  height: 90px;
  margin: 2px 0px 0px 5px;
  border-radius: 10px;
}

.upload-file-container { 
	position: relative; 
	width: 100px; 
	height: 137px; 
	overflow: hidden;	
	background: url(http://i.imgur.com/AeUEdJb.png) top center no-repeat;
	float: left;
	margin-left: 23px;
} 

.upload-file-container-text{
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #719d2b;
	line-height: 17px;
	text-align: center;
	display: block;
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100px; 
	height: 35px;
}

.upload-file-container-text > span{
	border-bottom: 1px solid #719d2b;
	cursor: pointer;
}

.one_opacity_0 {
  opacity: 0;
  height: 0;
  width: 1px;
  float: left;
}
.activity-container input[type="radio"]
{
	margin: 0px !important;	
}


.hideclass
{
	visibility: hidden !important;
}

.m-rem-btn
{
	margin-top: 27px;
}


/*for file field*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}
/*end file field*/

/*for datepicker*/
.bg-white
{
	background-color: #ffffff !important;
}
.askquestion
{
	width:51%;
}
.control-group .select
{
	margin-bottom:20px !important;
}
.control-group .textarea
{
	margin-bottom:20px !important;
}
.create-btn-align
{
	display: initial;
}
.ftr_txt p ,.ftr_txt strong 																																																	 
{
	color:#000;
	text-decoration: none;
}
.project-bg p , .project-bg strong ,.project-bg span
{
	color:#000;
	text-decoration: none;	
} 
.cont_txt p , .cont_txt strong ,.requestor_info span
{
	color:#000;
	text-decoration: none;
}

.team_member_description p , .team_member_description h4 
{
	color:#000;
	text-decoration: none;
}
.entity_form
{
	background-color: #F7F5F2;
	padding : 20px;
}
.entity
{
	overflow:hidden;
	background-color: #F7F5F2;
	padding : 20px;

}
.m-top-adj
{
	margin-top: 23px;
}
.company1, .company2, .ngo1,.ngo2,.ngo3,.ngo4,.individual1,.others1
{
	background-color: #F7F5F2;
}
.duration-data
{
	font-family: bold;
	font-size: 20px;
}
.location-detail
{
	font-family: bold;
	font-size: 20px;	
}
.m-blog-homep
{
	margin-right:15px;
}

.gal_tag
{
	position: absolute;
    top: 2px;
    left:2px;
    z-index: 8;
    color: #dddddd;
    font-size: medium;
}
.img-height
{
	height:250px;
}
.mem-blog-head p
{
	font-size: 24px;
	font-weight: bold;
}
.text-font
{
	font-size: 24px;
	font-family: bold;
}
.create-blog-btn
{
	display:inline-table;
}
.for-inline
{
	display:inline-block;
}
.past-prj-margin
{
	margin-left:30px !important;
}
.m-add-prj-btn
{
	margin-right:6px;
}
.request_comment
{
	height:20px;
	overflow:hidden;
}
.mkt-wrap-text
{
	width:75%;
	word-wrap: break-word;
}
.cause-wrap-text
{
	word-wrap: break-word;
}
.cause-hgt
{
	height:40px;
	overflow:hidden;
}
.cause-title-hgt
{
	overflow:hidden;
	height:45px ;
}
.rm-mbtm
{
	margin-bottom:0px !important;
}

.form-section {
  
  display: none;
}
.form-section.current {
  display: inherit;
}
.m-left-mkrequest
{
	margin-left:8px !important;
}
.mycontribution_list_font
{
	font-size: 18px;
	font-weight: 100;
}
.contribution
{
	border : 1px solid black;
	padding :15px;
}
.blog_image
{
	height: 400px;
}
.event_image
{
	height:400px;
}
.blog_content
{
	height:90px;
}
.link_icon
{
	cursor:pointer !important;
}
.req_detail_donate_pad
{
	padding-left:20px;
}
.mkt_title
{
	font-size: 20px;
}
.media_height
{
	height:100px !important;
}
.bloglist
{
	height:150px !important;
}
.bloglist h4
{
	height:40px;
	word-wrap: break-word;
	overflow:hidden;
}


.blog_cont_hgt
{
	height: 40px;
	overflow:hidden;
	word-wrap: break-word;
}
