.event_more a,	.dropdown-menu > li > a:hover,	.dropdown-menu > li > a:focus,	.dropdown-submenu:hover > a,	.dropdown-submenu:focus > a,	.feature:hover .ftr_img,	.feature.active .ftr_img,	#donation_box button,	#charity_progress h3,	#charity_progress .progress-striped .bar,	#news .img_title,	.icon_toggle,	#slider_blog .icon_date i,	#slider_shop .price_cart,	#footer #contact_form input[type="submit"],	#banner_rounded,	#vertical_tabs ul li.active a,	#vertical_tabs ul li:hover a,	#horizontal_tabs ul li.active a,	#horizontal_tabs ul li:hover a,	.donate_btn,	.abt_btn,	#event_grid .hasCountdown, #tags li a.active, #tags li a:hover , #slider_products .bottom_sec , #listing_dropdown ul li a , #map_abs span , .btns , .tier_button , #product .btn, #cart_down_content.dropdown-menu li, .checkout_btn , .more-btn , .heading-bar-table th , .blog_item .read_more , #comments_form input[type="submit"], #portfolio-item-filter a:hover, .faq_accordion .toggle_faq, .p404 h3 i, .title_right .btns, #event_calander .fc-button-next
{	background-color:#b82727 !important;	background-image:none;}

/** Transparent Background **/
#banner_slider li div .b_green, #map_abs	{ background: none repeat scroll 0 0 rgba(184, 39, 39, 0.8);	}

/** Skin Color **/


/** Dark border color **/

/** Skin Border Color **/
#donation_box h2,	.h-line,	.icon_toggle,	.view_new:hover,	#horizontal_tabs ul li.active a,	#horizontal_tabs ul li:hover a,	#page_title h2, .gallery-page .view_new figure:hover
{	border-color:#b82727 !important;	}

#news .img_title p,	#accordion_news .title,	.icon_toggle i,	.event_more i,	#vertical_tabs ul li.active a,	#vertical_tabs ul li:hover a,	#horizontal_tabs ul li.active a,	#horizontal_tabs ul li:hover a,	.donate_btn,	.abt_btn, #tags li a.active, #tags li a:hover, #slider_products .bottom_sec a , #listing_dropdown ul li a , .tier_button , #product .btn , #cart_down_content.dropdown-menu li i , .cart_btn_wrapper a, .cart_btn_wrapper a, .more-btn, .heading-bar-table th, .blog_item .read_more , #comments_form input[type="submit"], #portfolio-item-filter a:hover
{	color:#fff !important;	}

#nav a,	.footer_nav a,	.footer_3 a,	.switcher-box a
{	color:#fff !important;	}

/** dark border **/
#event_grid .countdown_section, .donate_btn, .abt_btn, .team_member_description .mem_desig, .tier_button, .checkout_btn, .btns
{ border-color : #832723 !important; }
/** dark border **/

/* transparent bg **/
#charity_progress.fund_project h3{background-color:transparent !important;}
/*Skin images **/
.f-img-1 .img {    background: url("../../images/red/feature_img_1.png") no-repeat scroll center top transparent;	}
.f-img-2 .img {    background: url("../../images/red/feature_img_2.png") no-repeat scroll center top transparent;	}
.f-img-3 .img {    background: url("../../images/red/feature_img_3.png") no-repeat scroll center top transparent;	}
.f-img-4 .img {    background: url("../../images/red/feature_img_4.png") no-repeat scroll center top transparent;	}
#news .bx-controls-direction a:hover {    background-image: url("../../images/red/slider_2_arrow_active.png");	}
#slider_blog .bx-controls-direction a:hover {    background-image: url("../../images/red/slider_2_arrow_active.png");	}
.banner_slider .bx-controls-direction a {    background-image: url("../../images/red/t_slider_nav.png");		}
#tweets.latest_tweets {    background-image: url("../../images/red/twitter_bg.png") }
.sale_icon{background-image: url("../../images/red/sale_icon.png") }
.pc_container {    background-image: url('../../images/red//pc_bg.png');   }
.pc_bar_container_underflow .left,
.pc_bar_container_underflow .center,
.pc_bar_container_underflow .right{background-image: url('../../images/red/pc_item_center.png') !important;  }
.pc_bar_container_underflow .bar {background-image: url('../../images/red/pc_bar_full.png') !important;  }
.gallery-page .view_new a.info {    background: url("../../images/red/magnify.png") ; width:32px;	}
.btn-red {background:#b82727 !important; color:#fff;}


/*  extra css */
@media (min-width: 1200px) {
	.counter-stats .span3 {
	    width: 25%;
	    margin-left: 0px;
	}
}
.counter-stats-box {
	padding: 15px;
	color: #b82727;
	text-align: center;
}
.counter-stats-box.orange {
	background-color: #b82727;
    border: 1px solid #b82727;
    color: #fff;
}
.counter-stats-box.orange h1, .counter-stats-box.orange h4 {
	font-weight: 400;
}

.welcome-box, .greybg, .events_videos {
	padding-bottom: 50px;
}

.welcome-box h2,
.greybg h2,
.whitebg h2,
.events_videos h2,
.contributors_section h2 {
	font-size: 22px;
	padding-top: 40px;
	text-align: center;
	font-weight: normal;
}

.welcome-box h2 span {
	font-size: 27px;
	color: #b82727;
}

.welcome-box p {
	text-align: center;
}

.greybg {
	background-color: #f6f6f6;
}

.greybg h2,
.events_videos h2,
.contributors_section h2,
.whitebg h2 {
	padding-bottom: 15px;
}

.btn-orange, .btn-orange:hover, .btn-orange:focus {
	color: #b82727;
    font-weight: 600;
    background: #fff;
    text-shadow: none;
    border-radius: 3px;
    letter-spacing: .5px;
    border: 1px solid #b82727;
    text-transform: capitalize;
}

.team_member_description {
	border: 1px solid #ddd;
}

.team_member_description h4 {
	margin: 0px 0px 10px 0px;
}

/*#b82727 !important*/