{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">
	<div class="col-lg-8 form-group">
		<div class="btn btn-more btn-red activity_upload mtop">
			Upload Image
			<input class="activity_image" name="activityimage" type="file" label="add">
		</div>
		<span class="image_value"></span>
		<br>
		<div class="btn btn-more btn-red activity_upload mtop">
			Upload Video
			<input class="activity_video"  type="file" label="add">
		</div>
		<span class="video_value"></span>
	</div>
</div>
{% endblock main-content %}

<!-- <form name="" method="post" action="#" class="feedback-form-1">
    <fieldset>
        <div class="input-file-row-1">
	        <div class="upload-file-container">
                <img id="preview_image" src="#" alt="" />
			    <div class="upload-file-container-text">
                    <div class = 'one_opacity_0'>
                        <input type="file" id="patient_pic" label = "add" />
                    </div>
                    <span> Add Photo </span>
				</div>
			</div>
        </div>
	</fieldset>
</form> -->