{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">
	<div class="">
		<div class="row-fluid">
			<div class="mbtm user-detail-div mtop text-center">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary basics" href="#basics" data-toggle="tab">
	                    <div class="hidden-xs">Basic</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default story" href="#projectdetails" data-toggle="tab">
	                     <div class="hidden-xs">Story</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default preview" href="#preview" data-toggle="tab">
	                     <div class="hidden-xs">Preview</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default review" href="#review" data-toggle="tab">
	                     <div class="hidden-xs">Submit for review</div>
	                    </button>
	                </div>
	            </div>
			</div>
			<div class="tab-content mtop">
				<div id="basics" class=" tab-pane fade in active">
					<div class="text-center">
						<h2>Let’s get started.</h2>
						<span class="crt-project-label">
							Make a great first impression with your project’s title and image, and set your funding goal, campaign duration, and project category.	
						</span>
					</div>
					<div>
						<form id="adm-start-project" action="" method="">
							<div class="col-lg-12">
								<div class="col-lg-12 mbtm mtop">
									<div class="col-lg-3">
										<label>Project image</label>
									</div>
									<div class="custom-field col-lg-9 form-group">
										<div class="fileupload fileupload-new" data-provides="fileupload">
										    <span class="btn btn-primary btn-file">
										    	<span class="fileupload-new">Upload Project Image</span>
										    	<span class="fileupload-exists">Change</span>
										    	<input type="file" />
										    </span>
										    <span class="fileupload-preview"></span>
										    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
										</div>
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Project title</label>
									</div>
									<div class="col-lg-9 form-group">
										<input class="form-control" type="text" name="" placeholder="Enter Project Title"><br>
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Short Description</label>	
									</div>
									<div class="col-lg-9 form-group">
										<input class="form-control" type="text" name="" placeholder="Short Description"><br>
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Category</label>	
									</div>
									<div class="col-lg-9 form-group">	
										<div class="form-group">
											<select class="form-control">
												<option>option 1</option>
												<option>option 2</option>
												<option>option 3</option>
												<option>option 4	</option>
											</select>	
										</div>
										<div class="form-group">
											<select class="form-control">
												<option>option 1</option>
												<option>option 2</option>
												<option>option 3</option>
												<option>option 4	</option>
											</select>	
										</div>
										<input class="form-control" type="text" name="" placeholder="enter specifics">
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Project Location</label>	
									</div>
									<div class="col-lg-9 form-group">
										<input class="form-control" type="text" name="" placeholder="Enter Location"><br>	
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Project Duration</label>	
									</div>
									<div class="col-lg-9 form-group adm-radio-inline">
										<input id="noofdays" type="radio" name="duration">Number of Days
										<input id="daterange" type="radio" name="duration">
										Start and end date
										<div class="m-adjust form-group">
											<input class="count form-control" type="text" name="" placeholder="count of days">
										</div>
										<div class="  m-adjust form-group">
											<input class="daterange form-control datepicker" type="text" name="" placeholder="start date">
										</div>
										<div class="m-adjust form-group">
											<input class="daterange form-control datepicker" type="text" name="" placeholder="end date">
										</div>
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Raising goal</label>	
									</div>
									<div class="col-lg-9 form-group">
										<table class="table cont-money ">
											<tr>
												<th>MONEY</th>
												<td><input type="text" name="" placeholder="Enter Money" class="form-control"><span>INR</span></td>
												<td colspan="4" class="form-group">
													<select class="form-control ">
														<option>
															Once
														</option>
														<option>
															Monthly
														</option>
														<option>
															Quarterly
														</option>
														<option>
															Yearly
														</option>
													</select>
												<span>Frequency</span></td>
											</tr>
											<tr>
												<th>KIND</th>
												<td><input type="text" name="" placeholder="Enter Quantity" class="form-control">
													<span>
														Quantity
													</span>
												</td>
												<td class=" form-group">
													<select class="form-control">
														<option>
															Clothes
														</option>
														<option>
															raw Materials
														</option>
														<option>
															educational kits
														</option>
														<option>
															etc
														</option>
													</select>
												<span>Kind Type</span></td>
												<td class=" form-group">
													<select class="form-control">
														<option>
															Old clothes
														</option>
														<option>
															Option 2
														</option>
														<option>
															Option 3
														</option>
														<option>
															Option 4
														</option>
													</select>
												<span>Kind Sub-Type</span></td>
												<td><input type="text" name="" placeholder="Enter Kind Specifics" class="form-control">
													<span>
														Kind Specifics
													</span>
												</td>
												<td class=" form-group">
													<select class="form-control">
														<option>
															Once
														</option>
														<option>
															Monthly
														</option>
														<option>
															Quarterly
														</option>
														<option>
															Yearly
														</option>
													</select>
												<span>Frequency</span></td>
											</tr> 
											<tr>
												<th>TIME</th>
												<td><input type="text" name="" placeholder="Enter Man-Hrs" class="form-control">
													<span>Man-Hrs</span>
												</td>
												<td class="form-group">
													<select class="form-control">
														<option>
															Accountant
														</option>
														<option>
															Engineer
														</option>
														<option>
															Doctor
														</option>
														<option>
															etc
														</option>
													</select>
												<span>Skill type</span></td>
												<td class="form-group">
													<select class="form-control">
														<option>
															Tally
														</option>
														<option>
															Option 2
														</option>
														<option>
															Option 3
														</option>
														<option>
															Option 4
														</option>
													</select>
												<span>Sub-Skill</span></td>
												<td><input type="text" name="" placeholder="Enter Skill Specific" class="form-control">
													<span>
														Skill Specific
													</span>		
												</td>
												<td class="form-group">
													<select class="form-control">
														<option>
															Once
														</option>
														<option>
															Monthly
														</option>
														<option>
															Quarterly
														</option>
														<option>
															Yearly
														</option>
													</select>
													<span>Frequency</span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="col-lg-12 first mbtm text-center btn-pref">
								<a data-toggle="tab" href="#projectdetails" class="btn btn-more btn-red btn-basic">Next Step</a>
							</div>	
						</form>
					</div>
				</div>
				<div id="projectdetails" class="tab-pane fade ">
					<div class="text-center">
						<h2>Tell us about your project.</h2>
						<span class="crt-project-label">
						</span>
					</div>
					<div>
						<form id="start-project" action="" method="">
							<div class="col-lg-12">
								<div class="col-lg-12 mbtm mtop">
									<div class="col-lg-3">
										<label>Project video</label>
									</div>
									<div class="custom-field col-lg-9 form-group">
										<!-- <div class="btn btn-more btn-red btn-file">
											Upload Project Video
											<input class="project_video" name="projectvideo" id="project_video" type="file" label="add">
										</div>
										<span id="video_value"></span> -->
										<div class="fileupload fileupload-new" data-provides="fileupload">
										    <span class="btn btn-primary btn-file">
										    	<span class="fileupload-new">Upload Project Video</span>
										    	<span class="fileupload-exists">Change</span>
										    	<input type="file" />
										    </span>
										    <span class="fileupload-preview"></span>
										    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
										</div>
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Long Description</label>	
									</div>
									<div class="col-lg-9">
										<input class="form-control" type="text" name="" placeholder="Enter Description in Detail"><br>
									</div>
								</div>
								<div class="col-lg-12 first mbtm">
									<div class="col-lg-3">
										<label>Project FAQ's</label>	
									</div>
									<div class="col-lg-9">
										You can add frequently asked questions to the FAQ tab on your project page once it goes live.
									</div>
								</div>
							</div>
							<div class="col-lg-12 first mbtm text-center btn-pref">
								<a data-toggle="tab" href="#basics" class="btn btn-more btn-red btn-story-bck">Back</a>
								<a data-toggle="tab" href="#preview" class="btn btn-more btn-red btn-story">Submit</a>
							</div>
						</form>
					</div>	
				</div>
				<div id="preview" class="tab-pane fade" style="overflow:hidden">
					<div class="row-fluid mtop-20">
				        <div class="col-lg-12 adm-mprj">
				            <div class="col-lg-3">
				                <div class="img-circle mrg-display">
				                    <img class="img-circle" src="/static/images/exective4.jpg/">
				                </div>
				                <div>    
				                    <p>By Neha Khobragade</p>
				                </div>
				            </div>
				            <div class="col-lg-9">
				                <div class="mrg-display">
				                    <span class="adm-project-title">
				                        Project title<br>    
				                    </span>
				                </div>
				                <span class="adm-project-head">
				                    Get the improved version of Gloomhaven, a cooperative card-driven game of combat in an expansive campaign. 1-4 players, 30 min/player.        
				                </span>
				            </div>
				        </div>
				    </div>
				    <div class="row-fluid ">
				        <div class="col-lg-12 project adm-mprj">
				            <div class="col-lg-4">
				                <img height="253px" src="/static/images/request_1.jpg">
				            </div>
				            <div class="col-lg-4">
				                <span class="title-fnt">Requested</span>
				                <div class="adm-prj-fig-width">
				                    <div class="mrg-display">
				                        <strong class="adm-display-figure">
				                        $156416156<br>
				                        </strong>
				                        <span class="small-text mrg-display">
				                            Money<br>
				                        </span>
				                    </div>
				                    <div class="mrg-display">
				                        <strong class="adm-display-figure">
				                        50 Educational Kits<br>
				                        </strong>
				                        <span class="small-text mrg-display">
				                            Kind<br>
				                        </span>
				                    </div>
				                    <div class="mrg-display">
				                        <strong class="adm-display-figure ">
				                        30 Volunteers 10 Hours Weekly<br>
				                        </strong>
				                        <span class="small-text">
				                            Time<br>
				                        </span>
				                    </div>
				                </div>
				                <div class="control-group">
				                    <input type="submit" class="btn--login btn--red" value="Make Contribution!"
				                     onclick="window.location='/donate/pledge/'"/>
				                </div> 
				            </div>
				            <div class="col-lg-3">
				                <span class="title-fnt">Needed</span>
				                <div class="adm-prj-fig-width">
				                    <div class="mrg-display">
				                        <strong class="adm-display-figure">
				                        $156416156<br>
				                        </strong>
				                        <span class="small-text mrg-display">
				                            Money<br>
				                        </span>
				                    </div>
				                    <div class="mrg-display">
				                        <strong class="adm-display-figure">
				                        50 Educational Kits<br>
				                        </strong>
				                        <span class="small-text mrg-display">
				                            Kind<br>
				                        </span>
				                    </div>
				                    <div class="mrg-display">
				                        <strong class="adm-display-figure">
				                        30 Volunteers 10 Hours Weekly<br>
				                        </strong>
				                        <span class="small-text">
				                            Time<br>
				                        </span>
				                    </div>
				                </div>
				            </div> 
				        </div>
				    </div>
				    <div class="row-fluid">    
				        <ul class="nav nav-tabs adm-prjulmrg mtop">
				            <li class="active"><a data-toggle="tab" href="#campaign"><b>Campaign</b></a></li>
				            <li><a data-toggle="tab" href="#faq"><b>FAQ</b></a></li>
				            <li><a data-toggle="tab" href="#updates"><b>Updates</b></a></li>
				            <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
				            <li><a data-toggle="tab" href="#community"><b>Community</b></a></li>
				            <li class="dropdown temphide">
				                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
				                <ul class="dropdown-menu">
				                    <li><a data-toggle="tab" href="#dropdown1">Dropdown 1</a></li>
				                    <li><a data-toggle="tab" href="#dropdown2">Dropdown 2</a></li>
				                </ul>
				            </li>
				        </ul>
				        <div class="tab-content">
				            <div id="campaign" class="tab-pane fade in active mtop-20 mbtm col-lg-12">
				                <div class="col-lg-7">
				                    <span class="adm-project-title">About this project<br></span>
				                    <div class="mtop-20">
				                        <span class="adm-lrg-text">
				                        It's time to join the adventure! Whether you are a veteran mercenary or this is your first foray into the wilds of Gloomhaven, I am happy to have you on board.
				                        </span>
				                    </div>
				                </div>
				                <div class="col-lg-5">
				                    <span class="adm-project-title">Support this project<br></span>
				                    <div class="row-fluid">
				                        <div class="prj-campaign-sidebar mtop">
				                            <div class="pledge1 ">
				                                <div class="control-group">
				                                    <label for="inputEmail" class="">Make a Pledge for this project </label>
				                                    <div class="controls">
				                                      <input class="" type="text" placeholder="enter any amount">
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                        <div class="prj-campaign-sidebar mtop">
				                            <div class="pledge1 ">
				                                <div class="control-group">
				                                    <label for="inputEmail" class="">Pledge 500 INR or More </label>
				                                    <div class="controls">
				                                      <input class="" type="text" placeholder="amount more than 500">
				                                    </div>
				                                </div>
				                            </div>  
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div id="faq" class="tab-pane fade mtop">
				                <p class="head">Frequently Asked Questions</p>
				                <div class="faqs">
									<section id="content" class="mtop">
				                        <div class="accordion faq_accordion" id="accordion2">
				                            <div class="accordion-group mbtm-20">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
				                                        <span class="adm-q_text">
				                                            project Questions 1? 
				                                        </span>
				                                    </a>
				                                </div>
				                                <div id="collapseOne" class="adm-accordion-body collapse in">
				                                    <div class="accordion-inner">
				                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="accordion-group mbtm-20">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
				                                        <span class="adm-q_text">
				                                            project Questions 2? 
				                                        </span>
				                                    </a>
				                                </div>
				                                <div id="collapseTwo" class="adm-accordion-body collapse">
				                                    <div class="accordion-inner">
				                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="accordion-group mbtm-20">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
				                                        <span class="adm-q_text">
				                                            project Questions 3? 
				                                        </span>
				                                    </a>
				                                </div>
				                                <div id="collapseThree" class="adm-accordion-body collapse">
				                                    <div class="accordion-inner">
				                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="accordion-group mbtm-20">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
				                                        <span class="adm-q_text">
				                                            project Questions 3? 
				                                        </span>
				                                    </a>
				                                </div>
				                                <div id="collapseFour" class="adm-accordion-body collapse">
				                                    <div class="accordion-inner">
				                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                        <a data-toggle="tab" href="#" class="btn btn-orange">Ask a Question</a>
				                    </section>
				                </div>
				            </div>
				            <div id="updates" class="tab-pane fade mtop mbtm">
				                <div id="project-update">
				                    <div data-vtdate="February 2016">
				                        <span class="fnt-update">Update 1</span>
				                    </div>
				                    <div data-vtdate="March 2016">
				                        <span class="fnt-update">Update 2</span>
				                    </div>
				                    <div data-vtdate="April 2016">
				                        <span class="fnt-update">Update 3</span>
				                    </div>
				                </div>

				            </div> <!-- end updates -->
				            <div id="comments" class="tab-pane fade mtop">
				                <div id="disqus_thread" class="mtop">
				                </div>
				            </div>
				            <div id="community" class="tab-pane fade mtop" style="overflow:hidden ">
				                <div class="col-lg-6">
				                    <div class="text-center adm-prj-community">
				                        <div class="mrg-lrgdisplay">
				                            <strong class="display-lrgfigure">
				                            50 <br>
				                            </strong>
				                            <span class="mrg-display lrg-text">
				                              Members Contributed<br>
				                            </span>
				                        </div>
				                        <div class="mrg-lrgdisplay">
				                            <strong class="display-lrgfigure">
				                            3,00,000 INR<br>
				                            </strong>
				                            <span class="mrg-display lrg-text">
				                                Contributed Amount<br>
				                            </span>
				                        </div>
				                    </div>
				                </div> 
				                <div class="col-lg-6">
				                    <div class=" text-center adm-prj-community">
				                        <div class="mrg-lrgdisplay">
				                            <strong class="display-lrgfigure">
				                            50 <br>
				                            </strong>
				                            <span class="mrg-display lrg-text">
				                              Members Pledged<br>
				                            </span>
				                        </div>
				                        <div class="mrg-lrgdisplay">
				                            <strong class="display-lrgfigure">
				                            3,00,000 INR<br>
				                            </strong>
				                            <span class="mrg-display lrg-text">
				                            Pledged Amount<br>
				                            </span>
				                        </div>
				                    </div>
				                </div>
				                <section class="col-lg-12 mtop project-head">
				                    Here are a few of the people supporting this project.   
				                </section> 
				                <section class="col-lg-12 mtop mbtm row-fluid first">
				                    {% for i in '1234' %}
				                        <figure class="team_member col-lg-3 {% if forloop.counter == 1%}first{% endif %}">
				                            <div class="member_img">
				                                <img height="161px" width="191px" src="/static/images/exective{{i}}.jpg" alt="Team Member" />
				                            </div>
				                            <div class="team_member_description">
				                                <span class="name-fnt">Firstname Lastname</span><br> 
				                                <span class="profession-fnt">Founder of company{{i}}.pvt.ltd</span>
				                            </div>
				                        </figure>
				                    {% endfor %}
				                </section>
				            </div>
				            <div id="dropdown1" class="tab-pane fade">
				                <p>Dropdown 1 content…</p>
				            </div>
				            <div id="dropdown2" class="tab-pane fade">
				                <p>Dropdown 2 content…</p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div> <!-- end row-fluid -->
	</div>
</div>
{% endblock main-content %}