{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">	
	<section id="donation_box">
		<section class="container">
			<div class="row-fluid">
            	<div class="col-lg-8">
                    <div class="adm-gang-inline">
                        <h2>Create New Blog</h2>    
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'adminblogs' %}" class="btn btn-default more-btn " type="submit">Blog List</a>    
                    </div>
                </div>
            </div>    
		</section>
	</section>
	<section class="container-fluid container mbtm margin-align">
		<section class="row-fluid">
			<form>
				<div class="form-group">
					<input type="text" name="name" class="newcauseform form-control" placeholder="Blog title" placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
				</div>
				<div class="mrgntop form-group">
					<textarea name="message" id="" cols="30" rows="10" class="newcauseform form-control" placeholder="Add Causes related to Blog"></textarea>
				</div>
				<div class="mrgntop form-group">
					<textarea name="message" id="" cols="30" rows="10" class="newcauseform form-control" placeholder="Enter Blog Description"></textarea>
				</div>
				<div class="mrgntop">
					<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Submit</button>
				</div>
			</form>
		</section>
	</section>
</div>
{% endblock main-content %}