{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow: hidden">
	<div class="mbtm user-detail-div btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	    <div class="btn-group" role="group">
	        <button type="button" id="stars" class="btn btn-primary" href="#basic" data-toggle="tab">
	        <div class="hidden-xs">Basic</div>
	        </button>
	    </div>
	    <div class="btn-group" role="group">
	        <button type="button" id="favorites" class="btn btn-default" href="#donation-made" data-toggle="tab">
	        <div class="hidden-xs">Donation Made</div>
	      	</button>
	    </div>
	    <div class="btn-group" role="group">
	        <button type="button" id="favorites" class="btn btn-default" href="#recommend" data-toggle="tab">
	        <div class="hidden-xs">Recommendation</div>
	      	</button>
	    </div>
	    <div class="btn-group" role="group">
	        <button type="button" id="favorites" class="btn btn-default" href="#comments" data-toggle="tab">
	        <div class="hidden-xs">Comments</div>
	      	</button>
	    </div>
	</div>	
	<div class="tab-content mtop">
		<div id="basic" class="tab-pane fade in active">
			<div class=" col-lg-12">
				<table class="table">
					<tr>
						<td>CONTRIBUTOR ID:</td>
						<td>123</td>
					</tr>
					<tr>
						<td>CONTRIBUTOR NAME:</td>
						<td>SANDEEP SHINDE</td>
					</tr>
					<tr>
						<td>STATUS:</td>
						<td>ACTIVE</td>
					</tr>
				</table>
			</div>
			<div class="request-particular col-lg-12 first mtop-20">
				<div class="span12"><H4><b>DONATION INTEND</b></H4></div>
				<table class="table mkt-th">
					<tr>
						<th>MONEY</th>
						<td>30000<span>INR</span></td>
						<td colspan="4">Monthly</td>
					</tr>
					<tr>
						<th>KIND</th>
						<td>30</td>
						<td>clothes</td>
						<td>Used Clothes</td>
						<td>5 yr old</td>
						<td>Yearly</td>
					</tr>
					<tr>
						<th>TIME</th>
						<td>5</td>
						<td>Accountant</td>
						<td>Tally</td>
						<td>15 yrs experience</td>
						<td>Monthly</td>
					</tr>
				</table>
			</div>
			<div class="request-particular col-lg-12 first">
				<div class="span12"><H4><b>DONATION PENDING</b></H4></div>
				<table class="table mkt-th">
					<tr>
						<th>MONEY</th>
						<td>30000<span>INR</span></td>
						<td colspan="4">Monthly</td>
					</tr>
					<tr>
						<th>KIND</th>
						<td>30</td>
						<td>clothes</td>
						<td>Used Clothes</td>
						<td>5 yr old</td>
						<td>Yearly</td>
					</tr>
					<tr>
						<th>TIME</th>
						<td>5</td>
						<td>Accountant</td>
						<td>Tally</td>
						<td>15 yrs experience</td>
						<td>Monthly</td>
					</tr>
				</table>
			</div>								
		</div>
		<div id="donation-made" class="tab-pane fade">
			<div class="cont-pastdonations">
				<div class="span12"><H4><b>DONATION MADE</b></H4></div>
				<div id="pastcontribution" class="accordion" >
				    <div class="span12 first accordion-group req-head">
				    	<div class="accordion-heading">
				    		<table class="table">
								<tr>
									<td>REQUESTOR NAME :</td>
									<td>RAJ MALHOTRA</td>
								</tr>
								<tr>
									<td>REQUESTOR TYPE :</td>
									<td>INDIVIDUAL</td>
								</tr>
								<tr>
									<td>REQUEST ID :</td>
									<td>123</td>
								</tr>
								<tr>
									<td>CONTRIBUTION ID :</td>
									<td>879</td>
								</tr>
								<tr>
									<td colspan="2">
										<a class="accordion-toggle active rmpad" data-toggle="collapse" data-parent="pastcontribution" href="#con-1001">View Contribution Details</a>	
									</td>
								</tr>
							</table>
				    	</div>
						<div class="accordion-body collapse" id="con-1001">

							<table class="table mkt-th">
								<tr>
									<th>MONEY</th>
									<td>30000<span>INR</span></td>
									<td colspan="4">Monthly</td>
								</tr>
								<tr>
									<th>KIND</th>
									<td>30</td>
									<td>clothes</td>
									<td>Used Clothes</td>
									<td>5 yr old</td>
									<td>Yearly</td>
								</tr>
								<tr>
									<th>TIME</th>
									<td>5</td>
									<td>Accountant</td>
									<td>Tally</td>
									<td>15 yrs experience</td>
									<td>Monthly</td>
								</tr>
							</table>
						</div>
				    </div>
				</div>
			</div>		
		</div>
		<div id="recommend" class="tab-pane fade">
			<div class="span12 mbtm first">
				<div class="myrequests">
					<div class="span12"><H4><b>RECOMMENDED SEEKERS</b></H4></div>
					<div class="accordion" id="recommended-cont" >
					    <div  class="span12 first accordion-group req-head">
					    	<div class="accordion-heading span12">
								<div class="col-lg-2">
									<img src="/static/images/exective1.jpg">	
								</div>					    	
					    		<div class="col-lg-10">
					    			<table class="table">
					    				<tr>
					    					<td>NAME</td>
					    					<td>BEING HUMAN</td>
					    				</tr>
					    				<tr>
					    					<td>TYPE</td>
					    					<td>NGO</td>
					    				</tr>
					    				<tr>
					    					<td>CAUSES INTERESTED</td>
					    					<td>MEDICAL, KIDS EDUCATION</td>
					    				</tr>
					    				<tr>
					    					<td colspan="2">
					    						<a class="first accordion-toggle active rmpad" data-toggle="collapse" data-parent="recommended-cont" href="#con-recommended">View Details</a>		
					    					</td>
					    				</tr>
					    			</table>
								</div>
					    	</div>
							<div class="first col-lg-12 accordion-body collapse" id="con-recommended">
								<div class="span12 first">
								REQUEST DETAILS
								</div>
								<table class="table mkt-th">
									<tr>
										<th>MONEY</th>
										<td>30000<span>INR</span></td>
										<td colspan="4">Monthly</td>
									</tr>
									<tr>
										<th>KIND</th>
										<td>30</td>
										<td>clothes</td>
										<td>Used Clothes</td>
										<td>5 yr old</td>
										<td>Yearly</td>
									</tr>
									<tr>
										<th>TIME</th>
										<td>5</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>15 yrs experience</td>
										<td>Monthly</td>
									</tr>
								</table>
							</div>
						</div> <!-- accordion group -->
					</div>
				</div>	
			</div>		
		</div>
		<div class="modal fade" id="assign" role="dialog">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal">&times;</button>
		            <h4 class="modal-title">Assign Your Return to Community to Members</h4>
		         </div>
		         <div class="modal-body">
		         	<div class="form-group">
		         		<input class="form-control" type="text"  id="adm-tag-contributors" />
		         	</div>
		         </div>
		         <div class="modal-footer">
		         	<button type="button" class="btn btn-default more-btn">Submit</button>
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		         </div>
		      </div>
		   </div>
		</div>

	</div>
</div>
{% endblock main-content %}