{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow: hidden">
    <div class="row-fluid mtop-20">
        <div class="col-lg-12 adm-mprj">
            <div class="col-lg-3">
                <div class="img-circle mrg-display">
                    <img class="img-circle" src="/static/images/exective4.jpg/">
                </div>
                <div>    
                    <p>By Neha Khobragade</p>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="mrg-display">
                    <span class="adm-project-title">
                        Project title<br>    
                    </span>
                </div>
                <span class="adm-project-head">
                    Get the improved version of Gloomhaven, a cooperative card-driven game of combat in an expansive campaign. 1-4 players, 30 min/player.        
                </span>
            </div>
        </div>
    </div>
    <div class="row-fluid ">
        <div class="col-lg-12 project adm-mprj">
            <div class="col-lg-4">
                <img height="253px" src="/static/images/request_1.jpg">
            </div>
            <div class="col-lg-4">
                <span class="title-fnt">Requested</span>
                <div class="adm-prj-fig-width">
                    <div class="mrg-display">
                        <strong class="adm-display-figure">
                        $156416156<br>
                        </strong>
                        <span class="small-text mrg-display">
                            Money<br>
                        </span>
                    </div>
                    <div class="mrg-display">
                        <strong class="adm-display-figure">
                        50 Educational Kits<br>
                        </strong>
                        <span class="small-text mrg-display">
                            Kind<br>
                        </span>
                    </div>
                    <div class="mrg-display">
                        <strong class="adm-display-figure ">
                        30 Volunteers 10 Hours Weekly<br>
                        </strong>
                        <span class="small-text">
                            Time<br>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <input type="submit" class="btn--login btn--red" value="Make Contribution!"
                     onclick="window.location='/donate/pledge/'"/>
                </div> 
            </div>
            <div class="col-lg-3">
                <span class="title-fnt">Needed</span>
                <div class="adm-prj-fig-width">
                    <div class="mrg-display">
                        <strong class="adm-display-figure">
                        $156416156<br>
                        </strong>
                        <span class="small-text mrg-display">
                            Money<br>
                        </span>
                    </div>
                    <div class="mrg-display">
                        <strong class="adm-display-figure">
                        50 Educational Kits<br>
                        </strong>
                        <span class="small-text mrg-display">
                            Kind<br>
                        </span>
                    </div>
                    <div class="mrg-display">
                        <strong class="adm-display-figure">
                        30 Volunteers 10 Hours Weekly<br>
                        </strong>
                        <span class="small-text">
                            Time<br>
                        </span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="row-fluid">    
        <ul class="nav nav-tabs adm-prjulmrg mtop">
            <li class="active"><a data-toggle="tab" href="#campaign"><b>Campaign</b></a></li>
            <li><a data-toggle="tab" href="#faq"><b>FAQ</b></a></li>
            <li><a data-toggle="tab" href="#updates"><b>Updates</b></a></li>
            <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
            <li><a data-toggle="tab" href="#community"><b>Community</b></a></li>
            <li class="dropdown temphide">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="tab" href="#dropdown1">Dropdown 1</a></li>
                    <li><a data-toggle="tab" href="#dropdown2">Dropdown 2</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div id="campaign" class="tab-pane fade in active mtop-20 col-lg-12">
                <div class="col-lg-7">
                    <span class="adm-project-title">About this project<br></span>
                    <div class="mtop-20">
                        <span class="adm-lrg-text">
                        It's time to join the adventure! Whether you are a veteran mercenary or this is your first foray into the wilds of Gloomhaven, I am happy to have you on board.
                        </span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <span class="adm-project-title">Support this project<br></span>
                    <div class="row-fluid">
                        <div class="prj-campaign-sidebar mtop">
                            <div class="pledge1 ">
                                <div class="control-group">
                                    <label for="inputEmail" class="">Make a Pledge for this project </label>
                                    <div class="controls">
                                      <input class="" type="text" placeholder="enter any amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prj-campaign-sidebar mtop">
                            <div class="pledge1 ">
                                <div class="control-group">
                                    <label for="inputEmail" class="">Pledge 500 INR or More </label>
                                    <div class="controls">
                                      <input class="" type="text" placeholder="amount more than 500">
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div id="faq" class="tab-pane fade mtop mbtm">
                <p class="head">Frequently Asked Questions</p>
                <div class="faqs">
                    <section id="content" class="mtop">
                        <div class="accordion faq_accordion" id="accordion2">
                            <div class="accordion-group mbtm-20">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
                                        <span class="adm-q_text">
                                            project Questions 1? 
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseOne" class="adm-accordion-body collapse in">
                                    <div class="accordion-inner">
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group mbtm-20">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
                                        <span class="adm-q_text">
                                            project Questions 2? 
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="adm-accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group mbtm-20">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
                                        <span class="adm-q_text">
                                            project Questions 3? 
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseThree" class="adm-accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group mbtm-20">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                        <span class="adm-toggle_faq"><i class="fa-chevron-right"></i> </span>
                                        <span class="adm-q_text">
                                            project Questions 3? 
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseFour" class="adm-accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-toggle="tab" href="#" class="btn btn-orange">Ask a Question</a>
                    </section>
                </div>
            </div>
            <div id="updates" class="tab-pane fade mtop mbtm">
                <div id="project-update">
                    <div data-vtdate="February 2016">
                        <span class="fnt-update">Update 1</span>
                    </div>
                    <div data-vtdate="March 2016">
                        <span class="fnt-update">Update 2</span>
                    </div>
                    <div data-vtdate="April 2016">
                        <span class="fnt-update">Update 3</span>
                    </div>
                </div>

            </div> <!-- end updates -->
            <div id="comments" class="tab-pane fade mtop">
                <div id="disqus_thread" class="mtop">
                </div>
            </div>
            <div id="community" class="tab-pane fade mtop" style="overflow:hidden ">
                <div class="col-lg-6">
                    <div class="text-center adm-prj-community">
                        <div class="mrg-lrgdisplay">
                            <strong class="display-lrgfigure">
                            50 <br>
                            </strong>
                            <span class="mrg-display lrg-text">
                              Members Contributed<br>
                            </span>
                        </div>
                        <div class="mrg-lrgdisplay">
                            <strong class="display-lrgfigure">
                            3,00,000 INR<br>
                            </strong>
                            <span class="mrg-display lrg-text">
                                Contributed Amount<br>
                            </span>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <div class=" text-center adm-prj-community">
                        <div class="mrg-lrgdisplay">
                            <strong class="display-lrgfigure">
                            50 <br>
                            </strong>
                            <span class="mrg-display lrg-text">
                              Members Pledged<br>
                            </span>
                        </div>
                        <div class="mrg-lrgdisplay">
                            <strong class="display-lrgfigure">
                            3,00,000 INR<br>
                            </strong>
                            <span class="mrg-display lrg-text">
                            Pledged Amount<br>
                            </span>
                        </div>
                    </div>
                </div>
                <section class="col-lg-12 mtop project-head">
                    Here are a few of the people supporting this project.   
                </section> 
                <section class="col-lg-12 mtop mbtm row-fluid first">
                    {% for i in '1234' %}
                        <figure class="team_member col-lg-3 {% if forloop.counter == 1%}first{% endif %}">
                            <div class="member_img">
                                <img height="161px" width="191px" src="/static/images/exective{{i}}.jpg" alt="Team Member" />
                            </div>
                            <div class="team_member_description">
                                <span class="name-fnt">Firstname Lastname</span><br> 
                                <span class="profession-fnt">Founder of company{{i}}.pvt.ltd</span>
                            </div>
                        </figure>
                    {% endfor %}
                </section>
            </div>
            <div id="dropdown1" class="tab-pane fade">
                <p>Dropdown 1 content…</p>
            </div>
            <div id="dropdown2" class="tab-pane fade">
                <p>Dropdown 2 content…</p>
            </div>
        </div>
    </div>
</div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-fafadiatech-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock main-content %}