{% extends "base-login.html" %}
{% block main-content %}
<section class="team">
	<section class="container-fluid container">
		<h3> <i class="icon-ok-circle"></i> Basic User Information</h3>
		<section class="span12 first ">
			<table class="span5 table admusrdtl first admmeminfo">
				<tr>
					<th>Name</th>
					<td>Shyam Rao</td>
				</tr>
				<tr >
					<th>Contact</th>
					<td>9821114112</td>
				</tr>
				<tr >
					<th>Email</th>
					<td>abc@gmail.com</td>
				</tr>
				<tr >
					<th>Website</th>
					<td>www.demo.com</td>
				</tr>
				<tr >
					<th>Eligibility</th>
					<td>Strong</td>
				</tr>
				<tr>
					<th>Credit Rating</th>
					<td>10</td>
				</tr>
			</table>
		</section>
	</section>
</section>
<section class="team ">
	<section class="container container-fluid">
		<h3> <i class="icon-ok-circle"></i> Contributions</h3>
		<section class="span12 first ">
			<table class="span12 table admusrdtl first">
				<tr>
					<th>Cause</th>
					<th>Contribution Type</th>
					<th>Contribution</th>
					<th>Recipients</th>
					<th>Status</th>
					<th>Add Recipient</th>
				</tr>
				<tr>
					<td>Medical Bill</td>
					<td>Money</td>
					<td>3,000 INR</td>
					<td>Mr. Benedict</td>
					<td>Done</td>
					<td>Add</td>
				</tr>
				<tr>
					<td>Swatch Bharat</td>
					<td>Time</td>
					<td>3 Hr per week</td>
					<td>On Cause</td>
					<td>Active</td>
					<td>Add</td>
				</tr>
			</table>
		</section>
	</section>
</section>
<section class="team">
	<section class="container container-fluid">
		<h3> <i class="icon-ok-circle"></i> Pledges</h3>
		<section class="span12 first ">
			<table class="span12 table admusrdtl first">
				<tr>
					<th>Cause</th>
					<th>Pledge Type</th>
					<th>Pledge</th>
					<th>Recipients</th>
					<th>Add Recipient</th>
				</tr>
				<tr>
					<td>Medical Bill</td>
					<td>Money</td>
					<td>3,000 INR</td>
					<td>Mr. Benedict</td>
					<td>Add</td>
				</tr>
				<tr>
					<td>Swatch Bharat</td>
					<td>Time</td>
					<td>3 Hr per week</td>
					<td>On Cause</td>
					<td>Add</td>
				</tr>
			</table>
		</section>
	</section>
</section>
<section class="team">
	<section class="container container-fluid">
		<h3> <i class="icon-ok-circle"></i> Requests</h3>
		<section class="span12 first ">
			<table class="span12 table admusrdtl first">
				<tr>
					<th>Cause</th>
					<th>Request Type</th>
					<th>Request</th>
					<th>Contributor</th>
					<th>Status</th>
					<th>Allot Contributor</th>
				</tr>
				<tr>
					<td>Medical Bill</td>
					<td>Money</td>
					<td>10,000 INR</td>
					<td>M/s. Being Human</td>
					<td>Pending</td>
					<td>Allot</td>
				</tr>
			</table>
		</section>
	</section>
</section>
<section class="team">
	<section class="container container-fluid">
		<h3> <i class="icon-ok-circle"></i> Comments on Users</h3>
			<div>
				<p><b>Comment</b></p>
			</div>
			<div class="first">
				<textarea class="admtxtwid" rows="3"  placeholder="Add comment on user" >
				</textarea>
			</div>
			<div>
				<a href="{% url 'index' %}" class="btn btn-default more-btn" type="submit">Submit</a>
			</div>
	</section>
</section>
{% endblock main-content %}