{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" class="hide-overflow">
	<section>
		<section class="container container-fluid">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span8 first"> <h2> Blog Detail </h2> </div>
						</section>
					</section>
				</section>		
			</section>		
		</section>
	</section>
	<section id="content" class="mbtm blog">
		<section class="container-fluid container ">
			<section class="row-fluid">
				<section id="blog_listing">
					<figure class="col-lg-11 blog_item rm-border">
					 	<figure id="category_image" class="col-lg-12 first ">
						 	<div class="gallery_img gallery_img-first">					<img src="/static/images/blog1.jpg" />					<div class="mask ">
									<a href="#" class="anchor"> <span> 10 </span> <i class="icon-comment"></i> </a>
									<a href="#" class="anchor"> <i class="icon-link"></i></a>	
								</div>
							</div>
						</figure>
						<div class="col-lg-12 first">
							<div class="inner_lyr-admin first">
								<div class="col-lg-4 first post_meta" > 
									<ul>
										<li class="date"> <i class="icon-time"></i>  May 27,  2013  </li>
										<li class="author"><i class="icon-user"></i> by 		<a href="#"> Sarah Willaims </a> </li>
										<li class="commetns"> <i class="icon-comment"></i>		<a href="#"> 10 Comments </a> </li>
										<li class="tags"> <i class="icon-tags"></i> 			<a href="#"> Charity , Donation, Food, Free Education </a></li>
										<li class="category"> <i class="icon-reorder"></i> 		<a href="#"> Charity Events </a> </li>
									</ul>
								</div>
								<div class="col-lg-7 "> 
										<h3> <a href="blog_detail.html"> Support for Food	</a> </h3>
										<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem. Cras sed mi at nibh porttitor pretium eu id ligula. Donec eleifend porta nisi, sit amet euismod arcu egestas non.  </p>
										<p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec a ligula sed nulla ornare vestibulum. Fusce vitae erat lorem, nec dictum turpis. Nulla eget faucibus felis. Quisque vitae sapien orci. Nunc justo dolor, rutrum nec consequat vitae, adipiscing vel est. Maecenas euismod ornare sagittis. Vestibulum nec ante in neque congue ullamcorper.  </p>
										<a href="{% url 'blogdetail' %}" class="read_more"> Read more</a>
								</div>
							</div>
						</div>
					</figure>
				</section>
			</section>
		</section>
	</section>
</div>
{% endblock main-content %}