{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">
	<section id="donation_box">
		<section class="container">
			<section class="row-fluid">
				<div class="col-lg-12 first"> <h2> Blog List</h2> </div>
			</section>
		</section>
	</section>
	<section id="content" class="blog">
		<section>
			{% for i in '123123'%}
			<figure class="col-lg-6 blog_item rm-border">
				<figure id="category_image" class="first adminblogwidth">
				 	<div class="gallery_img gallery_img-first">				<img src="/static/images/blog{{i}}.jpg" />				<div class="mask">
							<a href="#" class="anchor"> <span> 10 </span> <i class="icon-comment"></i> </a>
							<a href="#" class="anchor"> <i class="icon-link"></i></a>
						</div>
					</div>
				</figure>
				<div class="first adminblogwidth ">
					<div class="inner_lyr-admin">
						<div class=" first post_meta"> 
							<ul>
								<li class="date"> <i class="icon-time"></i>  May 27,  2013  </li>
								<li class="author"><i class="icon-user"></i> by 		<a href="#"> Sarah Willaims </a> </li>
								<li class="commetns"> <i class="icon-comment"></i>		<a href="#"> 10 Comments </a> </li>
								<li class="tags"> <i class="icon-tags"></i> 			<a href="#"> Charity , Donation, Food, Free Education </a></li>
								<li class="category"> <i class="icon-reorder"></i> 		<a href="#"> Charity Events </a> </li>
							</ul>
						</div>
						<div class="mtop">
							<a href="{% url 'adminblogdetail' %}" class="btn btn-default more-btn pull-right" type="submit">Read More </a>
						</div>
					</div>
				</div>
			</figure>
			{% endfor %}
		</section>
		<div class="pagination temphide">  
              <ul>  
                <li><a href="#">Prev</a></li>  
                <li class="active">  
                  <a href="#">1</a>  
                </li>  
                <li><a href="#">2</a></li>  
                <li><a href="#">3</a></li>  
                <li><a href="#">4</a></li>  
                <li><a href="#">Next</a></li>  
              </ul>  
        </div>
	</section>
</div>
{% endblock main-content %}