{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper">
	<div class="panel panel-default">
	    <div class="panel-heading col-lg-12">
    		<div class="input-group custom-search-form adm-search-width">
                <input type="text" class="form-control" placeholder="Search Members...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
                </span>
            </div>
            <div class="first mem-icon">
            	<i class="fa fa-bar-chart-o fa-fw"></i> Members
            </div>	
            <div class="pull-right adm-actions ">
	            <div class="btn-group">
	                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
	                    Actions
	                    <span class="caret"></span>
	                </button>
	                <ul class="dropdown-menu pull-right" role="menu">
	                    <li><a href="#">All Contributors</a>
	                    </li>
	                    <li><a href="#">Awaiting Contributors</a>
	                    </li>
	                    <li><a href="#">All Recipient</a>
	                    </li>
	                    <li><a href="#">Benefitted Recipient</a>
	                    </li>
	                    <li><a href="#">Pending Recipient</a>
	                    </li>
	                    <li class="divider"></li>
	                    <li><a href="#">Group By Causes</a>
	                    </li>
	                </ul>
	            </div>
	    	</div>
		</div>
	<!-- /.panel-heading -->
	    <div class="panel-body">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="table-responsive members">
	                    <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Rating</th>
                                <th>Eligibility</th>
                            </tr>
                            <tr class="clickable-row" data-href="{% url 'adminmemberdetail' %}">
                                <td>1</td>
                                <td>Madan Mohan</td>
                                <td>madan@gmail.com</td>
                                <td>9821114112</td>
                                <td>22</td>
                                <td>Good</td>
                            </tr>
                            <tr class="clickable-row" data-href="{% url 'adminmemberdetail' %}"> 
                                <td>1</td>
                                <td>Madan Mohan</td>
                                <td>madan@gmail.com</td>
                                <td>9821114112</td>
                                <td>22</td>
                                <td>Good</td>
                            </tr>
                            <tr class="clickable-row" data-href="{% url 'adminmemberdetail' %}">
                                <td>1</td>
                                <td>Madan Mohan</td>
                                <td>madan@gmail.com</td>
                                <td>9821114112</td>
                                <td>22</td>
                                <td>Good</td>
                            </tr>
	                    </table>
	                </div>
	                <div>
	               	<a class="btn" href="{% url 'admin/createprofile' %}">Create new Profile</a> 	
	                </div>
	            </div>
	            <!-- /.col-lg-4 (nested) -->
	            <div class="col-lg-8">
	                <div id="morris-bar-chart"></div>
	            </div>
	            <!-- /.col-lg-8 (nested) -->
	        </div>
	        <!-- /.row -->
	    </div>            <!-- /.panel-body -->
	</div>
</div>
{% endblock main-content %}