{% extends "base-login.html" %}
{% block main-content %}
<div id="page-wrapper" style="overflow: hidden">
	<div class="mbtm user-detail-div btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	    <div class="btn-group" role="group">
	        <button type="button" id="stars" class="btn btn-primary" href="#profile" data-toggle="tab">
	        <div class="hidden-xs">Profile</div>
	        </button>
	    </div>
	    <div class="btn-group" role="group">
	        <button type="button" id="favorites" class="btn btn-default" href="#contributions" data-toggle="tab">
	        <div class="hidden-xs">Contributions</div>
	      	</button>
	    </div>
	    <div class="btn-group" role="group">
	        <button type="button" id="favorites" class="btn btn-default" href="#requests" data-toggle="tab">
	        <div class="hidden-xs">Requests</div>
	      	</button>
	    </div>
	    <div class="btn-group" role="group">
	        <button type="button" id="favorites" class="btn btn-default" href="#projects-list" data-toggle="tab">
	        <div class="hidden-xs">Projects</div>
	      	</button>
	    </div>
	    
	</div>	
	<div class="tab-content mtop">
	<!-- profile -->
	    <div id="profile" class="tab-pane fade in active">
	    	<ul class="nav nav-tabs">
		    	<li class="active"><a data-toggle="tab" href="#basic">Basic Information</a></li>
		    	<li><a data-toggle="tab" href="#statutory">Statutory Information</a></li>
		    	<li><a data-toggle="tab" href="#organization">Organization Details</a></li>
		    	<li><a data-toggle="tab" href="#projects">Past Projects</a></li>
			</ul> 
			<div class="tab-content">
				<div  id="basic" class=" tab-pane fade in active">
					<div class="panel-body ">
				 		<div class="table-responsive row col-lg-12">
		                    <table class="table table-bordered table-hover table-striped">
		                    	<tr>
		                    		<td><b>First Name</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="lastname" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">John</a>
		                    		</td>
		                    	</tr>
		                    	<tr>
		                    		<td><b>Last Name</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="lastname" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">Kennedy</a>
		                    		</td>
		                    	</tr>
		                    	<tr>
		                    		<td><b>Email</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="email" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">john@gmail.com</a>
		                    		</td>
		                    	</tr>
		                    	<tr>
		                    		<td><b>Mobile Number</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="mobile" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">9821114112</a>
		                    		</td>
		                    	</tr> 
		                    	<tr>
		                    		<td><b>Member Type</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="member-type" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">NGO</a>
		                    		</td>
		                    	</tr> 
		                    	<tr>
		                    		<td><b>Causes Intrested</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="causes" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">Girl Education, Medical Help</a>
		                    		</td>
		                    	</tr>
		                    	<tr>
		                    		<td><b>Location</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="location" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">Chichwada</a>
		                    		</td>
		                    	</tr>
		                    	<tr>
		                    		<td><b>CSR Compliant</b></td>
		                    		<td>
		                    			<a class="adm-member" href="#" id="csr-compliant" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">Yes</a>
		                    		</td>
		                    	</tr>    
		                    </table>
		                    <a class="temphide" href="#" class="pull-right btn btn-more btn-red">Update</a>
		                </div>
				    </div>	
				</div>    
				 <!-- end basic info -->
				 <!-- statutory Information -->
				<div id="statutory" class=" tab-pane fade">
					<div  class="panel-body ">
						<div class=" ">
					 		<div class="table-responsive row col-lg-12">
			                    <table class="table table-bordered table-hover table-striped">
			                    	<tr>
			                    		<th><b>
			                    		<a class="adm-member" href="#" id="financialdate" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">12th August 2016</a>
			                    		</b></th>
			                    		<th><a class="adm-member" href="#" id="year1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">2014</a></th>
			                    		<th>
			                    		<a class="adm-member" href="#" id="year2" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">2015</a></th>
			                    		<th><a class="adm-member" href="#" id="year3" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">2016</a></th>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Govt/Non_Govt Donatons</b></td>
			                    		<td><a class="adm-member" href="#" id="govt1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">15</a></td>
			                    		<td><a class="adm-member" href="#" id="govt2" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">10</a></td>
			                    		<td><a class="adm-member" href="#" id="govt3" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Domestic Donations</b></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Foreign Donations</b></td>
			                    		<td><a class="adm-member" href="#" id="foreign1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>KH Donations</b></td>
			                    		<td><a class="adm-member" href="#" id="kh1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="domestic1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Income From Asets/Investments</b></td>
			                    		<td><a class="adm-member" href="#" id="income-asset1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="income-asset1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="income-asset1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Other Income</b></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Gross Income</b></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Expense On Objectives</b></td>
			                    		<td><a class="adm-member" href="#" id="expense-obj1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Expense On Administrative Activity</b></td>
			                    		<td><a class="adm-member" href="#" id="expense-adm1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Total Expense</b></td>
			                    		<td><a class="adm-member" href="#" id="expense-total1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Net Surplus/ Deficit</b></td>
			                    		<td><a class="adm-member" href="#" id="net1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    		<td><a class="adm-member" href="#" id="other-income1" data-type="text" data-pk="1" data-url="/post" data-title="Enter firstname">5</a></td>
			                    	</tr> 
			                    </table>
			                </div>
			            </div>
				    </div>
			    </div>
			    <!-- end statutory info -->
			    <!-- organisation details -->
			    <div id="organization" class=" tab-pane fade">
					<div  class="panel-body ">
						<div class=" ">
					 		<div class="table-responsive row col-lg-12">
			                    <table class="table table-bordered table-hover table-striped">
			                    	<tr>
			                    		<th><b>NGO Registration Act</b></th>
			                    		<td>Trust Registered Under Public Trust Act.</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Establishment Date</b></th>
			                    		<td>12th August 2016</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Purpose</b></th>
			                    		<td>100% Charitable Trust</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Contact Person Name</b></th>
			                    		<td>Mr John Kenndy</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Contact Person email</b></th>
			                    		<td>john@gmail.com</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Contact Person Mobile</b></th>
			                    		<td>9821114112</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Address</b></th>
			                    		<td>mumbai, anand nagar 477512</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Benefit Under Section</b></th>
			                    		<td>80G</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Rate of Deduction</b></th>
			                    		<td>50%</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Formed for Religious reason</b></th>
			                    		<td>Yes</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Description</b></th>
			                    		<td>For Adivasi in Chinchpokli</td>
			                    	</tr>
			                    </table>
			                </div>
			            </div>
				    </div>
			    </div>
			    <!-- end  organisation details -->
			    <div id="projects" class=" tab-pane fade">
					<div  class="panel-body ">
						<div class=" ">
					 		<div class="table-responsive row col-lg-12">
			                    <table class="table table-bordered table-hover table-striped">
			                    	<tr>
			                    		<th><b>Project Name</b></th>
			                    		<th colspan="4">Girl Child Education</th>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Financial Year</b></td>
			                    		<td>2015</td>
			                    		<td>2016</td>
			                    		<td>2017</td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Spent/Given</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Money</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Kind</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Time</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Other Income</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Direct beneficiaries</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr> 
			                    	<tr>
			                    		<td><b>Indirect Beneficiaries</b></td>
			                    		<td>15</td>
			                    		<td>10</td>
			                    		<td>5</td>
			                    	</tr>
			                    	<tr>
			                    		<td><b>Description</b></td>
			                    		<td colspan="4">Educating the girl child for the upliftment of the the society</td>
			                    	</tr> 
			                    </table>
			                </div>
			            </div>
				    </div>
			    </div>
		    </div>
	    </div>
    <!-- contributions -->
	    <div id="contributions" class="tab-pane fade">
			<ul class="nav nav-tabs">
				<li class="active" ><a data-toggle="tab" href="#adm_intenddonate">Intend To Donate</a></li>
				<li class="" ><a data-toggle="tab" href="#activedonations">Active Donations</a></li>
		    	<li><a data-toggle="tab" href="#pastdonations">Past Donations</a></li>
		    </ul>	
			<div class="tab-content">
				<div id="adm_intenddonate" class=" tab-pane fade in active">
					<div  class="panel-body ">
						<div class=" ">
					 		<div class="table-responsive row col-lg-12">
			                    <table class="table table-bordered table-hover table-striped">
			                    	<tr>
			                    		<th><b>Location</b></th>
			                    		<td>Mumbai</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Community</b></th>
			                    		<td>Jain</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Cause</b></th>
			                    		<td>Girl Child</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Sub-Cause</b></th>
			                    		<td>Education</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Sub-Cause Category</b></th>
			                    		<td>Post- matric fees</td>
			                    	</tr>
			                    </table>
			                    <table class="table table-bordered table-hover table-striped">
									<tr>
										<th>Money</th>
										<td>30000<span>INR</span></td>
										<td colspan="4">Monthly</td>
									</tr>
									<tr>
										<th>Kind</th>
										<td>30</td>
										<td>clothes</td>
										<td>Used Clothes</td>
										<td>5 yr old</td>
										<td>Yearly</td>
									</tr>
									<tr>
										<th>Time</th>
										<td>5</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>15 yrs experience</td>
										<td>Monthly</td>
									</tr>
								</table>
			                </div>
			            </div>
				    </div>
			    </div>
			    <div id="activedonations" class="tab-pane fade mbtm">
			    	{% for i in '123' %}
			    	<div class="mtop-20">
	    				<img class="req-image" src="/static/images/causes/cause{{i}}.jpg" alt="">
						<div class="adm-request-text first">
							<strong>Help children to make a better life</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="{% url 'adminactivedonation' %}" class="btn btn-primary btn-red">View Details</a>
						</div>
		    		</div>	
		    		{% endfor %}
			    </div>
			    <div id="pastdonations" class="tab-pane fade mbtm">
			    	{% for i in '123' %}
			    	<div class="mtop-20">
	    				<img class="req-image" src="/static/images/causes/cause{{i}}.jpg" alt="">
						<div class="adm-request-text first">
							<strong>Help children to make a better life</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="{% url 'adminactivedonation' %}" class="btn btn-primary btn-red">View Details</a>
						</div>
		    		</div>	
		    		{% endfor %}
			    </div>
			</div>
		</div>
	<!-- requests  -->
		<div id="requests" class="tab-pane fade ">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#adm_intendreceive">Intend To Receive</a></li>
				<li ><a data-toggle="tab" href="#activerequests">Active Requests</a></li>
		    	<li><a data-toggle="tab" href="#pastrequests">Past Requests</a></li>
		    	<li><a data-toggle="tab" href="#returntocommunity">Return To Community</a></li>
		    </ul>
	    	<div class="tab-content">
				<div id="adm_intendreceive" class=" tab-pane fade in active">
					<div  class="panel-body ">
						<div class=" ">
					 		<div class="table-responsive row col-lg-12">
			                    <table class="table table-bordered table-hover table-striped">
			                    	<tr>
			                    		<th><b>Location</b></th>
			                    		<td>Mumbai</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Community</b></th>
			                    		<td>Jain</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Cause</b></th>
			                    		<td>Girl Child</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Sub-Cause</b></th>
			                    		<td>Education</td>
			                    	</tr>
			                    	<tr>
			                    		<th><b>Sub-Cause Category</b></th>
			                    		<td>Post- matric fees</td>
			                    	</tr>
			                    </table>
			                    <table class="table table-bordered table-hover table-striped">
									<tr>
										<th>Money</th>
										<td>30000<span>INR</span></td>
										<td colspan="4">Monthly</td>
									</tr>
									<tr>
										<th>Kind</th>
										<td>30</td>
										<td>clothes</td>
										<td>Used Clothes</td>
										<td>5 yr old</td>
										<td>Yearly</td>
									</tr>
									<tr>
										<th>Time</th>
										<td>5</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>15 yrs experience</td>
										<td>Monthly</td>
									</tr>
								</table>
			                </div>
			            </div>
				    </div>
			    </div>
			    <div id="activerequests" class="tab-pane fade mbtm">
			    	{% for i in '123' %}
			    	<div class="mtop-20">
	    				<img class="req-image" src="/static/images/causes/cause{{i}}.jpg" alt="">
						<div class="adm-request-text first">
							<strong>Help children to make a better life</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="{% url 'adminactiverequest' %}" class="btn btn-primary btn-red">View Details</a>
						</div>
		    		</div>	
		    		{% endfor %}
			    </div>
			    <div id="pastrequests" class="tab-pane fade mbtm">
			    	{% for i in '123' %}
			    	<div class="mtop-20">
	    				<img class="req-image" src="/static/images/causes/cause{{i}}.jpg" alt="">
						<div class="adm-request-text first">
							<strong>Help children to make a better life</strong>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<a href="{% url 'adminactiverequest' %}" class="btn btn-primary btn-red">View Details</a>
						</div>
		    		</div>	
		    		{% endfor %}
			    </div>
			    <div id="returntocommunity" class=" tab-pane fade">
					<div  class="panel-body ">
						<div class=" ">
					 		<!-- <div class="table-responsive row col-lg-12">
			                    <table class="table table-bordered table-hover table-striped">
			                    	<tr>
			                    		<th colspan="1"></th>
			                    		<th><b>Item</b></th>
			                    		<th><b>Unit</b></th>
			                    		<th><b>Frequency</b></th>
			                    	</tr>
			                    	<tr>
			                    		<th>Kind</th>
			                    		<td>Cloth</td>
			                    		<td>5</td>
			                    		<td>Once Monthly</td>
			                    	</tr>
			                    	<tr>
			                    		<th>Time</th>
			                    		<td>5 accountants</td>
			                    		<td>50 Hours</td>
			                    		<td>Once Yearly</td>
			                    	</tr>
			                    </table>
			                </div> -->
			                <div class="table-responsive row col-lg-12">
			                	<H4><b>RETURN TO COMMUNITY OBLIGATION</b></H4>
								<table class="table table-bordered table-hover table-striped mkt-th">
									<tr>
										<th>TIME</th>
										<td>30 Man/Hrs</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>5 yrs Experience</td>
										<td>Yearly</td>
									</tr>
								</table>
								<H4><b>RETURN TO COMMUNITY COMPLETED</b></H4>
								<table class="table table-bordered table-hover table-striped mkt-th">
									<tr>
										<th>TIME</th>
										<td>30 Man/Hrs</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>5 yrs Experience</td>
										<td>Yearly</td>
									</tr>
								</table>
			                </div>
			            </div>
				    </div>
			    </div>
			</div>	
		</div>
	<!-- projects -->
		<div id="projects-list" class="tab-pane fade ">
			<div class="container  prj-margin-align">
				<div class="row-fluid ">
					<div class="col-lg-12">
						<a href="{% url 'admincreateproject' %}" class="btn btn-more btn-red">New Project</a>
					</div>
					{% for i in '1231' %}
					<figure class="col-lg-4  mem-list {% if forloop.counter|divisibleby:2 %}even{% else %}first{% endif %} mtop-20 mbtm-20">
						<img src="/static/images/causes/cause{{i}}.jpg" style="height:219px;width:349px">
						<div class="project-bg" id="adm-project-list">
							<strong>Project title</strong>
							<p>About the project that is entered by creator during project creation.</p>
							<span class="col-lg-5 first"><b>PROJECT BY</b></span>
							<span class="col-lg-7 first">BEING HUMAN</span>
							<span class="col-lg-5 first"><b>CREATOR TYPE</b></span>
							<span class="col-lg-7 first">NGO</span>
							<a href="{% url 'adminprojectdetail' %}" class="btn btn-primary btn-orange mtop-20">View Details</a>
							<a href="" class="btn btn-primary btn-orange mtop-20 ">donate</a>
							<div class="mtop-20 progress ">
							    <div class="progress-bar progress-bar-success bar-height" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%">
							       <span class="sr-only">70% Complete</span>
							    </div>
							</div>
						</div>
					</figure>
					{% endfor %}
				</div>
			</div>							
		</div>
	</div>
	    <!-- requests -->
	
</div>

{% endblock main-content %}