{% extends "base-login.html" %}

{% block main-content %}
<div id="page-wrapper" style="overflow: hidden">
	<section id="donation_box">
		<section class="container">
			<section class="row-fluid">
				<div class="col-lg-12 first"><h2> Causes</h2> </div>
			</section>
		</section>
	</section>
	<section class="mbtm blog mtop-20 margin-align">
		<section class="row-fluid">
			{% for i in "123" %}
			<section class="col-lg-6 {% if forloop.counter|divisibleby:2 %}even{% else %}first{% endif %}">
				<figure class="blog_item">
					<figure id="category_image" class="span12 first  mbtm">
						<div class="gallery_img gallery_img-first">
							<img src="/static/images/causes/cause{{i}}.jpg" style="height:336px;" />
						</div>
					</figure>
					<div class=" span12 first">
						<div class="inner_lyr-admin">
							<div class="span12 post_description"> 
								<h3><a href="{% url 'cause-detail' %}">Help children to make a better life</a></h3>
								<h5><b>Cause : Charity</b></h5>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem. Cras sed mi at nibh porttitor pretium eu id ligula. Donec eleifend porta nisi, sit amet euismod arcu egestas non.  </p>
								<p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec a ligula sed nulla ornare vestibulum. Fusce vitae erat lorem, nec dictum turpis. Nulla eget faucibus felis. Quisque vitae sapien orci. Nunc justo dolor, rutrum nec consequat vitae, adipiscing vel est. Maecenas euismod ornare sagittis. Vestibulum nec ante in neque congue ullamcorper.</p>
								<div class="row-fluid">
									<div class="span4">
										<a href="{% url 'cause-detail' %}" class="btn-block read_more">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</figure>
			</section>
			{% endfor %}
			{% for i in "123" %}
			<section class="col-lg-6 {% if forloop.counter|divisibleby:2 %}first{% else %}even{% endif %}">
				<figure class="blog_item">
					<figure id="category_image" class="span12 first  mbtm">
						<div class="gallery_img gallery_img-first">
							<img src="/static/images/causes/cause{{i}}.jpg" style="height:336px;" />
						</div>
					</figure>
					<div class="span12 first">
						<div class="inner_lyr-admin">
							<div class="span12 post_description"> 
								<h3><a href="{% url 'cause-detail' %}">Help children to make a better life</a></h3>
								<h5>Cause : Charity</h5>
								<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem. Cras sed mi at nibh porttitor pretium eu id ligula. Donec eleifend porta nisi, sit amet euismod arcu egestas non.  </p>
								<p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec a ligula sed nulla ornare vestibulum. Fusce vitae erat lorem, nec dictum turpis. Nulla eget faucibus felis. Quisque vitae sapien orci. Nunc justo dolor, rutrum nec consequat vitae, adipiscing vel est. Maecenas euismod ornare sagittis. Vestibulum nec ante in neque congue ullamcorper.</p>
								<div class="row-fluid">
									<div class="span4">
										<a href="{% url 'cause-detail' %}" class="btn-block read_more">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</figure>
			</section>
			{% endfor %}
		</section>		
	</section>
</div>
{% endblock main-content %}