{% extends "base-login.html" %}
{% block main-content %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div> 
    <section class="counter-stats mbtm row">
		<div class="col-lg-3 col-md-6">
			<div class="counter-stats-box orange">
				<h1>1000</h1>
				<h4>Causes</h4>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="counter-stats-box">
				<h1>1000</h1>
				<h4>Donors</h4>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="counter-stats-box orange">
				<h1>1000</h1>
				<h4>Donees</h4>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="counter-stats-box">
				<h1>1000</h1>
				<h4>Amount donated</h4>
			</div>
		</div>
	</section>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Rate Of Donation
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions q
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Recent Donations
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i>Donation 1
                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> Donation 2
                            <span class="pull-right text-muted small"><em>12 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Donation 3
                            <span class="pull-right text-muted small"><em>27 minutes ago</em>
                            </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Donations</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            
            <!-- /.panel -->
           
            <!-- /.panel .chat-panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Recent Projects
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i>Project 1
                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> Project 2
                            <span class="pull-right text-muted small"><em>12 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Project 3
                            <span class="pull-right text-muted small"><em>27 minutes ago</em>
                            </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Projects</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            
            <!-- /.panel -->
           
            <!-- /.panel .chat-panel -->
        </div>
    </div>
    <div class="row">
    	<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Recent Applications Approved
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i>Application 1
                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> Application 2
                            <span class="pull-right text-muted small"><em>12 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Application 3
                            <span class="pull-right text-muted small"><em>27 minutes ago</em>
                            </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Applications</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
<!-- 
<section id="ngo_features" class="mbtm team">
	<section class="container-fluid container">
		<section class="span6 first">
			<h3 class="adjustpad"> <i class="icon-ok-circle"></i>  Recent Activity</h3>
			<div class="panel">
				<strong>Mr. Rohan Singhania</strong> Donated 3000 INR towards Hospital Bill Payment to<strong> Mrs. Nirmala Devi</strong>
			</div>
			<div class="panel">
				<strong>M/s Being Human</strong> Donated 300000 INR towards Children Welfare Fund<strong></strong>
			</div>
		</section>
	</section>
</section> -->