{% extends "base-login.html" %}

{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">
	<section class="container-fluid container rmpad">
		<section class="row-fluid">
			<ul id="admin-portfolio-item-filter" class="">
				<li><a data-toggle="modal" data-target="#addVideo" class="btn btn-default more-btn" type="submit">Add Videos</a></li>
				<li><a data-filter="*" href="#">All</a></li>
				<li><a data-filter=".Charity" href="#">Charity</a></li>
				<li><a data-filter=".Events" href="#">Events</a></li>
				<li><a data-filter=".Social" href="#">Social Causes</a></li>
			</ul>
			<ul class="gallery-page first">
				<li class=" view_new-admin view-tenth first adj-width">
					<figure class="span4" >
						<img class="galler-img" src="/static/images/gallery_img1.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_3.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Events span4 view_new-admin view-tenth adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img2.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_2.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Social span4 view_new-admin view-tenth adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img3.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_4.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Events span4 view_new-admin view-tenth first adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img4.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_5.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Charity span4 view_new-admin view-tenth adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img1.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_3.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Events span4 view_new-admin view-tenth adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img2.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_2.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Social span4 view_new-admin view-tenth first adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img3.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_4.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				<li class="gal_img Events span4 view_new-admin view-tenth adj-width">
					<figure >
						<img class="galler-img" src="/static/images/gallery_img4.jpg" alt="">
						<div class="mask">
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="images/t_slider_5.jpg" title="">&nbsp;</a>
						</div>
					</figure>
				</li>	
			</ul>
		</section>
	</section>
	<div class="modal fade" id="addVideo" role="dialog">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Add Video</h4>
	         </div>
	         <div class="modal-body">
	         	<div class="form-group">
	         		<input class="form-control" type="text" name="caption" placeholder="add caption">
	         	</div>
	         	<div>
	         		<a class="btn btn-default more-btn" type="submit">Upload Video</a>	
	         	</div>
	         </div>
	         <div class="modal-footer">
	         	<button type="button" class="btn btn-default more-btn">Submit</button>
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	         </div>
	      </div>
	   </div>
	</div>
</div>
{% endblock main-content %}

