{% extends "base.html" %}
{% block main-content %}
<section id="ngo_features" class="mbtm team">
	<section class="container-fluid container">
		<h3> <i class="icon-ok-circle"></i>  Manage User Profiles</h3>
		<section>
			<table class="table table-hover">
				<tr>
					<th>Name</th>
					<th>User Type</th>
					<th>Member Type</th>
					<th>Status</th>
				</tr>
				<tr class="clickable-row" data-href="{% url 'adminuserdetail' %}">
					<td>Shyam Rao</td>
					<td>Individual</td>
					<td>Donor</td>
					<td>Active</td>
				</tr>
				<tr class="clickable-row" data-href="{% url 'adminuserdetail' %}">
					<td>Being Human</td>
					<td>NGO</td>
					<td>Donor</td>
					<td>Active</td>
				</tr>
				<tr class="clickable-row" data-href="{% url 'adminuserdetail' %}">
					<td>Mahesh Singhania</td>
					<td>NGO</td>
					<td>Donor</td>
					<td>Active</td>
				</tr>
				<tr class="clickable-row" data-href="{% url 'adminuserdetail' %}">
					<td>Nirmala Devi</td>
					<td>Individual</td>
					<td>Donee</td>
					<td>Active</td>
				</tr>
			</table>
		</section>
	</section>
</section>
{% endblock main-content %}