{% extends 'base-login.html' %}
{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">
	<div class="container container-fluid">
	<!-- user type  -->
		<div class="row-fluid mtop">
			<span class="lrg-text">User Type</span>
			<div class="col-sm-12">
				<label class="radio-inline">
			      <input id="adm-corporate" type="radio" name="adm-usertype">Corporate Company
			    </label>
			    <label class="radio-inline">
			      <input id="adm-ngo" type="radio" name="adm-usertype">Registered NGO
			    </label>
			    <label class="radio-inline">
			      <input id="adm-others" type="radio" name="adm-usertype">Others
			    </label>
			</div>
		</div>
		<!-- basic company-->
		<div class="row-fluid mtop adminhidecompany company">
			<span class="lrg-text">Basic Information</span>
			<div class="col-sm-12">
				<div class="form-group col-sm-3">
				    <label for="email">Company Name</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Registration Number:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Company Email-id:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="email">Company Contact Number</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Company Website:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Company Address:</label>
				    <textarea rows="2" cols="29" placeholder="Company Address"></textarea>
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="email">Password</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Confirm Password:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			</div>
		</div>
		<!-- basic NGO and individual -->
		<div class="row-fluid mtop adminhidengo ngo">
			<span class="lrg-text">Basic Information</span>
			<div class="col-sm-12">
				<div class="form-group col-sm-3">
				    <label for="email">First Name</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Last Name:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Email-id:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="email">Mobile Number</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Password:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Confirm Password:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="email">Causes Interested</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Location:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			</div>
		</div>
		<!-- basic others  -->
		<div class="row-fluid mtop adminhideothers others">
			<span class="lrg-text">Basic Information</span>
			<div class="col-sm-12">
				<div class="form-group col-sm-3">
				    <label for="email">First Name</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Last Name:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Email-id:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="email">Mobile Number</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Password:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Confirm Password:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="email">Causes Interested</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Location:</label>
				    <input type="password" class="form-control" id="pwd">
			    </div>
			</div>
		</div>
		<!-- company details	 -->
		<div class="row-fluid mtop adminhidecompany company">
			<span class="lrg-text">Company Details</span>
			<div class="col-sm-12">
				<div class="form-group col-sm-3">
				    <label for="email">Contact Person Name</label>
				    <input type="text" class="form-control" id="email">
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Contact Person Mobile Number:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Contact Person Email-id:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3">
				    <label for="email">Objectives:</label>
				    <div class="controls">
						<div class="adm-prf-select">
						  <select class="" >
						    <option>option 1
							</option>
						    <option>Option 2
							</option>
							<option>Option 3
							</option>
						  </select>
						</div>
	                </div>
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Focus Area:</label>
				    <div class="controls">
						<div class="adm-prf-select">
						  <select class="" >
						    <option>option 1
							</option>
						    <option>Option 2
							</option>
							<option>Option 3
							</option>
						  </select>
						</div>
	                </div>
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-12">
				    <label for="csr">Undertaking CSR u/s 135 of companies act : </label>
				    <label class="radio-inline">
			        <input id="csr-yes" type="radio" name="csr-135">yes
			        </label>
			        <label class="radio-inline">
			        <input id="csr-no" type="radio" name="csr-135">no
			        </label>
			  	</div>
			    <div class="form-group col-sm-3">
				    <label for="pwd">CSR Applicability Details:</label>
				    <div class="controls">
						<div class="adm-prf-select">
						  <select class="" >
						    <option>Annual T/O 1000 Cr or more
							</option>
						    <option>Net Worth 500 Cr or More
							</option>
							<option>Net profit 0f 5 Cr or More</option>
						  </select>
						</div>
	                </div>
	            </div>    
                <div class="col-sm-3">
			    	<label for="csr">CSR Fund Availability:</label>
			    	<input type="text" class="form-control" id="csr-fund">
		    	</div>
		    </div>
		    <div class="col-sm-12">
		    	<div class="form-group col-sm-12 ">
				    <label for="csr">Undertaking Non-CSR Activity:</label>
				    <label class="radio-inline">
			        <input id="noncsr-yes" type="radio" name="noncsr">yes
			        </label>
			        <label class="radio-inline">
			        <input id="noncsr-no" type="radio" name="noncsr">no
			        </label>
		    	</div>	
		    </div>
		    <div class="form-group col-sm-12">
		    	<div class="col-sm-3">
			    	<label for="csr">Non-CSR Fund Availability:</label>
			    	<input type="text" class="form-control" id="csr-fund">
		    	</div>
		    </div>
		</div>
		<!-- NGO organization details		 -->
		<div class="row-fluid mtop adminhidengo ngo">
			<span class="lrg-text">Organization Details</span>
			<div class="col-sm-12">
				<div class="form-group col-sm-3">
				    <label for="email">NGO Registration Act:</label>
				    <div class="controls">
						<div class="adm-prf-select">
						  <select class="" >
						    <option>Society under Socities Registration Act.
							</option>
						    <option>Companies Registered under section 8/25 of Companies act
							</option>
							<option>Trust Registered Under Public Trust Act.
							</option>
						  </select>
						</div>
	                </div>
			  	</div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Date of Establishment:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3">
				    <label for="email">Purpose:</label>
				    <div class="controls">
						<div class="adm-prf-select">
						  <select class="" >
						    <option>100% Charitable Purpose
							</option>
						    <option>100% religious Purpose
							</option>
							<option>Partly charitable and Partly Religious(Of National Importance)
							</option>
							<option>Partly Charitable and Partly Religious (Others)</option>
						  </select>
						</div>
	                </div>
			  	</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="pwd">Contact Person Name:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Contact Person Email-id:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="pwd">Contact Person Contact Number:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-3 ">
				    <label for="pwd">Contact Person Address:</label>
				    <input type="text" class="form-control" id="pwd">
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="csr">Benefit Donor under section : </label>
				    <label class="radio-inline">
			        <input id="csr-yes" type="radio" name="csr-135">80 G
			        </label>
			        <label class="radio-inline">
			        <input id="csr-no" type="radio" name="csr-135">80 	GGA
			        </label>
			    </div>
			    <div class="form-group col-sm-3 ">
				    <label for="csr">Rate Of Deduction:</label>
				    <label class="radio-inline">
			        <input id="csr-yes" type="radio" name="csr-135">50 %
			        </label>
			        <label class="radio-inline">
			        <input id="csr-no" type="radio" name="csr-135">100 %
			        </label>
			    </div>
			</div>
			<div class="col-sm-12">
				<div class="form-group col-sm-12">
				    <label for="csr">Formed for Religious reason : </label>
				    <label class="radio-inline">
			        <input id="csr-yes" type="radio" name="csr-135">yes
			        </label>
			        <label class="radio-inline">
			        <input id="csr-no" type="radio" name="csr-135">no
			        </label>
			  	</div>
                <div class="col-sm-3">
			    	<label for="csr">If yes,Describe:</label>
			    	<input type="text" class="form-control" id="csr-fund">
		    	</div>
		    </div>
		</div>
		<!-- NGO Statutory info -->
		<div class="row-fluid mtop adminhidengo ngo">
			<span class="lrg-text">Add Statutory Details</span>
			<div class="col-sm-11 adm-statutory">
				<table class="table rmtabborder">
					<tr>
						<th>Financial Date</th>
						<th>Year 1</th>
						<th>Year 2</th>
						<th>Year 3</th>
					</tr>
					<tr>
						<td rowspan="2">
							<div class="form-group">
								<input name="financialdate" type="text" placeholder="enter financial date">
							</div>
						</td>
						<td class="adm-statutory-form"><input name="year1" type="text" placeholder="enter Year 1"></td>
						<td><input name="year2" type="text" placeholder="enter Year 2"></td>
						<td><input name="year3" type="text" placeholder="enter Year 3"></td>
					</tr>
					<tr>
						<td>[Rs in Lakhs]</td>
						<td>[Rs in Lakhs]</td>
						<td>[Rs in Lakhs]</td>
					</tr>
					<tr>
						<th>Donations From Govt./Semi-Govt</th>
						<td>
							<input  type="text" placeholder="govt/semi-govt">
						</td>
						<td>
							<input type="text" placeholder="govt/semi-govt">
						</td>
						<td>
							<input type="text" placeholder="govt/semi-govt">
						</td>
					</tr>
					<tr>
						<th>Donations From Indian</th>
						<td>
							<input  type="text" placeholder="enter donations">
						</td>
						<td>
							<input type="text" placeholder="enter donations">
						</td>
						<td>
							<input type="text" placeholder="enter donations">
						</td>
					</tr>
					<tr>
						<th>Donations From Foriegn</th>
						<td>
							<input name="income1" type="text" placeholder="enter donations">
						</td>
						<td>
							<input name="income2" type="text" placeholder="enter donations">
						</td>
						<td>
							<input name="income3" type="text" placeholder="enter donations">
						</td>
					</tr>
					<tr>
						<th>Donations From KH</th>
						<td>
							<input name="income1" type="text" placeholder="enter donations">
						</td>
						<td>
							<input name="income2" type="text" placeholder="enter donations">
						</td>
						<td>
							<input name="income3" type="text" placeholder="enter donations">
						</td>
					</tr>
					<tr>
						<th>Income From Assets/Investments</th>
						<td>
							<input name="income1" type="text" placeholder="enter income">
						</td>
						<td>
							<input name="income2" type="text" placeholder="enter income">
						</td>
						<td>
							<input name="income3" type="text" placeholder="enter income">
						</td>
					</tr>
					<tr>
						<th>Other Income</th>
						<td>
							<input name="income1" type="text" placeholder="enter income">
						</td>
						<td>
							<input name="income2" type="text" placeholder="enter income">
						</td>
						<td>
							<input name="income3" type="text" placeholder="enter income">
						</td>
					</tr>
					<tr>
						<th>Gross Income</th>
						<td>
							<input name="income1" type="text" placeholder="enter income">
						</td>
						<td>
							<input name="income2" type="text" placeholder="enter income">
						</td>
						<td>
							<input name="income3" type="text" placeholder="enter income">
						</td>
					</tr>
					<tr>
						<th>Expense On Objectives</th>
						<td>
							<input name="income1" type="text" placeholder="expense on objective">
						</td>
						<td>
							<input name="income2" type="text" placeholder="expense on objective">
						</td>
						<td>
							<input name="income3" type="text" placeholder="expense on objective">
						</td>
					</tr>
					<tr>
						<th>Expense On Administrative Activity</th>
						<td>
							<input name="income1" type="text" placeholder="expense on administration">
						</td>
						<td>
							<input name="income2" type="text" placeholder="expense on administration">
						</td>
						<td>
							<input name="income3" type="text" placeholder="expense on administration">
						</td>
					</tr>
					<tr>
						<th>Total Expense</th>
						<td>
							<input name="expense1" type="text" placeholder="Total expense">
						</td>
						<td>
							<input name="income2" type="text" placeholder="Total expense">
						</td>
						<td>
							<input name="income3" type="text" placeholder="Total expense">
						</td>
					</tr>
					<tr>
						<th>Net Surplus/Deficit</th>
						<td>
							<input name="income1" type="text" placeholder="enter amount">
						</td>
						<td>
							<input name="income2" type="text" placeholder="enter amount">
						</td>
						<td>
							<input name="income3" type="text" placeholder="enter amount">
						</td>
					</tr>
				</table>	
			</div>
		</div>
		<!-- NGO Add Projects -->
		<div class="row-fluid mtop adminhidengo ngo">
			<div class="col-sm-12">
				<span class="lrg-text">Add Project Details</span>
			</div>
			<div class="col-sm-11 adm-statutory">
				<table class="table rmtabborder">
					<tr>
						<th>Financial Year</th>
						<td>
							<input name="financialyear" type="text" placeholder="enter financial year">
						</td>
						<td>
							<input name="financialyear" type="text" placeholder="enter financial year">
						</td>
						<td>
							<input name="fincancialyear" type="text" placeholder="enter financial year">
						</td>
					</tr>
					<tr>
						<th>Spent/Given</th>
						<td>
							<input name="amount" type="text" placeholder="enter amount">
						</td>
						<td>
							<input name="amount" type="text" placeholder="enter kind">
						</td>
						<td>
							<input name="Time" type="text" placeholder="enter amount">
						</td>
					</tr>
					<tr>
						<th>Money</th>
						<td>
							<input name="amount" type="text" placeholder="enter amount">
						</td>
						<td>
							<input name="amount" type="text" placeholder="enter kind">
						</td>
						<td>
							<input name="Time" type="text" placeholder="enter amount">
						</td>
					</tr>
					<tr>
						<th>In Kind</th>
						<td>
							<input name="amount" type="text" placeholder="enter amount">
						</td>
						<td>
							<input name="amount" type="text" placeholder="enter kind">
						</td>
						<td>
							<input name="Time" type="text" placeholder="enter amount">
						</td>
					</tr>
					<tr>
						<th>Time</th>
						<td>
							<input name="amount" type="text" placeholder="enter amount">
						</td>
						<td>
							<input name="amount" type="text" placeholder="enter kind">
						</td>
						<td>
							<input name="Time" type="text" placeholder="enter amount">
						</td>
					</tr>
					<tr>
						<th>Direct Beneficiaries</th>
						<td>
							<input name="amount" type="text" placeholder="enter Beneficiaries">
						</td>
						<td>
							<input name="amount" type="text" placeholder="enter Beneficiaries">
						</td>
						<td>
							<input name="Time" type="text" placeholder="enter Beneficiaries">
						</td>
					</tr>
					<tr>
						<th>InDirect Beneficiaries</th>
						<td>
							<input name="amount" type="text" placeholder="enter Beneficiaries">
						</td>
						<td>
							<input name="amount" type="text" placeholder="enter Beneficiaries">
						</td>
						<td>
							<input name="Time" type="text" placeholder="enter Beneficiaries">
						</td>
					</tr>
				</table>	
			</div>
		</div>
	</div>
</div>  <!-- end page-wrapper -->
{% endblock main-content %}