{% extends 'base.html' %}
{% block main-content %}
<section class="whitebg mbtm">
	<section class="container"> 
		<h2>Our Advisors</h2>
		<section class="row-fluid">
			{% for i in '1234' %}
				<figure class="team_member span3 {% if forloop.counter == 1%}first{% endif %}">
					<div class="member_img">
						<img src="/static/images/exective{{i}}.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h4>Firstname Lastname</h4>
						<span class="">Founder of company{{i}}.pvt.ltd</span>
					</div>
				</figure>
			{% endfor %}
		</section>
	</section>
</section>
{% endblock main-content %}