{% extends "base.html" %}
{% block main-content %}
	<section class="mtop">
		<section class="container">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span12 first"> <h2> All Entities in Community</h2> </div>
						</section>
					</section>
				</section>		
			</section>
		</section>
	</section>
	<div class="container mbtm-20">
	    <label class="radio-inline">
        <input value="contributors"  type="radio" name="entity" checked><b>CONTRIBUTORS</b>
        </label>
        <label class="radio-inline">
        <input value="recipients"  type="radio" name="entity"><b>RECIEPIENT</b>
        </label>
        <label class="radio-inline">
        <input value="projects" type="radio" name="entity"><b>PROJECTS</b>
        </label>
  	</div>
	<section class="container container-fluid mbtm team">
		<section class="row-fluid communitycontributors"> 
			<h4>Contributors</h4>
			<div class="span12 mbtm-20 first">
				<a href="">See all Contributors</a>	
			</div>
			{% for contributor in contributors %}
				<figure class="team_member span3 {% if forloop.counter0|divisibleby:4 %}first{% else %}odd{% endif %} mbtm">
					<div class="member_img">
						<img src="/static/images/exective{{forloop.counter}}.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h5>Name : {{contributor.contributed_by.name}}</h5>
						<span class="mem_desig">Profession : {{contributor.contributed_by.profession}} </span>
						<figure class="n_social"> 
							<a href="#"> <i class="icon-facebook"></i> </a> 
							<a href="#"> <i class="icon-twitter"></i> </a> 
							<a href="#"> <i class="icon-google-plus"></i> </a> 
						</figure>
					</div>
				</figure>
			{% endfor %}
		</section>
		<section class="row-fluid communityreceipients">
			<h4>Receipients</h4>
			<div class="span12 mbtm-20 first">
				<a href="">See all Receipients</a>	
			</div>
			{% for requestor in receipients %}
				<figure class="team_member span3 {% if forloop.counter0|divisibleby:4 %}first{% else %}odd{% endif %} mbtm">
					<div class="member_img">
						<img src="/static/images/exective{{forloop.counter}}.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h5>Name : {{requestor.user.name}}</h5>
						<span class="mem_desig">Profession : {{requestor.user.profession}} </span>
						<figure class="n_social"> 
							<a href="#"> <i class="icon-facebook"></i> </a> 
							<a href="#"> <i class="icon-twitter"></i> </a> 
							<a href="#"> <i class="icon-google-plus"></i> </a> 
						</figure>
					</div>
				</figure>
			{% endfor %}
		</section>
		<section class="container container-fluid  mbtm  row-fluid communityprojects">
			<h4>Projects</h4>
			<div class="span12 mbtm-20 first">
				<a href="{% url 'allproject' %}">See all live projects</a>	
			</div>
			{% for project in projects %}
			<figure class="span4 feature first mem-list ">
				<img src="/static/images/causes/cause{{forloop.counter}}.jpg" alt="" class="img-responsive" style="height:219px;">
				<div class="project-bg">
					<strong>Project title  :  {{project.title}} {{project.instance.custom_money}}</strong>
					<p class="request_comment">{{project.short_desc}}</p>
					<span class="span5 first"><b>PROJECT BY</b></span>
					<span class="span7 first">{{project.user_id.username}}</span>
					<span class="span5 first"><b>CREATOR TYPE</b></span>
					<span class="span7 first">{{project.user_id.user_type}}</span>
					<a href="{% url 'projectdetail' project.id %}" class="btn btn-primary btn-orange">View Details</a>
					<a href="" class="btn btn-primary btn-orange">donate</a>
					<div class="mtop-20 progress progress-success bar-height">
					  	<div class="bar" style="width: 60%;">
					  	</div>
					</div>	
				</div>
			</figure>
			{% endfor %}
		</section>
	</section>
{% endblock main-content %}