<!DOCTYPE html>
<html lang="" class="no-js">
	<head>
		<title>Kind Hearted</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="viewport" content="width=device-width">
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" /><!-- All css -->
		<link href="/static/css/font-awesome1.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
		<link href="/static/css/bootstrap-social.css" rel="stylesheet" type="text/css" />
		<noscript>
			<link rel="stylesheet" type="text/css" href="/static/css/nj.css" />
		</noscript>
		<link rel="stylesheet" id="skins" href="/static/css/default.css" type="text/css" media="all">
			<!-- skins -->
		<link rel="stylesheet" id="skins" href="/static/css/skins/red.css" type="text/css" media="all">
		<link rel="stylesheet" type="text/css" href="/static/css/datepicker.css">
	</head>

<body>
<div class="wrapper">
	<header>
		<section class="logo_container">
			<section class="container-fluid container">
				<section class="row-fluid">
					<section class="span4">
						<h1 id="logo">
							<a href="{% url 'index' %}">
								<img src="/static/images/red/logo.png" alt="Be Human" />
							</a>
						</h1>
					</section>
					
				</section>
			</section>
	  	</section>
		<!-- Main Nav Bar -->
		<nav id="nav">
			<section class="container-fluid container">
				<section class="row-fluid">
				  	<div class="navbar navbar-inverse">
						<div class="navbar-inner">
					  		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					  		<div class="nav-collapse collapse">
								<ul class="nav menuzord-menu">
									<li class="active_menuitem"><a href="{% url 'index' %}">Home</a></li>
									<li class="dropdown active_menuitem"> <a class="dropdown-toggle" href="#">Community<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{% url 'causes' %}">Causes</a></li>
											<li><a href="{% url 'all' %}">All Entities</a></li>
											<li><a href="{% url 'legal' %}"> Legal Advisory</a></li> 
										</ul>
						  			</li>
						  			<li class="active_menuitem"><a href="{% url 'howitworks' %}">How it works</a></li>
					  				<li class="dropdown active_menuitem"><a class="dropdown-toggle" href="#">Gallery<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{% url 'photos' %}">Photos</a></li>
											<li><a href="{% url 'videos' %}">Videos</a></li>
										</ul>
						  			</li>
                                    <li class="active_menuitem"> <a class="" href="{% url 'bloglist'%}" > Blogs</a></li>
                                    <li class="dropdown active_menuitem"><a class="dropdown-toggle" href="#"> About Us<b class="caret"></b></a>
                                    	<ul class="dropdown-menu">
                                            <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                                            <li><a href="{% url 'frequentquestions' %}">FAQ</a></li>
                                            <li><a href="{% url 'advisors' %}">Our Advisors</a></li>
                                        </ul>
                                    </li>
								</ul>
					  		</div>
					  		<!--/.nav-collapse -->
						</div>
						<!-- /.navbar-inner -->
				  	</div>
				  	<div class="nav_search pull-right">
                        <form method="post" action="">
                            <a href="{% url 'login' %}"><b>LOGIN</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'registration' %}"><b>SIGN UP</b></a>&nbsp;&nbsp;
                            <input type="text" placeholder="Search Here..." name="s" id="s"  disabled/>
                            <button type="button" onclick="window.location.href='/admindashboard/'"><i class="icon-search"></i> </button>
                        </form>
                    </div>
				  	<!-- /.navbar -->
				</section>
			</section>
		</nav>
		<!-- End Main Nav Bar -->
	</header>

	{% block main-content %}{% endblock main-content %}

	<!-- Start of Footer -->
	<footer id="footer" class="mtp">
		<section class="footer_3">
			<section class="container-fluid container">
				<section class="row-fluid">
					<div class="span4">
						<figure class="span12 footer_left">
							<p> Copyright © 2017 - KindHearted by <a href="#">www.kindhearted.com</a></p>
						</figure>
					</div>
					<div class="span6">
						<ul class="inline">
							<li class="dropup">
								<a class="dropdown-toggle link_icon" data-toggle="dropdown">About Us</a>
								<ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu">
									<li><a href="{% url 'contactus' %}">Contact Us</a></li>
	                                <li><a href="{% url 'frequentquestions' %}">FAQ</a></li>
	                                <li><a href="{% url 'advisors' %}">Our Advisors</a></li>
								</ul>
							</li>
							<li><a  href="{% url 'bloglist' %}">Blogs</a></li>
							<li><a href="{% url 'howitworks' %}">How it Works</a></li>
							<li class="dropup">
								<a class="dropdown-toggle link_icon" data-toggle="dropdown">Community</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li><a href="{% url 'causes' %}">Causes</a></li>
									<li><a href="{% url 'all' %}">All Entities</a></li>
									<li><a href="{% url 'legal' %}"> Legal Advisory</a></li> 
								</ul>
							</li>
						</ul>

					</div>
				</section>
			</section>
		</section>
		
	</footer>
	<!-- End of Footer -->
</div><!--end of wrapper -->

<!-- JS Files Start -->
<script type="text/javascript" src="/static/js/lib-1-9-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="/static/js/lib-1-7-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="/static/js/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="/static/js/easing.js"></script><!-- Easing js -->
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="/static/js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="/static/js/fitvids.js"></script><!-- fIt Video -->
<script type="text/javascript" src="/static/js/smooth-scroll.js"></script><!-- smooth Scroll -->
<script type="text/javascript" src="/static/js/prettyPhoto.js"></script><!-- Pretty Photo -->
<script type="text/javascript" src="/static/js/social.js"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="/static/js/countdown.js"></script><!-- Event Counter -->
<script type="text/javascript" src="/static/js/lazyload.js"></script>
<script type="text/javascript" src="/static/js/vertical-timeline.min.js"></script>

<script type="text/javascript" src="/static/js/bootstrap-tokenfield.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="http://parsleyjs.org/dist/parsley.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/parsley.min.js"></script> -->
<script type="text/javascript" src="/static/js/parsley.min.js"></script>
<script type="text/javascript" src="/static/js/waypoint.js"></script>
<script type="text/javascript" src="/static/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script><!-- Custom / Functions -->

</body>
</html>