<!DOCTYPE html>
<html lang="" class="no-js">
	<head>
		<title>Kind Hearted</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="viewport" content="width=device-width">
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" /><!-- All css -->
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<!-- <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" /> -->
		<link href="/static/css/font-awesome1.css" rel="stylesheet" type="text/css" />
		<!-- <link href="/static/css/font-awesome-ie7.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="/static/css/timeline.css" rel="stylesheet" type="text/css" /> -->
		<link href="/static/css/vertical-timeline.css" rel="stylesheet" type="text/css" />

		<link href="/static/css/expandable_slider_style.css" rel="stylesheet" type="text/css" />
		<!-- <link href="/static/css/reset.css" rel="stylesheet" type="text/css" /> -->
		
		<noscript>
			<link rel="stylesheet" type="text/css" href="/static/css/nj.css" />
		</noscript>
		<link rel="stylesheet" id="skins" href="/static/css/default.css" type="text/css" media="all">
			<!-- skins -->
		<link rel="stylesheet" id="skins" href="/static/css/skins/red.css" type="text/css" media="all">
		<link rel="stylesheet" type="text/css" href="/static/css/datepicker.css">
		
		<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
	</head>

<body>
<div class="wrapper">
	<header>
		<section class="logo_container">
			<section class="container-fluid container">
				<section class="row-fluid">
					<section class="span4">
						<h1 id="logo">
							<a href="{% url 'memberdashboard' %}">
								<img src="/static/images/red/logo.png" alt="Be Human" />
							</a>
						</h1>
					</section>	
				</section>
			</section>
	  	</section>
		<!-- Main Nav Bar -->
		<nav id="nav">
			<section class="container-fluid container ">
				<section class="row-fluid" >
				  	<div class="navbar navbar-inverse" >
						<div class="navbar-inner">
					  		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					  		<div class="nav-collapse collapse">
								<ul class="nav menuzord-menu">
									<li class="dropdown active_menuitem"> <a class="dropdown-toggle" href="{% url 'memberdashboard' %}">Dashboard</a>
						  			</li>
						  			<li class="dropdown active_menuitem"> <a class="dropdown-toggle" href="#">Donate<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="{% url 'donatereg' %}">Make Donations</a></li>
											<li class=""><a href="{% url 'mydonations' %}">My Donations</a></li>
										</ul>
						  			</li>
						  			<li class="dropdown active_menuitem"> <a class="dropdown-toggle" href="#">Receive<b class="caret">
						  			</b></a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu"><a class="dropdown-toggle" href="#" >Make Request</a>
												<ul class="dropdown-menu">
													<li><a href="{% url 'startproject' %}">Create Project</a></li>
													<li><a href="{% url 'makerequest' %}">Create General Request</a></li>
												</ul>
											</li>
											<li class=""><a href="{% url 'myrequests' %}">My Requests</a></li>
										</ul>	
						  			</li>	
						  			<li class="dropdown active_menuitem"><a class="dropdown-toggle" href="{% url 'gangs' %}">Gang<b></b></a></li>
						  			<li class="dropdown active_menuitem"><a class="dropdown-toggle" href="#">Gallery<b class="caret"></b></a>
						  				<ul class="dropdown-menu">
						  					<li><a href="{% url 'memberphotos' %}">Photos</a></li>
						  					<li><a href="{% url 'membervideos' %}">Videos</a></li>
						  				</ul>
						  			</li>
						  			<li class="dropdown active_menuitem"><a class="dropdown-toggle" href="#">Blogs<b class="caret"></b></a>
						  				<ul class="dropdown-menu">
						  					<li><a href="{% url 'memberownblogs' %}">My Blogs</a></li>
						  					<li><a href="{% url 'memberbloglist'   %}">All Blogs</a></li>
						  				</ul>	
						  			</li>
						  			<li class="active_menuitem"><a class="dropdown-toggle" href="#">Comments</a></li>
								</ul>
					  		</div>
					  		<!--/.nav-collapse -->
						</div>
						<!-- /.navbar-inner -->
				  	</div>
				  	<div class="pull-right">
				  	<div class="navbar navbar-inverse" >
				  		<div class="navbar-inner">
						  	<div class="nav-collapse collapse  navloguser">
					  			<ul class="nav nav-collapse collapse">
							  		<li class="dropdown active_menuitem">
							  		<a class="dropdown-toggle" >Hi , {{user.name}}
							  		<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li class=""><a href="{% url 'viewprofile' user.id %}">View Profile</a></li>
											<li class=""><a href="#">Notifications</a></li>
											<li class=""><a href="{% url 'changepassword' %}">Change Password</a></li>
											<li class=""><a href="{% url 'logout' %}">Sign Out</a></li>
										</ul>
			                  		</li>
			                  	</ul>
					  		</div>
			  			</div>
			  		</div>
			  		</div>
				  	<!-- <div class="collapse nav-collapse pull-right navlogusr">
					  	<ul class="nav nav-collapse collapse">
					  		<li class="dropdown active_menuitem">
					  		<a class="dropdown-toggle" >Hi , {{user.name}}
					  		<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class=""><a href="{% url 'viewprofile' user.id %}">View Profile</a></li>
									<li class=""><a href="#">Notifications</a></li>
									<li class=""><a href="{% url 'changepassword' %}">Change Password</a></li>
									<li class=""><a href="{% url 'logout' %}">Sign Out</a></li>
								</ul>
	                  		</li>
	                  	</ul>	
                    </div> -->
				  	<!-- /.navbar -->
				</section>
			</section>
		</nav>
		<!-- End Main Nav Bar -->
	</header>

	{% block main-content %}{% endblock main-content %}

	<!-- Start of Footer -->
	<footer id="footer" class="mtp">
		<section class="footer_3">
			<section class="container-fluid container">
				<section class="row-fluid">
					<div class="span4">
						<figure class="span12 footer_left">
							<p> Copyright © 2017 - KindHearted by <a href="#">www.kindhearted.com</a></p>
						</figure>
					</div>
					<div class="span6">
						<ul class="inline">
							<li><a href="{% url 'memberdashboard' %}">Dashboard</a></li>
							<li class="dropup">
								<a class="dropdown-toggle link_icon" data-toggle="dropdown">Donate</a>

								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li><a href="{% url 'donatereg' %}">Make Donations</a></li>
	                                <li><a href="{% url 'mydonations' %}">My Donations</a></li>
								</ul>
							</li>
							<li class="dropup">
								<a class="dropdown-toggle link_icon" data-toggle="dropdown">Receive</a>

								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li class="dropdown-submenu"><a>Make Request</a>
										<ul class="dropdown-menu">
											<li><a href="{% url 'startproject' %}">Create Project</a></li>
											<li><a href="{% url 'makerequest' %}">Create General Request</a></li>
										</ul>
									</li>
									<li class=""><a href="{% url 'myrequests' %}">My Requests</a></li>
								</ul>	
				  			</li>
				  			<li><a href="{% url 'ganglist' %}">Gangs</a></li>
				  			<li class="dropup">
								<a class="dropdown-toggle link_icon" data-toggle="dropdown">Gallery</a>
								<ul class="dropdown-menu">
				  					<li><a href="{% url 'memberphotos' %}">Photos</a></li>
				  					<li><a href="{% url 'membervideos' %}">Videos</a></li>
				  				</ul>
				  			</li>
							<li class="dropup">
								<a class="dropdown-toggle link_icon" data-toggle="dropdown">Blogs</a>
								<ul class="dropdown-menu">
				  					<li><a href="{% url 'memberownblogs' %}">My Blogs</a></li>
				  					<li><a href="{% url 'memberbloglist'   %}">All Blogs</a></li>
				  				</ul>
							</li>
							<li><a href="#">Comments</a></li>
							
						</ul>

					</div>
				</section>
			</section>
		</section>
		
	</footer>

	<!-- End of Footer -->
</div><!--end of wrapper -->

<!-- JS Files Start -->

<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script> -->



<script type="text/javascript" src="/static/js/lib-1-9-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="/static/js/lib-1-7-1.js"></script><!-- lib Js -->
<script type="text/javascript" src="/static/js/modernizr.js"></script><!-- Modernizr -->
<!-- <script type="text/javascript" src="/static/js/easing.js"></script> --><!-- Easing js -->
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/bxslider.js"></script><!-- BX Slider -->
<script type="text/javascript" src="/static/js/fitvids.js"></script><!-- fIt Video -->
<script type="text/javascript" src="/static/js/smooth-scroll.js"></script><!-- smooth Scroll -->
<script type="text/javascript" src="/static/js/prettyPhoto.js"></script><!-- Pretty Photo -->
<script type="text/javascript" src="/static/js/social.js"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="/static/js/countdown.js"></script><!-- Event Counter -->

<!-- <script type="text/javascript" src="/static/js/timeline.js"></script> -->
<script type="text/javascript" src="/static/js/vertical-timeline.min.js"></script>
<script type="text/javascript" src="/static/js/lazyload.js"></script>
<!-- <script type="text/javascript" src="/static/js/typeahead.js"></script> -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-tokenfield.js"></script>
<!-- <script type="text/javascript" src="https://bitbucket.org/fafadiatech/xpertconnect/raw/603eb7fd0ea613123a0bc5a34a9becbf250dbf00/xpertconnect/static/js/bootstrap-tokenfield.js"></script> -->
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
<!-- <script type="text/javascript" src="/static/js/parsley.min.js"></script> -->
<!-- <script type="text/javascript" src="http://parsleyjs.org/dist/parsley.min.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/parsley.min.js"></script> -->
<script type="text/javascript" src="http://parsleyjs.org/dist/parsley.min.js"></script>
<script type="text/javascript" src="/static/js/parsley.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/parsley.min.js"></script> -->
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/custom.js"></script><!-- Custom / Functions -->



</body>
</html>