{% extends "base.html" %}
{% block main-content %}
<section id="blog_features" class="greybg">
	<section class="container mbtm">
		<div class="mtop-20 mbtm">
			<div class="mem-blog-head for-inline">
				 <span class="text-font"> Latest Blogs </span>
			</div>
		</div>
		<section class="row-fluid">
			{% for blog in all_blogs %}
			<figure class="mbtm-20 team_member span4 {% cycle 'first' '' '' %}">
			<a href="{% url 'memberblogs' blog.id %}">
				<div class="member_img">
					<img src="/media/{{blog.blog_image}}" alt="Team Member" class="img-responsive" style="height:219px;" />
				</div>
				<div class="team_member_description bloglist">
					<h4>{{blog.blog_title}}</h4>
					<p class="blog_cont_hgt">{{blog.blog_content}}</p>
					<a href="" data-toggle="tab">Comments</a>
				</div>
			</a>
			</figure>
			{% endfor %}
		</section>
	</section>
</section>
{% endblock main-content %}