{% extends "base.html" %}
{% block main-content %}
	<section class="mtop">
		<section class="container-fluid container">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span12 first"><h2> Causes</h2> </div>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>
	<section id="content" class="container container-fluid mbtm blog">
		<section class="row-fluid">
			{% for cause in object_list %}
			<section class="span6 {% if forloop.counter|divisibleby:2 %}even{% else %}first{% endif %}">
				<figure class="blog_item">
					<figure id="category_image" class="span12 first outer_lyr mbtm">
						<div class="gallery_img gallery_img-first">
							<img src="/static/images/causes/cause{{forloop.counter}}.jpg" style="height:336px;" />
						</div>
					</figure>
					<div class="outer_lyr span12 first">
						<div class="inner_lyr">
							<div class="span12 post_description"> 
								<h3 class="cause-wrap-text cause-title-hgt"><a href="{% url 'cause-detail' cause.id %}">{{cause.name}}</a></h3>
								<p class="cause-wrap-text cause-hgt">{{cause.description}}</p>
								<div class="row-fluid">
									<div class="span4">
										<a href="{% url 'cause-detail' cause.id %}" class="btn-block read_more">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</figure>
			</section>
			{% endfor %}
		</section>		
	</section>
{% endblock main-content %}