{% extends "base.html" %}
{% block main-content %}
<section class="mtop" id="donation_box">
    <section class="container">
        <section class="row-fluid">
            <div class="span12 first"><h2>Cause Details</h2> </div>
        </section>
    </section>
</section>
<section id="content" class="mbtm blog">
    <section class="container-fluid container">
        <section class="row-fluid">
            <section class="span12 mtop" id="blog_post_detail">
                <figure class="blog_post mbtm-20">
                    <div class="gallery_img">
                        <a href="#"> <img src="/static/images/blog_detail.jpg" alt="Blog Post" /> </a>
                    </div>
                    <div class="span12 first post_detail"> 
                        <h3>{{object.name}}</h3>
                        <p>{{object.description}}</p>
                    </div>
                </figure>
            </section>
        </section>
        <section class="row-fluid">
            <h4>Projects Linked with this Cause</h4>
            <section class="container container-fluid  mbtm mtop-20">
                {% for project in object.project_set.all %}
                <figure class="span4 feature first mem-list mbtm-20 ">
                    <a href="{% url 'projectdetail' project.id %}">
                        <img src="/static/images/causes/cause{{1}}.jpg" alt="" class="img-responsive" style="height:219px;">
                        <div class="project-bg">
                            <span class="span6 first"><b>PROJECT TITLE  : </b></span>
                            <span class="span6 first">{{project.title}}</span> 
                            <span class="span6 first"><b>PROJECT DESCRIPTION  : </b></span>
                            <span class="span6 first">{{project.short_desc}}</span>
                            <span class="span6 first"><b>PROJECT BY</b></span>
                            <span class="span6 first">{{project.user_id.username}}</span>
                            <span class="span6 first"><b>CREATOR TYPE</b></span>
                            <span class="span6 first">{{project.user_id.user_type}}</span>
                            <a href="" class="btn btn-primary btn-orange">donate</a>
                            <div class="mtop-20 progress progress-success bar-height">
                                <div class="bar" style="width:{{project.get_mkt_donated.completed_donation|floatformat:0}}%;">
                                </div>
                            </div>
                            {{project.get_mkt_donated.completed_donation|floatformat:0}} % Completed 
                        </div>
                    </a>
                </figure>
                {% endfor %}
            </section>
        </section>
    </section>
</section>

{% endblock main-content %}
