{% extends "base-login2.html" %}

{% block main-content %}
<section class="container mtop-20" >
    <section class="algncenter-login">
        <section class="row-fluid logaccdiv ovrd-width-login">
            <div class="loginpad logtitle"> 
                <p>Change Password</p>
                <form  method="post" data-parsley-validate="" >
                    {% csrf_token %}
                    <input type="hidden" value="{{user.email}}" name="user">
                    <div class="span12 first">
                        <div class="control-group">
                            <input name="old_password" class="input-block-level" type="password" placeholder="Old Password"
                            data-parsley-minlength="6" data-parsley-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" data-parsley-required="true" >
                        </div>
                        <div class="alert-danger">{{form.errors.old_password}}</div>
                    </div>
                    <div class="span12 first">
                        <div class="control-group">
                            <input name="new_password" class="input-block-level" type="password" placeholder="New Password" data-parsley-minlength="6" data-parsley-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" data-parsley-required="true">
                        </div>
                        <div class="alert-danger">{{form.errors.new_password}}</div>
                    </div>
                    <div class="span12 first">
                        <div class="control-group">
                            <input name="confirm_password" class="input-block-level" type="password" placeholder="Confirm Password" data-parsley-minlength="6" data-parsley-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" data-parsley-required="true">
                        </div>
                        <div class="alert-danger">{{form.errors.confirm_password}}</div>
                    </div>
                    <div class="span12 first mbtm-20">
                        <div class="text-center">
                            <input type="submit" class="btn--login btn--red create-btn-align" value="Change"
                            />
                        </div>   
                    </div>
                </form>
            </div>
       </section>
    </section>
</section>
{% endblock main-content %}