{% extends "base.html" %}


</!DOCTYPE html>
<html>
<head>
	<title>Legal Advisory</title>
</head>
<body class="default red">
{% block main-content %}
<section id="content" class="mbtm product_grid mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
							


				<section class="span12 product_view mbtm team" id="product_list">
					<figure class="span12 first" id="category_title">
							<!-- <div class="span10 first"> <h3> List of contributors</h3>	</div> -->
							<h3> <i class="icon-ok-circle"></i> List of Contributors</h3>
							
					</figure>
				</section>

				<section class="product_list_holder first mbtm">
					<figure class="span12 first product"> 
						
						<div class="product_img span4 first">
								<img src="/static/images/store2.jpg" alt="Product Image" />
								<span class="sale_icon"></span>
						</div>
						<div class="span8 product_description">
						<h3> <a href="#"> John Louis</a> </h3>
						<p><i> Profession</i></p>
						<p> Рigh life ex whatever ironyc upidatat high life graduated moss stitch.  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem  quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
						<p><i> twitter handle: example@twitter.com</i></p>
						<p><i> email id:example@gmail.com </i></p>
						
						</div>
 				
					</figure>
					
					<figure class="span12 first product"> 
						
						<div class="product_img span4 first">
								<img src="/static/images/store2.jpg" alt="Product Image" />
								<span class="sale_icon"></span>
						</div>
						<div class="span8 product_description">
						<h3> <a href="#"> Amy Jackson</a> </h3>
						<p><i> Profession</i></p>
						<p> Рigh life ex whatever ironyc upidatat high life graduated moss stitch.  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem  quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
						<p><i> twitter handle: example@twitter.com</i></p>
						<p><i> email id:example@gmail.com </i></p>
						
						</div>
 				
					</figure>


				</section>

					



		</section>
		<div class="pagination">  
                  <ul>  
                    <li><a href="#">Prev</a></li>  
                    <li class="active">  
                      <a href="#">1</a>  
                    </li>  
                    <li><a href="#">2</a></li>  
                    <li><a href="#">3</a></li>  
                    <li><a href="#">4</a></li>  
                    <li><a href="#">Next</a></li>  
                  </ul>  
                </div>	
	</section>	


</section>
{% endblock main-content %}
</body>
</html>