{% extends 'base-login2.html' %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class="span12 mtop">
			<div class="span3 contributor-detail">
				<img  src="/static/images/exective1.jpg">
				<div class="mtop">
					<div class="form-group span12">
					    <span class="span3">NAME</span>
					    <span class="span7">{{object.user.name}}{{object.user.id}}</span>
				  	</div>
				  	<div class="form-group span12 first">
					    <span >ENTER REQUEST ID</span>
				  	</div>
				  	<div class="form-group span12 first">
					    <input type="text" name="requestid" placeholder="enter request id..">
				  	</div>
				  	<div class="form-group span12 first">
					    <a href="#" class="btn btn-more btn-red">Send Request</a>
				  	</div>
				</div>
			</div>
			<div class="span5">
				<div class="mbtm detail-tab">
					<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
		                <div class="btn-group" role="group">
		                    <button type="button" id="stars" class="btn btn-primary basics" href="#intend" data-toggle="tab">
		                    <div class="hidden-xs">INTEND TO DONATE</div>
		                    </button>
		                </div>
		                <div class="btn-group" role="group">
		                    <button type="button" id="favorites" class="btn btn-default story" href="#past-donation" data-toggle="tab">
		                     <div class="hidden-xs">PAST CONTRIBUTIONS</div>
		                    </button>
		                </div>
		                <div class="btn-group" role="group">
		                    <button type="button" id="favorites" class="btn btn-default preview" href="#comments" data-toggle="tab">
		                     <div class="hidden-xs">COMMENTS</div>
		                    </button>
		                </div>
            		</div>
				</div>
				<div class="tab-content">
					<div id="intend" class="tab-pane fade in active">
						<div class="Intend">
							<div class="span12"><H4><b>INTEND TO DONATE</b></H4></div>
							<table class="table mkt-th">
								<tr>
									<th>MONEY</th>
									<th>Money</th>
									<th>Money Frequency</th>
									<td colspan="3"></td>
								</tr>
								<tr>
									<th colspan="1"></th>
									<td>{{object.money}}<span> INR </span></td>
									<td colspan="4">{{object.money_frequency}}</td>
								</tr>
								{% for kind in object.givekind_set.all %}
								{% if forloop.counter == 1 %}
								<tr>
									<th>KIND</th>
									<th>Kind Quantity</th>
									<th>Kind Type</th>
									<th>Kind SubType</th>
									<th>Kind Specifics</th>
									<th>Kind Frequency</th>
								</tr>
								{% endif %}
								<tr>
									<th colspan="1"></th>
									<td>{{kind.quantity}}</td>
									<td>{{kind.ktype}}</td>
									<td>{{kind.ksubtype}}</td>
									<td>{{kind.specifics}}</td>
									<td>{{kind.frequency}}</td>
								</tr>
								{% endfor %}
								{% for time in object.givetime_set.all %}
								{% if forloop.counter == 1 %}
								<tr>
									<th>TIME</th>
									<th>Time Man-Hours</th>
									<th>Time Skill Type</th>
									<th>Time Sub Skill Type</th>
									<th>Time Specifics</th>
									<th>Time Frequency</th>
								</tr>
								{% endif %}
								<tr>
									<th colspan="1"></th>
									<td>{{time.manhours}}</td>
									<td>{{time.skilltype}}</td>
									<td>{{time.skillsubtype}}</td>
									<td>{{time.specifics}}</td>
									<td>{{time.frequency}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>		
					</div>
					<div id="past-donation" class="tab-pane fade">
						<div class="cont-pastdonations">
							<div class="span12"><H4><b>PAST CONTRIBUTIONS</b></H4></div>
							{% for contribution in object.user.contributed_by.all %}
							<div class="span12 first accordion req-head" id="pastcontribution">
							    <div class="accordion-group req-head">
							    	<div  class="first">
								    	<div class="accordion-heading first req-head">
								    		<span class="span5">RECIPIENT NAME :</span>
							    			<span class="span7 first">{{contribution.request_id.user.name}}</span>
										    <span class="span5 first">RECIPIENT TYPE :</span>
										    <span class="span7 first">{{contribution.request_id.user.user_type}}</span>
								    		<span class="span5 first">CONTRIBUTION ID :</span>
								    		<span class="span7 first">{{contribution.id}}</span>
								    		<span class="span5 first">PROJECT/CAUSE :</span>
								    		<span class="span7 first">{{contribution.cause}}</span>
								    		<a class="accordion-toggle active rmpad" data-toggle="collapse" data-parent="pastcontribution" href="#{{contribution.id}}">View Contribution Details</a>	
								    	</div>
										<div class="accordion-body collapse" id="{{contribution.id}}">
											<table class="table mkt-th">
												<tr>
													<th>MONEY</th>
													<th>Money</th>
													<th>Money Frequency</th>
													<td colspan="3"></td>
												</tr>
												<tr>
													<th colspan="1"></th>
													<td>{{contribution.money}}<span> INR </span></td>
													<td colspan="4">{{contribution.money_frequency}}</td>
												</tr>
												{% for kind in contribution.kindcontribution_set.all %}
												{% if forloop.counter == 1 %}
												<tr>
													<th>KIND</th>
													<th>Kind Quantity</th>
													<th>Kind Type</th>
													<th>Kind SubType</th>
													<th>Kind Specifics</th>
													<th>Kind Frequency</th>
												</tr>
												{% endif %}
												<tr>
													<th colspan="1"></th>
													<td>{{kind.quantity}}</td>
													<td>{{kind.ktype}}</td>
													<td>{{kind.ksubtype}}</td>
													<td>{{kind.specifics}}</td>
													<td>{{kind.frequency}}</td>
												</tr>
												{% endfor %}
												{% for time in contribution.timecontribution_set.all %}
												{% if forloop.counter == 1 %}
												<tr>
													<th>TIME</th>
													<th>Time Man-Hours</th>
													<th>Time Skill Type</th>
													<th>Time Sub Skill Type</th>
													<th>Time Specifics</th>
													<th>Time Frequency</th>
												</tr>
												{% endif %}
												<tr>
													<th colspan="1"></th>
													<td>{{time.manhours}}</td>
													<td>{{time.skilltype}}</td>
													<td>{{time.skillsubtype}}</td>
													<td>{{time.specifics}}</td>
													<td>{{time.frequency}}</td>
												</tr>
												{% endfor %}
											</table>
										</div>
									</div>	
							    </div>
							</div>
							{% endfor %}
							
						</div>			
					</div>
					<div id="comments" class="tab-pane fade">
					</div>
				</div> <!-- end tab-content -->
			</div>
			<!-- my requests -->
			<div class="span4 mtop">
				<div class="myrequests">
					<div class="span12"><H4><b>MY REQUESTS</b></H4></div>
					<div id="request-detail" class="accordion">
						{% for myrequest in myrequests %}
					    <div  class="span12 first accordion-group req-head">
					    	<div class="accordion-heading ">
					    		<span class="span5">REQUEST ID :</span>
					    		<span class="span7 first">{{myrequest.id}}</span>
					    		<a class="accordion-toggle active rmpad" data-toggle="collapse" data-parent="request-detail" href="#{{myrequest.id}}">View Details</a>	
					    	</div>
							<div class="accordion-body collapse " id="{{myrequest.id}}">
								<span class="span5 first">REQUEST DETAILS :</span>
								<table class="table mkt-th">
									<tr>
										<th>MONEY</th>
										<th>Money</th>
										<th>Money Frequency</th>
										<td colspan="3"></td>
									</tr>
									<tr>
										<th colspan="1"></th>
										<td>{{myrequest.money}}<span>  INR</span></td>
										<td colspan="4">{{myrequest.money_frequency}}</td>
									</tr>
									{% for kind in myrequest.receivekind_set.all %}
									{% if forloop.counter == 1 %}
									<tr>
										<th>KIND</th>
										<th>Kind Quantity</th>
										<th>Kind Type</th>
										<th>Kind SubType</th>
										<th>Kind Specifics</th>
										<th>Kind Frequency</th>
									</tr>
									{% endif %}
									<tr>
										<th colspan="1"></th>
										<td>{{kind.quantity}}</td>
										<td>{{kind.ktype}}</td>
										<td>{{kind.ksubtype}}</td>
										<td>{{kind.specifics}}</td>
										<td>{{kind.frequency}}</td>
									</tr>
									{% endfor %}
									{% for time in myrequest.receivetime_set.all %}
									{% if forloop.counter == 1 %}
									<tr>
										<th>TIME</th>
										<th>Time Man-Hours</th>
										<th>Time Skill Type</th>
										<th>Time Sub Skill Type</th>
										<th>Time Specifics</th>
										<th>Time Frequency</th>
									</tr>
									{% endif %}
									<tr>
										<th colspan="1"></th>
										<td>{{time.manhours}}</td>
										<td>{{time.skilltype}}</td>
										<td>{{time.skillsubtype}}</td>
										<td>{{time.specifics}}</td>
										<td>{{time.frequency}}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
						{% endfor %}
						<!-- <div  class="span12 first accordion-group req-head">
					    	<div class="accordion-heading ">
					    		<span class="span5">REQUEST ID :</span>
					    		<span class="span7 first">1002</span>
					    		<a class="accordion-toggle active rmpad" data-toggle="collapse" data-parent="request-detail" href="#1002">View Details</a>	
					    	</div>
							<div class="accordion-body collapse " id="1002">
								<span class="span5 first">REQUEST DETAILS :</span>
								<table class="table mkt-th">
									<tr>
										<th>MONEY</th>
										<td>30000<span>INR</span></td>
										<td colspan="4">Monthly</td>
									</tr>
									<tr>
										<th>KIND</th>
										<td>30</td>
										<td>clothes</td>
										<td>Used Clothes</td>
										<td>5 yr old</td>
										<td>Yearly</td>
									</tr>
									<tr>
										<th>TIME</th>
										<td>5</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>15 yrs experience</td>
										<td>Monthly</td>
									</tr>
								</table>
							</div>
						</div> -->
					</div>
						
				</div>	
			</div>
		</div>
		<div class="span12">
			
		</div>
	</div>
</div>
{% endblock main-content %}