{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class="mtop">
			<div class="text-center bs-callout bs-callout-warning alert-danger">
	            <h4>{{fail_msg}}</h4>
	        </div>
	        <div class="text-center bs-callout bs-callout-info alert-success ">
	            {{success_msg}}
	        </div>
	    </div>    
		<div class="mbtm user-detail-div mtop text-center">
			<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary basics" href="#basics" data-toggle="tab">
                    <div class="hidden-xs">basic</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default story" href="#projectdetails" data-toggle="tab">
                     <div class="hidden-xs">Story</div>
                    </button>
                </div>
                <div class="btn-group" id="preview_div" role="group">
                    <button type="button"  class="btn btn-default preview" href="#preview" data-toggle="tab">
                     <div class="hidden-xs" >Preview</div>
                    </button>
                </div>
            </div>
		</div>
		<form class="entity-form" id="start-project" action="{% url 'startproject' %}" method="POST" enctype="multipart/form-data" data-parsley-validate="">
			<div class="tab-content mtop">
				<div id="basics" class=" tab-pane fade in active form-section">
					<div class="text-center">
							{{form.non_field_errors}}
						{% for error in form.non_field_errors %}
							{{error}}
						{% endfor %}
						<h2>Let’s get started.</h2>
						<span class="crt-project-label">
							Make a great first impression with your project’s title and image, and set your funding goal, campaign duration, and project category.	
						</span>
					</div>
					<div>
						{% csrf_token %}
						<input type="hidden" name="user_id" value="{{user.id}}">
						<div class="span10">
							<div class="span12 mbtm mtop">
								<div class="span2">
									<label>Project image</label>
								</div>
								<div class="custom-field span8">
									<div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
						                <span class='btn btn-red btn-file'>
						                    <span class='fileupload-new'>Upload Project Image</span>
						                    <span class='fileupload-exists'>Change</span><br>
						                    <input class="input-block-level" name="project_image" id="project_image" type='file' />
						                </span>
						                {{form.errors.project_image}}
						                <span class='fileupload-preview'></span>
						                <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
						            </div>
					            </div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Project title*</label>	
								</div>
								<div class="span8">
									<input class="input-block-level" type="text" name="title" placeholder="Enter Project Title" data-parsley-required="true">{{form.errors.title}}<br>
								</div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Short Description*</label>	
								</div>
								<div class="span8">
									<textarea class="input-block-level" name="short_desc" placeholder="Enter Short description" data-parsley-required="true"></textarea>{{form.errors.short_desc}} <br>
								</div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Category*</label>	
								</div>
								<div class="span8">
									<select class="input-block-level" name="project_cause" data-parsley-required="true">
										<option value="">Select Cause*</option>
									    {% for cause in causes %}
										<option value="{{forloop.counter}}">
											{{cause.name}}
										</option>
										{% endfor %}
									</select>
									{{form.errors.project_cause}}
									<select class="input-block-level" name="project_subcause" data-parsley-required="true">
										<option value="">Select SubCause*</option>
										{% for subcause in subcauses %}
										<option value="{{forloop.counter}}">
											{{subcause.name}}
										</option>
										{% endfor %}
									</select>
									{{form.errors.project_subcause}}
									<input class="input-block-level" type="text" name="project_cause_specifics" placeholder="Enter Cause specifics*" data-parsley-required="true">
									{{form.errors.project_cause_specifics}}
								</div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Project Location*</label>	
								</div>
								<div class="span8">
									<input class="input-block-level" type="text" name="location"
									placeholder="Enter Project Location" required>	
								</div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Project Duration*</label>	
								</div>
								<div class="span8 adm-radio-inline">
									<input id="noofdays" type="radio" name="duration" value="True" data-parsley-required="true" data-parsley-errors-container="#duration-err">Number of Days
									<input id="daterange" type="radio" name="duration" value="False">
									Start and end date
									<div id="duration-err">{{form.errors.duration}}</div>
									<div class="m-adjust ">
										<input class="count input-block-level" type="text" name="no_of_days" placeholder="count of days" name="no_of_days" data-parsley-pattern="[0-9]+">
									</div>
									<div class="m-adjust">
										<input class="daterange datepicker input-block-level" type="text" name="start_date" placeholder="start date">
										<input class="daterange datepicker input-block-level" type="text" name="end_date" placeholder="end date">{{form.errors.end_date}}
									</div>
									Projects with shorter durations have higher success rates. You won’t be able to adjust your duration after you launch.
								</div>
							</div>
							<div class="span12 first mbtm-20">
								<h4>Raising goal</h4>	
							</div>
							<div id="kind-err alert-danger" > {{form.errors.money}} </div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>MONEY</label>
								</div>
								<div class="span2">
									<input id="money" class="input-block-level" type="number" name="money" placeholder="Enter Money Amount"  data-parsley-money="" >
								</div>
								<div class="span2">
									<select class="input-block-level" name="money_frequency">
										<option value="">Select Money Frequecy</option>
										{% for frequency in money_frequency %}
										<option value="{{forloop.counter}}">
											{{frequency.name}}
										</option>
										{% endfor %}
									</select>
								</div>
								<input id="id_kind-TOTAL_FORMS" name="kind-TOTAL_FORMS" type="hidden" value="1">
								<input id="id_kind-INITIAL_FORMS" name="kind-INITIAL_FORMS" type="hidden" value="0">
								<input id="id_kind-MIN_NUM_FORMS" name="kind-MIN_NUM_FORMS" type="hidden" value="0">
								<input id="id_kind-MAX_NUM_FORMS" name="kind-MAX_NUM_FORMS" type="hidden" value="1000">

								<div id="kind" class="span12 first mbtm-20">
									<div class="span2">
										<label>KIND</label>
									</div>
									
									<div class="span2">
										<input class="input-block-level" type="number" name="kind-0-quantity" placeholder="Enter Kind Quantity">
										<input type="button" name="" class="btn-orange" value="Add More Kinds">
									</div>
									<div class="span2">
										<select name="kind-0-ktype" class="input-block-level">
											<option value="">Select Kind Type</option>
												{% for type in kind_type %}
													<option value="{{forloop.counter}}">{{type.name}}</option>
												{% endfor %}
										</select>
									</div>
									<div class="span2">
										<select name="kind-0-ksubtype" class="input-block-level">
											<option value="">Select Kind Sub Type</option>
											{% for subtype in kind_subtype %}
												<option value="{{forloop.counter}}">{{subtype.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="span2">
										<input class="input-block-level" type="text" name="kind-0-specifics"
										placeholder="Enter Kind Specifics">
									</div>
									<div class="span2">
										<select name="kind-0-frequency" class="input-block-level">
											<option value="">Select Kind Frequency</option>
											{% for freq in kind_frequency %}
												<option value="{{forloop.counter}}">{{freq.name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								
								<input id="id_time-TOTAL_FORMS" name="time-TOTAL_FORMS" type="hidden" value="1">
								<input id="id_time-INITIAL_FORMS" name="time-INITIAL_FORMS" type="hidden" value="0">
								<input id="id_time-MIN_NUM_FORMS" name="time-MIN_NUM_FORMS" type="hidden" value="0">
								<input id="id_time-MAX_NUM_FORMS" name="time-MAX_NUM_FORMS" type="hidden" value="1000">

								<div id="time" class="span12 first mbtm-20">
									<div class="span2">
										<label>TIME</label>
									</div>
									<div class="span2">
										<input class="input-block-level" type="number" name="time-0-manhours" placeholder="Enter Man/Hours">
										<input type="button" name="" class="btn-orange" value="Add More Times">
									</div>
									<div class="span2">
										<select name="time-0-skilltype" class="input-block-level">
											<option value="">Select Time Skill</option>
											{% for skill in time_skilltype %}
												<option value="{{forloop.counter}}">{{skill.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="span2">
										<select name="time-0-skillsubtype" class="input-block-level">
											<option value="">Select Time Sub-Skill</option>
											{% for subskill in time_subskilltype %}
												<option value="{{forloop.counter}}">{{subskill.name}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="span2">
										<input class="input-block-level" type="text" name="time-0-specifics" placeholder="Enter Time Specifics">
									</div>
									<div class="span2">
										<select name="time-0-frequency" class="input-block-level">
											<option value="">Select Time Frequency</option>
											{% for freq in time_frequency %}
												<option value="{{forloop.counter}}">{{freq.name}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="span12 first mbtm text-center  form-navigation">
								<!-- <a data-toggle="tab" href="#projectdetails" class="next btn btn-more btn-red btn-basic">Next Step</a> -->
								<button id="startproject-stp1" data-toggle="tab"  class="next btn btn-more btn-red btn-basic" >Next Step</button>
							</div>
						</div>
					</div>
				</div>
				<div id="projectdetails" class="tab-pane fade form-section">
					<div class="text-center">
						<h2>Tell us about your project.</h2>
						<span class="crt-project-label">
							Use images, video, and a compelling description to describe what you’re making. Be sure to get specific about why people should be excited about your project.	
						</span>
					</div>
					<div>
						<div class="span10">
							<div class="span12 mbtm mtop">
								<div class="span2">
									<label>Project video</label>
								</div>
								<div class="span8">
									<input class="input-block-level" type="text" name="project_video_link"
									placeholder="Enter Video Link" data-parsley-type="url">	
								</div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Long Description*</label>	
								</div>
								<div class="span8">
									<textarea class="input-block-level" name="long_desc" placeholder="Enter Short description" data-parsley-required="true"></textarea> {{form.errors.long_desc}}<br>
									Our search looks through words from your project title and blurb, so make them clear and descriptive of what you’re making. Your profile name will be searchable, too.These words will help people find your project, so choose them wisely! Your name will be searchable too.
								</div>
							</div>
							<div class="span12 first mbtm">
								<div class="span2">
									<label>Project FAQ's</label>	
								</div>
								<div class="span8">
									You can add frequently asked questions to the FAQ tab on your project page once it goes live.
								</div>
							</div>
							<div class="span12 first mbtm text-center btn-pref">
								<div class="span1 form-navigation">
									<a data-toggle="tab" href="#basics" class="previous btn btn-more btn-red btn-story-bck input-block-level">Back</a>	
								</div>
								<div class="span1">
									<input type="submit" name=""  class="btn btn-red input-block-level" value="Submit">
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div id="preview" class="tab-pane fade" style="overflow:hidden">
					<div class="row-fluid">
				        <div class="span12 mtop mprj">
				            <div class="span2">
				                <div class="img-circle mrg-display">
				                    <img class="img-circle" src="/static/images/exective4.jpg/">
				                </div>
				                <div>    
				                    <p>By {{user.name}}</p>
				                </div>
				            </div>
				            <div class="span9">
				                <div class="mrg-display">
				                    <span id="project-title" class="project-title">
				                        Project title    
				                    </span>
				                    <br>
				                </div>
				                <div class="project-head" id="short-desc">
				                    Project Short Description
				                </div>
				                <div class="mtop-20 project-video-link" id="video_link">
				                    Project Video Link
				                </div>
				                <a id="project-video-link" target="_blank" ></a>
				                <br>
				                <div id="project-duration" class="duration-data">
				                </div>
				                <div id="project-location" class="pull-right location-detail">
				                </div>
				            </div>
				        </div>
				    </div>
				    <div class="row-fluid ">
				        <div class="span12 project mprj">
				            <div class="span5">
				                <img height="42" width="42" src="/static/images/request_1.jpg">
				            </div>
				            <div class="span4">
				                <h2>Requested:</h2>
				                <div class="prj-fig-width">
				                    <div class="mrg-display">
				                        <strong class="display-figure" id="moneydetail">
				                        </strong>
				                        <br>
				                        <span class="small-text mrg-display">
				                            <strong> Money</strong><br>
				                        </span>
				                    </div>
				                    <div class="mrg-display">
				                        <strong class="display-figure" id="kinddetail">
				                        </strong>
				                        <br>
				                        <span class="small-text mrg-display">
				                            <strong> Kind</strong><br>
				                        </span>
				                    </div>
				                    <div class="mrg-display">
				                        <strong class="display-figure mrg-display" id="timedetail">
				                        </strong>
				                        <br>
				                        <span class="small-text">
				                           <strong> Time</strong><br>
				                        </span>
				                    </div>
				                </div>
				                <div class="control-group">
				                    <input type="submit" class="btn--login btn--red" value="Make Contribution!"
				                     onclick="window.location='/donate/pledge/'"/>
				                </div> 
				            </div>
				        </div>
				    </div>
				    <div class="row-fluid">    
				        <ul class="nav nav-tabs prjulmrg mtop">
				            <li class="active"><a data-toggle="tab" href="#campaign"><b>Campaign</b></a></li>
				            <li><a data-toggle="tab" href="#faq"><b>FAQ</b></a></li>
				            <li><a data-toggle="tab" href="#updates"><b>Updates</b></a></li>
				            <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
				            <li><a data-toggle="tab" href="#community"><b>Community</b></a></li>
				            <li class="dropdown temphide">
				                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
				                <ul class="dropdown-menu">
				                    <li><a data-toggle="tab" href="#dropdown1">Dropdown 1</a></li>
				                    <li><a data-toggle="tab" href="#dropdown2">Dropdown 2</a></li>
				                </ul>
				            </li>
				        </ul>
				        <div class="tab-content">
				            <div id="campaign" class="tab-pane fade in active mtop">
				                <div class="span7">
				                    <span class="project-title">About this project<br></span>
				                    <div class="mtop">
				                        <span class="lrg-text" id="long-desc">
				                        Project Long Description
				                        </span>
				                    </div>
				                </div>
				                <div class="span5">
				                    <span class="project-title">Support this project<br></span>
				                    <div class="row-fluid">
				                        <div class="prj-campaign-sidebar mtop">
				                            <div class="pledge1 ">
				                                <div class="control-group">
				                                    <label for="inputEmail" class="">Make a Pledge for this project </label>
				                                    <div class="controls">
				                                      <input class="" type="text" placeholder="enter any amount">
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                        <div class="prj-campaign-sidebar mtop">
				                            <div class="pledge1 ">
				                                <div class="control-group">
				                                    <label for="inputEmail" class="">Pledge 500 INR or More </label>
				                                    <div class="controls">
				                                      <input class="" type="text" placeholder="amount more than 500">
				                                    </div>
				                                </div>
				                            </div>  
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div id="faq" class="tab-pane fade mtop">
				                <p class="head">Frequently Asked Questions</p>
				                <div class="faqs">
				                    <section id="content" class="mtop">
				                        <div class="accordion faq_accordion" id="accordion2">
				                            <div class="accordion-group">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				                                         <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>  <strong>project Questions 1? </strong> </h3>
				                                    </a>
				                                </div>
				                                <div id="collapseOne" class="accordion-body collapse in">
				                                    <div class="accordion-inner">
				                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="accordion-group">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				                                         <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>  <strong>project Questions 2? </strong> </h3>
				                                    </a>
				                                </div>
				                                <div id="collapseTwo" class="accordion-body collapse">
				                                    <div class="accordion-inner">
				                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="accordion-group">
				                                <div class="accordion-heading">
				                                <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				                                     <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>  <strong>project Questions 3? </strong> </h3>
				                                </a>
				                                </div>
				                                <div id="collapseThree" class="accordion-body collapse">
				                                    <div class="accordion-inner">
				                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                            <div class="accordion-group">
				                                <div class="accordion-heading">
				                                    <a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				                                    <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>   <strong> project Questions 4? </strong> </h3>
				                                    </a>
				                                </div>
				                                <div id="collapseFour" class="accordion-body collapse">
				                                    <div class="accordion-inner">
				                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                        <a data-toggle="tab" href="#" class="btn btn-orange">Ask a Question</a>
				                    </section>
				                </div>
				            </div>
				            <div id="updates" class="tab-pane fade mtop">
				                <div id="project-update">
				                    <div data-vtdate="February 2016">
				                        <h1>Update 1</h1>
				                    </div>
				                    <div data-vtdate="March 2016">
				                        <h1>Update 2</h1>
				                    </div>
				                    <div data-vtdate="April 2016">
				                        <h1>Update 3</h1>
				                    </div>
				                </div>

				            </div> <!-- end updates -->
				            <div id="comments" class="tab-pane fade mtop">
				                <div id="disqus_thread">
				                </div>
				            </div>
				            <div id="community" class="tab-pane fade mtop" style="overflow:hidden ">
				                <div class="span12">
				                    <div class="span6 prj-community">
				                        <div class="text-center">
				                            <div class="mrg-lrgdisplay">
				                                <strong class="display-lrgfigure">
				                                50 <br>
				                                </strong>
				                                <span class="mrg-display lrg-text">
				                                  Members Contributed<br>
				                                </span>
				                            </div>
				                            <div class="mrg-lrgdisplay">
				                                <strong class="display-lrgfigure">
				                                3,00,000 INR<br>
				                                </strong>
				                                <span class="mrg-display lrg-text">
				                                    Contributed Amount<br>
				                                </span>
				                            </div>
				                        </div>
				                    </div> 
				                    <div class="span6 prj-community">
				                        <div class=" text-center">
				                            <div class="mrg-lrgdisplay">
				                                <strong class="display-lrgfigure">
				                                50 <br>
				                                </strong>
				                                <span class="mrg-display lrg-text">
				                                  Members Pledged<br>
				                                </span>
				                            </div>
				                            <div class="mrg-lrgdisplay">
				                                <strong class="display-lrgfigure">
				                                3,00,000 INR<br>
				                                </strong>
				                                <span class="mrg-display lrg-text">
				                                Pledged Amount<br>
				                                </span>
				                            </div>
				                        </div>
				                    </div>
				                </div> 
				                <section class="span12 mtop project-head">
				                    Here are a few of the people supporting this project.   
				                </section> 
				                <section class="span12 mtop row-fluid first">
				                    {% for i in '1234' %}
				                        <figure class="team_member span3 {% if forloop.counter == 1%}first{% endif %}">
				                            <div class="member_img">
				                                <img src="/static/images/exective{{i}}.jpg" alt="Team Member" />
				                            </div>
				                            <div class="team_member_description">
				                                <h4>Firstname Lastname</h4>
				                                <span class="">Founder of company{{i}}.pvt.ltd</span>
				                            </div>
				                        </figure>
				                    {% endfor %}
				                </section>
				            </div>
				            <div id="dropdown1" class="tab-pane fade">
				                <p>Dropdown 1 content…</p>
				            </div>
				            <div id="dropdown2" class="tab-pane fade">
				                <p>Dropdown 2 content…</p>
				            </div>
				        </div>
				    </div>		
				</div>
				<!-- <button type="button" class="previous btn btn-more btn-red pull-left">&lt; Previous</button>
	        	<button  class="next btn btn-more btn-red " type="button" >Next &gt;</button>
	        	<input type="submit" class="btn btn-more btn-red" value="Submit"> -->
			</div>
		</form>
	</div> <!-- end row-fluid -->
</div>
{% endblock main-content %}