{% extends "base.html" %}


</!DOCTYPE html>
<html>
<head>
	<title>Make Contribution</title>
</head>
<body class="default red">
{% block main-content %}
<section id="content" class="container container-fluid mbtm blog team">
	<section class="row-fluid">

		<section class="span12 mtop">
			<h3> <i class="icon-ok-circle mbtm"></i>  Make a Contribution</h3>

			<figure class="blog_item">


					<figure id="category_image" class="span12 first outer_lyr mbtm">
						<div class="gallery_img gallery_img-first">
							<img src="/static/images/blog1.jpg" />
							<div class="mask">
								<a href="#" class="anchor">
								<span> 10 </span> 
								<i class="icon-comment"></i>
								</a>
								<a href="#" class="anchor"> <i class="icon-link"></i> </a>
							</div>
						</div>
					</figure>


					<div class="outer_lyr span12 first ">
							<div class="inner_lyr ">

								<div class="span6 post_description"> 
										 <h3> Support on Causes</h3>
										<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem. Cras sed mi at nibh porttitor pretium eu id ligula. Donec eleifend porta nisi, sit amet euismod arcu egestas non.  </p>
										<p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec a ligula sed nulla ornare vestibulum. Fusce vitae erat lorem, nec dictum turpis. Nulla eget faucibus felis. Quisque vitae sapien orci. Nunc justo dolor, rutrum nec consequat vitae, adipiscing vel est. Maecenas euismod ornare sagittis. Vestibulum nec ante in neque congue ullamcorper.  </p>
										
								</div>


								<div class="span6" > 
										<h3>Announce Donations</h3>
										<form>
							
						
							
								<div >
									<input  type="text" name="name" class="donationform" placeholder="Contributor's Name " placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
								</div>
							
								<div >
									<input type="text" name="name" class="donationform" placeholder="Recipients's Name " placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
								</div>


								<div >
									<input type="text" name="contact_number" class="donationform" placeholder="Cause" required="true" data-parsley-pattern="^[0-9]+$" data-parsley-minlength="10" data-parsley-maxlength="10" maxlength="10">
								</div>

								<div >
									<input type="text" name="contact_number" class="donationform" placeholder="Contribution Type" required="true" data-parsley-pattern="^[0-9]+$" data-parsley-minlength="10" data-parsley-maxlength="10" maxlength="10">
								</div>
				
								<!-- <div >
									
									<input class="" type="file" name="causephoto" accept="image/*">
  									<input type="submit">
  									<input type="file" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" >Select File</input>

								</div> -->
							
								
						
					
					
						
							
								<div>
									<textarea name="message" id="" cols="30" rows="10" class="donationform" placeholder="Description"></textarea>
								</div>
								<div>
									<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red " type="submit" >Upload Testimony Document</button>
								</div>

							
								<div>

								<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Submit</button>
								
								</div>
							
						
					
				</form>


									
								</div>
								
							</div>
					</div>
			</figure>		
			
		</section>
	</section>		
</section>
{% endblock main-content %}
</body>
</html>