{% extends "base-login.html" %}
{% block main-content %}
<section class="mtop" id="donation_box">
    <section class="container">
        <section class="row-fluid">
            <div class="span12 first"><h2>Request Details</h2> </div>
        </section>
    </section>
</section>
<section id="content" class="mbtm blog">
    <section class="container-fluid container">
        <section class="row-fluid">
            <section class="span12 " id="blog_post_detail">
                <figure class="blog_post">
                    <div class="">
                        <a href="#"> <img src="/static/images/request_1.jpg" alt="Blog Post" /> </a>
                    </div>
                     
                    <div class="first reqbox2 reqdivhgt" >
                        <div class="reqbox2 span8 first" >
                            <h3>Hospital Bill</h3>
                            <table class="table table-hover">
                                <tr>
                                <td >
                                  Cause Type  
                                </td>
                                <td>
                                  Charity  
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Receipient Type 
                                </td>
                                <td>
                                  Individual 
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Receipient Name 
                                </td>
                                <td>
                                  Gurpreet Singh 
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Contribution Type 
                                </td>
                                <td>
                                   Money 
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Contribution Amount 
                                </td>
                                <td>
                                   50,000 INR 
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Contribution Status 
                                </td>
                                <td>
                                   Active 
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Date of Request  
                                </td>
                                <td>
                                   12th Aug 2016 
                                </td>
                            </tr>
                            <tr>
                                <td >
                                  Contribution Start Date  
                                </td>
                                <td>
                                   1st Sep 2016 
                                </td>
                            </tr>
                            </table>
                        </div> 
                        <div class="reqbox2">
                            <div class=" span4">
                            <div class="reqbox0">
                                <p>Pledge Amount</p>
                            <span class="goalfig"> 50,000 INR</span>
                            </div>
                            <div class="reqbox1">
                                <p>Contributed Amount </p>
                                <span class="goalfig"> 20,000 INR</span>
                            </div>
                        </div>
                        </div>
                        
                         
                    </div>

                </figure>
            </section>
        </section>
    </section>
</section>

{% endblock main-content %}
