{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid span12 mtop">
		<div class="span12">
			<span class="span12 first lrg-text"><b>Requested Details</b></span>
			<div class="">
				<table class="table mkt-th">
					<tr>
						<th>MONEY</th>
						<td>{{object.money}}<span>  INR</span></td>
						<td colspan="4">{{object.money_frequency}}</td>
					</tr>
					{% for kind in object.receivekind_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>KIND</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{kind.quantity}}</td>
							<td>{{kind.ktype}}</td>
							<td>{{kind.ksubtype}}</td>
							<td>{{kind.specifics}}</td>
							<td>{{kind.frequency}}</td>
					</tr>
					{% endfor %}
					{% for time in object.receivetime_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>TIME</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{time.manhours}}</td>
							<td>{{time.skilltype}}</td>
							<td>{{time.skillsubtype}}</td>
							<td>{{time.specifics}}</td>
							<td>{{time.frequency}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="span12 first">
			<span class="span12 first lrg-text"><b>Your Return To Community Work Assignment Against the request</b></span>
			<table class="table mkt-th mtop-20">
				<tbody>
					<tr>
						<th>Number of Man-Hours</th>
						<th>Skill</th>
						<th>Skill Sub-Type</th>
						<th>Description</th>
						<th colspan="2">Frequency</th>
					</tr>
					<tr>
						<td>30</td>
						<td>Accountant</td>
						<td>Tally Software</td>
						<td>5 yr of experience</td>
						<td>Quarterly</td>
						<td>
							<a data-toggle="modal" data-target="#assign" href="" class="btn btn-more btn-red">Assign</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span12 first">
			<span class="span12 first lrg-text"><b>Contribution Details</b></span>
			{% for contribution in object.contribution_set.all %}

			<div class="contribution mtop-20">
				<span class="span12 first"><b>BASIC DETAILS</b>
				<span><a href="#">(View Profile)</a></span></span>
				<span class="span4 first">CONTRIBUTOR NAME  </span>
				<span class="span8">{{contribution.contributed_by.name}}</span>
				<span class="span4 first">CONTRIBUTOR TYPE  </span>
				<span class="span8">{{contribution.contributed_by.user_type}}</span>
				<span class="span4 first">CONTRIBUTION DATE</span>
				<span class="span8">{{contribution.contributed_on}}</span>
				<span class="span4 first"><b>STATUS</b></span>
				<span class="span8"><b>{% if contribution.status == '1' %} Active {% else %} Completed {% endif %}</b></span>
				<span class="span4 first"><b>CONTRIBUTIONS</b></span>
				<table class="table mkt-th">
					<tr>
						<th>MONEY</th>
						<td>{{contribution.money}}<span>  INR</span></td>
						<td colspan="4">{{contribution.money_frequency}}</td>
					</tr>
					{% for kind in contribution.kindcontribution_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>KIND</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{kind.quantity}}</td>
							<td>{{kind.ktype}}</td>
							<td>{{kind.ksubtype}}</td>
							<td>{{kind.specifics}}</td>
							<td>{{kind.frequency}}</td>
					</tr>
					{% endfor %}
					{% for time in contribution.timecontribution_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>TIME</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{time.manhours}}</td>
							<td>{{time.skilltype}}</td>
							<td>{{time.skillsubtype}}</td>
							<td>{{time.specifics}}</td>
							<td>{{time.frequency}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% endfor %}
		</div>
		<div class="modal fade" id="assign" role="dialog">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal">&times;</button>
		            <h4 class="modal-title">Assign Your Return to Community to Members</h4>
		         </div>
		         <div class="modal-body">
		         	<div>
		         		<input type="text" class="form-control" id="tag-contributors" />
		         	</div>
		         </div>
		         <div class="modal-footer">
		         	<button type="button" class="btn btn-default more-btn">Submit</button>
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		         </div>
		      </div>
		   </div>
		</div>
	</div>
</div>
{% endblock main-content %}