{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid mtop">
		<div class="span5">
			<span class="span12 first"><b>BASIC DETAILS</b>
			<span><a href="#">(View Profile)</a></span></span>
			<span class="span4 first">RECIPIENT NAME  </span>
			<span class="span8">{{object.confirmed_by.name}}</span>
			<span class="span4 first">RECIPIENT TYPE  </span>
			<span class="span8">{{object.confirmed_by.user_type}}</span>
			<span class="span4 first">REQUEST DATE</span>
			<span class="span8">{{object.request_id.request_date}}</span>
			<span class="span4 first"><b>STATUS</b></span>
			<span class="span8">
				<b>{% if object.status == '1' %} Active {% else %} Completed {% endif %}</b>
			</span>
		</div>
		<div class="span6">
			<span class="span12 first "><b>REQUEST DETAILS</b></span>
			<div class="">
				<table class="table mkt-th">
					<tr>
						<th>MONEY</th>
						<td>{{object.request_id.money}}<span>  INR</span></td>
						<td colspan="4">{{object.request_id.money_frequency}}</td>
					</tr>
					{% for kind in object.request_id.receivekind_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>KIND</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{kind.quantity}}</td>
							<td>{{kind.ktype}}</td>
							<td>{{kind.ksubtype}}</td>
							<td>{{kind.specifics}}</td>
							<td>{{kind.frequency}}</td>
					</tr>
					{% endfor %}
					{% for time in object.request_id.receivetime_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>TIME</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{time.manhours}}</td>
							<td>{{time.skilltype}}</td>
							<td>{{time.skillsubtype}}</td>
							<td>{{time.specifics}}</td>
							<td>{{time.frequency}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<span class="span12 first "><b>CONTRIBUTION DETAILS</b></span>
			<div class="">
				<table class="table mkt-th">
					<tr>
						<th>MONEY</th>
						<td>{{object.money}}<span>  INR</span></td>
						<td colspan="4">{{object.money_frequency}}</td>
					</tr>
					{% for kind in object.kindcontribution_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>KIND</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{kind.quantity}}</td>
							<td>{{kind.ktype}}</td>
							<td>{{kind.ksubtype}}</td>
							<td>{{kind.specifics}}</td>
							<td>{{kind.frequency}}</td>
					</tr>
					{% endfor %}
					{% for time in object.timecontribution_set.all %}
					<tr>
						{% if forloop.counter0 == 0 %}
							<th>TIME</th>
						{% else %}
							<th colspan="1"></th>
						{% endif %}	
							<td>{{time.manhours}}</td>
							<td>{{time.skilltype}}</td>
							<td>{{time.skillsubtype}}</td>
							<td>{{time.specifics}}</td>
							<td>{{time.frequency}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock main-content %}	