{% extends "base-login2.html" %}
{% block main-content %}
<div class="container">
	<div class="alert-success mtop-20">
		<h4>{{success_msg}}</h4>
	</div>
	<div class="row-fluid mtop-20">
		{% if user.user_type == 'individual' %}
		<div id="mem-individual">
		    <form class="form-section" method="post" action="{% url 'editindividualprofile' object.id %}" enctype="multipart/form-data" data-parsley-validate="">
		        {% csrf_token %}
		        <div class="individual1 entity">
		            <legend>Step 1 of 1</legend>
		            <input type="hidden" name="individual-individual_user_id" value="{{user.id}}">
		            <div class="span12 first">
					    <div class="control-group span3">
					        <label for="email">Name</label>
					        <input type="text" name="name" class="input-block-level" value="{{user.name}} " data-parsley-pattern="[a-zA-Z0-9\s]+" data-parsley-required="true">
					    </div>
					    <div class="control-group span3">
					        <label for="pwd">Email-id:</label>
					        <input type="text" name="email" class="input-block-level" value="{{user.email}}" disabled>
					    </div>
					    <div class="control-group span3">
					        <label for="pwd">Mobile Number:</label>
					        <input type="text" name="mobile_number" class="input-block-level" value="{{user.mobile_number}}" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" data-parsley-required="true">
					    </div>
					    <div class="span3">
					        <label for="pwd">Address:</label>
					        <div class="control-group">
					            <textarea name="address" class="input-block-level" placeholder="enter address" value="{{user.address}}" >{{user.address}}</textarea>
					        </div>
					    </div>
					</div>
					<div class="span12 first">
					    <div class="control-group span3">
					        <label for="pwd">Website:</label>
					        <input type="text" value="{{user.website}}" name="website" class="input-block-level" data-parsley-pattern="/^(http|https)?:\/\/[a-zA-Z0-9-\.]+\.[a-z]{2,4}/" >
					    </div>
					    {% for individual in object.individualdetails_set.all %}
					    <input type="hidden" name="individual-id" value="{{individual.id}}">
					    <div class="span3">
					        <label for="pwd">PAN Number:</label>
					        <input type="text"  name="individual-individual_pan" class="input-block-level" placeholder="Enter Pan Card Number" data-parsley-maxlength="10" data-parsley-pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" data-parsley-required="true" data-parsley-error-message="Pan card enter is not Valid" value="{{individual.individual_pan}}">
					    </div>
					    <div class="control-group span3">
					        <label for="email">Aadhar Number*:</label>
					        <input type="text" name="individual-individual_aadhar_no" class="input-block-level" placeholder="Enter Aadhar Number"  data-parsley-pattern="[0-9]{12}"  data-parsley-required="true" value="{{individual.individual_aadhar_no}}">
					    </div>
					    <div class="control-group span3">
					        <label for="email">CKYC No:</label>
					        <input type="text" name="individual-individual_ckyc" class="input-block-level" placeholder="Enter CKYC Number" value="{{individual.individual_ckyc}}">
					    </div>
					    {% endfor %}
					</div>
					{% for individual in object.individualdetails_set.all %}
					<div class="span12 first">
					    <div class="span3">
					        <label for="email">Occupation*:</label>
					        <div class="control-group">
					            <select name="individual-individual_occupation" id="occupation" class="input-block-level" data-parsley-required="true">
					                <option value="">Select Occupation</option>
					                <option value="business" {% if individual.individual_occupation == 'business' %} selected {% endif %}>Business</option>
					                <option value="professional" {% if individual.individual_occupation == 'professional' %} selected {% endif %}>Professional</option>
					                <option value="service" {% if individual.individual_occupation == 'service' %} selected {% endif %}>Service</option>
					                <option value="others" {% if individual.individual_occupation == 'others' %} selected {% endif %}>Others</option>
					            </select>
					        </div>
					    </div>
					    <div class="control-group span3 business {% if individual.individual_business_dedsc == '' %} hidebusiness {% endif %}">
					        <label for="pwd">Nature of Business:</label>
					        <input type="text" name="individual-individual_business_desc" class="input-block-level" placeholder="Enter Nature of Business" value="{{individual.individual_business_dedsc}}">
					    </div>
					    <div class="span3 professional {% if individual.individual_professional_skills.id == None %} hideprofessional {% endif %} ">
					        <label for="pwd">Professonal Skills*:</label>
					        <div class="control-group">
					            <select name="individual-individual_professional_skills" class="input-block-level" data-parsley-required="true" multiple>
					                {% for skill in skills %}
					                	<option value="{{skill.id}}"{% for selected_skill in individual.individual_professional_skills.all %}  {% if selected_skill.id == skill.id %} selected {% endif %} {% endfor%}>{{skill.name}}</option>
					                {% endfor %}
					            </select>
					        </div>
					    </div>
					    <div class="control-group span3 professional {% if individual.individual_nature_of_profession == '' %} hideprofessional {% endif %} ">
					        <label for="pwd">Nature of Profession:</label>
					        <input name="individual-individual_nature_of_profession" type="text" class="input-block-level" placeholder="Enter nature of Profession" value="{{individual.individual_nature_of_profession}}">
					    </div>
					    <div class="control-group span3 professional {% if individual.individual_professional_email_id == '' %} hideprofessional {% endif %} ">
					        <label for="pwd">Professional Email-Id:</label>
					        <input name="individual-individual_professional_email_id" type="text" class="input-block-level" data-parsley-type="email" placeholder="Enter Professional Email-id" value="{{individual.individual_professional_email_id}}" data-parsley-type="email">
					    </div>
					    <div class="control-group span3 service {% if individual.individual_nature_of_job == '' %} hideservice {% endif %} ">
					        <label for="pwd">Nature of Job*:</label>
					        <input name="individual-individual_nature_of_job" type="text" class="input-block-level" placeholder="Enter nature of Job" value="{{individual.individual_nature_of_job}}">
					    </div>
					    <div class="control-group span3 service {% if individual.individual_name_of_employer == '' %} hideservice {% endif %} ">
					        <label for="pwd">Name of the Employer:</label>
					        <input name="individual-individual_name_of_employer" type="text" class="input-block-level" placeholder="Enter name of Employer" value="{{individual.individual_name_of_employer}}">
					    </div>
					    <div class="control-group span3 service {% if individual.individual_designation == '' %} hideservice {% endif %} ">
					        <label for="pwd">Designation:</label>
					        <input name="individual-individual_designation" type="text" class="input-block-level" placeholder="Enter Your Designation" value="{{individual.individual_designation}}">
					    </div>
					    <div class="control-group span3 occ_others {% if individual.individual_others_details == '' %} hideocc_others {% endif %} ">
					        <label for="pwd">Occupation Details*:</label>
					        <input name="individual-individual_others_details" type="text" class="input-block-level" placeholder="Enter Your Occupation Details" value="{{individual.individual_others_details}}">
					    </div>
					</div>
					<div id="individual-causes" class="span12 first">
		            </div>
		            <div class="span12 first">
		                <button class="btn btn-more btn-orange" type="button" id="add-individualcauses">Add Causes</button>
		            </div>
		            <div class="span12 first">
		                <div class="span3">
		                    <label for="pwd">Personal Skills*:</label>
		                    <div class="control-group">
		                        <select name="individual-individual_personal_skills" class="input-block-level" data-parsley-required="true" multiple data-parsley-required="true">
		                            <option value="">Select Personal Skills</option>
					                {% for skill in skills %}
					                	<option value="{{skill.id}}"{% for selected_skill in individual.individual_personal_skills.all %}  {% if selected_skill.id == skill.id %} selected {% endif %} {% endfor%}>{{skill.name}}</option>
					                {% endfor %}
		                        </select>
		                    </div>
		                </div>
		                <div class="control-group span3">
		                    <label for="pwd">Experience in Skills:</label>
		                    <input type="text" name="individual-individual_experience_skills" class="input-block-level" placeholder="Enter Number of Years" value="{{individual.individual_experience_skills}}">
		                </div>
		                <div class="control-group span6" id="individual_geography">
		                    <label for="pwd">Profile with Geographic Area of Operation:</label>
		                    <textarea name="individual-individual_profile_geography_desc" class="input-block-level" placeholder="Enter Profile with Geographic Area of Operation" value="{{individual.individual_profile_geography_desc}}">{{individual.individual_profile_geography_desc}}</textarea>
		                </div>
		            </div>
		            <div class="control-group span12 first">
		                <div class="col-lg-10 col-lg-offset-2">
		                    <input class="btn btn-more btn-red" type="submit" name="" value="Submit">
		                </div>
		            </div>
		            {% endfor %}
		        </div>
		    </form>
		</div>
		{% endif %}

		{% if user.user_type == 'corporate' %}
		<div id="mem-corporate">
			<form class="entity-form" id="corporate" method="post" action="{% url 'editcorporateprofile' object.id %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<div class=" company1 entity form-section">
					<legend>Step 1 of 2</legend>
					<input type="hidden" name="corporatebasic-user_id" value="{{user.id}}">
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Company Name</label>
						    <input type="text" name="name" class="input-block-level" value="{{user.name}}" data-parsley-required="true" data-parsley-pattern="[a-zA-Z0-9\s]+">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Registration Number:</label>
						    <input type="text" name="registration_no" class="input-block-level" value="{{user.registration_no}}" data-parsley-required="true">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Company Email-id:</label>
						    <input type="text" name="company_emailid" class="input-block-level" value="{{user.email}}" disabled>
					    </div>
					    {% for corporate in object.corporatebasic_set.all %}
					    <input type="hidden" name="corporatebasic-id" value="{{corporate.id}}">
					    <div class="control-group span3">
						    <label for="pwd">Upload Company Image:</label>
						    <div class='fileupload input-block-level {% if corporate.company_image == ""  %} fileupload-new {% else %} fileupload-exists {% endif %} ' data-provides='fileupload'>
		                        <span class='btn btn-primary btn-file'>
		                            <span class='fileupload-new'>Upload Company Image</span>
		                            <span class='fileupload-exists'>Change</span><br>
		                            <input name="corporatebasic-company_image" type='file' value="{{corporate.company_image}}" />
		                        </span>
		                        <span class='fileupload-preview'>{{corporate.company_image}}</span>
		                        <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
		                    </div>
					    </div>
					    {% endfor %}	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Company Contact Number</label>
						    <input type="text" name="mobile_number" class="input-block-level" value="{{user.mobile_number}}" disabled>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Company Website:</label>
						    <input type="text" name="website" class="input-block-level" value="{{user.website}}" data-parsley-pattern="/^(http|https)?:\/\/[a-zA-Z0-9-\.]+\.[a-z]{2,4}/" >
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Company Address:</label>
						    <input type="text" name="address" class="input-block-level" value="{{user.address}}" >
					    </div>
					    {% for corporate in object.corporatebasic_set.all %}
					    <div class="control-group span3">
						    <label for="pwd">Company Pan No*:</label>
						    <input type="text" name="corporatebasic-company_pan" class="input-block-level" placeholder="Enter Pan Card"  data-parsley-maxlength="10" data-parsley-pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" data-parsley-required="true" data-parsley-error-message="Pan card enter is not Valid" value="{{corporate.company_pan}}">
						      {{form.errors.company_pan}}
					    </div>
					    {% endfor %}
				    </div>
				    {% for corporate in object.corporatebasic_set.all %}
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Contact person Name</label>
						    <input type="text" name="corporatebasic-contactperson_name" placeholder="Enter Person Name" class="input-block-level" data-parsley-pattern="[a-zA-Z\s]+" value="{{corporate.contactperson_name}}">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Mobile Number:</label>
						    <input type="text" name="corporatebasic-contactperson_mobileno" class="input-block-level"  placeholder="Enter Person Mobile No."
						    data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" value="{{corporate.contactperson_mobileno}}">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Email-id:</label>
						    <input type="text" name="corporatebasic-contactperson_emailid" class="input-block-level" placeholder="Enter Person Email-id" data-parsley-type="email" value="{{corporate.contactperson_emailid}}">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Address:</label>
						    <input type="text" name="corporatebasic-contactperson_address" class="input-block-level" placeholder="Enter Person Description" value="{{corporate.contactperson_address}}">
					    </div>	
				    </div>
				    {% endfor %}
				    <div class="span12 first"><h3>Director Details</h3></div>
				    {% for corporate in object.corporatebasic_set.all %}
				    {% for officebearer in corporate.corporateofficebearers_set.all %}
				    <div id="directors" class="span12 first">
				    	<input id="id_director-TOTAL_FORMS" name="director-TOTAL_FORMS" type="hidden" value="1">
						<input id="id_director-INITIAL_FORMS" name="director-INITIAL_FORMS" type="hidden" value="1">
						<input id="id_director-MIN_NUM_FORMS" name="director-MIN_NUM_FORMS" type="hidden" value="0">
						<input id="id_director-MAX_NUM_FORMS" name="director-MAX_NUM_FORMS" type="hidden" value="1000">
						<div id="append_member_1" name="directors">
						
							<input type="hidden" id="id_director-0-id" name="director-0-id" value="{{officebearer.id}}">
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">Director Name</label>
						            <input type="text" name="director-0-officebearers_name" class="input-block-level" id="id_director-0-officebearers_name" placeholder="Enter Name" data-parsley-pattern="[a-zA-Z\s]+" value="{{officebearer.officebearers_name}}">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">Directors Designation:</label>
						            <input type="text" name="director-0-officebearers_designation" class="input-block-level" id="id_director-0-officebearers_designation" placeholder="Enter Designation" data-parsley-pattern="[a-zA-Z\s]+" value="{{officebearer.officebearers_designation}}">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">Directors Email-id:</label>
						            <input type="text" name="director-0-officebearers_email_id" class="input-block-level" id="id_director-0-officebearers_email_id" placeholder="Enter Email id"  data-parsley-type="email"
						            value="{{officebearer.officebearers_email_id}}">
						        </div>
						        <div class="control-group span3 m-rem-btn hidecross">
						            <a data-parent="#append_member_1" id="member_1" class="icon icon-remove-sign icon-3x directorcross" aria-hidden="true"></a>
						        </div>
						    </div>
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">Mobile Number</label>
						            <input type="text" name="director-0-officebearers_mobile_no" class="input-block-level" id="id_director-0-officebearers_mobile_no" placeholder="Enter Mobile Number"  data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" value="{{officebearer.officebearers_mobile_no}}">
						        </div>
						        <div class="control-group span3 ">
						            <label for="pwd">Directors Photo:</label>
						            <div id="d_photo_1" class="fileupload  {% if officebearer.officebearers_photo == ''  %} fileupload-new {% else %} fileupload-exists {% endif %} " data-provides="fileupload">
						                <span class="btn btn-primary btn-file">
						                    <span class="fileupload-new">Upload Director Photo</span>
						                    <span class="fileupload-exists">Change</span><br>
						                    <input id="officebearers_photo" name="director-0-officebearers_photo"  type="file" value="{{officebearer.officebearers_photo}}"/>
						                </span>
						                <span id="id_director-0-officebearers_photo" class="fileupload-preview">{{officebearer.officebearers_photo}}</span>
						                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
						            </div>
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">Description:</label>
						            <textarea id="id_director-0-officebearers_description" name="director-0-officebearers_description" id="d_desc_1" class="input-block-level" placeholder="Enter Description" value="{{officebearer.officebearers_description}}">{{officebearer.officebearers_description}}</textarea>
						        </div>
						        <div class="control-group span3" id="add-director-btn">
						        	<button class="btn btn-more btn-orange m-top-adj" type="button" id="add-directors">Add Director
						        	</button>
						        </div>
						    </div>
						    
						</div>
				    </div>
				    {% endfor %}
				    <div class="span12 first"><h3> CSR Committee Member</h3></div>
				    {% for csrcommittee in corporate.corporatecsrcommitee_set.all %}
				    <div id="csr-committee" class="span12 first">
				    	<input id="id_csrmember-TOTAL_FORMS" name="csrmember-TOTAL_FORMS" type="hidden" value="1">
						<input id="id_csrmember-INITIAL_FORMS" name="csrmember-INITIAL_FORMS" type="hidden" value="1">
						<input id="id_csrmember-MIN_NUM_FORMS" name="csrmember-MIN_NUM_FORMS" type="hidden" value="0">
						<input id="id_csrmember-MAX_NUM_FORMS" name="csrmember-MAX_NUM_FORMS" type="hidden" value="1000">
				    	<div id="append_csrmember_1" name="csrmember">
				    	<input type="hidden" id="id_csrmember-0-id" name="csrmember-0-id" value="{{csrcommittee.id}}">
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">CSR Member Name</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_name"  placeholder="Enter Name" data-parsley-pattern="[a-zA-Z\s]+" value="{{csrcommittee.csrcommitee_name}}">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">CSR Member Designation:</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_designation" placeholder="Enter Designation" data-parsley-pattern="[a-zA-Z\s]+" value="{{csrcommittee.csrcommitee_designation}}">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">CSR Member Email-id:</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_email_id" placeholder="Enter Email -id" data-parsley-type="email" value="{{csrcommittee.csrcommitee_email_id}}">
						        </div>
						        <div class="control-group span3 m-rem-btn hidecsrcross">
						            <a data-parent="#append_csrmember_1" id="csrmember_1" class="icon icon-remove-sign icon-3x csrcross" aria-hidden="true"></a>
						        </div>
						    </div>
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">CSR Member Mobile Number</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_mobile_no" placeholder="Enter Mobile No." data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" value="{{csrcommittee.csrcommitee_mobile_no}}">
						        </div>
						        <div class="control-group span3 ">
						            <label for="pwd">CSR Member Photo:</label>
						            <div id="c_photo_1" class="fileupload  {% if officebearer.officebearers_photo == ''  %} fileupload-new {% else %} fileupload-exists {% endif %}" data-provides="fileupload">
						                <span class="btn btn-primary btn-file">
						                    <span class="fileupload-new">Upload CSR Member Photo</span>
						                    <span class="fileupload-exists">Change</span><br>
						                    <input type="file" name="csrmember-0-csrcommitee_photo" value="{{csrcommittee.csrcommitee_photo}}"/>
						                </span>
						                <span class="fileupload-preview">{{csrcommittee.csrcommitee_photo}}</span>
						                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
						            </div>
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">CSR Member Description:</label>
						            <textarea id="c_desc_1" class="input-block-level" placeholder="Enter Description" name="csrmember-0-csrcommitee_description" value="{{csrcommittee.csrcommitee_description}}">{{csrcommittee.csrcommitee_description}}</textarea>
						        </div>
						        <div class="control-group span3" id="add-csrmem-btn">
						        	<button class="btn btn-more btn-orange m-top-adj" type="button" id="add-csrmem">Add CSR Committee Member
						        	</button>
						        </div>
						    </div>
						</div>
				    </div>
				    {% endfor %}
				    {% endfor %}
				</div>
				<div class="company2 entity form-section" id="company-2">
			        <legend>Step 2 of 2</legend>
			        {% for corporate in object.corporatebasic_set.all %}
				    <div class="span12 first">
				    	<div class="span3">
						    <label for="email">Undertaking CSR u/s 135 of companies act :</label>
						    <label class="radio-inline">
					        <input value="True" id="csr-yes" type="radio" name="corporatebasic-csr_section_135"  data-parsley-required="true" data-parsley-errors-container="#csr-required-err" {% if corporate.csr_section_135 == True %} checked {% endif %}>yes
					        </label>
					        <label class="radio-inline">
					        <input value="False" id="csr-no" type="radio" name="corporatebasic-csr_section_135" {% if corporate.csr_section_135 == False %} checked {% endif %}>no
					        </label>
					        <div id="csr-required-err">
					        </div>
					  	</div>
					  	<div class="control-group span3">
						    <label for="pwd">CSR Applicability Details:</label>
						    <select id="csr_applicability" name="csr_applicability" class="input-block-level" multiple data-parsley-required="true">
						    	<option value="">Select Csr Applicability</option>
						    	{% for csr in csr_applicability %}
						    		<option value="{{csr.id}}"{% if csr.id == user.csr_applicability.id %} selected {% endif %} >{{csr.name}}</option>
						    	{% endfor %}
							</select>
			            </div> 
			            <div class="span3">
					    	<label for="csr">CSR Fund Availability:</label>
					    	<input type="text" name="corporatebasic-csr_fund" class="input-block-level" id="csr-fund" placeholder="Enter CSR Fund Availability" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-error-message="Input Should be Amount" value="{{corporate.csr_fund}}">
				    	</div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3 ">
						    <label for="csr">Undertaking Non-CSR Activity:</label>
						    <label class="radio-inline">
					        <input value="True" id="noncsr-yes" type="radio" name="corporatebasic-non_csr" data-parsley-required="true" data-parsley-errors-container="#noncsr-required-err" {% if corporate.non_csr == True %} checked {% endif %}>yes
					        </label>
					        <label class="radio-inline">
					        <input value="False" id="noncsr-no" type="radio" name="corporatebasic-non_csr" {% if corporate.non_csr == False %} checked {% endif %}>no
					        </label>
					        <div id="noncsr-required-err"></div>
				    	</div>
				    	<div class="control-group span3">
					    	<div class="">
						    	<label for="csr">Non-CSR Fund Availability:</label>
						    	<input type="text" name="corporatebasic-non_csr_fund" class="input-block-level" placeholder="Enter Non-csr Fund Availability" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-error-message="Input Should be Amount" value="{{corporate.non_csr_fund}}">
					    	</div>
					    </div>
					    <div class="control-group span3">
					    	<div class="">
						    	<label for="csr">Causes of non-csr spend:</label>
						    	<select name="corporatebasic-non_csr_cause" id="non_csr_cause"  class="input-block-level" multiple>
								    <option value="cause1">Cause 1
									</option>
								    <option value="cause2">Cause 2
									</option>
									<option value="cause3">Cause 3</option>
								</select>
					    	</div>
					    </div>		
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">CSR Objectives</label>
						    <textarea class="input-block-level" name="corporatebasic-csr_objectives" placeholder="Enter CSR Objectives" value="{{corporate.csr_objectives}}">{{corporate.csr_objectives}}
						    </textarea>
					  	</div>
					    <div class="span6">
						    <label for="pwd">Focus Area:</label>
						    <div class="control-group">
								<textarea class="input-block-level" name="corporatebasic-focusarea" placeholder="Enter focus Area" value="{{corporate.focusarea}}">{{corporate.focusarea}}
						    	</textarea>
			                </div>
					    </div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">Funding selection and Monitoring Process</label>
						    <textarea class="input-block-level" name="corporatebasic-internal_process_desc" placeholder="Enter Funding selection and Monitoring Process in brief" value="{{corporate.internal_process_desc}}">{{corporate.internal_process_desc}}
						    </textarea>
					  	</div>
					    <div class="control-group span6">
						    <label for="pwd">Criteria for Selection of NGO's and another entities to join in CSR activities of the company:</label>
						    <div class="controls">
								<textarea class="input-block-level" name="corporatebasic-selection_criteria" placeholder="Enter Selection Criteria" value="{{corporate.selection_criteria}}">{{corporate.selection_criteria}}
						    	</textarea>
			                </div>
					    </div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">Nature Of Business</label>
						    <textarea class="input-block-level" name="corporatebasic-nature_of_business" placeholder="Enter Nature of Business" value="{{corporate.nature_of_business}}">{{corporate.nature_of_business}}
						    </textarea>
					  	</div>
					  	<div class="control-group span6">
						    <label for="email">Profile with Geographical area of Operation</label>
						    <textarea class="input-block-level" name="corporatebasic-profile_geography_desc" placeholder="Enter Geographical Area of Operation in brief" value="{{corporate.profile_geography_desc}}">{{corporate.profile_geography_desc}}
						    </textarea>
					  	</div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">Company History</label>
						    <textarea class="input-block-level" name="corporatebasic-company_history" placeholder="Enter Company history details" value="{{corporate.company_history}}">{{corporate.company_history}}
						    </textarea>
					  	</div>	
				    </div>
				    {% endfor %}
			        <div class="clearfix" style="height: 10px;clear:both;">
			        </div>
			        <!-- <div class="control-group span12 first">
			          <div class="">
			            <button id="corporate-2-bck" class="btn btn-more btn-red " type="button">Back</button>
			            <button type="submit" value="Save" class="btn btn-red">Save </button> 
			          </div>
			        </div> -->
			    </div>
			    <div class="control-group span12 first">
			      	<div class="col-lg-10 col-lg-offset-2 form-navigation ">
			      		<button type="button" class="previous btn btn-more btn-red pull-left">&lt; Previous</button>
			        	<button  class="next btn btn-more btn-red " type="button" >Next &gt;</button>
			        	<input type="submit" class="btn btn-more btn-red" value="Submit">

			      	</div>
			    </div>
			</form>
		</div>
		{% endif %}

		{% if user.user_type == 'others' %}
		<div id="mem-others">
			<form class="entity-form" method="post" action="{% url 'editothersprofile' object.id %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<div class=" others1 entity form-section">
					<legend>Step 1 of 1</legend>
					<input type="hidden" name="others-others_user_id" value="{{user.id}}">
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Name*</label>
						    <input type="text" name="name" value="{{user.name}}" class="input-block-level" data-parsley-pattern="[a-zA-Z0-9\s]+" data-parsley-required="true">
					  	</div>
					  	<div class="span3">
						    <label for="email">Form of Organisation*</label>
							<div class="control-group">
							  	<select value="{{user.form_of_organization_others}}" name="form_of_organization_others" class="input-block-level" data-parsley-required="true" >
							  		<option value="">Select Form of Organization</option>
							  		{% for organization in form_of_organization_others %}
							  			<option value="{{organization.id}}" {% if object.form_of_organization_others.id == organization.id  %} selected {% endif %}>{{organization.name}}</option>
							  		{% endfor %}
							  	</select>
							</div>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Email-id*:</label>
						    <input type="text" value="{{user.email}}" name="email" class="input-block-level" disabled>
					    </div>
					    <div class="span3">
						    <label for="pwd">Address:</label>
						    <div class="control-group">
	                            <textarea class="input-block-level" value="{{user.address}}" name="address" placeholder="enter address" >{{user.address}}</textarea>
	                        </div>
					    </div>	
				    </div>
				    {% for other in object.othersdetails_set.all %}
				    <input type="hidden" name="others-id" value="{{other.id}}">
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Contact Person Name</label>
						    <input type="text" name="others-others_contactperson_name" class="input-block-level" data-parsley-pattern="[a-zA-Z0-9\s]+" placeholder="Enter Person Name" value="{{other.others_contactperson_name}}">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Email:</label>
						    <input type="text" name="others-others_contactperson_emailid" class="input-block-level" data-parsley-type="email" placeholder="Enter Email-id" value="{{other.others_contactperson_emailid}}">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Mobile Number:</label>
						    <input type="text" name="others-others_contactperson_mobileno" class="input-block-level" placeholder="Enter Persons Mobile Number" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" value="{{other.others_contactperson_mobileno}}">
					    </div>
					    <div class="control-group span3 ">
						    <label for="pwd">Contact Person Address:</label>
						    <input type="text" name="others-others_contactperson_address" class="input-block-level" placeholder="Enter Persons Address" value="{{other.others_contactperson_address}}">
					    </div>	
				    </div>
				    {% endfor %}
				    <div class="span12 first">
				    	{% for other in object.othersdetails_set.all %}
				    	<div class="control-group span3">
						    <label for="email">Aadhar Card No*:</label>
						    <input type="text" name="others-others_aadhar_no" class="input-block-level" placeholder="Enter Aadhar Number" data-parsley-pattern = "[0-9]{12}" data-parsley-required="true" value="{{other.others_aadhar_no}}">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">CKYC no:</label>
						    <input type="text" name="others-others_ckyc" class="input-block-level" placeholder="Enter CKYC Number" data-parsley-required="true" value="{{other.others_ckyc}}">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Another Contact no:</label>
						    <input type="text" name="others-others_alternate_contact" class="input-block-level" placeholder="Enter Alternate Contact Number" value="{{other.others_alternate_contact}}" data-parsley-type="number" data-parsley-pattern="[0-9]+" >
					    </div>
					    {% endfor %}
					    <div class="control-group span3">
						    <label for="pwd">Website:</label>
						    <input type="text" value="{{user.website}}" name="website" class="input-block-level" value="{{other.}}" data-parsley-pattern="/^(http|https)?:\/\/[a-zA-Z0-9-\.]+\.[a-z]{2,4}/" >
					    </div>
				    </div>

				    <div class="span12 first">
				    	<button class="btn btn-more btn-orange" type="button" id="addd-otherscauses">Add Causes</button>	
				    </div>
				    <div id="others-causes" class="span12 first">
				    </div>
				    {% for other in object.othersdetails_set.all %}
				    <div class="span12 first" id="others_textareas">
				    	<div class="control-group span6">
						    <label for="email">Nature Of Business:</label>
						    <textarea class="input-block-level" name="others-others_business_nature" placeholder="Enter Nature Of Business" value="{{other.others_business_nature}}">{{other.others_business_nature}}</textarea>
					  	</div>
					    <div class="control-group span6">
						    <label>Profile with Geographical area Of Operation:</label>
						    <textarea class="input-block-level" name="others-others_profile_geography_desc" placeholder="Enter Profile with Geographical Area of Operation" value="{{other.others_profile_geography_desc}}">{{other.others_profile_geography_desc}}</textarea>
					    </div>
				    </div>
				    {% endfor %}
				    <div class="control-group span12 first">
				      	<div class="col-lg-10 col-lg-offset-2">
				        	<input type="submit" value="Submit" class="btn btn-red">
				      	</div>
				    </div>
			    </div>
			</form> 
		</div>
		{% endif %}

		{% if user.user_type == 'ngo' %}
		<div id="mem-ngo">
			<form class="entity-form" method="post" action="{% url 'editngoprofile' object.id %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<input type="hidden" name="id" value={{user.id}}>
				
				<div class="ngo1 entity form-section">
					<legend>Step 1 of 4</legend>
					<span class="lrg-text">Basic Information</span>
					<input type="hidden" name="ngobasic-user" value={{user.id}}>
					<div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Name of the NGO*</label>
						    <input name="name" type="text" class="input-block-level" value="{{object.name}}" >
					  	</div>
					  	{% for ngo in object.ngobasic_set.all  %}
					  	<input type="hidden" name="ngobasic-id" value="{{ngo.id}}">
					  	<div class="control-group span3">
						    <label for="email">CSR Ready* :</label>
						    <div class="input-block-level">
						    	{% if ngo.csr_ready == True %}
								    <label class="radio-inline">
							        <input value="True" id="csr-yes" name="ngobasic-csr_ready" type="radio"  data-parsley-required="true" checked>yes
							        </label>
							        <label class="radio-inline">
							        <input value="False" id="csr-no" name="ngobasic-csr_ready" type="radio" >no
							        </label>
						        {% else %}
							        <label class="radio-inline">
							        <input value="True" id="csr-yes" name="ngobasic-csr_ready" type="radio" data-parsley-required="true" >yes
							        </label>
							        <label class="radio-inline">
							        <input value="False" id="csr-no" name="ngobasic-csr_ready" type="radio" checked>no
							        </label>
						        {% endif %}
						    </div>
					  	</div>
					  	<div class="control-group span3">
						    <label for="pwd">Upload NGO Image:</label>
						    <div class='fileupload input-block-level {% if ngo.ngo_image == ""  %} fileupload-new {% else %} fileupload-exists {% endif %}' data-provides='fileupload'>
		                        <span class='btn btn-primary btn-file'>
		                            <span class='fileupload-new'>Upload NGO Image</span>
		                            <span class='fileupload-exists'>Change</span><br>
		                            <input name="ngobasic-ngo_image" type='file' value="{{ngo.ngo_image}}" data-parsley-group="block-0"/>
		                        </span>
		                        <span class='fileupload-preview'>{{ngo.ngo_image}}</span>
		                        <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
		                    </div>
					  	</div>
					  	{% endfor %}
					  	<div class="control-group span3">
						    <label for="email">Date of Establisment</label>
						    <input type="text" name="establishment_date" class="datepicker input-block-level" data-date-format="yyyy-mm-dd" value="{{user.establishment_date|date:'Y-m-d'}}">
					  	</div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label>User Name*</label>
						    <div id="username_error">
                                <input  class="input-block-level" class="input-block-level"  type="text" name="username" placeholder="UserName*" value="{{object.username}}" data-parsley-maxlength="20" data-parsley-error-message="User Name should not contain any spaces or special characters" data-parsley-errors-container="#username_error" data-parsley-pattern="[a-zA-Z0-9]+" required>
                                {{form.errors.username}}
                            </div>
					  	</div>
					  	<div class="control-group span3">
						    <label>Email-Id*</label>
						    <input name="email" type="text" class="input-block-level" value="{{object.email}}" disabled>
					  	</div>
					  	<div class="control-group span3">
						    <label for="email">Website</label>
						    <div id="website-error">
                                <input class="input-block-level" type="url" name="website" placeholder="Enter Website"  data-parsley-pattern="/^(http|https)?:\/\/[a-zA-Z0-9-\.]+\.[a-z]{2,4}/"  value="{{object.website}}" required>
                                {{form.errors.website}}
                            </div>
					  	</div>
					  	<div class="control-group span3">
						    <label for="email">Address</label>
						    <div id="address-error">
                                <textarea rows="3" name="address" class="input-block-level" value="{{object.address}}" placeholder="Enter Address*" 
                                data-parsley-maxlength="100">{{object.address}}</textarea> 
                                {{form.errors.address}}
                            </div>
					  	</div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label>Mobile Number*</label>
						    <div  id="mobile-no-error">
                                <input class="input-block-level" type="text" name="mobile_number" placeholder="Enter Mobile Number*" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number"  data-parsley-required="true" value="{{object.mobile_number}}">
                                {{form.errors.mobile_number}}
                            </div>
					  	</div>
					  	<div class="control-group span3">
                            Registered Under Income Tax act, U/S 12A or 10(23)*
                            <div class="btn-group csract135">
                                <button id="act61_yes" name="registered_act_12a" type="button" class="btn btn-primary" value="yes">Yes</button>
                                <button id="act61_no" name="registered_act_12a" type="button" class="btn btn-default" value="no">No</button>
                            </div>
                            {{form.errors.registered_act_12a}}
                        </div>
                        <div class="control-group span3">
                            Registered Under Income Tax act, 1961*<br>
                            <div class="btn-group csract135 select">
                                <button id="act61_yes" name="registered_act_1961" type="button" class="btn btn-primary" value="yes">Yes</button>
                                <button id="act61_no" name="registered_act_1961" type="button" class="btn btn-default" value="no">No</button>
                            </div>
                            {{form.errors.registered_act_1961}}
                        </div>  
				    </div>
				    <div id="causes" class="span12 first">
				    </div>
				    <div class="span12 first mbtm-20">
				    	<button class="btn btn-more btn-orange" type="button" id="add-causes">Add Causes</button>	
				    </div>
				    {% for ngo in object.ngobasic_set.all  %}
				    <div class="span12 first" id="profile-geography">
				    	<div class="span6">
				    		<div class="control-group">
							    <label for="email">Profile with Geographical area of Operation:</label>
							    <textarea name="ngobasic-profile_geography_desc" class="input-block-level" placeholder="Enter Geographical Area of Operation in Detail">{{ngo.profile_geography_desc}}</textarea>
						    </div>
					  	</div>
				    </div>
				    {% endfor %}
				    <!-- <div class="control-group span12 first">
				      	<div class="col-lg-10 col-lg-offset-2">
				        	<button id="ngo-1-nxt" class="btn btn-more btn-red" type="button">Next</button>
				      	</div>
				    </div> -->
				</div>
				<div class="ngo2 entity form-section">
			    	<legend>Step 2 of 4</legend>
			    	<span class="lrg-text">Organization Details</span>
			    	<input type="hidden" name="organizationdetail-user" value={{user.id}}>

			    	<div class="span12 first">
				    	<div class="span3">
						    <label for="email">Form Of Organisation</label>
						    <div class="control-group">
								 <select name="form_of_organization_ngo" class="input-block-level" data-parsley-required="true">
								 	<option value="">Select form of Organisation</option>
								 	{% for f in ngo_form_of_organisation %}
										<option  value={{f.id}} {% if f.id == object.form_of_organization_ngo.id %}
										selected {% endif %}>{{f.name}}</option>
								 	{% endfor %}	
								 </select>
							</div>
					  	</div>
					  	{% for ngo in object.organizationdetails_set.all %}
					  	<input type="hidden" name="organizationdetail-id" value="{{ngo.id}}">
					    <div class="control-group span3">
						    <label for="pwd">Certificate of Registration* :</label>
						    <div class='fileupload input-block-level fileupload-exists' data-provides='fileupload'>
		                        <span class='btn btn-primary btn-file'>
		                            <span class='fileupload-new'>Upload</span>
		                            <span class='fileupload-exists'>Change</span><br>
		                            <input name="organizationdetail-certificate_of_registration" type='file' value="{{ngo.certificate_of_registration}}"/>
		                        </span>
		                        <span class='fileupload-preview'>{{ngo.certificate_of_registration}}</span>
		                        <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
		                    </div>
					    </div>
					    <div class="span3">
						    <label for="pwd">Purpose*:</label>
						    <div class="control-group">
							  	<select name="organizationdetail-purpose" class="input-block-level" data-parsley-required="true">
							  		<option value="">Select Purpose</option>
							  		{% for purpose in purposes %}
							  			<option value="{{purpose.id}}" {% if purpose.id == ngo.purpose.id  %} selected {% endif %}>{{purpose.name}}</option>
							  		{% endfor %}
								</select>
                            </div>
					    </div>
					    
					    {% endfor %}
				    </div>
				    <div class="span12 first">
				    {% for ngo in object.organizationdetails_set.all %}
				    	<div class="control-group span3">
						    <label for="email">Contact Person Name</label>
						    <input name="organizationdetail-contactperson_name" type="text" class="input-block-level" placeholder="Enter Person name" data-parsley-pattern="[a-zA-Z\s]+" value="{{ngo.contactperson_name}}">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Email:</label>
						    <input name="organizationdetail-contactperson_emailid" type="text" class="input-block-level" placeholder="Enter person Email" data-parsley-type="email" value="{{ngo.contactperson_emailid}}">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Mobile Number:</label>
						    <input name="organizationdetail-contactperson_mobileno" type="text" class="input-block-level" placeholder="Enter Persons Mobile No." data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" value="{{ngo.contactperson_mobileno}}">
					    </div>
					    <div class="control-group span3 ">
						    <label for="pwd">Contact Person Address:</label>
						    <input name="organizationdetail-contactperson_address" type="text" class="input-block-level" placeholder="Enter Persons Address" value="{{ngo.contactperson_address}}">
					    </div>
					{% endfor %}    
				    </div>
				    <div id="trustees" class="span12 first">
				    </div>
				    <div class="span12 first mbtm-20">
				    	<button class="btn btn-more btn-orange" type="button" id="add-trustees">Add Directors/Trustees</button>	
				    </div>
				    {% for ngo in object.organizationdetails_set.all %}
				    <div class="span12 first">
					    <div class="control-group span3 ">
						    {% if ngo.donor_benefit_section == '1'  %}
							    <label for="csr">Benefit to Donor under section : </label>
							    <label class="radio-inline">
						        <input value="1" id="csr-yes" type="radio" name="organizationdetail-donor_benefit_section" data-parsley-required = "true" data-parsley-errors-container="#benefit-required-err" checked>80 G
						        </label>
						        <label class="radio-inline">
						        <input value="2" id="csr-no" type="radio" name="organizationdetail-donor_benefit_section">80 GGA
						        </label>
					        {% else %}
					        	<label for="csr">Benefit to Donor under section : </label>
							    <label class="radio-inline">
						        <input value="1" id="csr-yes" type="radio" name="organizationdetail-donor_benefit_section" data-parsley-required = "true" data-parsley-errors-container="#benefit-required-err" >80 G
						        </label>
						        <label class="radio-inline">
						        <input value="2" id="csr-no" type="radio" name="organizationdetail-donor_benefit_section" checked>80 GGA
						        </label>
					        {% endif %}
						    <div id="benefit-required-err"></div>
					    </div>
					    <div class="control-group span3 ">
					    	{% if ngo.deduction_rate == '1'  %}
						    <label for="csr">Rate Of Deduction:</label>
						    <label class="radio-inline">
					        <input value="1" id="csr-yes" type="radio" name="organizationdetail-deduction_rate" data-parsley-required = "true" data-parsley-errors-container="#deduction-required-err" checked>50 %
					        </label>
					        <label class="radio-inline">
					        <input value="2" id="csr-no" type="radio" name="organizationdetail-deduction_rate">100 %
					        </label>
					        {% else %}
					        <label for="csr">Rate Of Deduction:</label>
						    <label class="radio-inline">
					        <input value="1" id="csr-yes" type="radio" name="organizationdetail-deduction_rate" data-parsley-required = "true" data-parsley-errors-container="#deduction-required-err">50 %
					        </label>
					        <label class="radio-inline">
					        <input value="2" id="csr-no" type="radio" name="organizationdetail-deduction_rate" checked="">100 %
					        </label>
					        {% endif %}
					        <div id="deduction-required-err"></div>
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3"> {{ngo.religious_reason}}
				    		{% if ngo.religious_reason == True  %}
						    <label for="email">Formed for Religious Community/Caste</label>
						    <label class="radio-inline">
					        <input value="True" id="religious-yes" type="radio" name="organizationdetail-religious_reason" data-parsley-required = "true" data-parsley-errors-container="#religious-required-err" checked>yes
					        </label>
					        <label class="radio-inline">
					        <input value="False" id="religious-no" type="radio" name="organizationdetail-religious_reason">no
					        </label>
					        {% else %}
					        <label for="email">Formed for Religious Community/Caste</label>
						    <label class="radio-inline">
					        <input value="True" id="religious-yes" type="radio" name="organizationdetail-religious_reason" data-parsley-required = "true" data-parsley-errors-container="#religious-required-err" >yes
					        </label>
					        <label class="radio-inline">
					        <input value="False" id="religious-no" type="radio" name="organizationdetail-religious_reason" checked>no
					        </label>
					        {% endif %}
					        <div id="religious-required-err"></div>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">If Yes, Describe:</label>
						    <textarea class="input-block-level" name="organizationdetail-religious_reason_desc" rows="3" placeholder="describe">
						    </textarea>
					    </div>
				    </div>
				    {% endfor %}
			    </div>
			    <div class="ngo3 entity form-section">
			    	<legend>Step 3 of 4</legend>
			    	<span class="lrg-text">Add Projects Undertaken so far</span>
			    	<input type="hidden" name="project-0-user" value="{{user.id}}">
		    		<input id="id_project-TOTAL_FORMS" name="project-TOTAL_FORMS" type="hidden" value="{{object.addpastproject_set.all.count}}">
					<input id="id_project-INITIAL_FORMS" name="project-INITIAL_FORMS" type="hidden" value="{{object.addpastproject_set.all.count}}">
					<input id="id_project-MIN_NUM_FORMS" name="project-MIN_NUM_FORMS" type="hidden" value="0">
					<input id="id_project-MAX_NUM_FORMS" name="project-MAX_NUM_FORMS" type="hidden" value="1000">

			    	<div class="span12 first">
			    		{% for project in object.addpastproject_set.all %}
			    		<div class="span12 first">
			    			<input type="hidden" name="project-0-id" value="{{project.id}}">	
			    		</div>
			    		
						<div class="span12 mtop-20 first">
							<div class="span2">
								<label>Project Name</label>	
							</div>
							<div class="span4">
								<input name="project-0-name" class="input-block-level" type="text" placeholder="enter project name" data-parsley-pattern="[a-zA-Z0-9\s]+" value="{{project.name}}" data-parsley-required="true">
							</div>
							<div class="span2">
								<label>Geographic Location</label>	
							</div>
							<div class="span4">
								<div class="control-group">
								  	<select name="project-0-location" class="input-block-level">
								  			<option value="">Select Location</option>
									    {% for location in locations %}
									    	<option value="{{location.id}}" {% if project.location == location.name %} selected {% endif %}>{{location.name}} </option>
									    {% endfor %}
								  	</select>
								</div>
							</div>
						</div>
						<div class="span12 first">
							<div class="span2">
								<label>Project Description</label>	
							</div>
							<div class="span4">
								<textarea name="project-0-description" rows="3" class="input-block-level" name="desc" type="text" placeholder="enter Project description" value="{{project.description}}">{{project.description}}</textarea>
							</div>
							<div class="span2">
								<label>Project Supported By</label>	
							</div>
							<div class="span4">
								<input name="project-0-supported_by" class="input-block-level" type="text" placeholder="Project Supported By" value="{{project.supported_by}}">
							</div>
							<div class="span2">
								<label>Particulars of support</label>	
							</div>
							<div class="span4">
								<input name="project-0-support_particulars" class="input-block-level" type="text" placeholder="Particulars of support" value="{{project.supported_by}}">	
							</div>
						</div>
						<div class="span12 first">
							<div class="span2">
								<label>Spent/Given for the financial Year</label>	
							</div>
							<div class="span4">
								<input name="project-0-financialyear" class="year input-block-level" type="text" placeholder="enter financial year" data-parsley-pattern="[0-9]{4}" value="{{project.financialyear}}">
							</div>
						</div>	
						<table class="table">
							<tr>
								<th></th>
								<th>Money</th>
								<th>In Kind</th>
								<th>In Time</th>
							</tr>
							<tr>
								<td colspan="1"></td>
								<td>
									<input name="project-0-money" class="input-block-level" type="text"  placeholder="Enter Money Donated" data-parsley-type="number" value="{{project.money}}">
								</td>
								<td>
									<textarea name="project-0-kind_desc" class="input-block-level" placeholder="Describe In kind Donation" value="{{project.kind_desc}}">{{project.kind_desc}}</textarea>
								</td>
								<td>
									<textarea name="project-0-time_desc" class="input-block-level" placeholder="Describe In Time Donation" value="{{project.time_desc}}">{{project.time_desc}}</textarea>
								</td>
							</tr>
							<tr>
								<th>Direct Beneficiaries</th>
								<td colspan="3">
									<textarea name="project-0-direct_benefitter" class="input-block-level" placeholder="Enter Direct Beneficiaries from Donation" value="{{project.direct_benefitter}}">{{project.direct_benefitter}}</textarea>
								</td>
							</tr>
							<tr>
								<th>InDirect Beneficiaries</th>
								<td colspan="3">
									<textarea name="project-0-indirect_benefitter" class="input-block-level" placeholder="Enter InDirect Beneficiaries from Donation" value="{{project.indirect_benefitter}}">
									{{project.indirect_benefitter}}</textarea>
								</td>
							</tr>
						</table>
						{% endfor %}
						<div class="mtop-20">
							<div class="pull-right m-add-prj-btn">
								<button class="btn btn-more btn-red input-block-level" type="button">Add More Projects</button>
							</div>
						</div>
				    </div>  
				    <!-- <div class="control-group span12 first">
			          	<div class="">
				            <button id="ngo-3-bck" class="btn btn-more btn-red back3" type="button">Back</button>
				            <button id="ngo-3-nxt" class="btn btn-more btn-orange open3" type="button">Next </button> 
			         	</div>
			        </div> -->
				</div>
				<div class="ngo4 entity form-section">
			    	<legend>Step 4 of 4</legend>
			    	<span class="lrg-text">Add Financial Details</span>
			    	
			    	<input id="id_findetail-TOTAL_FORMS" name="findetail-TOTAL_FORMS" type="hidden" value="{{object.ngofinancialdetails_set.all.count}}">
					<input id="id_findetail-INITIAL_FORMS" name="findetail-INITIAL_FORMS" type="hidden" value="{{object.ngofinancialdetails_set.all.count}}">
					<input id="id_findetail-MIN_NUM_FORMS" name="findetail-MIN_NUM_FORMS" type="hidden" value="0">
					<input id="id_findetail-MAX_NUM_FORMS" name="findetail-MAX_NUM_FORMS" type="hidden" value="1000">
					
					<!-- <input type="hidden" name="findetail-1-financialdate" value="07/07/2017">
					<input type="hidden" name="findetail-2-financialdate" value="07/07/2017"> -->
					<!-- <input type="hidden" name="findetail-0-user" value="{{user.id}}">
					<input type="hidden" name="findetail-1-user" value="{{user.id}}">
					<input type="hidden" name="findetail-2-user" value="{{user.id}}"> -->
			    	<div class="span12 first">
			    	
			    		<table class="table rmtabborder ">
							<tr>
								<th class="text-center">Financial Date</th>
								<th>Year 1</th>
								<th>Year 2</th>
								<th>Year 3</th>
							</tr>
							<tr>
								{% for finance in object.ngofinancialdetails_set.all %}
								<input type="hidden" name="findetail-{{forloop.counter0}}-id" value="{{finance.id}}">
								{% if forloop.counter0 == 0 %}
								<td><input class="datepicker input-block-level" name="findetail-{{forloop.counter0}}-financialdate" placeholder="enter financial date" data-parsley-required="true" value="{{finance.financialdate|date:'Y-m-d'}}" {% if forloop.counter0 != 0 %} type="hidden" {% endif %}></td>
								{% else %}
								<input class="datepicker input-block-level" name="findetail-{{forloop.counter0}}-financialdate" placeholder="enter financial date" data-parsley-required="true" value="{{finance.financialdate|date:'Y-m-d'}}" {% if forloop.counter0 != 0 %} type="hidden" {% endif %}>
								{% endif %}
								<td><input class="year input-block-level" name="findetail-{{forloop.counter0}}-financial_year" type="text" placeholder="enter Year 1" data-parsley-required="true" value="{{finance.financial_year}}"></td>
								{% endfor %}
							</tr>
							<tr>
								<td>[Rs in Lakhs]</td>
								<td>[Rs in Lakhs]</td>
								<td>[Rs in Lakhs]</td>
								<td>[Rs in Lakhs]</td>
							</tr>
							<tr>
								<th>Donations From Govt./Semi-Govt</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-don_govt_nongovt"  class="input-block-level" type="text" placeholder="govt/semi-govt" data-parsley-type="number" value="{{finance.don_govt_nongovt}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Donations From Indian</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-don_india" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number" value="{{finance.don_india}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Donations From Foreign</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-don_foreign" class="input-block-level"  type="text" placeholder="enter donations" data-parsley-type="number" value="{{finance.don_foreign}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Donations From KH Members</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-don_khmembers" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number" value="{{finance.don_khmembers}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Income From Assets/Investments</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-don_assets" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number" value="{{finance.don_assets}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Other Income</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-otherincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number" value="{{finance.otherincome}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Gross Income</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-grossincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number" value="{{finance.grossincome}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Expense On Objects of trust</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-expense_objective" class="input-block-level" type="text" placeholder="expense on objective" data-parsley-type="number" value="{{finance.expense_objective}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Expense On Administrative Activity</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-expense_administration" class="input-block-level" type="text" placeholder="expense on administration" data-parsley-type="number" value="{{finance.expense_administration}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Total Expense</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-expense_total" class="input-block-level" type="text" placeholder="Total expense" data-parsley-type="number" value="{{finance.expense_total}}">
								</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Net Surplus/Deficit</th>
								{% for finance in object.ngofinancialdetails_set.all %}
								<td>
									<input name="findetail-{{forloop.counter0}}-net_surpluss_deficit" class="input-block-level" type="text" placeholder="enter amount" data-parsley-type="number" value="{{finance.net_surpluss_deficit}}">
								</td>
								{% endfor %}
							</tr>
						</table>
					
				    </div>  
				    <!-- <div class="control-group span12 first">
			          	<div class="">
				            <button id="ngo-4-bck" class="btn btn-more btn-red " type="button">Back</button>
				            <input type="submit" class="btn btn-more btn-red" value="Submit">
			          	</div>
			        </div> -->
				</div>
				<div class="control-group span12 first">
			      	<div class="col-lg-10 col-lg-offset-2 form-navigation ">
			      		<button type="button" class="previous btn btn-more btn-red pull-left">&lt; Previous</button>
			        	<button  class="next btn btn-more btn-red " type="button" >Next &gt;</button>
			        	<input type="submit" class="btn btn-more btn-red" value="Submit">

			      	</div>
			    </div>

			</form>
		</div>
		{% endif %}
		<div class="formupper span12 first">
            </a></span>
            <div class="text-center bs-callout bs-callout-warning alert-danger hidden">
                <p>This data seems to be invalid!!</p>
            </div>
            <!-- <div class="text-center bs-callout bs-callout-info alert-success ">
                {{success_msg}}
            </div> -->
        </div>
		
	</div>
</div>
{% endblock main-content %}
