{% extends "base-login2.html" %}

{% block main-content %}
<section id="donation_box" class="mtop">
    <section class="container container-fluid">
    <section style="text-align: center;">
    
        <h3 ><b>Edit Profile</b></h3>
        
   
    </section>
    
        <section class="row-fluid">

            <section class="span3 offset3 ">
                
                    
                        <div class="control-group">
                            <label for="inputEmail" class=""><b>First Name</b> <sup>*</sup></label>
                            <div class="controls">
                              <input class="controlwidth" type="text" placeholder="Email-id" id="inputEmail">
                            </div>
                        </div>
                    
                        <div class="control-group">
                            <label for="inputPassword" class="control-label loginform">
                            <b>Email Id</b> <sup>*</sup></label>
                            <div class="controls">
                              <input class="controlwidth" type="text" placeholder="Password" id="inputPassword">
                            </div>
                        </div>

          
            </section>
            <section class="span3">
                
                    
                        <div class="control-group">
                            <label for="inputEmail" class=""><b>Last Name</b> <sup>*</sup></label>
                            <div class="controls">
                              <input class="controlwidth" type="text" placeholder="Email-id" id="inputEmail">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="inputEmail" class=""><b>Contact Number</b> <sup>*</sup></label>
                            <div class="controls">
                              <input class="controlwidth" type="text" placeholder="Email-id" id="inputEmail">
                            </div>
                        </div>      
                        
          
            </section>

            



        </section>
        <section style="text-align: center;">
                   
                
                    <div class="control-group">
                        <div class="controls">
                          <button class="more-btn" type="submit">Upload Kyc</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                          <button class="more-btn" type="submit">Save Changes</button>
                        </div>
                    </div>
        </section>   
    </section>
</section>    
{% endblock main-content %}
