{% extends "base-login2.html" %}
{% block main-content %}

<div class="container container-fluid">
	<div class="row-fluid">
		<div class="row-fluid mtop">
			<span class="lrg-text span2">User Type</span>
			<select id="usertype">
				<option>Select user type</option>
				<option id="corporate" selected>CORPORATE</option>
				<option id="ngo">REGISTERED NGO</option>
				<option id="individual">INDIVIDUAL</option>
				<option id="others">OTHERS</option>
			</select>
		</div>
		<form name="basicform" id="basicform" method="post">
			<div id="mem-corporate">
				<fieldset>
					<div class=" company1">
						<legend>Step 1 of 2</legend>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Company Name</label>
							    <input value="Being Human" type="text" class="form-control" id="email">
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Registration Number:</label>
							    <input value="123" type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Company Email-id:</label>
							    <input value="abc@gmail.com" type="text" class="form-control" id="pwd">
						    </div>	
					    </div>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Company Contact Number</label>
							    <input value="9821114112" type="text" class="form-control" id="email">
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Company Website:</label>
							    <input value="abc.com" type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Company Address:</label>
							    <input value="vasai west dist palghar" type="text" class="form-control" id="pwd">
						    </div>	
					    </div>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Contact person Name</label>
							    <input value="Pritam Mehta" type="text" class="form-control" id="email">
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Contact Person Mobile Number:</label>
							    <input value="9821114112" type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Contact Person Email-id:</label>
							    <input value="pritam@gmail.com" type="text" class="form-control" id="pwd">
						    </div>	
					    </div>
					    <div id="directors" class="span12">
					    	<div class='span12 first'>
							    <div class='form-group span3'>
							        <label for='email'>Director Name</label>
							        <input value="Jay Fifadra" type='text' class='form-control' id="d-name-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Directors Designation:</label>
							        <input value="CEO" type='text' class='form-control' id="d-name-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Directors Email-id:</label>
							        <input value="jay@gmail.com" type='text' class='form-control' id="d-name-1">
							    </div>
							</div>
							<div class='span12 first'>
							    <div class='form-group span3'>
							        <label for='email'>Mobile Number</label>
							        <input value="9821114112" type='text' class='form-control' id="d-mobileno-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Directors Photo:</label>
							        <input value="photo.jpeg" type='file' class='form-control' id="d-photo-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Description:</label>
							        <input value="good experience" type='text' class='form-control' id="d-desc-1">
							    </div>
							</div>
					    </div>
					    <div class="span12">
					    	<button class="btn btn-more btn-orange" type="button"   id="add-directors">Add Director</button>	
					    </div>
					    <div id="csr-committee" class="span12 mtop-20">
					    	<div class='span12 first'>
							    <div class='form-group span3'>
							        <label for='email'>Member Name</label>
							        <input value="Jay Fifadra" type='text' class='form-control' id="c-name-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Member Designation:</label>
							        <input value="CEO" type='text' class='form-control' id="c-name-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Member Email-id:</label>
							        <input value="jay@gmail.com" type='text' class='form-control' id="c-name-1">
							    </div>
							</div>
							<div class='span12 first'>
							    <div class='form-group span3'>
							        <label for='email'>Member Mobile Number</label>
							        <input value="9821114112" type='text' class='form-control' id="c-mobileno-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Member Photo:</label>
							        <input value="photo.jpeg" type='file' class='form-control' id="c-photo-1">
							    </div>
							    <div class='form-group span3'>
							        <label for='pwd'>Member Description:</label>
							        <input value="good experience" type='text' class='form-control' id="c-desc-1">
							    </div>
							</div>
					    </div>
					    <div class="span12 mtop-20">
					    	<button class="btn btn-more btn-orange" type="button" id="add-csrmem" >Add CSR Committee Member</button>	
					    </div>
					    <div id="csr-committee" class="span12">
					    </div>
					    <div class="form-group span12">
					      <div class="col-lg-10 col-lg-offset-2">
					        <button id="corporate-1-nxt" class="btn btn-more btn-red " type="button">Next</button>
					        <button  class="btn btn-more btn-primary " type="button">Save Changes</button> 
					      </div>
					    </div>
					</div>
					<div class="company-st-2 company2" id="company-2">
				        <legend>Step 2 of 2</legend>
					    <div class="span12">
					    	<div class="span3">
							    <label for="email">Undertaking CSR u/s 135 of companies act :</label>
							    <label class="radio-inline">
						        <input id="csr-yes" type="radio" name="csr-135" checked>yes
						        </label>
						        <label class="radio-inline">
						        <input id="csr-no" type="radio" name="csr-135">no
						        </label>
						  	</div>
						  	<div class="form-group span3">
							    <label for="pwd">CSR Applicability Details:</label>
							    <div class="controls">
									<div class="styled-select slate">
									  <select class="" >
									    <option>Annual T/O 1000 Cr or more
										</option >
									    <option>Net Worth 500 Cr or More
										</option selected>
										<option>Net profit 0f 5 Cr or More</option>
									  </select>
									</div>
				                </div>
				            </div> 
				            <div class="span3">
						    	<label for="csr">CSR Fund Availability:</label>
						    	<input value="2 crore" type="text" class="form-control" id="csr-fund">
					    	</div> 
					    </div>
					    <div class="span12">
					    	<div class="form-group span3 ">
							    <label for="csr">Undertaking Non-CSR Activity:</label>
							    <label class="radio-inline">
						        <input id="noncsr-yes" type="radio" name="noncsr" checked>yes
						        </label>
						        <label class="radio-inline">
						        <input id="noncsr-no" type="radio" name="noncsr">no
						        </label>
					    	</div>
					    	<div class="form-group span3">
						    	<div class="">
							    	<label for="csr">Non-CSR Fund Availability:</label>
							    	<input value="2 crore" type="text" class="form-control" id="csr-fund">
						    	</div>
						    </div>
						    <div class="form-group span3">
						    	<div class="">
							    	<label for="csr">Causes of non-csr spend:</label>
							    	<input value="Medical Bills and Kids Education" type="text" class="form-control" id="csr-fund">
						    	</div>
						    </div>		
					    </div>
					    <div class="span12">
					    	<div class="form-group span6">
							    <label for="email">Objectives</label>
							    <textarea value="Betterment" name="objectives">Betterment of the society
							    </textarea>
						  	</div>
						    <div class="form-group span6">
							    <label for="pwd">Focus Area:</label>
							    <div class="controls">
									<textarea name="objectives">Adivasi Areas
							    	</textarea>
				                </div>
						    </div>
					    </div>
					    <div class="span12">
					    	<div class="form-group span6">
							    <label for="email">Funding selection and Monitoring Process</label>
							    <textarea name="funding-desc">cant reveal
							    </textarea>
						  	</div>
						    <div class="form-group span6">
							    <label for="pwd">Criteria for Selection of NGO's and another entities to join in CSR activities of the company:</label>
							    <div class="controls">
									<textarea name="criteria">only registered ngo
							    	</textarea>
				                </div>
						    </div>
					    </div>
					    <div class="span12">
					    	<div class="form-group span6">
							    <label for="email">Nature Of Business</label>
							    <textarea name="business">techno-trade
							    </textarea>
						  	</div>
					    </div>
				        <div class="clearfix" style="height: 10px;clear:both;">
				        </div>
				        <div class="form-group span12">
				          <div class="">
				            <!-- back2 unique class name  -->
				            <button id="corporate-2-bck" class="btn btn-more btn-red " type="button">Back</button>
				            <button  class="btn btn-more btn-primary " type="button">Save Changes</button>
				            <!-- open2 unique class name -->
				            <!-- <button class="btn btn-more btn-orange open2" type="button">Next </button>  -->
				          </div>
				        </div>
				    </div>		
				</fieldset>
			</div>
			<div id="mem-ngo">
				<fieldset>
					<div class="ngo-st-1 ngo1">
							<legend>Step 1 of 4</legend>
							<span class="lrg-text">Basic Information</span>
							<div class="span12">
						    	<div class="form-group span3">
								    <label for="email">Name of the NGO</label>
								    <input type="text" class="form-control" id="email">
							  	</div>
							  	<div class="span3">
								    <label for="email">CSR Ready :</label>
								    <label class="radio-inline">
							        <input id="csr-yes" type="radio" name="csr-ready">yes
							        </label>
							        <label class="radio-inline">
							        <input id="csr-no" type="radio" name="csr-ready">no
							        </label>
							  	</div>
							  	<div class="form-group span3">
								    <label for="email">Date of Establisment</label>
								    <input type="text" class="form-control" id="email">
							  	</div>
						    </div>
						    <div class="span12">
						    	<button class="btn btn-more btn-orange" type="button" id="add-causes">Add Causes</button>	
						    </div>
						    <div id="causes" class="span12">
						    </div>
						    <div class="span12" id="profile-geography">
						    	<div class="span8">
								    <label for="email">Geographical area Description:</label>
								    <textarea rows="3"></textarea>
							  	</div>
						    </div>
						    <div class="form-group span12">
						      <div class="col-lg-10 col-lg-offset-2">
						        <button id="ngo-1-nxt" class="btn btn-more btn-red" type="button">Next</button> 
						      </div>
						    </div>
					</div>
					<div class="ngo-st-2 ngo2">
					    	<legend>Step 2 of 4</legend>
					    	<span class="lrg-text">Organization Details</span>
					    	<div class="span12">
						    	<div class="form-group span3">
								    <label for="email">Form Of Organisation</label>
								    <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>Society under Societies Registration Act</option>
										    <option>Company registered under Section 8/25 of Companies Act</option>
										    <option>Trust registered under Public Trust Act</option>
										  </select>
										</div>
		                            </div>
							  	</div>
							    <div class="form-group span3">
								    <label for="pwd">Upload Certificate Of Registration:</label>
								    <input type="text" class="form-control" id="pwd">
							    </div>
							    <div class="form-group span3">
								    <label for="pwd">Purpose:</label>
								    <div class="controls">
										<div class="styled-select slate">
										  	<select>
										    	<option>100% Charitable Purpose
												</option>
											    <option>100% Religious Purpose
												</option>
											    <option>Partly Charitable and Partly Religious (of National Importance)
												</option>
												<option>Partly Charitable and Partly Religious (Others)
												</option>
											</select>
										</div>
		                            </div>
							    </div>	
						    </div>
						    <div class="span12">
						    	<div class="form-group span3">
								    <label for="email">Contact Person Name</label>
								    <input type="text" class="form-control" id="email">
							  	</div>
							    <div class="form-group span3">
								    <label for="pwd">Contact Person Email:</label>
								    <input type="text" class="form-control" id="pwd">
							    </div>
							    <div class="form-group span3">
								    <label for="pwd">Contact Person Mobile Number:</label>
								    <input type="text" class="form-control" id="pwd">
							    </div>
							    <div class="form-group span3 ">
								    <label for="pwd">Contact Person Address:</label>
								    <input type="text" class="form-control" id="pwd">
							    </div>	
						    </div>
						    <div class="span12">
						    	<button class="btn btn-more btn-orange" type="button" id="add-trustees">Add Trustees</button>	
						    </div>
						    <div id="trustees" class="span12">
						    </div>
						    <div class="span12">
							    <div class="form-group span3 ">
								    <label for="csr">Benefit Donor under section : </label>
								    <label class="radio-inline">
							        <input id="csr-yes" type="radio" name="csr-135">80 G
							        </label>
							        <label class="radio-inline">
							        <input id="csr-no" type="radio" name="csr-135">80 	GGA
							        </label>
							    </div>
							    <div class="form-group span3 ">
								    <label for="csr">Rate Of Deduction:</label>
								    <label class="radio-inline">
							        <input id="csr-yes" type="radio" name="csr-135">50 %
							        </label>
							        <label class="radio-inline">
							        <input id="csr-no" type="radio" name="csr-135">100 %
							        </label>
							    </div>	
						    </div>
						    <div class="span12">
						    	<div class="form-group span3">
								    <label for="email">Formed for Religious reason</label>
								    <label class="radio-inline">
							        <input id="religious-yes" type="radio" name="csr-135">yes
							        </label>
							        <label class="radio-inline">
							        <input id="religious-no" type="radio" name="csr-135">no
							        </label>
							  	</div>
							    <div class="form-group span3">
								    <label for="pwd">If Yes, Describe:</label>
								    <textarea rows="3" placeholder="describe ">
								    </textarea>
							    </div>
						    </div>
						    <div class="form-group span12">
					          <div class="">
					            <!-- back2 unique class name  -->
					            <button id="ngo-2-bck" class="btn btn-more btn-red " type="button">Back</button> 
					            <!-- open2 unique class name -->
					            <button id="ngo-2-nxt" class="btn btn-more btn-orange open2" type="button">Next </button> 
					          </div>
					        </div>
				    </div>
				    <div class="ngo-st-3 ngo3">
					    	<legend>Step 3 of 4</legend>
					    	<span class="lrg-text">Add Projects</span>
					    	<div class="span12">
					    		<div class="span2 mprjlabel">
									<b>Project Name</b>
								</div>
								<div class="inputwidth mprjinput ">	
									<input name="project" type="text" placeholder="enter project name">
								</div>
					    		<table class="table rmtabborder">
									<tr>
										<th>Financial Year</th>
										<td>
											<input name="financialyear" type="text" placeholder="enter financial year">
										</td>
										<td>
											<input name="financialyear" type="text" placeholder="enter financial year">
										</td>
										<td>
											<input name="fincancialyear" type="text" placeholder="enter financial year">
										</td>
									</tr>
									<tr>
										<th>Spent/Given</th>
										<td>
											<input name="amount" type="text" placeholder="enter amount">
										</td>
										<td>
											<input name="amount" type="text" placeholder="enter kind">
										</td>
										<td>
											<input name="Time" type="text" placeholder="enter amount">
										</td>
									</tr>
									<tr>
										<th>Money</th>
										<td>
											<input name="amount" type="text" placeholder="enter amount">
										</td>
										<td>
											<input name="amount" type="text" placeholder="enter kind">
										</td>
										<td>
											<input name="Time" type="text" placeholder="enter amount">
										</td>
									</tr>
									<tr>
										<th>In Kind</th>
										<td>
											<input name="amount" type="text" placeholder="enter amount">
										</td>
										<td>
											<input name="amount" type="text" placeholder="enter kind">
										</td>
										<td>
											<input name="Time" type="text" placeholder="enter amount">
										</td>
									</tr>
									<tr>
										<th>Time</th>
										<td>
											<input name="amount" type="text" placeholder="enter amount">
										</td>
										<td>
											<input name="amount" type="text" placeholder="enter kind">
										</td>
										<td>
											<input name="Time" type="text" placeholder="enter amount">
										</td>
									</tr>
									<tr>
										<th>Direct Beneficiaries</th>
										<td>
											<input name="amount" type="text" placeholder="enter Beneficiaries">
										</td>
										<td>
											<input name="amount" type="text" placeholder="enter Beneficiaries">
										</td>
										<td>
											<input name="Time" type="text" placeholder="enter Beneficiaries">
										</td>
									</tr>
									<tr>
										<th>InDirect Beneficiaries</th>
										<td>
											<input name="amount" type="text" placeholder="enter Beneficiaries">
										</td>
										<td>
											<input name="amount" type="text" placeholder="enter Beneficiaries">
										</td>
										<td>
											<input name="Time" type="text" placeholder="enter Beneficiaries">
										</td>
									</tr>
								</table>
								<div class="form-group span2 first">
								    <label for="email"><b>Geographic Location</b></label>
								</div>    
							    <div class="controls span3">
									<div class="styled-select slate">
									  <select class="" >
									    <option>Mumbai	
										</option>
									    <option>Delhi
										</option>
										<option>Kolkata</option>
										<option>Chennai</option>
									  </select>
									</div>
				                </div><!-- 
								<div class="span3 mprjlabel">
									<b>Description</b>
								</div> -->
								<div class="inputwidth">	
									<textarea name="desc" type="text" placeholder="enter Project description">
									</textarea>
								</div>
						    </div>  <!-- end -->
						    <div class="form-group span12">
					          <div class="">
					            <!-- back2 unique class name  -->
					            <button id="ngo-3-bck" class="btn btn-more btn-red back3" type="button">Back</button> 
					            <!-- open2 unique class name -->
					            <button id="ngo-3-nxt" class="btn btn-more btn-orange open3" type="button">Next </button> 
					          </div>
					        </div>
					</div>
					<div class="ngo-st-4 ngo4">
					    	<legend>Step 4 of 4</legend>
					    	<span class="lrg-text">Add Statutory Information</span>
					    	<div class="span12">
					    		<table class="table rmtabborder ">
									<tr>
										<th  class="text-center">Financial Date</th>
										<th>Year 1</th>
										<th>Year 2</th>
										<th>Year 3</th>
									</tr>
									<tr>
										<td rowspan="2"><input name="financialdate" type="text" placeholder="enter financial date"></td>
										<td><input name="year1" type="text" placeholder="enter Year 1"></td>
										<td><input name="year2" type="text" placeholder="enter Year 2"></td>
										<td><input name="year3" type="text" placeholder="enter Year 3"></td>
									</tr>
									<tr>
										<td>[Rs in Lakhs]</td>
										<td>[Rs in Lakhs]</td>
										<td>[Rs in Lakhs]</td>
									</tr>
									<tr>
										<th>Donations From Govt./Semi-Govt</th>
										<td>
											<input  type="text" placeholder="govt/semi-govt">
										</td>
										<td>
											<input type="text" placeholder="govt/semi-govt">
										</td>
										<td>
											<input type="text" placeholder="govt/semi-govt">
										</td>
									</tr>
									<tr>
										<th>Donations From Indian</th>
										<td>
											<input  type="text" placeholder="enter donations">
										</td>
										<td>
											<input type="text" placeholder="enter donations">
										</td>
										<td>
											<input type="text" placeholder="enter donations">
										</td>
									</tr>
									<tr>
										<th>Donations From Foriegn</th>
										<td>
											<input name="income1" type="text" placeholder="enter donations">
										</td>
										<td>
											<input name="income2" type="text" placeholder="enter donations">
										</td>
										<td>
											<input name="income3" type="text" placeholder="enter donations">
										</td>
									</tr>
									<tr>
										<th>Donations From KH</th>
										<td>
											<input name="income1" type="text" placeholder="enter donations">
										</td>
										<td>
											<input name="income2" type="text" placeholder="enter donations">
										</td>
										<td>
											<input name="income3" type="text" placeholder="enter donations">
										</td>
									</tr>
									<tr>
										<th>Income From Assets/Investments</th>
										<td>
											<input name="income1" type="text" placeholder="enter income">
										</td>
										<td>
											<input name="income2" type="text" placeholder="enter income">
										</td>
										<td>
											<input name="income3" type="text" placeholder="enter income">
										</td>
									</tr>
									<tr>
										<th>Other Income</th>
										<td>
											<input name="income1" type="text" placeholder="enter income">
										</td>
										<td>
											<input name="income2" type="text" placeholder="enter income">
										</td>
										<td>
											<input name="income3" type="text" placeholder="enter income">
										</td>
									</tr>
									<tr>
										<th>Gross Income</th>
										<td>
											<input name="income1" type="text" placeholder="enter income">
										</td>
										<td>
											<input name="income2" type="text" placeholder="enter income">
										</td>
										<td>
											<input name="income3" type="text" placeholder="enter income">
										</td>
									</tr>
									<tr>
										<th>Expense On Objectives</th>
										<td>
											<input name="income1" type="text" placeholder="expense on objective">
										</td>
										<td>
											<input name="income2" type="text" placeholder="expense on objective">
										</td>
										<td>
											<input name="income3" type="text" placeholder="expense on objective">
										</td>
									</tr>
									<tr>
										<th>Expense On Administrative Activity</th>
										<td>
											<input name="income1" type="text" placeholder="expense on administration">
										</td>
										<td>
											<input name="income2" type="text" placeholder="expense on administration">
										</td>
										<td>
											<input name="income3" type="text" placeholder="expense on administration">
										</td>
									</tr>
									<tr>
										<th>Total Expense</th>
										<td>
											<input name="expense1" type="text" placeholder="Total expense">
										</td>
										<td>
											<input name="income2" type="text" placeholder="Total expense">
										</td>
										<td>
											<input name="income3" type="text" placeholder="Total expense">
										</td>
									</tr>
									<tr>
										<th>Net Surplus/Deficit</th>
										<td>
											<input name="income1" type="text" placeholder="enter amount">
										</td>
										<td>
											<input name="income2" type="text" placeholder="enter amount">
										</td>
										<td>
											<input name="income3" type="text" placeholder="enter amount">
										</td>
									</tr>
								</table>
						    </div>  <!-- end -->
						    <div class="form-group span12">
					          <div class="">
					            <!-- back2 unique class name  -->
					            <button id="ngo-4-bck" class="btn btn-more btn-red " type="button">Back</button> 
					            <!-- open2 unique class name -->
					          </div>
					        </div>
					</div>
				</fieldset>
			</div>
			<div id="mem-individual">
				<fieldset>
					<div class="individual-st-1 individual1">
						<legend>Step 1 of 1</legend>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Name</label>
							    <input type="text" class="form-control" id="email">
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Email-id:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Mobile Number:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Address:</label>
							    <div class="controls ">
	                                <textarea placeholder="enter address" ></textarea>
	                            </div>
						    </div>	
					    </div>
					    <div class="span12">
						    <div class="form-group span3">
							    <label for="pwd">Website:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Gender:</label>
							    <div class="styled-select slate">
								    <select>
								    	<option>Male</option>
								    	<option>Female</option>
								    </select>
								</div>
						    </div>
						    <div class="form-group span3">
							    <label for="email">Aadhar Number:</label>
							    <input type="text" class="form-control" id="email">
						  	</div>
						  	<div class="form-group span3">
							    <label for="email">CKYC No:</label>
							    <input type="text" class="form-control" id="email">
						  	</div>	
					    </div>
					     <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Profession:</label>
							    <div class="styled-select slate">
							    	<select>
								    	<option>Business</option>
								    	<option>Service</option>
								    	<option>Others</option>
									</select>
							    </div>
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Business description:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Service Details:</label>
							    <input type="text" class="form-control" id="pwd" placeholder="name of the employer and nature of business">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Professional Email-Id:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>	
					    </div>
					    <div class="span12">
					    	<button class="btn btn-more btn-orange" type="button" id="add-individualcauses">Add Causes</button>	
					    </div>
					    <div id="individual-causes" class="span12">
					    </div>
					    <div class="span12">
						    <div class="form-group span3">
							    <label for="pwd">Personal Skills:</label>
								<div class="styled-select slate">
								  	<select>
									    <option>Medicine</option>
									    <option>Law</option>
									    <option>Accountant</option>
									    <option>Architect</option>
									    <option>Engineer</option>
									    <option>Interior Decorator</option>
									    <option>Management Consultant</option>
									    <option>Information Technology</option>
									    <option>Software Engineer</option>
								  	</select>
								</div>	
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Experience in Skills:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>	
						    <div class="form-group span5" id="individual_geography">
							    <label for="pwd">Geographic Area of Operation:</label>
							    <textarea ></textarea>
						    </div>	
					    </div>
					   
					    <div class="form-group span12">
					      <div class="col-lg-10 col-lg-offset-2">
					        <button class="btn btn-more btn-red open1" type="button">Next</button> 
					      </div>
					    </div>
					</div>
				</fieldset>
			</div>
			<div id="mem-others">
				<fieldset>
					<div class="others-st-1 others1">
						<legend>Step 1 of 1</legend>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Name</label>
							    <input type="text" class="form-control" id="email">
						  	</div>
						  	<div class="form-group span3">
							    <label for="email">Form of Organisation</label>
							    <div class="controls">
									<div class="styled-select slate">
									  <select class="" >
									    <option>Partnership Firm
										</option>
									    <option>Association of Person
										</option>
									  </select>
									</div>
				                </div>
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Email-id:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Address:</label>
							    <div class="controls ">
	                                <textarea placeholder="enter address" ></textarea>
	                            </div>
						    </div>	
					    </div>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Contact Person Name</label>
							    <input type="text" class="form-control" id="email">
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">Contact Person Email:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Contact Person Mobile Number:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3 ">
							    <label for="pwd">Contact Person Address:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>	
					    </div>
					    <div class="span12">
					    	<div class="form-group span3">
							    <label for="email">Aadhar Card No:</label>
							    <input type="text" class="form-control" id="email">
						  	</div>
						    <div class="form-group span3">
							    <label for="pwd">CKYC no:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Website:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>
						    <div class="form-group span3">
							    <label for="pwd">Another Contact no:</label>
							    <input type="text" class="form-control" id="pwd">
						    </div>	
					    </div>
					    <div class="span12">
					    	<button class="btn btn-more btn-orange" type="button" id="add-otherscauses">Add Causes</button>	
					    </div>
					    <div id="others-causes" class="span12">
					    </div>
					    <div class="span12" id="others_textareas">
					    	<div class="form-group span6">
							    <label for="email">Nature Of Business:</label>
							    <textarea name="nature-business"></textarea>
						  	</div>
						    <div class="form-group span6">
							    <label for="pwd">Geography Of Operation:</label>
							    <textarea name="profile-geography"></textarea>
						    </div>
					    </div>
					    <div class="form-group span12">
					      <div class="col-lg-2">
					        <button class="btn btn-more btn-red open1" type="button">Next</button>
					      </div>
					    </div>
					</div>	
				</fieldset>
			</div>
		</form>	
	</div>
</div>

{% endblock main-content %}
