{% extends "base.html" %}

{% block main-content %}

<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span8 first"> <h2> Event Detail </h2> </div>
					</section>
				</section>
			</section>
	</section>
 		<section class="row-fluid">
				<figure id="breadcrumbs" class="span12 first">
					<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
					<li class="active">Event Detail</li>
					</ul>
				</figure>
		</section>
	</section>
</section>
<section id="content" class="mbtm blog">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section class="span12" id="blog_post_detail">
				<figure class="blog_post mbtm">
					<div class="gallery_img">
						<a href="#"> <img src="/media/{{object.blog_image}}" alt="Blog Post" /> </a>
					</div>  
					<div class="post_meta_detail"> 
						<ul>
							<li class="date"> <i class="icon-time"></i>  May 27,  2013  </li>
							<li class="commetns pull-right"> <i class="icon-comment"></i>10 Comments  </li>
						</ul>				
					</div>
					<div class="span12 first post_detail">
						<h2>{{object.blog_title}}</h2>
						<p>{{object.blog_content}} </p>
					</div>
				</figure>
			</section>
 		</section>
	</section>
 </section>



		
{% endblock main-content %}
