{% extends "base.html" %}
{% block main-content %}
<!-- <section class="container mtop algncenter" >
        <section class="container container-fluid">
            <section class="row-fluid logaccdiv">
                <div class="formupper">
                    Forgot Your Password? 
                </div>
                <div class="loginpad logtitle"> 
                    <div class="msg"></div>
                    <form class="billing-form logfldwid" action="" id="forgot-password-form" method="POST">
                        {% csrf_token %}
                        <li>
                            <div class="control-group">
                                <div class="controls">
                                  <input class="" name="email" id="email" type="text" placeholder="Enter Email" required>
                                </div>
                            </div>
                        </li> 
                        <li>
                        </li> 
                    </form>
                    <div class="control-group">
                        <input type="button" class="btn--login btn--red" value="Send!"
                        id="inputEmail"/>
                    </div>
                </div>
           </section>
        </section>
</section> -->
<section class="container mtop-20" >
        <section class="algncenter-login">
            <section class="row-fluid logaccdiv ovrd-width-login">
                <div class="loginpad logtitle"> 
                    <div class="text-center bs-callout bs-callout-info alert-success ">
                        {{success_msg}}
                    </div>
                    <p>Forgot Your Password?</p>
                    Enter Your Registered Email on which New Password will be Sent.
                    <form  method="post" >
                        {% csrf_token %}
                        <div class="span12 first">
                            <div class="control-group">
                                <input name="email" class="input-block-level" type="text" placeholder=" Registered Email-id " id="inputEmail" >
                            </div>
                            <div class="alert-danger">{{form.errors.email}}</div>
                        </div>
                        <div class="span12 first mbtm-20">
                            <div class="text-center">
                                <input type="submit" class="btn--login btn--red create-btn-align" value="SEND"
                                />
                            </div> 
                        </div>
                    </form>
                </div>
           </section>
        </section>
</section>
{% endblock main-content %}