{% extends 'base.html' %}
{% block main-content %}
<section class="container mtop-20" >
    <section class="algncenter-login">
        <section class="row-fluid logaccdiv ovrd-width-login">
            <div class="formupper">
                Change Password
            </div>
            <div class="loginpad logtitle"> 
                <div class="change-password-msg">
                    {% if messages %}
                        {% for message in messages %}
                            <div class='alert alert-success'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif%}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-error"><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                <form class="logfldwid"  id="forgot-password-link-form" method="POST">
                    {% csrf_token %}
                    <div class="span12 first">
                        <div class="control-group">
                            <!-- <input type="hidden" value="{{obj.hashkey}}" id="user_id"> -->
                            <input class="input-block-level" name="password" id="ch-password" type="text" placeholder="enter password" required>
                        </div>
                    </div>    
                    <div class="span12 first">
                        <div class="control-group">
                            <input class="input-block-level" name="confirm_password" id="ch-confirm_password" type="text" placeholder="confirm password" required>
                        </div>
                    </div>
                    <div class="span12 first mbtm-20">
                        <div class="text-center">
                            <input type="submit" class="btn--login btn--red create-btn-align" value="Submit Changes"
                            id="change-password"/>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>    
</section>
 {% endblock main-content %}      