{% extends "base.html" %}
{% block main-content %}


<!-- Title & BreadCrumbs -->
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
					<div class="span8 first"> <h2> Frequently Asked Questions</h2> </div>
			
		</section>
				</section>
			</section>		<!-- end of Page Title -->
	</section>
 		
	</section>
</section>
<!-- End of Tile & Breadcrumbs -->

<!-- Page Content Container -->
<section id="content" class="mbtm faqs mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<div class="accordion faq_accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> How was your first contact with this organization? </strong> </h3>
						</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse in">
						<div class="accordion-inner">
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> How was your first contact with this company? </strong> </h3>
						</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse">
						<div class="accordion-inner">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
					<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						 <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> What is a Cause? </strong> </h3>
					</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse">
						<div class="accordion-inner">
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle inactive" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
						<span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>	<strong> Do organization Store Data which i use for submission? </strong> </h3>
						</a>
					</div>
					<div id="collapseFour" class="accordion-body collapse">
						<div class="accordion-inner">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam mattis neque, vehicula congue nisl rhoncus vitae. Integer congue, dolor a fringilla ultrices, mauris mauris eleifend orci, ac commodo nisi lacus sed felis. Cras nec ipsum id nunc rutrum consectetur.  </p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</section>
{% endblock main-content %}