{% extends "base.html" %}
{% block main-content %}
	<section class="mtop">
		<section class="container-fluid container">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span12 first"> <h2>Videos</h2> </div>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>
	<section id="content" class="mbtm gallery">
		<section class="container-fluid container">
			<section class="row-fluid">
				<ul id="portfolio-item-filter" class="category-list">
					<li><a id="allvideos">All</a></li>
    				<li><a id="allvideoscauses">Causes</a></li>
    				<li><a id="allvideosevents" data-filter=".Events" href="#">Events</a></li>
   				</ul>
   				<ul class="gallery-page">
	   				<ul class="gallery-page allvideos">
	   					{% for video in all_videos %}
						<li class="gal_img Charity span3 view_new view-tenth">
							<figure class="gal_img_container media_height">
								{{video.name}}<br>
								<a href="{{video.link}}">{{video.link}}</a>
							</figure>
						</li>
						{% endfor %}
					</ul>
					<ul class="gallery-page allcausesvideos" hidden>
	   					{% for video in causes_videos %}
						<li class="gal_img Charity span3 view_new view-tenth">
							<figure class="gal_img_container media_height">
								{{video.name}}<br>
								<a href="{{video.cause_link}}">{{video.cause_link}}</a>
							</figure>
						</li>
						{% endfor %}
					</ul>		
					<ul class="gallery-page alleventvideos" hidden>
	   					{% for video in event_videos %}
						<li class="gal_img Charity span3 view_new view-tenth">
							<figure class="gal_img_container media_height">
								{{video.name}}<br>
								<a href="{{video.link}}">{{video.link}}</a>
							</figure>
						</li>
						{% endfor %}
					</ul>
   				</ul>
			</section>
		</section>
	</section>
{% endblock main-content %}