{% extends "base.html" %}

{% block main-content %}

	<!-- Title & BreadCrumbs -->
	<section class="mtop">
		<section class="container-fluid container">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span12 first"> <h2> Photos</h2> </div>
						</section>
					</section>
				</section>		<!-- end of Page Title -->
			</section>
		</section>
	</section>
	<!-- End of Tile & Breadcrumbs -->

	<section id="content" class="mbtm gallery">
		<section class="container-fluid container">
			<section class="row-fluid">
				<ul id="portfolio-item-filter" class="category-list">
  					<li><a id="allphotos" data-filter="*" >All</a></li>
    				<li><a id="allphotoscauses" data-filter=".Charity" href="#">Causes</a></li>
    				<li><a id="allphotosevents" data-filter=".Events" href="#">Events</a></li>
   				</ul>

   				<ul class="gallery-page allphotos">
   					{% for photo in photos %}
					<li class="gal_img Charity span3 view_new view-tenth">
						<figure class="gal_img_container">
							<img class="galler-img img-height" src="/media/{{photo.photo}}" alt="">
							
							<div class="mask">
								<div class="gal_tag"> {{photo.name}} </div>
								<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="/media/{{photo.photo}}" title="">&nbsp;
								</a>
							</div>
						</figure>
					</li>
					{% endfor %}
				</ul>	
				<ul class="gallery-page alleventphotos" hidden>
   					{% for photo in event_photos %}
					<li class="gal_img Charity span3 view_new view-tenth">
						<figure class="gal_img_container">
							<img class="galler-img img-height" src="/media/{{photo.photo}}" alt="">
							
							<div class="mask">
								<div class="gal_tag"> {{photo.name}} </div>
								<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="/media/{{photo.photo}}" title="">&nbsp;
								</a>
							</div>
						</figure>
					</li>
					{% endfor %}
				</ul>
			</section>
		</section>
	</section>

{% endblock main-content %}