{% extends "base-login2.html" %}
{% block main-content %}
<section class="">
<div class="container-fluid container"> <!-- removed class gang -->
	<div class="mtop lateralmg"> 
		<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary basics" href="#ganglist" data-toggle="tab">
                <div class="hidden-xs">My Gangs</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default story" href="#gangjoininginvite" data-toggle="tab">
                 <div class="hidden-xs">Gang Joining Invites</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default preview" href="#allgangs" data-toggle="tab">
                 <div class="hidden-xs">All Gangs</div>
                </button>
            </div>
		</div>
	</div>
</div>
</section>	
<div class="tab-content">
	<div id="ganglist" class="tab-pane fade in active">
	    <section class="mtop">
	        <section class="container-fluid container">
	            <section class="row-fluid">
	                <section id="donation_box">
	                    <section class="container container-fluid">
	                        <section class="row-fluid ">
	                            <ul style="margin: 0px;">
	                                <li class="headinginline"><h2> My Gangs</h2></li>
	                                <li  style="padding-right: 20px;" class="pull-right headinginline temphide"><a href="{% url 'newgang' %}" class="btn btn-default more-btn pull-right" type="submit">Create New Gang</a>
	                                </li>
	                            </ul>
	                        </section>
	                    </section>
	                </section>
	            </section>
	        </section>
	    </section>
	    <section id="content" class="container container-fluid mbtm blog">
	        <section class="row-fluid">
	            {% for gang in own_gangs %}
	            <section class="span6 {% if forloop.counter|divisibleby:2 %}even{% else %}first{% endif %}">
	                <figure class="blog_item">
	                    <figure id="category_image" class="span12 first outer_lyr mbtm">
	                        <div class="gallery_img gallery_img-first">
	                            <img src="/static/images/blog1.jpg" />
	                        </div>
	                    </figure>
	                    <div class="outer_lyr span12 first">
	                        <div class="inner_lyr">
	                            <div class="span12 post_description"> 
	                                <h3>Gang Name  : {{gang.gang_name}}</h3>
	                                <h4><i>gang leader  : {{gang.gang_leader}}</i></h4>
	                                <p>{{gang.description}}</p>
	                                <div class="row-fluid">
		                                <div class="span6"><h5>Number of members : {{gang.countmember}}</h5>
		                                </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </figure>
	            </section>
	            {% endfor %}
	        </section>      
	    </section>
	</div>
	<div id="gangjoininginvite" class="tab-pane fade">
		<section class="mtop">
	        <section class="container-fluid container">
	            <section class="row-fluid">
	                <section id="donation_box">
	                    <section class="container container-fluid">
	                        <section class="row-fluid ">
	                            <ul style="margin: 0px;">
	                                <li class="headinginline"><h2>Gang Joining Invites</h2></li>
	                            </ul>
	                        </section>
	                    </section>
	                </section>
	            </section>
	        </section>
	    </section>
	    <section id="content" class="container container-fluid mbtm blog">
	        <section class="row-fluid">
	            {% for i in "1234567" %}
	            <section class="span6 {% if forloop.counter|divisibleby:2 %}even{% else %}first{% endif %}">
	                <figure class="blog_item">
	                    <figure id="category_image" class="span12 first outer_lyr mbtm">
	                        <div class="gallery_img gallery_img-first">
	                            <img src="/static/images/blog1.jpg" />
	                        </div>
	                    </figure>
	                    <div class="outer_lyr span12 first">
	                        <div class="inner_lyr">
	                            <div class="span12 post_description"> 
	                                <h3>Gang Name</h3>
	                                <h4><i>gang leader</i></h4>
	                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem. Cras sed mi at nibh porttitor pretium eu id ligula. Donec eleifend porta nisi, sit amet euismod arcu egestas non.  </p>
	                                <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec a ligula sed nulla ornare vestibulum. Fusce vitae erat lorem, nec dictum turpis. Nulla eget faucibus felis. Quisque vitae sapien orci. Nunc justo dolor, rutrum nec consequat vitae, adipiscing vel est. Maecenas euismod ornare sagittis. Vestibulum nec ante in neque congue ullamcorper.</p>
	                                <div class="row-fluid">
		                                <div class="span6">
		                                	<h5>Number of members : 12</h5>
		                                	<a href="" class="btn btn-primary btn-orange">Accept</a>
		                                	<a href="" class="btn btn-primary btn-red">Decline</a>
		                                </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </figure>
	            </section>
	            {% endfor %}
	        </section>      
	    </section>
	</div>
	<div id="allgangs" class="tab-pane fade">
	    <section id="content" class="container container-fluid mbtm blog">
	    	<!-- <div class="search-gang mtop-20">
	    		<input class="gang-searchbox" type="text" name="search" placeholder="all gangs.." >	
	    		<img src="/static/images/search2.png">
	    	</div> -->
			<section class="mtop">
		    	<section class="container-fluid container">
		            <section class="row-fluid">
		                <section id="donation_box">
		                    <section class="container container-fluid">
		                        <section class="row-fluid ">
		                            <ul style="margin: 0px;">
		                                <li class="headinginline"><h2>All Gangs</h2></li>
		                            </ul>
		                        </section>
		                    </section>
		                </section>
		            </section>
		        </section>
	        </section>
	        <section class="row-fluid mbtm">
	            {% for gang in all_gangs %}
	            <section class="span6 {% if forloop.counter|divisibleby:2 %}even{% else %}first{% endif %}">
	                <figure class="blog_item">
	                    <figure id="category_image" class="span12 first outer_lyr mbtm">
	                        <div class="gallery_img gallery_img-first">
	                            <img src="/static/images/blog1.jpg" />
	                        </div>
	                    </figure>
	                    <div class="outer_lyr span12 first">
	                        <div class="inner_lyr">
	                            <div class="span12 post_description"> 
	                                <h3>Gang Name  : {{gang.gang_name}}</h3>
	                                <h4><i>gang leader  : {{gang.gang_leader}}</i></h4>
	                                <p>{{gang.description}}</p>
	                                <div class="row-fluid">
		                                <div class="span6">
		                                	<h5>Number of members : {{gang.countmember}}</h5>
		                                	<a href="" class="btn btn-primary btn-red">Join Gang</a>
		                                </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </figure>
	            </section>
	            {% endfor %}
	        </section>      
	    </section>
	</div>
</div>
{% endblock main-content %}
