{% extends "base-login.html" %}

{% block main-content %}
<div id="page-wrapper" class="hide-overflow" >        
    <section id="donation_box">
        <section class="container">
            <div class="col-lg-12">
                <div class="adm-gang-inline">
                    <h2> All Gangs</h2>    
                </div>
                <div class="pull-right">
                    <a href="{% url 'newgang' %}" class="btn btn-default more-btn " type="submit">Create New Gang</a>    
                </div>
            </div>
        </section>
    </section>
    <div id="content" class="mbtm blog mtop margin-align">
        <div class="">
            {% for i in "1234567" %}
            <div class="col-lg-6">
                <div class="blog_item">
                    <div id="category_image" class=" first  mbtm">
                        <div class="gallery_img gallery_img-first">
                            <img src="/static/images/blog1.jpg" />
                        </div>
                    </div>
                    <div class="first">
                        <div class="inner_lyr-admin">
                            <div class=" post_description"> 
                                <h3><a href="blog_detail.html">Gang Name</a></h3>
                                <h4><i>gang leader</i></h4>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem. Cras sed mi at nibh porttitor pretium eu id ligula. Donec eleifend porta nisi, sit amet euismod arcu egestas non.  </p>
                                <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec a ligula sed nulla ornare vestibulum. Fusce vitae erat lorem, nec dictum turpis. Nulla eget faucibus felis. Quisque vitae sapien orci. Nunc justo dolor, rutrum nec consequat vitae, adipiscing vel est. Maecenas euismod ornare sagittis. Vestibulum nec ante in neque congue ullamcorper.</p>
                                <div class="row-fluid">
                                <div class="span6"><h5>Number of members : 12</h5>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>      
    </div>
</div>
{% endblock main-content %}