{% extends "base-login2.html" %}
{% block main-content %}
<section class="">
	<div class="row-fluid logaccdiv">
		<div class="padcause rm-border">
			<div id="request-detail">
				<span class="lrg-text">Request Details</span>
				<table class="table">
					<tr>
						<th>Request Id</th>
						<td>123</td>
					</tr>
					<tr>
						<th>Location</th>
						<td>Mumbai</td>
					</tr>
					<tr>
						<th>Community</th>
						<td>jain</td>
					</tr>
					<tr>
						<th>Cause</th>
						<td>Medical Bill</td>
					</tr>
					<tr>
						<th>Sub-Cause</th>
						<td>Surgery</td>
					</tr>
					<tr>
						<th>Cause Description</th>
						<td>person Older than 20 years</td>
					</tr>
				</table>
				<span class="lrg-text">Money Details </span>
				<table class="table">
					<tr>
						<th>Money</th>
						<th>Frequency</th>
					</tr>
					<tr>
						<td>20,000 INR</td>
						<td>Once</td>
					</tr>
				</table>
				<span class="lrg-text">kind Details </span>
				<table class="table">
					<tr>
						<th>Quantity</th>
						<th>Kind Type</th>
						<th>Sub-Type</th>
						<th>Description</th>
						<th>Frequency</th>
					</tr>
					<tr>
						<td>20</td>
						<td>Clothes</td>
						<td>Kids Wear</td>
						<td> 5 Yr Old</td>
						<td>Once Yearly</td>
					</tr>
				</table>
				<span class="lrg-text">Time Details </span>
				<table class="table">
					<tr>
						<th>Man-Hours</th>
						<th>Skill Type</th>
						<th>Skill Sub-Type</th>
						<th>Description</th>
						<th>Frequency</th>
					</tr>
					<tr>
						<td>20</td>
						<td>Accountant</td>
						<td>Tally</td>
						<td> 5 Yr experience</td>
						<td>Quarterly</td>
					</tr>
				</table>
				<span class="lrg-text">Contributors Addressed</span>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Skill Type</th>
						<th>Skill Sub-Type</th>
						<th>Description</th>
						<th>Frequency</th>
					</tr>
					<tr>
						<td>20</td>
						<td>Accountant</td>
						<td>Tally</td>
						<td> 5 Yr experience</td>
						<td>Quarterly</td>
					</tr>
				</table>
			</div>
			<div id="returncommunity">
				<div class="formupper ">
		            <span class="lrg-text">Your Work Assignment Against the above Request</span>
		        </div>
				<table class="table ">
					<tbody>
						<tr>
							<th>Number of Man-Hours</th>
							<th>Skill</th>
							<th>Skill Sub-Type</th>
							<th>Description</th>
							<th>Frequency</th>	
						</tr>
						<tr>
							<td>30</td>
							<td>Accountant</td>
							<td>Tally Software</td>
							<td>5 yr of experience</td>
							<td>Quarterly</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
	
{% endblock main-content %}
