{% extends "base.html" %}

{% block main-content %}

	<!-- Title & BreadCrumbs -->
	<section class="mtop">
		<section class="container-fluid container">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span12 first"> <h2> How it works</h2> </div>
						</section>
					</section>
				</section>		<!-- end of Page Title -->
			</section>
		</section>
	</section>
	<!-- End of Tile & Breadcrumbs -->

	<section class="container container-fluid">
		<section class="row-fluid">
			<section class="span12">
				{% for i in '1234' %}
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				{% endfor %}
			</section>
		</section>
		<section class="row-fluid">
			<div class="span12">
				<div class="mtop">
					<h4>Heading 1</h4>
					<ul>
						{% for i in '12345' %}
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>
	</section>
{% endblock main-content %}