{% extends "base.html" %}

{% block main-content %}
	<div class="wrapper">
		<!-- Start of Header Banner -->
		<section class="banner_slider">
			<ul id="banner_slider">
				{% for i in '123' %}
					<li>
						<img src="/static/images/banner_{{i}}.jpg" alt="Banner Slider" />
						<div class="slider_content">
							<p class=""> we need your support</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</section>
		<!-- End of Header Banner -->

		<!-- Start of counter stats section -->
		<section class="counter-stats mbtm">
			<div class="row-fluid">
				<div class="span3">
					<div class="counter-stats-box orange">
						<h1 class="counter" data-count="{{causes_count}}"></h1>
						<h4>Causes available</h4>
					</div>
				</div>
				<div class="span3">
					<div class="counter-stats-box">
						<h1 class="counter" data-count="{{contributors_count}}"></h1>
						<h4>Donors with us</h4>
					</div>
				</div>
				<div class="span3">
					<div class="counter-stats-box orange">
						<h1 class="counter" data-count="{{requests_count}}"></h1>
						<h4>Donees with us</h4>
					</div>
				</div>
				<div class="span3">
					<div class="counter-stats-box">
						<h1 class="counter" data-count="{% if amount_donated.money__sum != NaN %} {{amount_donated.money__sum}} {% else %} 0 {% endif %} "></h1>
						<h4>Amount donated</h4>
					</div>
				</div>
			</div>
		</section>
		<!-- End of counter stats section -->

		<section class="welcome-box mbtm">
			<div class="row-fluid">
				<div class="span6 offset3">
					<h2>Welcome to <span>K</span>ind<span>H</span>earted</h2>
					<p>Kind Hearted is a social networking platform for everyone interested in dealing with the social issues and willing to contribute or receive “Money, (in) kind and time.”</p>
					<p>It welcomes individuals, NGOs, non NGOs engaged in or propose to engage in, a social cause. Non-NGOs would include Companies, firms, associations etc.</p>
					<p>One can simply visit this platform and get to know Kind Hearted better. However, becoming a member will enable you to engage in the social causes on long-term basis and more efficiently.</p>
				</div>
			</div>
		</section>

		<!-- Start of Features Boxes -->
		<section id="ngo_features" class="greybg">
			<section class="container mbtm">
				<h2>Recent Causes</h2>
				<section class="row-fluid">
					{% for cause in causes %}
					<figure class="span4 feature cause-click" id="cause_{{i}}">
						<a href="{% url 'cause-detail' cause.id %}">
							<img src="/static/images/causes/cause{{forloop.counter}}.jpg" alt="" class="img-responsive" style="height:219px;">
							<div class="ftr_txt">
								<strong class="cause-wrap-text cause-title-hgt">{{cause.name}}</strong>
								<p class="cause-wrap-text cause-hgt">{{cause.description}}</p>
								<a href="" class="btn btn-primary btn-orange">donate</a>
							</div>
						</a>
					</figure>
					{% endfor %}
					<!-- End of Features Boxes 1 -->
				</section>
			</section>
		</section>
		<!-- End of Features Boxes -->

		<!-- Start of Featured Projects -->
		<section id="ngo_features" class="whitebg">
			<section class="container mbtm">
				<h2>Recent Projects</h2>
				<section class="row-fluid">
					{% for project in projects %}
						<figure class="span4 feature  ">
							<a href="{% url 'projectdetail' project.id %}">
								<img src="/static/images/causes/cause{{forloop.counter}}.jpg" alt="" class="img-responsive" style="height:219px;">
								<div class="project-bg">
									<strong>{{project.title}}</strong>
									<p class="request_comment">{{project.short_desc}}</p>
									<span class="span5 first"><b>PROJECT BY</b></span>
									<span class="span7 first">{{project.user_id.name}}</span>
									<span class="span5 first"><b>CREATOR TYPE</b></span>
									<span class="span7 first">{{project.user_id.user_type}}</span>
									<a href="" class="btn btn-primary btn-orange">donate</a>
									<div class="mtop-20 progress progress-success bar-height rm-mbtm">
									  	<div class="bar" style="width:{{project.get_mkt_donated.completed_donation|floatformat:0}}%;">
									  	</div>
									</div>	
									{{project.get_mkt_donated.completed_donation|floatformat:0}} % Completed
								</div>
							</a>	
						</figure>
					{% endfor %}
					<!-- End of Features Boxes 1 -->
				</section>
			</section>
		</section>
		<!-- End of featured projects -->

		<!-- Start of featured request -->
		<section id="ngo_features" class="greybg">
			<section class="container mbtm">
				<h2>Recent Requests</h2>
				<section class="row-fluid">
					{% for request in requests %}
					<a href="{% url 'requestordetail' request.id %}">
						<div class="span4 feature first requestor-bg mem-list">
							<div class="span5">
								 <img src="/static/images/exective{{forloop.counter}}.jpg" alt="" class="img-responsive">
							</div>
							<div class="span7 requestor_info">
								<span class="span5">NAME : </span>
								<span class="span7 first">{{request.user.name}}</span>
								<span class="span5 first">PROFESSION : </span>
								<span class="span7 first" >SCHOOL TEACHER</span>
								<span class="span5 first" >ELIGIBILITY : </span>
								<span class="span7 first" >STRONG</span>
								<span class="span5 first" >BACKED BY : </span>
								<span class="span7 first" >3 PEOPLE</span>
							</div>
							<div class="cont_txt first">
								<strong>{{request.cause}}</strong>
								<p class="request_comment">{{request.comment}}</p>
								<a href="{% url 'requestordetail' request.id %}" class="btn btn-primary btn-orange">donate</a>
								<div class="mtop-20 progress progress-success bar-height rm-mbtm">
								  	<div class="bar" style="width: {{request.get_mkt_donated.completed_donation|floatformat:0}}%;">
								  	</div>
								</div>
								{{request.get_mkt_donated.completed_donation|floatformat:0}} % Completed
							</div>
						</div>
					</a>
					{% endfor %}
					<!-- End of Features Boxes 1 -->
				</section>
			</section>
		</section>
		<!-- end of featured request -->

		<!-- Start of Event & Videos -->
		<section id="event_store" class="events_videos">
			<section class="container mbtm">
				<h2>Upcoming Events</h2>
				{% for event in events %}
				<section class="row-fluid">
					<figure id="" class="span12 first">
						<div id="slider_blog">
							<ul id="blog_slider">
								<li>
									<div class="img span5">
										<img src="/static/images/events/event1.jpg" alt=""/>
									</div>
									<div class="content span7">
										<div class="icon_date">
											<i class="icon-calendar"></i>
											<span class="date"> {{event.start_date}} </span>
										</div>
										<div class="post_excerpt">
											<h4> <a href="#"> {{event.cause}} </a> </h4>
											<p>{{event.description}}</p>
											<a href="{% url 'eventdetail' event.id %}"> Read More <i class="icon-plus"></i> </a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</figure>
				</section>
				{% endfor %}
			</section>
		</section>

		<!-- Start Blog section -->
		<section id="blog_features" class="greybg">
			<section class="container mbtm">
				<h2>Latest Blogs</h2>
				<section class="row-fluid">
					{% for blog in blogs %}
					<a href="{% url 'memberblogs' blog.id %}">
						<div class="team_member span4 feature m-blog-homep">
							<div class="member_img">
								<img src="/media/{{blog.blog_image}}" alt="Team Member" class="img-responsive" style="height:219px;"/>
							</div>
							<div class="team_member_description bloglist">
								<h4>Blog Title : {{blog.blog_title}}</h4>
								<p class="request_comment blog_cont_hgt"> {{blog.blog_content}}</p>
							</div>
						</div>
					</a>
					{% endfor %}
				</section>
			</section>
		</section>
		<!-- end Blog section -->

		<!-- Start of Donation Box -->
		<section class="whitebg mbtm">
			<section class="container"> 
				<h2>Top Contributors</h2>
				<section class="row-fluid">
					{% for contributor in contributors %}
						<figure class="team_member span3 {% if forloop.counter == 1%}first{% endif %}">
							<div class="member_img">
								<img src="/static/images/exective{{forloop.counter}}.jpg" alt="Team Member" />
							</div>
							<div class="team_member_description">
								<h4>Name : {{contributor.contributed_by.name}}</h4>
								<span class="">Profession : {{contributor.contributed_by.profession}}</span>
							</div>
						</figure>
					{% endfor %}
				</section>
			</section>
		</section>
	</div>
	<!-- End Main Wrapper -->
{% endblock main-content %}