{% extends 'base.html' %}
{% block main-content %}
<section class="container mtop algncenter" >
        <section class="container container-fluid">
            <section class="row-fluid logaccdiv">
                <div class="formupper">
                    Sorry!!!This link is expired
                </div>
                <div class="loginpad logtitle"> 
                </div>
           </section>
        </section>
</section>
 {% endblock main-content %}      