{% extends "base.html" %}
{% block main-content %}
<section class="container mtop-20" >
	<section class="algncenter-login">
		<section class="row-fluid logaccdiv ovrd-width-login">
            <div class="loginpad logtitle"> 
                <p>Log in</p>

                <form  method="post" >
                    {% csrf_token %}
                    <div class="span12 first">
                        <div class="control-group">
                            <input name="email" class="input-block-level" type="text" placeholder="Enter Email-id" id="inputEmail" >
                            <div class="alert-danger">{{form.errors.email}}</div>
                        </div>
                        
                    </div>
                	<div class="span12 first">
                        <div class="control-group">
                            <input name="password" class="input-block-level" type="password" placeholder="Enter Password" id="inputEmail" >
                        </div>
                        <div class="alert-danger">{{form.errors.password}}</div>
                        <div class="alert-danger">{{auth_fail}}</div>
                    </div>
                    <div class="span12 first">
                        <div class="text-center">
                            <input type="submit" class="btn--login btn--red create-btn-align" value="LOGIN"
                            />
                        </div>
                        <!-- <div class="text-strikethru mtop-20 span2 temphide">
                            <div class="line">
                            </div>
                            <div class="text">
                               Or
                            </div>
                        </div> 
                        <div class="span4 temphide">
                            <button class="btn--login btn--facebook input-block-level">
                                <i class="icon icon-facebook-sign" aria-hidden="true"></i>
                                FACEBOOK    
                            </button>
                        </div>
                        <div class="span4 temphide">    
                            <button class="btn--login btn--google input-block-level">
                                <i class="icon icon-google-plus-sign" aria-hidden="true"></i>
                                GOOGLE
                            </button>
                        </div> -->    
                    </div>
                </form>
            </div>
            <div class="formupper mtop-20">
                <span><a href="{% url 'forgotpassword'  %}">Forgot password?</a></span><br>
                Don't Have an account?
                <span><a href="{% url 'registration' %}">Register
                </a></span>
            </div> 
       </section>
    </section>
</section>
{% endblock main-content %}