{% extends "base-login2.html" %}
{% block main-content %}
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span8 first"> <h2>Enter Your Request Details</h2> </div>
					</section>
				</section>
			</section>		
		</section>
	</section>
</section>
<section class="">
	<div class="row-fluid logaccdiv mtop"><!-- Make Donations -->
		<div class="formupper">
			<div class="mkt_title">
	            Record Your Request Intend
	        </div>
        </div> 
		<div class="padcause rm-border">
			<form method="POST" action="{% url 'makerequest' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="hidden" name="user" value="{{user.id}}">
				<div id="all_filters">
					<table  class="table rm-border">
						<tr>
							<td>
								<div class="styled-select slate">
									<select name="location">
										<option value="">Enter Location</option>
										{% for location in locations %}
											<option value="{{forloop.counter}}">{{location.name}}</option>
										{% endfor %}
									</select>
								</div>	
							</td>
							<td>
								<div class="styled-select slate">
									<select name="community">
										<option value="">Enter Community</option>
										{% for community in communities %}
											<option value="{{forloop.counter}}">{{community.name}}</option>
										{% endfor %}
									</select>
								</div>	
							</td>
							<td>
								<div class="styled-select slate">
									<select name="cause">
										<option value="" >Enter Cause</option>
										{% for cause in causes %}
											<option value="{{forloop.counter}}">{{cause.name}}</option>
										{% endfor %}
									</select>
								</div>	
							</td>
							<td>
								<div class="styled-select slate">
									<select name="cause_subcategory">
										<option value="" >Enter Sub-Cause</option>
										{% for subcause in subcauses %}
											<option value="{{forloop.counter}}">{{subcause.name}}</option>
										{% endfor %}
									</select>
								</div>	
							</td>
							<td>
								<input type="text" name="cause_description" placeholder="Enter Cause Specifics">	
							</td>
						</tr>
					</table>
					<div class="span12 m-left-mkrequest">
						<div class="span6">
							<textarea class="input-block-level" name="comment" placeholder="Enter Comment Specific to the Contribution">
							</textarea>
						</div>
					</div>
				</div>
				<div class="btn-pref btn-group btn-group-justified btn-group-lg donate-set-mrg" role="group" aria-label="...">
	               <div class="btn-group" role="group">
	                  	<button type="button" id="stars" class="btn btn-primary" href="#intend-money" data-toggle="tab">
	                     <div class="hidden-xs">MONEY</div>
	                  	</button>
	               </div>
	               <div class="btn-group" role="group">
	                  	<button type="button" id="favorites" class="btn btn-default" href="#intend-kind" data-toggle="tab">
	                     <div class="hidden-xs">KIND</div>
	                  	</button>
	               </div>
	               <div class="btn-group" role="group">
	                  	<button type="button" id="favorites" class="btn btn-default" href="#intend-time" data-toggle="tab">
	                     <div class="hidden-xs">TIME</div>
	                  </button>
	               </div>
	            </div>
				<div class="tab-content mtop-20">
					<div id="intend-money" class="tab-pane fade in active">
						<table class="table span8 rm-border">	
							<tr>
								<td>
									<div class="styled-select slate">
										<input type="text" name="money" placeholder="Enter Money">
									</div>	
								</td>
								<td>
									<div class="styled-select slate">
										<select name="money_frequency">
											<option value="">Select Money frequency</option>
											{% for freq in money_freq %}
												<option value="{{forloop.counter}}">{{freq.name}}</option>
											{% endfor %}
										</select>
									</div>
								</td>
								<td rowspan="1"></td>
							</tr>
						</table>
					</div>
					<div id="intend-kind" class="tab-pane fade">

						
						<input id="id_kind-TOTAL_FORMS" name="kind-TOTAL_FORMS" type="hidden" value="1">
						<input id="id_kind-INITIAL_FORMS" name="kind-INITIAL_FORMS" type="hidden" value="0">
						<input id="id_kind-MIN_NUM_FORMS" name="kind-MIN_NUM_FORMS" type="hidden" value="0">
						<input id="id_kind-MAX_NUM_FORMS" name="kind-MAX_NUM_FORMS" type="hidden" value="1000">

						<table class="table rm-border" id="kind-table">
							<tbody>		
								<tr>
									<td>
										<input type="text" name="kind-0-quantity" placeholder="Enter Quantity">
									</td>
									<td>
										<div class="styled-select slate">
											<select name="kind-0-ktype">
												<option value="">Select Kind Type</option>
													{% for type in kind_type %}
														<option value="{{forloop.counter}}">{{type.name}}</option>
													{% endfor %}
											</select>
										</div>	
									</td>
									<td>
										<div class="styled-select slate">
											<select name="kind-0-ksubtype">
												<option value="">Select Kind Sub Type</option>
												{% for subtype in kind_subtype %}
													<option value="{{forloop.counter}}">{{subtype.name}}</option>
												{% endfor %}
											</select>
										</div>	
									</td>
									<td>
										<input type="text" name="kind-0-specifics" placeholder="kind specifics">
									</td>
									<td>
										<div class="styled-select slate">
											<select name="kind-0-frequency" >
												<option value="">Select Kind Frequency</option>
												{% for freq in kind_freq %}
													<option value="{{forloop.counter}}">{{freq.name}}</option>
												{% endfor %}
											</select>
										</div>
									</td>
									<!-- <td>
										<a data-toggle="modal" data-target="#addKindPhoto" class="btn btn-default more-btn" type="submit">Add Photo</a>
									</td> -->
									<!-- <td>
										<div id="c_photo_1" class="fileupload fileupload-new" data-provides="fileupload">
							                <span class="btn btn-primary btn-file">
							                    <span class="fileupload-new">Upload Suitable Proof</span>
							                    <span class="fileupload-exists">Change</span><br>
							                    <input type="file" name=kind-0-photo/>
							                </span>
							                <span class="fileupload-preview"></span>
							                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
							            </div>
									</td> -->
								</tr>
							</tbody>
						</table>
						<button id="btn-kind" class="btn btn-more btn-orange donate-set-mrg" type="button">Add More Kinds</button>
					</div>
					<div id="intend-time" class="tab-pane fade">
						

						<input id="id_time-TOTAL_FORMS" name="time-TOTAL_FORMS" type="hidden" value="1">
						<input id="id_time-INITIAL_FORMS" name="time-INITIAL_FORMS" type="hidden" value="0">
						<input id="id_time-MIN_NUM_FORMS" name="time-MIN_NUM_FORMS" type="hidden" value="0">
						<input id="id_time-MAX_NUM_FORMS" name="time-MAX_NUM_FORMS" type="hidden" value="1000">
						<table class="table" id="time-table">
							<tbody>		
								<tr>
									<td>
										<input type="text" name="time-0-manhours" placeholder="Number of Man/Hours">
									</td>
									<td>
										<div class="styled-select slate">

											<select name="time-0-skilltype">
												{% for skill in time_skilltype %}
													<option value="{{forloop.counter}}">{{skill.name}}</option>
												{% endfor %}
											</select>
										</div>
									</td>
									<td>
										<div class="styled-select slate">
											<select name="time-0-skillsubtype">
												<option value="">Select Time Sub-Skill</option>
												{% for subskill in time_subskill %}
													<option value="{{forloop.counter}}">{{subskill.name}}</option>
												{% endfor %}
											</select>
										</div>
									</td>
									<td>
										<input type="text" name="time-0-specifics" placeholder="Enter time specifics">
									</td>
									<td>
										<div class="styled-select slate">
											<select name="time-0-frequency">
												<option value="">Select Time Frequency</option>
												{% for freq in time_freq %}
													<option value="{{forloop.counter}}">{{freq.name}}</option>
												{% endfor %}
											</select>
										</div>
									</td>
								</tr>
							</tbody>	
						</table>
						<button id="btn-time" class="btn btn-more btn-orange donate-set-mrg" type="button">Add More Time</button>
					</div>
				</div>
				<div class="ask-help tab-content">
					<a data-toggle="modal" data-target="#askhelp" class="btn btn-more btn-orange">Request Contributors</a>	
				</div>
				<div class="text-center">
					<input type="submit" value="Submit" class="btn btn-more btn-red">
				</div>
			</form>
			<div>
				<div class="modal fade" id="askhelp" role="dialog">
					<div class="modal-dialog">
					    <div class="modal-content">
					        <div class="modal-header">
					        	<h4 class="modal-title">Add Contributors to your request</h4>
					        </div>
					        <form id="request_contributors">
						        <div class="modal-body">
						     		<div>
						     			<!-- <input type="text" class="typeahead" name="contributors" placeholder="Search contributors.."> -->
						     			<input name="tag_contributors" type="text" class="form-control" id="tag-contributors" />
						     		</div>
						        </div>
						     	<div class="modal-footer">
						     		<button type="button" class="btn btn-default more-btn">Done</button>
						        	<button type="button" class="btn btn-default modal_close" data-dismiss="modal">Close</button>
						     	</div>
					     	</form>
					    </div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
	
{% endblock main-content %}