{% extends "base-login2.html" %}
{% block main-content %}
<div class="container">
	<div class="alert-success mtop-20">
		<h4>{{success_msg}}</h4>
	</div>
	<div class="row-fluid mtop-20">
		{% if user.user_type == 'individual' %}
		<div id="mem-individual">
		    <form class="entity-form" method="post" id="mem-individual" action="{% url 'individual' %}" enctype="multipart/form-data" data-parsley-validate="">
		        {% csrf_token %}
		        <div class="individual1 entity">
		            <legend>Step 1 of 1</legend>
		            <input type="hidden" name="individual_user_id" value="{{user.id}}">
		            <div class="span12 first">
					    <div class="control-group span3">
					        <label for="email">Name</label>
					        <input type="text" name="individual_name" class="input-block-level" value="{{user.name}} " disabled>
					    </div>
					    <div class="control-group span3">
					        <label for="pwd">Email-id:</label>
					        <input type="text" name="individual_emailid" class="input-block-level" value="{{user.email}}" disabled>
					    </div>
					    <div class="control-group span3">
					        <label for="pwd">Mobile Number:</label>
					        <input type="text" name="individual_mobile_no" class="input-block-level" value="{{user.mobile_number}}" disabled>
					    </div>
					    <div class="span3">
					        <label for="pwd">Address:</label>
					        <div class="control-group">
					            <textarea name="individual_address" class="input-block-level" placeholder="enter address" disabled>{{user.address}}</textarea>
					        </div>
					    </div>
					</div>
					<div class="span12 first">
					    <div class="control-group span3">
					        <label for="pwd">Website:</label>
					        <input type="text" value="{{user.website}}" name="individual_website" class="input-block-level" id="pwd" disabled>
					    </div>
					    <div class="span3">
					        <label for="pwd">PAN Number:</label>
					        <input type="text"  name="individual_pan" class="input-block-level" placeholder="Enter Pan Card Number" data-parsley-maxlength="10" data-parsley-pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" data-parsley-required="true" data-parsley-error-message="Pan card enter is not Valid">
					    </div>
					    <div class="control-group span3">
					        <label for="email">Aadhar Number*:</label>
					        <input type="text" name="individual_aadhar_no" class="input-block-level" placeholder="Enter Aadhar Number"  data-parsley-pattern="[0-9]{12}"  data-parsley-required="true">
					    </div>
					    <div class="control-group span3">
					        <label for="email">CKYC No:</label>
					        <input type="text" name="individual_ckyc" class="input-block-level" placeholder="Enter CKYC Number">
					    </div>
					</div>
					<div class="span12 first">
					    <div class="span3">
					        <label for="email">Occupation*:</label>
					        <div class="control-group">
					            <select name="individual_occupation" id="occupation" class="input-block-level" data-parsley-required="true">
					                <option value="">Select Occupation</option>
					                <option value="business">Business</option>
					                <option value="professional">Professional</option>
					                <option value="service">Service</option>
					                <option value="others">Others</option>
					            </select>
					        </div>
					    </div>
					    <div class="control-group span3 business hidebusiness">
					        <label for="pwd">Nature of Business:</label>
					        <input type="text" name="individual_business_dedsc" class="input-block-level" placeholder="Enter Nature of Business">
					    </div>
					    <div class="span3 professional hideprofessional">
					        <label for="pwd">Professonal Skills*:</label>
					        <div class="control-group">
					            <select name="individual_professional_skills" class="input-block-level" >
					                {% for skill in skills %}
					                <option value="{{skill.id}}">{{skill.name}}</option>
					                {% endfor %}
					            </select>
					        </div>
					    </div>
					    <div class="control-group span3 professional hideprofessional">
					        <label for="pwd">Nature of Profession:</label>
					        <input name="individual_nature_of_profession" type="text" class="input-block-level" placeholder="Enter nature of Profession">
					    </div>
					    <div class="control-group span3 professional hideprofessional">
					        <label for="pwd">Professional Email-Id:</label>
					        <input name="individual_professional_email_id" type="text" class="input-block-level" data-parsley-type="email" placeholder="Enter Professional Email-id">
					    </div>
					    <div class="control-group span3 service hideservice">
					        <label for="pwd">Nature of Job*:</label>
					        <input name="individual_nature_of_job" type="text" class="input-block-level" placeholder="Enter nature of Job">
					    </div>
					    <div class="control-group span3 service hideservice">
					        <label for="pwd">Name of the Employer:</label>
					        <input name="individual_name_of_employer" type="text" class="input-block-level" placeholder="Enter name of Employer">
					    </div>
					    <div class="control-group span3 service hideservice">
					        <label for="pwd">Designation:</label>
					        <input name="individual_designation" type="text" class="input-block-level" placeholder="Enter Your Designation" >
					    </div>
					    <div class="control-group span3 occ_others hideocc_others">
					        <label for="pwd">Occupation Details*:</label>
					        <input name="individual_others_details" type="text" class="input-block-level" placeholder="Enter Your Occupation Details">
					    </div>
					</div>
					<div id="individual-causes" class="span12 first">
		            </div>
		            <div class="span12 first">
		                <button class="btn btn-more btn-orange" type="button" id="addd-individualcauses">Add Causes</button>
		            </div>
		            <div class="span12 first">
		                <div class="span3">
		                    <label for="pwd">Personal Skills*:</label>
		                    <div class="control-group">
		                        <select name="individual_personal_skills" class="input-block-level" data-parsley-required="true">
		                        	<option value="">Enter Personal Skills</option>
		                            {% for skill in skills %}
		                            <option value="{{ forloop.counter }}">{{skill.name}}</option>
		                            {% endfor %}
		                        </select>
		                    </div>
		                </div>
		                <div class="control-group span3">
		                    <label for="pwd">Experience in Skills:</label>
		                    <input type="text" name="individual_experience_skills" class="input-block-level" placeholder="Enter Number of Years">
		                </div>
		                <div class="control-group span6" id="individual_geography">
		                    <label for="pwd">Profile with Geographic Area of Operation:</label>
		                    <textarea name="individual_profile_geography_desc" class="input-block-level" placeholder="Enter Profile with Geographic Area of Operation"></textarea>
		                </div>
		            </div>
		            <div class="control-group span12 first">
		                <div class="col-lg-10 col-lg-offset-2">
		                    <input class="btn btn-more btn-red" type="submit" name="" value="Submit">
		                </div>
		            </div>
		        </div>
		    </form>
		</div>
		{% endif %}

		{% if user.user_type == 'corporate' %}
		<div id="mem-corporate">
			<form class="entity-form" id="corporate" method="post" action="{% url 'corporate' %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<div class=" company1 entity form-section">
					<legend>Step 1 of 2</legend>
					<input type="hidden" name="user_id" value="{{user.id}}">
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Company Name</label>
						    <input type="text" name="name" class="input-block-level" value="{{user.name}}" disabled>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Registration Number:</label>
						    <input type="text" name="registration_no" class="input-block-level" value="{{user.registration_no}}" disabled>
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Company Email-id:</label>
						    <input type="text" name="company_emailid" class="input-block-level" value="{{user.email}}" disabled>
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Upload Company Image:</label>
						    <div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
		                        <span class='btn btn-primary btn-file'>
		                            <span class='fileupload-new'>Upload Company Image</span>
		                            <span class='fileupload-exists'>Change</span><br>
		                            <input name="company_image" type='file' />
		                        </span>
		                        <span class='fileupload-preview'></span>
		                        <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
		                    </div>
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Company Contact Number</label>
						    <input type="text" name="company_contact" class="input-block-level" value="{{user.mobile_number}}" disabled>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Company Website:</label>
						    <input type="text" name="company_website" class="input-block-level" value="{{user.website}}" disabled>
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Company Address:</label>
						    <input type="text" name="company_address" class="input-block-level" value="{{user.address}}" disabled>
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Company Pan No*:</label>
						    <input type="text" name="company_pan" class="input-block-level" placeholder="Enter Pan Card"  data-parsley-maxlength="10" data-parsley-pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" data-parsley-required="true" data-parsley-error-message="Pan card enter is not Valid">
						      {{form.errors.company_pan}}
					    </div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Contact person Name</label>
						    <input type="text" name="contactperson_name" placeholder="Enter Person Name" class="input-block-level" data-parsley-pattern="[a-zA-Z\s]+" >
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Mobile Number:</label>
						    <input type="text" name="contactperson_mobileno" class="input-block-level" value="{{user.mobile_no}}" placeholder="Enter Person Mobile No."
						    data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" >
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Email-id:</label>
						    <input type="text" name="contactperson_emailid" class="input-block-level" placeholder="Enter Person Email-id" data-parsley-type="email">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Address:</label>
						    <input type="text" name="contactperson_address" class="input-block-level" placeholder="Enter Person Description">
					    </div>	
				    </div>
				    <div class="span12 first"><h3>Director Details</h3></div>
				    <div id="directors" class="span12 first">
				    	<input id="id_director-TOTAL_FORMS" name="director-TOTAL_FORMS" type="hidden" value="1">
						<input id="id_director-INITIAL_FORMS" name="director-INITIAL_FORMS" type="hidden" value="0">
						<input id="id_director-MIN_NUM_FORMS" name="director-MIN_NUM_FORMS" type="hidden" value="0">
						<input id="id_director-MAX_NUM_FORMS" name="director-MAX_NUM_FORMS" type="hidden" value="1000">
						<div id="append_member_1" name="directors">
							{{directors.management_form}}
							<input type="hidden" id="id_director-0-officebearers_id" name="director-0-officebearers_id" value="">
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">Director Name</label>
						            <input type="text" name="director-0-officebearers_name" class="input-block-level" id="id_director-0-officebearers_name" placeholder="Enter Name" data-parsley-pattern="[a-zA-Z\s]+">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">Directors Designation:</label>
						            <input type="text" name="director-0-officebearers_designation" class="input-block-level" id="id_director-0-officebearers_designation" placeholder="Enter Designation" data-parsley-pattern="[a-zA-Z\s]+">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">Directors Email-id:</label>
						            <input type="text" name="director-0-officebearers_email_id" class="input-block-level" id="id_director-0-officebearers_email_id" placeholder="Enter Email id"  data-parsley-type="email">
						        </div>
						        <div class="control-group span3 m-rem-btn hidecross">
						            <a data-parent="#append_member_1" id="member_1" class="icon icon-remove-sign icon-3x directorcross" aria-hidden="true"></a>
						        </div>
						    </div>
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">Mobile Number</label>
						            <input type="text" name="director-0-officebearers_mobile_no" class="input-block-level" id="id_director-0-officebearers_mobile_no" placeholder="Enter Mobile Number"  data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" >
						        </div>
						        <div class="control-group span3 ">
						            <label for="pwd">Directors Photo:</label>
						            <div id="d_photo_1" class="fileupload fileupload-new" data-provides="fileupload">
						                <span class="btn btn-primary btn-file">
						                    <span class="fileupload-new">Upload Director Photo</span>
						                    <span class="fileupload-exists">Change</span><br>
						                    <input id="officebearers_photo" type="file" />
						                </span>
						                <span id="id_director-0-officebearers_photo" name="director-0-officebearers_photo" class="fileupload-preview"></span>
						                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
						            </div>
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">Description:</label>
						            <textarea id="id_director-0-officebearers_description" name="director-0-officebearers_description" id="d_desc_1" class="input-block-level" placeholder="Enter Description"></textarea>
						        </div>
						        <div class="control-group span3" id="add-director-btn">
						        	<button class="btn btn-more btn-orange m-top-adj" type="button" id="add-directors">Add Director
						        	</button>
						        </div>
						    </div>
						</div>
				    </div>
				    <div class="span12 first"><h3> CSR Committee Member</h3></div>

				    <div id="csr-committee" class="span12 first">
				    	<input id="id_csrmember-TOTAL_FORMS" name="csrmember-TOTAL_FORMS" type="hidden" value="1">
						<input id="id_csrmember-INITIAL_FORMS" name="csrmember-INITIAL_FORMS" type="hidden" value="0">
						<input id="id_csrmember-MIN_NUM_FORMS" name="csrmember-MIN_NUM_FORMS" type="hidden" value="0">
						<input id="id_csrmember-MAX_NUM_FORMS" name="csrmember-MAX_NUM_FORMS" type="hidden" value="1000">
				    	<div id="append_csrmember_1" name="csrmember">
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">CSR Member Name</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_name"  placeholder="Enter Name" data-parsley-pattern="[a-zA-Z\s]+">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">CSR Member Designation:</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_designation" placeholder="Enter Designation" data-parsley-pattern="[a-zA-Z\s]+">
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">CSR Member Email-id:</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_email_id" placeholder="Enter Email -id" data-parsley-type="email">
						        </div>
						        <div class="control-group span3 m-rem-btn hidecsrcross">
						            <a data-parent="#append_csrmember_1" id="csrmember_1" class="icon icon-remove-sign icon-3x csrcross" aria-hidden="true"></a>
						        </div>
						    </div>
						    <div class="span12 first">
						        <div class="control-group span3">
						            <label for="email">CSR Member Mobile Number</label>
						            <input type="text" class="input-block-level" name="csrmember-0-csrcommitee_mobile_no" placeholder="Enter Mobile No." data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number" >
						        </div>
						        <div class="control-group span3 ">
						            <label for="pwd">CSR Member Photo:</label>
						            <div id="c_photo_1" class="fileupload fileupload-new" data-provides="fileupload">
						                <span class="btn btn-primary btn-file">
						                    <span class="fileupload-new">Upload CSR Member Photo</span>
						                    <span class="fileupload-exists">Change</span><br>
						                    <input type="file" name="csrmember-0-csrcommitee_photo" />
						                </span>
						                <span class="fileupload-preview"></span>
						                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
						            </div>
						        </div>
						        <div class="control-group span3">
						            <label for="pwd">CSR Member Description:</label>
						            <textarea id="c_desc_1" class="input-block-level" placeholder="Enter Description" name="csrmember-0-csrcommitee_description"></textarea>
						        </div>
						        <div class="control-group span3" id="add-csrmem-btn">
						        	<button class="btn btn-more btn-orange m-top-adj" type="button" id="add-csrmem">Add CSR Committee Member
						        	</button>
						        </div>
						    </div>
						</div>
				    </div>

				    <!-- <div class="control-group span12 first">
				      <div class="col-lg-10 col-lg-offset-2">
				        <button id="corporate-1-nxt" class="btn btn-more btn-red " type="button">Next</button> 
				      </div>
				    </div> -->
				</div>
				<div class="company2 entity form-section" id="company-2">
			        <legend>Step 2 of 2</legend>
				    <div class="span12 first">
				    	<div class="span3">
						    <label for="email">Undertaking CSR u/s 135 of companies act :</label>
						    <label class="radio-inline">
					        <input value="True" id="csr-yes" type="radio" name="csr_section_135"  data-parsley-required="true" data-parsley-errors-container="#csr-required-err">yes
					        </label>
					        <label class="radio-inline">
					        <input value="False" id="csr-no" type="radio" name="csr_section_135">no
					        </label>
					        <div id="csr-required-err">
					        </div>
					  	</div>
					  	<div class="control-group span3">
						    <label for="pwd">CSR Applicability Details:</label>
						    <select id="csr_applicability" name="csr_applicability" class="input-block-level" multiple disabled>
						    	<option value="">Select Csr Applicability</option>
						    	{% for csr in  csr_applicability %}
						    		<option value="{{csr.id}}" {% if user.csr_applicability.id == csr.id %} selected {% endif %}>{{csr.name}}</option>
						    	{% endfor %}
							</select>
			            </div> 
			            <div class="span3">
					    	<label for="csr">CSR Fund Availability:</label>
					    	<input type="text" name="csr_fund" class="input-block-level" id="csr-fund" placeholder="Enter CSR Fund Availability" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-error-message="Input Should be Amount">
				    	</div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3 ">
						    <label for="csr">Undertaking Non-CSR Activity:</label>
						    <label class="radio-inline">
					        <input value="True" id="noncsr-yes" type="radio" name="non_csr" data-parsley-required="true" data-parsley-errors-container="#noncsr-required-err">yes
					        </label>
					        <label class="radio-inline">
					        <input value="False" id="noncsr-no" type="radio" name="non_csr">no
					        </label>
					        <div id="noncsr-required-err"></div>
				    	</div>
				    	<div class="control-group span3">
					    	<div class="">
						    	<label for="csr">Non-CSR Fund Availability:</label>
						    	<input type="text" name="non_csr_fund" class="input-block-level" placeholder="Enter Non-csr Fund Availability" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-error-message="Input Should be Amount">
					    	</div>
					    </div>
					    <div class="control-group span3">
					    	<div class="">
						    	<label for="csr">Causes of non-csr spend:</label>
						    	<select name="non_csr_cause" id="non_csr_cause"  class="input-block-level" multiple>
								    <option value="cause1">Cause 1
									</option>
								    <option value="cause2">Cause 2
									</option>
									<option value="cause3">Cause 3</option>
								</select>
					    	</div>
					    </div>		
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label>CSR Objectives</label>
		    				<textarea class="input-block-level" name="csr_objectives" placeholder="Enter CSR Objectives"></textarea>
					  	</div>
					    <div class="span6">
						    <label>Focus Area:</label>
						    <div class="control-group">
								<textarea class="input-block-level" name="focusarea" placeholder="Enter focus Area"></textarea>
			                </div>
					    </div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">Funding selection and Monitoring Process</label>
						    <textarea class="input-block-level" name="internal_process_desc" placeholder="Enter Funding selection and Monitoring Process in brief"></textarea>
					  	</div>
					    <div class="control-group span6">
						    <label for="pwd">Criteria for Selection of NGO's and another entities to join in CSR activities of the company:</label>
						    <div class="controls">
								<textarea class="input-block-level" name="selection_criteria" placeholder="Enter Selection Criteria"></textarea>
			                </div>
					    </div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">Nature Of Business</label>
						    <textarea class="input-block-level" name="nature_of_business" placeholder="Enter Nature of Business"></textarea>
					  	</div>
					  	<div class="control-group span6">
						    <label for="email">Profile with Geographical area of Operation</label>
						    <textarea class="input-block-level" name="profile_geography_desc" placeholder="Enter Geographical Area of Operation in brief"></textarea>
					  	</div>
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span6">
						    <label for="email">Company History</label>
						    <textarea class="input-block-level" name="company_history" placeholder="Enter Company history details"></textarea>
					  	</div>	
				    </div>
			        <div class="clearfix" style="height: 10px;clear:both;">
			        </div>
			        <!-- <div class="control-group span12 first">
			          <div class="">
			            <button id="corporate-2-bck" class="btn btn-more btn-red " type="button">Back</button>
			            <button type="submit" value="Save" class="btn btn-red">Save </button> 
			          </div>
			        </div> -->
			    </div>
			    <div class="control-group span12 first">
			      	<div class="col-lg-10 col-lg-offset-2 form-navigation ">
			      		<button type="button" class="previous btn btn-more btn-red pull-left">&lt; Previous</button>
			        	<button  class="next btn btn-more btn-red " type="button" >Next &gt;</button>
			        	<input type="submit" class="btn btn-more btn-red" value="Submit">

			      	</div>
			    </div>	
			</form>
		</div>
		{% endif %}

		{% if user.user_type == 'others' %}
		<div id="mem-others">
			<form class="entity-form" method="post" id="member-others" action="{% url 'others' %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<div class="form-section others1 entity">
					<legend>Step 1 of 1</legend>
					<input type="hidden" name="others_user_id" value="{{user.id}}">
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Name</label>
						    <input type="text" name="others_name" value="{{user.name}}" class="input-block-level" disabled>
					  	</div>
					  	<div class="span3">
						    <label for="email">Form of Organisation</label>
							<div class="control-group">
							  	<select value="{{user.others_form_of_organization}}" name="others_form_of_organisation" class="input-block-level" disabled>
							  		<option value="">Select Form Of Organization</option>
							  		{% for organization in others_form_of_organization %}
							  			{% if organization.id == user.form_of_organization_others.id %}
								 			<option value="{{organization.id}}" selected>{{organization.name}}</option>
								 		{% else %}
								 			<option value="{{organization.id}}">{{organization.name}}</option>
								 		{% endif %}
							  		{% endfor %}
							  	</select>
							</div>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Email-id:</label>
						    <input type="text" value="{{user.email}}" name="others_emailid" class="input-block-level" disabled>
					    </div>
					    <div class="span3">
						    <label for="pwd">Address:</label>
						    <div class="control-group">
	                            <textarea class="input-block-level" value="{{user.address}}" name="others_address" placeholder="enter address" disabled>{{user.address}}</textarea>
	                        </div>
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Contact Person Name</label>
						    <input type="text" name="others_contactperson_name" class="input-block-level" data-parsley-pattern="[a-zA-Z0-9\s]+" placeholder="Enter Person Name">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Email:</label>
						    <input type="text" name="others_contactperson_emailid" class="input-block-level" data-parsley-type="email" placeholder="Enter Email-id">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Mobile Number:</label>
						    <input type="text" name="others_contactperson_mobileno" class="input-block-level" placeholder="Enter Persons Mobile Number" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number">
					    </div>
					    <div class="control-group span3 ">
						    <label for="pwd">Contact Person Address:</label>
						    <input type="text" name="others_contactperson_address" class="input-block-level" placeholder="Enter Persons Address">
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Aadhar Card No:</label>
						    <input type="text" name="others_aadhar_no" class="input-block-level" placeholder="Enter Aadhar Number" data-parsley-pattern = "[0-9]{12}" data-parsley-required="true">
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">CKYC no:</label>
						    <input type="text" name="others_ckyc" class="input-block-level" placeholder="Enter CKYC Number" data-parsley-required="true">
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Website:</label>
						    <input type="text" value="{{user.website}}" name="others_website" class="input-block-level" disabled>
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Another Contact no:</label>
						    <input type="text" name="others_alternate_contact" class="input-block-level" placeholder="Enter Alternate Contact Number" data-parsley-pattern="[0-9]+" >
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label>PAN Card No*:</label>
						    <input type="text"  name="others_pan" class="input-block-level" placeholder="Enter Pan Card Number" data-parsley-maxlength="10" data-parsley-pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" data-parsley-required="true" data-parsley-error-message="Pan card enter is not Valid">
					  	</div>

				    </div>
				    <div class="span12 first">
				    	<button class="btn btn-more btn-orange" type="button" id="addd-otherscauses">Add Causes</button>	
				    </div>
				    <div id="others-causes" class="span12 first">
				    </div>
				    <div class="span12 first" id="others_textareas">
				    	<div class="control-group span6">
						    <label for="email">Nature Of Business:</label>
						    <textarea class="input-block-level" name="others_business_nature" placeholder="Enter Nature Of Business"></textarea>
					  	</div>
					    <div class="control-group span6">
						    <label>Profile with Geographical area Of Operation:</label>
						    <textarea class="input-block-level" name="others_profile_geography_desc" placeholder="Enter Profile with Geographical Area of Operation"></textarea>
					    </div>
				    </div>
				    <div class="control-group span12 first">
				      	<div class="col-lg-10 col-lg-offset-2">
				        	<input type="submit" value="Submit" class="btn btn-red">
				      	</div>
				    </div>
			    </div>
			</form> 
		</div>
		{% endif %}

		{% if user.user_type == 'ngo' %}
		<div id="mem-ngo">
			<form class="entity-form" id="member_ngo" method="post" action="{% url 'ngo' %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<input type="hidden" name="id" value={{user.id}}>

				<div class="ngo1 entity form-section">
					<legend>Step 1 of 4</legend>
					<span class="lrg-text">Basic Information</span>
					<input type="hidden" name="user" value={{user.id}}>
					<div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Name of the NGO*</label>
						    <input name="name" type="text" class="input-block-level" value="{{user.name}}" disabled>
					  	</div>
					  	<div class="control-group span3">
						    <label for="email">CSR Ready* :</label>
						    <div class="input-block-level">
							    <label class="radio-inline">
						        <input value="True" id="csr-yes" name="csr_ready" type="radio" name="csr-ready" data-parsley-required="true" data-parsley-errors-container="#csr-ready-err">yes
						        </label>
						        <label class="radio-inline">
						        <input value="False" id="csr-no" name="csr_ready" type="radio" name="csr-ready">no
						        </label>	
						    </div>
						    <div id="csr-ready-err"></div>
					  	</div>
					  	<div class="control-group span3">
						    <label for="email">Date of Establisment</label>
						    <input type="text" name="establishment_date" class="datepicker input-block-level" data-date-format="mm/dd/yyyy" value="{{user.establishment_date}}" disabled>
					  	</div>
					  	<div class="control-group span3">
						    <label for="pwd">Upload NGO Image:</label>
						    <div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
		                        <span class='btn btn-primary btn-file'>
		                            <span class='fileupload-new'>Upload NGO Image</span>
		                            <span class='fileupload-exists'>Change</span><br>
		                            <input name="ngo_image" type='file' />
		                        </span>
		                        <span class='fileupload-preview'></span>
		                        <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
		                    </div>
					  	</div>
				    </div>
				    <div id="causes" class="span12 first">
				    </div>
				    <div class="span12 first mbtm-20">
				    	<button class="btn btn-more btn-orange" type="button" id="add-causes">Add Causes</button>	
				    </div>
				    <div class="span12 first" id="profile-geography">
				    	<div class="span6">
				    		<div class="control-group">
							    <label for="email">Profile with Geographical area of Operation:</label>
							    <textarea name="profile_geography_desc" class="input-block-level" placeholder="Enter Geographical Area of Operation in Detail"></textarea>
						    </div>
					  	</div>
				    </div>
				</div>

				<div class=" ngo2 entity form-section">
			    	<legend>Step 2 of 4</legend>
			    	<span class="lrg-text">Organization Details</span>
			    	<input type="hidden" name="organizationdetail-user" value={{user.id}}>
			    	<div class="span12 first">
				    	<div class="span3">
						    <label for="email">Form Of Organisation*</label>
						    <div class="control-group">
								 <select name="organizationdetail-form_of_organisation_ngo" class="input-block-level" disabled>
								 	<option value="" >Select form of Organisation</option>
								 	{% for f in ngo_form_of_organisation %}
								 		{% if f.id == user.form_of_organization_ngo.id %}
								 			<option value="{{f.id}}" selected>{{f.name}}</option>
								 		{% else %}
								 			<option value="{{f.id}}">{{f.name}}</option>
								 		{% endif %}
								 	{% endfor %}	
								 </select>
							</div>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Certificate of Registration* :</label>
						    <div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
		                        <span class='btn btn-primary btn-file'>
		                            <span class='fileupload-new'>Upload</span>
		                            <span class='fileupload-exists'>Change</span><br>
		                            <input name="organizationdetail-certificate_of_registration" type='file' data-parsley-required="true" data-parsley-errors-container="#certi-error"/>
		                        </span>
		                        <span class='fileupload-preview'></span>
		                        <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
		                    </div>
		                    <div id="certi-error"></div>
					    </div>
					    <div class="span3">
						    <label for="pwd">Purpose*:</label>
						    <div class="control-group">
							  	<select name="organizationdetail-purpose" class="input-block-level" data-parsley-required="true">
							  		<option value="">Select Purpose</option>
							  		{% for purpose in purposes %}
							  			<option value="{{purpose.id}}">{{purpose.name}}</option>
							  		{% endfor %}
								</select>
                            </div>
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Contact Person Name</label>
						    <input name="organizationdetail-contactperson_name" type="text" class="input-block-level" placeholder="Enter Person name" data-parsley-pattern="[a-zA-Z\s]+" >
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Email:</label>
						    <input name="organizationdetail-contactperson_emailid" type="text" class="input-block-level" placeholder="Enter person Email" data-parsley-type="email" >
					    </div>
					    <div class="control-group span3">
						    <label for="pwd">Contact Person Mobile Number:</label>
						    <input name="organizationdetail-contactperson_mobileno" type="text" class="input-block-level" placeholder="Enter Persons Mobile No." data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" data-parsley-error-message="Enter 10 digit Mobile number">
					    </div>
					    <div class="control-group span3 ">
						    <label for="pwd">Contact Person Address:</label>
						    <input name="organizationdetail-contactperson_address" type="text" class="input-block-level" placeholder="Enter Persons Address" >
					    </div>	
				    </div>
				    <div id="trustees" class="span12 first">
				    </div>
				    <div class="span12 first mbtm-20">
				    	<button class="btn btn-more btn-orange" type="button" id="add-trustees">Add Directors/Trustees</button>	
				    </div>
				    <div class="span12 first">
					    <div class="control-group span3 ">
						    <label for="csr">Benefit to Donor under section : </label>
						    <label class="radio-inline">
					        <input value="1" id="csr-yes" type="radio" name="organizationdetail-donor_benefit_section" data-parsley-required = "true" data-parsley-errors-container="#benefit-required-err">80 G
					        </label>
					        <label class="radio-inline">
					        <input value="2" id="csr-no" type="radio" name="organizationdetail-donor_benefit_section">80 GGA
					        </label>
					        <div id="benefit-required-err"></div>
					    </div>
					    <div class="control-group span3 ">
						    <label for="csr">Rate Of Deduction:</label>
						    <label class="radio-inline">
					        <input value="1" id="csr-yes" type="radio" name="organizationdetail-deduction_rate" data-parsley-required = "true" data-parsley-errors-container="#deduction-required-err">50 %
					        </label>
					        <label class="radio-inline">
					        <input value="2" id="csr-no" type="radio" name="organizationdetail-deduction_rate">100 %
					        </label>
					        <div id="deduction-required-err"></div>
					    </div>	
				    </div>
				    <div class="span12 first">
				    	<div class="control-group span3">
						    <label for="email">Formed for Religious Community/Caste</label>
						    <label class="radio-inline">
					        <input id="religious-yes" type="radio" name="organizationdetail-religious_reason" data-parsley-required = "true" data-parsley-errors-container="#religious-required-err" >yes
					        </label>
					        <label class="radio-inline">
					        <input id="religious-no" type="radio" name="organizationdetail-religious_reason">no
					        </label>
					        <div id="religious-required-err"></div>
					  	</div>
					    <div class="control-group span3">
						    <label for="pwd">If Yes, Describe:</label>
						    <textarea class="input-block-level" name="organizationdetail-religious_reason_desc" rows="3" placeholder="describe">
						    </textarea>
					    </div>
				    </div><!-- 
				    <div class="control-group span12 first">
			          	<div class="">
				            <button id="ngo-2-bck" class="btn btn-more btn-red " type="button">Back</button>
				            <button id="ngo-2-nxt" class="btn btn-more btn-orange open2" type="button">Next </button> 
			          	</div>
			        </div> -->
			    </div>
			    <div class=" ngo3 entity form-section">
			    	<legend>Step 3 of 4</legend>
			    	<span class="lrg-text">Add Projects Undertaken so far</span>
			    	<input type="hidden" name="project-0-user" value="{{user.id}}">
		    		<input id="id_project-TOTAL_FORMS" name="project-TOTAL_FORMS" type="hidden" value="1">
					<input id="id_project-INITIAL_FORMS" name="project-INITIAL_FORMS" type="hidden" value="0">
					<input id="id_project-MIN_NUM_FORMS" name="project-MIN_NUM_FORMS" type="hidden" value="0">
					<input id="id_project-MAX_NUM_FORMS" name="project-MAX_NUM_FORMS" type="hidden" value="1000">

			    	<div class="span12 first">
						<div class="span12 mtop-20">
							<div class="span2">
								<label>Project Name</label>	
							</div>
							<div class="span4">
								<input name="project-0-name" class="input-block-level" type="text" placeholder="enter project name" data-parsley-pattern="[a-zA-Z\s]+" data-parsley-required="true">
							</div>
							<div class="span2">
								<label>Geographic Location</label>	
							</div>
							<div class="span4">
								<div class="control-group">
								  	<select name="project-0-location" class="input-block-level">
								  			<option value="">Select Location</option>
									    {% for location in locations %}
									    	<option value="{{location.id}}">{{location.name}}</option>
									    {% endfor %}
								  	</select>
								</div>
							</div>
						</div>
						<div class="span12 first">
							<div class="span2">
								<label>Project Description</label>	
							</div>
							<div class="span4">
								<textarea name="project-0-description" rows="3" class="input-block-level" name="desc" type="text" placeholder="enter Project description"></textarea>
							</div>
							<div class="span2">
								<label>Project Supported By</label>	
							</div>
							<div class="span4">
								<input name="project-0-supported_by" class="input-block-level" type="text" placeholder="Project Supported By">
							</div>
							<div class="span2">
								<label>Particulars of support</label>	
							</div>
							<div class="span4">
								<input name="project-0-support_particulars" class="input-block-level" type="text" placeholder="Particulars of support">	
							</div>
						</div>
						<div class="span12 first">
							<div class="span2">
								<label>Spent/Given for the financial Year</label>	
							</div>
							<div class="span4">
								<input name="project-0-financialyear" class="year input-block-level" type="text" placeholder="enter financial year" >
							</div>
						</div>	
						<table class="table">
							<tr>
								<th></th>
								<th>Money</th>
								<th>In Kind</th>
								<th>In Time</th>
							</tr>
							<tr>
								<td colspan="1"></td>
								<td>
									<input name="project-0-money" class="input-block-level" type="text"  placeholder="Enter Money Donated" data-parsley-type="number">
								</td>
								<td>
									<textarea name="project-0-kind_desc" class="input-block-level" placeholder="Describe In kind Donation"></textarea>
								</td>
								<td>
									<textarea name="project-0-time_desc" class="input-block-level" placeholder="Describe In Time Donation"></textarea>
								</td>
							</tr>
							<tr>
								<th>Direct Beneficiaries</th>
								<td colspan="3">
									<textarea name="project-0-direct_benefitter" class="input-block-level" placeholder="Enter Direct Beneficiaries from Donation"></textarea>
								</td>
							</tr>
							<tr>
								<th>InDirect Beneficiaries</th>
								<td colspan="3">
									<textarea name="project-0-indirect_benefitter" class="input-block-level" placeholder="Enter InDirect Beneficiaries from Donation"></textarea>
								</td>
							</tr>
						</table>
						<div class="mtop-20">
							<div class="pull-right m-add-prj-btn">
								<button class="btn btn-more btn-red input-block-level" type="button">Add More Projects</button>
							</div>
						</div>
				    </div>  
				    <!-- <div class="control-group span12 first">
			          	<div class="">
				            <button id="ngo-3-bck" class="btn btn-more btn-red back3" type="button">Back</button>
				            <button id="ngo-3-nxt" class="btn btn-more btn-orange open3" type="button">Next </button> 
			         	</div>
			        </div> -->
				</div>
				<div class=" ngo4 entity form-section">
			    	<legend>Step 4 of 4</legend>
			    	<span class="lrg-text">Add Financial Details</span>
			    	
			    	<input id="id_findetail-TOTAL_FORMS" name="findetail-TOTAL_FORMS" type="hidden" value="3">
					<input id="id_findetail-INITIAL_FORMS" name="findetail-INITIAL_FORMS" type="hidden" value="0">
					<input id="id_findetail-MIN_NUM_FORMS" name="findetail-MIN_NUM_FORMS" type="hidden" value="0">
					<input id="id_findetail-MAX_NUM_FORMS" name="findetail-MAX_NUM_FORMS" type="hidden" value="1000">
					
					<input type="hidden" name="findetail-1-financialdate" value="07/07/2017">
					<input type="hidden" name="findetail-2-financialdate" value="07/07/2017">
					<!-- <input type="hidden" name="findetail-0-user" value="{{user.id}}">
					<input type="hidden" name="findetail-1-user" value="{{user.id}}">
					<input type="hidden" name="findetail-2-user" value="{{user.id}}"> -->
					

					<!-- <input class="input-block-level" name="findetail-1-financialdate" type="hidden">
					<input class="input-block-level" name="findetail-2-financialdate" type="hidden"> -->
			    	<div class="span12 first">
			    		<table class="table rmtabborder ">
							<tr>
								<th class="text-center">Financial Date</th>
								<th>Year 1</th>
								<th>Year 2</th>
								<th>Year 3</th>
							</tr>
							<tr>
								<td><input id="project_financialdate" class="input-block-level" name="findetail-0-financialdate" placeholder="enter financial date" data-parsley-required="true"></td>
								<td><input class="year input-block-level" name="findetail-0-financial_year" type="text" placeholder="enter Year 1" ></td>
								<td><input class="year input-block-level" name="findetail-1-financial_year" type="text" placeholder="enter Year 2" ></td>
								<td><input class="year input-block-level" name="findetail-2-financial_year" type="text" placeholder="enter Year 3"></td>
							</tr>
							<tr>
								<td>[Rs in Lakhs]</td>
								<td>[Rs in Lakhs]</td>
								<td>[Rs in Lakhs]</td>
								<td>[Rs in Lakhs]</td>
							</tr>
							<tr>
								<th>Donations From Govt./Semi-Govt</th>
								<td>
									<input name="findetail-0-don_govt_nongovt"  class="input-block-level" type="text" placeholder="govt/semi-govt" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-don_govt_nongovt" class="input-block-level" type="text" placeholder="govt/semi-govt" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-don_govt_nongovt" class="input-block-level" type="text" placeholder="govt/semi-govt" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Donations From Indian</th>
								<td>
									<input name="findetail-0-don_india" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-don_india" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-don_india" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Donations From Foreign</th>
								<td>
									<input name="findetail-0-don_foreign" class="input-block-level"  type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-don_foreign" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-don_foreign" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Donations From KH Members</th>
								<td>
									<input name="findetail-0-don_khmembers" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-don_khmembers" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-don_khmembers" class="input-block-level" type="text" placeholder="enter donations" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Income From Assets/Investments</th>
								<td>
									<input name="findetail-0-don_assets" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-don_assets" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-don_assets" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Other Income</th>
								<td>
									<input name="findetail-0-otherincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-otherincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-otherincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Gross Income</th>
								<td>
									<input name="findetail-0-grossincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-grossincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-grossincome" class="input-block-level" type="text" placeholder="enter income" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Expense On Objects of trust</th>
								<td>
									<input name="findetail-0-expense_objective" class="input-block-level" type="text" placeholder="expense on objective" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-expense_objective" class="input-block-level" type="text" placeholder="expense on objective" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-expense_objective" class="input-block-level" type="text" placeholder="expense on objective" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Expense On Administrative Activity</th>
								<td>
									<input name="findetail-0-expense_administration" class="input-block-level" type="text" placeholder="expense on administration" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-expense_administration" class="input-block-level" type="text" placeholder="expense on administration" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-expense_administration" class="input-block-level" type="text" placeholder="expense on administration" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Total Expense</th>
								<td>
									<input name="findetail-0-expense_total" class="input-block-level" type="text" placeholder="Total expense" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-expense_total" class="input-block-level"  type="text" placeholder="Total expense" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-expense_total" class="input-block-level" type="text" placeholder="Total expense" data-parsley-type="number">
								</td>
							</tr>
							<tr>
								<th>Net Surplus/Deficit</th>
								<td>
									<input name="findetail-0-net_surpluss_deficit" class="input-block-level" type="text" placeholder="enter amount" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-1-net_surpluss_deficit" class="input-block-level" type="text" placeholder="enter amount" data-parsley-type="number">
								</td>
								<td>
									<input name="findetail-2-net_surpluss_deficit" class="input-block-level" type="text" placeholder="enter amount" data-parsley-type="number">
								</td>
							</tr>
						</table>
				    </div>  
				    <!-- <div class="control-group span12 first">
			          	<div class="">
				            <button id="ngo-4-bck" class="btn btn-more btn-red " type="button">Back</button>
				            <input type="submit" class="btn btn-more btn-red" value="Submit">
			          	</div>
			        </div> -->
				</div>
				<div class="control-group span12 first">
			      	<div class="col-lg-10 col-lg-offset-2 form-navigation ">
			      		<button type="button" class="previous btn btn-more btn-red pull-left">&lt; Previous</button>
			        	<button  class="next btn btn-more btn-red " type="button" >Next &gt;</button>
			        	<input type="submit" class="btn btn-more btn-red" value="Submit">

			      	</div>
			    </div>
			</form>
		</div>
		{% endif %}
		<div class="formupper span12 first">
            </a></span>
            <div class="text-center bs-callout bs-callout-warning alert-danger hidden">
                <p>This data seems to be invalid!!</p>
            </div>
            <!-- <div class="text-center bs-callout bs-callout-info alert-success ">
                {{success_msg}}
            </div> -->
        </div>
		
	</div>
</div>
{% endblock main-content %}
