{% extends "base-login2.html" %}
{% block main-content %}
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span12 first"> <h2>Videos</h2> </div>
					</section>
				</section>
			</section>		
		</section><!-- 
 		<section class="row-fluid">
			<figure id="breadcrumbs" class="span12">
				<ul class="breadcrumb">
				<li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
				<li><a href="#">Gallery</a> <span class="divider">/</span></li>
				<li class="active">Videos</li>
				</ul>
			</figure>
		</section> -->
	</section>
</section>
<section id="content" class="mbtm gallery">
	<section class="container-fluid container">
		<section class="row-fluid">
			<ul id="portfolio-item-filter" class="category-list">
				<li><a data-toggle="modal" data-target="#addVideo" class="btn btn-default more-btn" type="submit">Add Videos</a></li>
				<li><a id="allvideos">All</a></li>
				<li><a id="ownvideos">My Videos</a></li>
				<li><a id="allvideoscauses">Causes</a></li>
				<li><a id="allvideosevents">Events</a></li>
			</ul>
			<ul class="gallery-page allvideos">
				{% for video in all_videos %}
				<li class="gal_img Charity span4 view_new view-tenth  first">
					<figure class="gal_img_container media_height">
						{{video.name}}<br>
						<a href="{{video.link}}">{{video.link}}</a>
					</figure>
				</li>
				{% endfor %}
			</ul>
			<ul class="gallery-page ownvideos" hidden>
				{% for video in user_videos %}
				<li class="gal_img Charity span4 view_new view-tenth first">
					<figure class="gal_img_container media_height">
						{{video.name}}<br>
						<a href="{{video.link}}">{{video.link}}</a>
					</figure>
				</li>
				{% endfor %}
			</ul>
			<ul class="gallery-page alleventvideos" hidden>
				{% for video in event_videos %}
				<li class="gal_img Charity span4 view_new view-tenth first">
					<figure class="gal_img_container media_height">
						{{video.name}}<br>
						<a href="{{video.link}}">{{video.link}}</a>
					</figure>
				</li>
				{% endfor %}
			</ul>
		</section>
	</section>
</section>
<div class="modal fade" id="addVideo" role="dialog">
   	<div class="modal-dialog">
     	 <div class="modal-content">
         	<div class="modal-header">
            	<h4 class="modal-title">Add Video</h4>
        	</div>
         	<form id="addmembervideo" method="POST" action="{% url 'membervideos' %}" enctype="multipart/form-data" data-parsley-validate="">
         		{% csrf_token %}
         		<input type="hidden" name="created_by" value="{{user.id}}">
	         	<div class="modal-body">
		         	<div>
		         		<input class="input-block-level" type="text" name="name" placeholder="add caption">
		         	</div>
		         	<div> 
			         	<input class="input-block-level" type="url" name="link" placeholder="Add Video Link" data-parsley-required="true" data-parsley-type="url">
			        </div>
	         	</div>
		        <div class="modal-footer">
		         	<input type="submit" value="Submit">
		            <button type="button" class="btn btn-default modal_close" data-dismiss="modal">Close</button>
		        </div>
	        </form>
      </div>
   </div>
</div>

{% endblock main-content %}