{% extends "base.html" %}
{% block main-content %}
<section class="mtop">
	<section class="container container-fluid">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span8 first"> <h2>Blog Details</h2> </div>
					</section>
				</section>
			</section>		
		</section>		
	</section>
</section>
<section id="content" class="mbtm blog mtop-20">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section class="text-center" id="blog_listing">
				<figure class="blog_item text-center">
					<figure id="category_image" class="span8 first outer_lyr text-center">
					 	<div class="gallery_img gallery_img-first text-center">						
				 			<img src="/media/{{blog.blog_image}}" class="blog_image"/>
				 			<div class="mask">
								<a href="#" class="anchor"> <span> 10 </span> <i class="icon-comment"></i> </a>
								<a href="#" class="anchor"> <i class="icon-link"></i></a>
							</div>
						</div>
					</figure>
					<div class="outer_lyr span8 first">
						<div class="inner_lyr">
							<div class="span3 first post_meta"> 
								<ul>
									<li class="date"> <i class="icon-time"></i>{{object.created_on}}</li>
									<li class="author"><i class="icon-user"></i> by <a href="#">{{object.user_id.name}} </a> </li>
									<li class="commetns"> <i class="icon-comment"></i><a href="#">0 Comments </a> </li>
									<li class="tags"> <i class="icon-tags"></i><a href="#">{% if object.cause == None %}0 Causes {% else %} {{object.cause}} {% endif %} </a></li>
									<!-- <li class="category"> <i class="icon-reorder"></i><a href="#"> Charity Events </a> </li> -->
								</ul>
							</div>
							<div class="span9 post_description"> 
								<h3> <a href="blog_detail.html">{{object.blog_title}}</a> </h3>
								<p class="blog_content"> {{object.blog_content }}</p>
								<!-- <a href="{% url 'blogdetail' blog.id %}" class="read_more"> Read more</a> -->
							</div>
						</div>
					</div>
				</figure>
				<!-- <div class="pagination">  
                  <ul>  
                    <li><a href="#">Prev</a></li>  
                    <li class="active">  
                      <a href="#">1</a>  
                    </li>  
                    <li><a href="#">2</a></li>  
                    <li><a href="#">3</a></li>  
                    <li><a href="#">4</a></li>  
                    <li><a href="#">Next</a></li>  
                  </ul>  
                </div> -->
			</section>
		</section>
	</section>
</section>
<!-- end page content container -->



{% endblock main-content %}
</body>
</html>