{% extends "base.html" %}
{% block main-content %}
<section class="container mtop-20 " >
        <section class="algncenter ">
            <section class="row-fluid logaccdiv ovrd-width loginpad">
                <div class=""> 
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="signup-title mbtm-20">Sign Up </div>
                    <form id="signup" method="post" action="/signup/" class="logfldwid sign-up-frm" data-parsley-validate="" >
                        {% csrf_token %}
                        <div class="span12 first common">
                            <div class="span4">
                                <div class="control-group">
                                    <div id="username_error">
                                        <input id="signup_username" class="input-block-level" class="input-block-level"  type="text" name="username" placeholder="UserName*" value="{{username}}" data-parsley-maxlength="20"  data-parsley-errors-container="#username_error" data-parsley-pattern="[a-zA-Z0-9]+" data-parsley-required="true">
                                        <div class="alert-danger">{{form.errors.username}}</div>
                                    </div>    
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <div id="password-error">
                                        <input class="input-block-level" type="password" id="signup_password" name="password"  placeholder="Password*" data-parsley-minlength="6"
                                        data-parsley-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/" data-parsley-required="true" >
                                        <div class="alert-danger">{{form.errors.password}}</div>
                                    </div>
                                </div>    
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <div  id="mobile-no-error">
                                        <input id="signup_confirm_password" class="input-block-level" type="password" name="confirm_password" placeholder="Confirm Password*" data-parsley-equalto="#signup_password" data-parsley-required="true" >
                                        <div class="alert-danger">{{form.errors.confirm_password}}</div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="span12 first common">    
                            <div class="span4 first">
                                <div class="control-group">
                                    <div id="firstname-error">
                                        <input id="signup_name" class="input-block-level" class="input-block-level"  type="text" name="name" placeholder="Name*" data-parsley-pattern="[a-zA-Z0-9\s]+" required>
                                        <div class="alert-danger">{{form.errors.name}}</div>
                                    </div>    
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <div id="email-error">
                                        <input id="signup_email" class="input-block-level" type="email" name="email" placeholder="Email*" data-parsley-type="email" required>
                                        <div class="alert-danger">{{form.errors.email}}</div>
                                    </div>
                                </div>    
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <div  id="mobile-no-error">
                                        <input id="signup_mobile_number" class="input-block-level" type="text" name="mobile_number" placeholder="Enter Mobile Number*" data-parsley-type="number" data-parsley-pattern="[0-9]+" data-parsley-minlength="10" data-parsley-maxlength="10" required>
                                        <div class="alert-danger">{{form.errors.mobile_number}}</div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="span12 first common">
                            <div class="span4 first">
                                <div class="control-group">
                                    <div id="website-error">
                                        <input id="signup_website" class="input-block-level" type="url" name="website" placeholder="Enter Website"  data-parsley-pattern="/www\.[\.\a-zA-Z0-9-\.]+\.[a-z]{2,4}/" >
                                        <div class="alert-danger">{{form.errors.website}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <div id="address-error">
                                        <textarea rows="3" name="address" class="input-block-level" placeholder="Enter Address" 
                                        data-parsley-maxlength="100"></textarea> 
                                        <div class="alert-danger">{{form.errors.address}}</div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <label class="user_type">Select the Type of User*</label>
                        <div class="selectentity span12 first mbtm-20">
                            <label class="radio entity-btn span3">
                                <input type="radio" name="user_type" id="individual" value="individual" data-parsley-error-message="User Type is Required" data-parsley-errors-container="#usertype_error" required >INDIVIDUAL
                            </label>
                            <label class="radio entity-btn span3">
                                <input type="radio" name="user_type" id="ngo" value="ngo">REGISTERED NGO
                            </label>
                            <label class="radio entity-btn span3">
                                <input type="radio" name="user_type" id="corporate" value="corporate">CORPORATE    
                            </label>
                            <label class="radio entity-btn span3">
                                <input type="radio" name="user_type" id="others" value="others">OTHERS
                            </label>
                        </div>
                        <div class="span12 first" id="usertype_error"><div id="alert-danger">{{form.errors.user_type}}</div></div>

                        <div id="registerindividual" class="hideindividual registerindividual">
                            <div class="span12 first">
                                <div class="control-group">
                                    Choose Gender*
                                    <div class="btn-group csract135">
                                        <button id="gen_male" name="gender" type="button" class="btn btn-primary" value="male">Male</button>
                                        <button id="gan_female" name="gender" type="button" class="btn btn-default" value="female">Female</button>
                                    </div>
                                    <div class="alert-danger">{{form.errors.gender}}</div>
                                </div>
                            </div>
                        </div>
                        <div id="registerngo" class="hidengo registerngo span12 first">
                            <div class="span6">
                                <div class="control-group">
                                    Registered Under Income Tax act, U/S 12A or 10(23)*
                                    <div class="btn-group csract135">
                                        <button id="act61_yes" name="registered_act_12a" type="button" class="btn btn-primary" value="yes">Yes</button>
                                        <button id="act61_no" name="registered_act_12a" type="button" class="btn btn-default" value="no">No</button>
                                    </div>
                                    <button id="signup_section12a"  type="button" class="btn btn-mini resetPrice" data-placement='bottom'><i class="icon-question"></i></button>
                                    <div class="alert-danger">{{form.errors.registered_act_12a}}</div>
                                </div>    
                            </div>
                            <div class="span6 ">
                                <div class="control-group">
                                    Registered Under Income Tax act, 1961*<br>
                                    <div class="btn-group csract135 select">
                                        <button id="act61_yes" name="registered_act_1961" type="button" class="btn btn-primary" value="yes">Yes</button>
                                        <button id="act61_no" name="registered_act_1961" type="button" class="btn btn-default" value="no">No</button>
                                    </div>
                                    <div class="alert-danger">{{form.errors.registered_act_1961}}</div>
                                </div>    
                            </div>
                            <div class="span6 first">
                                <div class="control-group">
                                    <div class="select">
                                        <select class="input-block-level" name="form_of_organization_ngo" required>
                                            <option value="">Select Form of Organisation*</option>
                                            {% for organization in ngo_form_of_organization %}
                                                <option value="{{organization.id}}">{{organization.name}}</option>
                                            {% endfor %}
                                        </select> 
                                        <div class="alert-danger">{{form.errors.form_of_organization}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <div id="date-error">
                                        <input class="datepicker input-block-level" type="text" name="establishment_date" placeholder="Date of Establishment*" required>
                                        <div class="alert-danger">{{form.errors.establishment_date}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  class="hidecompany registercorporate span12 first" id="registercorporate">
                            <div class="span6 first">
                                <div class="control-group">
                                    <input class="input-block-level" type="text" name="registration_no" placeholder="Registration Number*" >
                                    <div class="alert-danger">{{form.errors.registration_no}}</div>
                                </div>
                            </div>
                            <div class="span6 ">
                                <div class="control-group" >
                                    <select name="csr_applicability" class="input-block-level select" required>
                                        <option value="">Enter CSR Applicability Details*</option>
                                        {% for csr in csr_applicability %}
                                            <option value="{{csr.id}}">{{csr.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="alert-danger">{{form.errors.csr_applicability}}</div>
                                </div>
                            </div>
                        </div>
                        <div id="registerothers" class="hideothers registerothers">
                            <div class="span6 first">
                                <div class="control-group">
                                    <div class="select" >
                                        <select class="input-block-level" name="form_of_organization_others" required>
                                            <option value="">Select Form of Organisation*</option>
                                            {% for organization in others_form_of_organization %}
                                                <option value="{{organization.id}}">{{organization.name}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="alert-danger">{{form.errors.form_of_organization}}</div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="span12 first">
                            <div class="text-center">
                                <input type="submit" class="btn--login btn--red create-btn-align" value="Create Account"
                                />
                            </div>
                            <!-- <div class="text-strikethru mtop-20 span2">
                                <div class="line">
                                </div>
                                <div class="text">
                                   Or
                                </div>
                            </div>
                            <div class="span2">
                                <button class="btn--login btn--facebook">
                                    <i class="icon icon-facebook-sign" aria-hidden="true"></i>
                                    FACEBOOK   
                                </button>
                            </div>
                            <div class="mbtm span2">    
                                <button class="btn--login btn--google">
                                    <i class="icon icon-google-plus-sign" aria-hidden="true"></i>
                                    GOOGLE    
                                </button>
                            </div> -->
                        </div>  <!-- common sign up --> 
                       <!--  <div class="control-group vermobpad">
                            <a href="#" id="verifyotp"  >Verify Mobile Number</a>
                            <div class="mobotp hideotp">
                                <input class="" name="otp" type="text" placeholder="Enter OTP">
                                <input type="button" class="btn--otpsend send-otp-js" value="Send" />
                            </div>
                        </div>
                        <div class="control-group span6 first">
                            <div class="controls">
                              <input type="text" placeholder="Password" name="password" id="" required>
                            </div>
                        </div>
                        <div class="control-group span6">
                            <div class="controls">
                              <input type="text" placeholder="Confirm Password" id="" required>
                            </div>
                        </div> -->
                        
                        
                        <!-- <div class="mtop-20">
                            <a class=" btn-block btn-social btn-facebook">
                            <span class="icon icon-facebook icon-2x"></span> Sign in with Facebook
                            </a>    
                        </div>
                        <div class="mtop-20">
                            <a class=" btn-block btn-social btn-google-plus">
                            <span class="icon icon-google-plus icon-2x"></span> Sign in with Google
                            </a>    
                        </div> -->
                    </form>
                </div>
                <div class="formupper span12 first">
                    Have an account? <span><a href="{% url 'login' %}">Log in
                    </a></span>
                    <div class="text-center bs-callout bs-callout-warning alert-danger hidden">
                        <h4>Oh snap!</h4>
                        <p>This form seems to be invalid!!</p>
                    </div>
                    <div class="text-center bs-callout bs-callout-info alert-success ">
                        {{success_msg}}
                    </div>
                </div> 

           </section>
        </section>
</section>
{% endblock main-content %}
