{% extends "base-login2.html" %}
{% block main-content %}
<div id="" class="grey_bg">
	<div class="container">
		<div class="mtop-20 mbtm">
			<div class="mem-blog-head for-inline">
				 <span class="text-font"> Create new Blog </span>
			</div>
			<div class="create-blog-btn pull-right">
				<a href="{% url 'memberownblogs' %}" class="btn btn-default more-btn " type="submit">Blog List</a>
			</div>
			<form id="member_new_blog" method="POST" action="{% url 'membercreateblog' %}" enctype="multipart/form-data" data-parsley-validate="">
				{% csrf_token %}
				<input type="hidden" name="user_id" value="{{user.id}}" >
				<div class="row">
					<div class="span12 first">
						<div class="span6">
							<div class="text-center">
								<input type="text" class="input-block-level" name="blog_title" placeholder="Enter Blog title*" data-parsley-required="true" >
							</div>
						</div>
						<div class="alert-danger">{{form.errors.blog_title}}</div>
					</div>
					<div class="span12 first">
						<div class="span6">
							<div class="text-center">
								<textarea class="input-block-level" name="blog_content" data-parsley-required="true" placeholder="Enter Blog Description*"></textarea>
							</div>
						</div>
						<div class="alert-danger">{{form.errors.blog_content}}</div>
					</div>
					<div class="span12 first">
						<div class="span6">
							<div class="text-center">
								<select class="input-block-level">
									<option value=""> Select Causes Related to Blog</option>
									{% for cause in causes %}
										<option value="{{cause.id}}">{{cause.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="span12 first">
						<div class="span2">
							<div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
				                <span class='btn btn-red btn-file'>
				                    <span class='fileupload-new'>Upload Blog Image</span>
				                    <span class='fileupload-exists'>Change</span><br>
				                    <input class="input-block-level" name="blog_image" id="blog_image" type='file' />
				                </span>
				                {{form.errors.blog_image}}
				                <span class='fileupload-preview'></span>
				                <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
				            </div>	
			            </div>
					</div>
					<div class="span12">
						<div class="span6 first">
							<input type="submit" value="Submit" class="btn btn-more btn-red">	
						</div>
					</div>
				</div>
			</form>	
		</div>
	</div>	
</div>
<div class="container">
	<div class="mtop">
		<!-- <form id="member_new_blog" method="POST" action="{% url 'membercreateblog' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="user_id" value="{{user.id}}" >
			<div class="row">
				<div class="span12">
					<div class="span6">
						<div class="text-center">
							<input type="text" class="input-block-level" name="blog_title" placeholder="Enter Blog title">
						</div>
					</div>
				</div>
				<div class="span12">
					<div class="span6">
						<div class="text-center">
							<textarea class="input-block-level" name="blog_content">Enter Blog Description</textarea>
						</div>
					</div>
				</div>
				<div class="span12">
					<div class="span6">
						<div class="text-center">
							<select class="input-block-level">
							{% for cause in causes %}
								<option value="{{cause.id}}">{{cause.name}}</option>
							{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="span12">
					<div class="span2">
						<div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
			                <span class='btn btn-red btn-file'>
			                    <span class='fileupload-new'>Upload Blog Image</span>
			                    <span class='fileupload-exists'>Change</span><br>
			                    <input class="input-block-level" name="blog_image" id="blog_image" type='file' />
			                </span>
			                {{form.errors.blog_image}}
			                <span class='fileupload-preview'></span>
			                <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
			            </div>	
		            </div>
				</div>
				
				<div class="span12">
					<div class="span6">
						<input type="submit" value="Submit" class="btn btn-more btn-red">	
					</div>
				</div>
			</div>
		</form> -->	
	</div>
</div>
{% endblock main-content %}	