{% extends "base-login2.html" %}
{% block main-content %}
{{parameters}}
<div class="row-fluid">
	{% if user.flg_profile_create == False %}
	<div class="span12 mtop-20">
		<div class="container">
			<a href="{% url 'memberform' user_id %}" class="btn btn-red"> Fill One time form</a>
		</div>
	</div>
	{% endif %}
	
	<div class="span12">
		<div class="row-fluid">
			<div id="intenddonate" >
				<section class="">
					<div class="row-fluid logaccdiv mtop"><!-- Make Donations -->
						<div class="formupper">
				            Record Your Donation Intend
				        </div> 
						<div class="padcause rm-border">
							<form action="{% url 'login' %}" >
								<div id="all_filters">
									<table  class="table rm-border">
										<tr>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Location</option>
														<option>mumbai</option>
														<option>Delhi</option>
														<option>Banglore</option>
														<option>Chennai</option>
													</select>
												</div>	
											</td>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Community</option>
														<option>Jain</option>
														<option>Hindu</option>
														<option>Parsi</option>
														<option>Sikh</option>
														<option>Muslim</option>
														<option>Christians</option>
													</select>
												</div>	
											</td>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Cause</option>
														<option>Option 1</option>
														<option>Option 2</option>
														<option>Option 3</option>
														<option>Option 4</option>
													</select>
												</div>	
											</td>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Sub-Cause</option>
														<option>Option 1</option>
														<option>Option 2</option>
														<option>Option 3</option>
														<option>Option 4</option>
													</select>
												</div>	
											</td>
											<td>
												<input type="text" name="" placeholder="Enter Cause Specifics">	
											</td>
										</tr>
									</table>
								</div>
								<div class="btn-pref btn-group btn-group-justified btn-group-lg donate-set-mrg" role="group" aria-label="...">
					               <div class="btn-group" role="group">
					                  	<button type="button" id="stars" class="btn btn-primary" href="#intenddonation-money" data-toggle="tab">
					                     <div class="hidden-xs">MONEY</div>
					                  	</button>
					               </div>
					               <div class="btn-group" role="group">
					                  	<button type="button" id="favorites" class="btn btn-default" href="#intenddonation-kind" data-toggle="tab">
					                     <div class="hidden-xs">KIND</div>
					                  	</button>
					               </div>
					               <div class="btn-group" role="group">
					                  	<button type="button" id="favorites" class="btn btn-default" href="#intenddonation-time" data-toggle="tab">
					                     <div class="hidden-xs">TIME</div>
					                  </button>
					               </div>
					            </div>
								<div class="tab-content mtop-20">
									<div id="intenddonation-money" class="tab-pane fade in active">
										<table class="table span8 rm-border">	
											<tr>
												<td>
													<div class="styled-select slate">
														<select>
															<option>Enter Money</option>
															<option>option 1</option>
															<option>option 2</option>
															<option>option 3</option>
															<option>option 4</option>
														</select>
													</div>	
												</td>
												<td>
													<div class="styled-select slate">
														<select>
															<option>Enter Frequency</option>
															<option>SIP</option>
															<option>once</option>
															<option>specific date</option>
															<option>Quaterly</option>
															<option>Monthly</option>
															<option>yearly</option>
														</select>
													</div>
												</td>
												<td rowspan="1"></td>
											</tr>
										</table>
									</div>
									<div id="intenddonation-kind" class="tab-pane fade">
										<table class="table rm-border" id="kind-table">
											<tbody>		
												<tr>
													<td>
														<input id="quantity1" type="text" name="" placeholder="Enter Quantity">
													</td>
													<td>
														<div class="styled-select slate">
															<select id="kindtype1">
																<option>Enter Kind type</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>	
													</td>
													<td>
														<div class="styled-select slate">
															<select id="kindsubtype1">
																<option>Enter Sub-Kind type</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>	
													</td>
													<td>
														<input id="kindspec1" type="text" name="" placeholder="kind specifics">
													</td>
													<td>
														<div class="styled-select slate">
															<select id="kindfreq1" >
																<option>Enter Frequency</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										<button id="btn-kind" class="btn btn-more btn-orange donate-set-mrg" type="button">Add More Kinds</button>
									</div>
									<div id="intenddonation-time" class="tab-pane fade">
										<table class="table" id="time-table">
											<tbody>		
												<tr>
													<td>
														<input type="text" name="" placeholder="Number of Man/Hours">
													</td>
													<td>
														<div class="styled-select slate">
															<select>
																<option>Enter Skill Type</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
													<td>
														<div class="styled-select slate">
															<select>
																<option>Choose  Sub-Skill </option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
													<td>
														<input type="text" name="" placeholder="Enter time specifics">
													</td>
													<td>
														<div class="styled-select slate">
															<select>
																<option>Choose  Sub-Skill </option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
												</tr>
											</tbody>	
										</table>

										<button id="btn-time" class="btn btn-more btn-orange donate-set-mrg" type="button">Add More Time</button>
									</div>
								</div>
								<div class="text-center">
									<a href="" class="btn btn-more btn-red">Submit</a>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
			<!-- <div id="request_type" class="container activity-container">
				<p>Specify Your request type</p>
				<input value="general" type="radio" name="requesttype">General
				<input value="project" type="radio" name="requesttype">Project
			</div> -->
			<div id="intendreceive">
				<section class="">
					<div class="row-fluid logaccdiv mtop">
						<div class="formupper">
				            <p>Record Your Request Details</p>
				        </div> 
						<div class="padcause rm-border">
							<form action="" id="generate-request" method="get">
								<div id="all_filters">
									<table  class="table rm-border">
										<tr>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Location</option>
														<option>mumbai</option>
														<option>Delhi</option>
														<option>Banglore</option>
														<option>Chennai</option>
													</select>
												</div>	
											</td>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Community</option>
														<option>Jain</option>
														<option>Hindu</option>
														<option>Parsi</option>
														<option>Sikh</option>
														<option>Muslim</option>
														<option>Christians</option>
													</select>
												</div>	
											</td>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Cause</option>
														<option>Option 1</option>
														<option>Option 2</option>
														<option>Option 3</option>
														<option>Option 4</option>
													</select>
												</div>	
											</td>
											<td>
												<div class="styled-select slate">
													<select>
														<option>Enter Sub-Cause</option>
														<option>Option 1</option>
														<option>Option 2</option>
														<option>Option 3</option>
														<option>Option 4</option>
													</select>
												</div>	
											</td>
											<td>
												<input type="text" name="" placeholder="Enter Cause Specifics">	
											</td>
										</tr>
									</table>
								</div>
								<div class="btn-pref btn-group btn-group-justified btn-group-lg donate-set-mrg" role="group" aria-label="...">
					               <div class="btn-group" role="group">
					                  <button type="button" id="stars" class="btn btn-primary" href="#intendreceive-money" data-toggle="tab">
					                     <div class="hidden-xs">MONEY</div>
					                  </button>
					               </div>
					               <div class="btn-group" role="group">
					                  <button type="button" id="favorites" class="btn btn-default" href="#intendreceive-kind" data-toggle="tab">
					                     <div class="hidden-xs">KIND</div>
					                  </button>
					               </div>
					               <div class="btn-group" role="group">
					                  <button type="button" id="favorites" class="btn btn-default" href="#intendreceive-time" data-toggle="tab">
					                     <div class="hidden-xs">TIME</div>
					                  </button>
					               </div>
					            </div>
								<div class="tab-content mtop-20">
									<div id="intendreceive-money" class="tab-pane fade in active">
										<table class="table span8 rm-border">	
											<tr>
												<td>
													<div class="styled-select slate">
														<select>
															<option>Enter Money</option>
															<option>option 1</option>
															<option>option 2</option>
															<option>option 3</option>
															<option>option 4</option>
														</select>
													</div>	
												</td>
												<td>
													<div class="styled-select slate">
														<select>
															<option>Enter Frequency</option>
															<option>SIP</option>
															<option>once</option>
															<option>specific date</option>
															<option>Quaterly</option>
															<option>Monthly</option>
															<option>yearly</option>
														</select>
													</div>
												</td>
												<td rowspan="1"></td>
											</tr>
										</table>
									</div>
									<div id="intendreceive-kind" class="tab-pane fade">
										<table class="table rm-border" id="kind-table">
											<tbody>		
												<tr>
													<td>
														<input id="quantity1" type="text" name="" placeholder="Enter Quantity">
													</td>
													<td>
														<div class="styled-select slate">
															<select id="kindtype1">
																<option>Enter Kind type</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>	
													</td>
													<td>
														<div class="styled-select slate">
															<select id="kindsubtype1">
																<option>Enter Sub-Kind type</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>	
													</td>
													<td>
														<input id="kindspec1" type="text" name="" placeholder="kind specifics">
													</td>
													<td>
														<div class="styled-select slate">
															<select id="kindfreq1" >
																<option>Enter Frequency</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										<button id="btn-kind" class="btn btn-more btn-orange donate-set-mrg" type="button">Add More Kinds</button>
									</div>
									<div id="intendreceive-time" class="tab-pane fade">
										<table class="table" id="time-table">
											<tbody>		
												<tr>
													<td>
														<input type="text" name="" placeholder="Number of Man/Hours">
													</td>
													<td>
														<div class="styled-select slate">
															<select>
																<option>Enter Skill Type</option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
													<td>
														<div class="styled-select slate">
															<select>
																<option>Choose  Sub-Skill </option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
													<td>
														<input type="text" name="" placeholder="Enter time specifics">
													</td>
													<td>
														<div class="styled-select slate">
															<select>
																<option>Choose  Sub-Skill </option>
																<option>option 1</option>
																<option>option 2</option>
																<option>option 3</option>
																<option>option 4</option>
															</select>
														</div>
													</td>
												</tr>
											</tbody>	
										</table>

										<button id="btn-time" class="btn btn-more btn-orange donate-set-mrg" type="button">Add More Time</button>
									</div>
								</div>
								<div class="ask-help tab-content">
									<a data-toggle="modal" data-target="#askhelp" class="btn btn-more btn-orange">Request Contributors</a>	
								</div>
								<div class="text-center">
									<a href="{% url 'generatedrequest' %}" id="btn-makerequest" class="btn btn-more btn-red">Submit</a>
								</div>
							</form>
							<div >
								<div class="modal fade" id="askhelp" role="dialog">
									<div class="modal-dialog">
									    <div class="modal-content">
									        <div class="modal-header">
									        	<button type="button" class="close" data-dismiss="modal">&times;</button>
									        	<h4 class="modal-title">Add Contributors to your request</h4>
									        </div>
									        <div class="modal-body">
									     		<div>
									     			<!-- <input type="text" class="typeahead" name="contributors" placeholder="Search contributors.."> -->
									     			<input type="text" class="form-control" id="tag-contributors" />
									     		</div>
									        </div>
									     	<div class="modal-footer">
									     		<button type="button" class="btn btn-default more-btn">Done</button>
									        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									     	</div>
									    </div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="intendproject">
				<div class="container container-fluid">
					<div class="row-fluid">
						<div class="mtop grey-container">
							<div class="control-group vermobpad text-center mtop">
						        <input type="submit" class="btn--startprj" value="Enter Details of new or Ongoing Projects!"
						        onclick="window.location='/start/'"/>
						    </div>
						</div> 
					</div>	
				</div>  
			</div>
		</div>
	</div>
	<div id="membercontent">
		<div class="span12 mbtm temphide">
			<div class="container container-fluid">
				<div class="money">
					<div class="span2 mdonor text-center">
						<div class="amt">
							575986 INR					
						</div>
						<p>Donated</p> 
					</div>
					<div class="span2 mdonee first text-center">
						<div class="amt">
							15 Kinds					
						</div>
						<p>Donated</p> 
					</div> 
					<div class="span2 mdonor first text-center">
						<div class="amt">
							50 Hours					
						</div>
						<p>Donated </p> 
					</div>
				</div>
				<div class="kind">
					<div class="span2 mdonor text-center lateralmg">
						<div class="amt">
							575986 INR					
						</div>
						<p>Received</p> 
					</div>
					<div class="span2 mdonee first text-center">
						<div class="amt">
							15 Kinds					
						</div>
						<p>Received</p> 
					</div> 
					<div class="span2 mdonor first text-center">
						<div class="amt">
							50 Hours					
						</div>
						<p>Received</p> 
					</div>
				</div>
			</div>	
		</div>
		<div class="span12 first mbtm temphide">
			<div class="container container-fluid">
				<div class="cause">
					<div class="span3 mdonor text-center ">
						<div class="amt">
							4					
						</div>
						<p>Donated Projects </p> 
					</div>
					<div class="span3 mdonee first text-center">
						<div class="amt">
							2					
						</div>
						<p>Received projects</p> 
					</div> 
				</div>
				<div class="gang">
					<div class="span3 mdonor lateralmg text-center">
						<div class="amt">
							4					
						</div>
						<p>Gangs Joined</p>  
					</div>
					<div class="span3 mdonee first text-center">
						<div class="amt">
							2					
						</div>
						<p>Gang Joining Invites</p> 
					</div> 
				</div>
			</div>	
		</div>
		<div class="span12 first">
			<div class="container container-fluid">
				<div class="row-fluid">
					<!-- <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
					    <div class="btn-group" role="group">
					        <button type="button" id="stars" class="btn btn-primary" href="#recommended" data-toggle="tab">
					        <div class="hidden-xs">RECOMMENDED</div>
					        </button>
					    </div>
					</div>	 -->
					<div class="search-params">
						<select id="select-addon">
		                	<option>All</option>
		                	<option>Projects</option>
		                	<option>Contributors</option>	
		                	<option>Recipient</option>
		                	<option>GroupBy Causes</option>		
		                </select>
						<input id="search-txt" class="typeahead pad-within-text" type="search" name="" class="">
						<i class="icon-search icon-2x" ></i>
					</div>
				</div>
			</div>
			<div id="recommended">		
				<section class="">
					<section class="container container-fluid  mbtm mtop-20">
						<div class="span12 mbtm">
							<span class="headtext">KH Suggested Projects</span><br>
							<a href="{% url 'allproject' %}">See all live projects</a>	
						</div>
						{% for project in projects %}
						
						<figure class="span4 feature first mem-list ">
							<a href="{% url 'projectdetail' project.id %}" >
								<img src="/static/images/causes/cause{{forloop.counter}}.jpg" alt="" class="img-responsive" style="height:219px;">
								<div class="project-bg">
									<strong>Project title  :  {{project.title}} {{project.instance.custom_money}}</strong>
									<p class="request_comment">{{project.short_desc}}</p>
									<span class="span5 first"><b>PROJECT BY</b></span>
									<span class="span7 first">{{project.user_id.username}}</span>
									<span class="span5 first"><b>CREATOR TYPE</b></span>
									<span class="span7 first">{{project.user_id.user_type}}</span>
									<a href="" class="btn btn-primary btn-orange">donate</a>
									<div class="mtop-20 progress progress-success bar-height rm-mbtm">
									  	<div class="bar" style="width :{{project.get_mkt_donated.completed_donation|floatformat:0}}%;">
									  	</div>
									</div>
									{{project.get_mkt_donated.completed_donation|floatformat:0}} % Completed	
								</div>
							</a>	
						</figure>
						
						{% endfor %}
					</section>
				</section>
				<section class="mtop mbtm grey-container">
					<section class="container container-fluid mtop mbtm" id="recommend-request">
						<div class="span12 mbtm">
							<span class="headtext ">KH Suggested Requests</span><br>
							<a href="#">See all live requests</a>	
						</div>
						{% for request in requests %}
						<div class="span4 feature first requestor-bg mem-list">
							<a href="{% url 'requestordetail' request.id %}">
								<div class="span5">
									<img src="/static/images/exective{{forloop.counter}}.jpg" alt="" class="img-responsive">
								</div>
								<div class="span7 first requestor_info">
									<span class="span5">NAME : </span>
									<span class="span7 first">{{request.user.name}}</span>
									<span class="span5 first">PROFESSION : </span>
									<span class="span7 first" >SCHOOL TEACHER</span>
									<span class="span5 first" >ELIGIBILITY : </span>
									<span class="span7 first" >STRONG</span>
									<span class="span5 first" >BACKED BY : </span>
									<span class="span7 first" >3 PEOPLE</span>
								</div>
								<div class="cont_txt first">
									<strong>{{request.cause}}</strong>
									<p class="request_comment">{{request.comment}}</p>
									<a href="{% url 'requestordetail' request.id %}" class="btn btn-primary btn-orange">donate</a>
									<div class="mtop-20 progress progress-success bar-height rm-mbtm">
									  	<div class="bar" style="width: {{request.get_mkt_donated.completed_donation|floatformat:0}}%;">
									  	</div>
									</div>
									{{request.get_mkt_donated.completed_donation|floatformat:0}} % Completed
								</div>
							</a>
						</div>
						{% endfor %}
					</section>
				</section>
				<section class="mtop ">	
					<section class="container container-fluid mbtm" id="recommend-request">
						<div class="span12 mbtm">
							<span class="headtext ">KH Suggested Contributors</span><br>
							<a href="#">See all Contributors</a>
						</div>
						{% for contributor in contributors %}
						<div class="span4 feature contributor-bg first mem-list">
							<a href="{% url 'contributordetail' contributor.id %}">
								<div class="span5">
									<img src="/static/images/exective{{forloop.counter}}.jpg" alt="" class="img-responsive">
								</div>
								<div class="span7 first requestor_info">
									<span class="span5">NAME : </span>
									<span class="span7 first">{{contributor.user.name}}</span>
									<span class="span5 first">PROFESSION : </span>
									<span class="span7 first" >SCHOOL TEACHER</span>
									<span class="span5 first" >RATING : </span>
									<span class="span7 first" >STRONG</span>
									<span class="span5 first" >DONATIONS : </span>
									<span class="span7 first" >3</span>
								</div>
								<div class="cont_txt first ">
									<strong>{{contributor.cause}}</strong>
									<p class="request_comment">{{contributor.comment}}</p>
									<a href="{% url 'contributordetail' contributor.id %}" class="btn btn-primary btn-orange">request</a>
								</div>
							</a>
						</div>
						{% endfor %}
					</section>
				</section>
				<div class="text-strikethru temphide">
			        <div class="line">
			        </div>
			        <div class="text">
			           Or
			        </div>
			    </div>
			    <div class="control-group vermobpad text-center temphide">
			        <input type="submit" class="btn--startprj" value="Enter Details of new or Ongoing Projects!"
			        onclick="window.location='/start/'"/>
			    </div>
			</div>
	    </div>
    </div>    
</div>


{% endblock main-content %}