{% extends "base-login2.html" %}
{% block main-content %}

<section class="container container-fluid">
	<section class="row-fluid mtop">
		<div class="span12 first text-center"> 
			<h2>Welcome to KindHearted,Select the option You Intend</h2> 
			<input  id="intenddonate" class="rmmargin" type="radio" name="Intends" value="donor">
            <b class="addmargin">DONATE</b>
            <input id="intendreceive" class="mreg rmmargin" type="radio" name="Intends" value="donee" >
            <b class="addmargin">RECEIVE</b>
		</div>
	</section>
</section>

<section id="content" class="mbtm faqs mtop hidedonate donate">
	<section class="container-fluid container">
		<section class="row-fluid">
			<div class="accordion faq_accordion" id="accordion2"> 
			<!-- full container -->
			
				<div class="accordion-group"> <!-- single element -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Basic Information</h3>
						</a>
					</div>
					<div  id="collapseOne" class="accordion-body collapse in adjustcontent ">
						<div class="adjustmgn">
							<section class="span12 contentpad">
								<div class="control-group text-center">
						            <input  id="ngoradio" class="rmmargin" type="radio" name="membertype" value="donor">
						            <b class="addmargin">REGISTERED NGO</b>
						            <input id="individualradio" class="mreg rmmargin" type="radio" name="membertype" value="donee" >
						            <b class="addmargin">INDIVIDUAL</b>
						            <input id="othersradio" class="mreg rmmargin" type="radio" name="membertype" value="others" >
						            <b>OTHERS</b>
					            </div>
							</section>
							<section class="span4 hidengo ngo">
					            <div class="control-group">
				                    <label for="inputEmail" class=""><b>Name of the Organization</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="organization name" id="inputEmail">
		                            </div>
		                        </div>

		                        <div class="control-group">
		                            <input  id="" class="rmmargin" type="radio" name="csrcompliant" value="donor">
						            <b class="addmargin">CSR Compliant</b>
						            <input id="" class="mreg rmmargin" type="radio" name="csrcompliant" value="donee" >
						            <b class="addmargin">Non-CSR Compliant</b>
		                        </div>
							</section>
							<section class="span4 hidengo ngo" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Cause</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select class="selectpicker" >
										    <option>Cause 1
											</option>
										    <option>Cause 2
											</option>
										  </select>
										</div>
		                            </div>
		                        </div>
							</section>
							<section class="span3 hidengo ngo" >
		                       <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Location</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter location" id="inputPassword">
		                            </div>
		                        </div>
							</section>
						<!-- individual part -->
							<section class="span4 hideindividual individual">
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Name</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="firstname lastname" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Mobile No.</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="mobile number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Cause</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Cause" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>CKYC</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="ckyc" id="inputPassword">
		                            </div>
		                        </div>  
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Profession</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="profession" id="inputPassword">
		                            </div>
		                        </div> 
							</section>
							<section class="span4 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Email</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter email id" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Website</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder=" enter web address" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class="control-label loginform"><b>Personal Skills</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>Medicine</option>
										    <option>Law</option>
										    <option>Accountant</option>
										    <option>Architect</option>
										    <option>Engineer</option>
										    <option>Interior Decorator</option>
										    <option>Management Consultant</option>
										    <option>Information Technology</option>
										    <option>Software Engineer</option>
										  </select>
										</div>
		                            </div>
		                        </div>       
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Aadhar Number</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder=" enter aadhar card number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Business</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Business details" id="inputPassword">
		                            </div>
		                        </div>
							</section>
							<section class="span3 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Address</b> <sup>*</sup></label>
		                            <div class="controls address">
		                              <textarea placeholder="enter address" ></textarea>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Experience</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter experience" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Gender</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="male/female" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Service</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter service details" id="inputEmail">
		                            </div>
		                        </div>
							</section>
						<!-- other part	 -->
							<section class="span4 hideothers others">
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Name</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="firstname lastname" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Mobile No.</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="mobile number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Cause</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Cause" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class="control-label loginform"><b>Form Of Organisation</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>Partnership Firm</option>
										    <option>Association Of Person</option>
										  </select>
										</div>
		                            </div>
		                        </div>    
							</section>
							<section class="span4 hideothers others" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Email</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter email id" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Website</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder=" enter web address" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>CKYC</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="ckyc" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Business</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Business details" id="inputPassword">
		                            </div>
		                        </div>
							</section>
							<section class="span3 hideothers others" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Address</b> <sup>*</sup></label>
		                            <div class="controls address">
		                              <textarea placeholder="enter address" ></textarea>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Aadhar Number</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter aadhar number" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Service</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter service details" id="inputEmail">
		                            </div>
		                        </div>
							</section>
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>   <!-- 1st accordion group -->
				<div class="accordion-group"> <!-- single element -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Intend To Give</h3>
						</a>
					</div>
					<div id="collapseFive" class="accordion-body collapse adjustcontent">
						<div class="adjustmgn">
							<div class="control-group hidengo ngo">
                                <span class="remember">
                                 <input type="checkbox" name="intend" value="intend"/>   
                                </span>
                                Money
                                <span class="remember">
                                 <input type="checkbox" name="intend" value="intend"/>   
                                </span>
                                Kind
                                <span class="remember">
                                 <input type="checkbox" name="intend" value="intend"/>   
                                </span>
                                Time
                            </div>
							
						
						<!-- individual part -->
							<section class="span4 hideindividual individual">
								<div class="control-group hideindividual individual">
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Money
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Kind
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Time
                            	</div>
							</section>
						<!-- others part -->
							<section class="span4 hideothers others">
								<div class="control-group hideothers others">
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Money
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Kind
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Time
                            	</div>	
							</section>
							
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>   <!-- 2th accordion group -->
				<!-- submit button -->
				<div class="span12 text-center">
					<a href="{% url 'memberdashboard' %}" class="btn btn-default more-btn">Submit</a>
				</div>
			</div> <!-- end full container  -->
 		</section>
	</section>
</section>

<section id="content" class="mbtm faqs mtop hidereceive receive">
	<section class="container-fluid container">
		<section class="row-fluid">
			<div class="accordion faq_accordion" id="accordion2"> 
			<!-- full container -->
			<!-- 1st -->
				<div class="accordion-group"> <!-- single element -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Basic Information</h3>
						</a>
					</div>
					<div  id="collapse11" class="accordion-body collapse in adjustcontent ">
						<div class="adjustmgn">
							<section class="span12 contentpad">
								<div class="control-group text-center">
						            <input  id="ngoradio" class="rmmargin" type="radio" name="membertype" value="donor">
						            <b class="addmargin">REGISTERED NGO</b>
						            <input id="individualradio" class="mreg rmmargin" type="radio" name="membertype" value="donee" >
						            <b class="addmargin">INDIVIDUAL</b>
						            <input id="othersradio" class="mreg rmmargin" type="radio" name="membertype" value="others" >
						            <b>OTHERS</b>
					            </div>
							</section>
							<section class="span4 hidengo ngo">
					            <div class="control-group">
				                    <label for="inputEmail" class=""><b>Name of the Organization</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="organization name" id="inputEmail">
		                            </div>
		                        </div>

		                        <div class="control-group">
		                            <input  id="" class="rmmargin" type="radio" name="csrcompliant" value="donor">
						            <b class="addmargin">CSR Compliant</b>
						            <input id="" class="mreg rmmargin" type="radio" name="csrcompliant" value="donee" >
						            <b class="addmargin">Non-CSR Compliant</b>
		                        </div>
							</section>
							<section class="span4 hidengo ngo" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Cause</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select class="selectpicker" >
										    <option>Cause 1
											</option>
										    <option>Cause 2
											</option>
										  </select>
										</div>
		                            </div>
		                        </div>
							</section>
							<section class="span3 hidengo ngo" >
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Location</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter location" id="inputPassword">
		                            </div>
		                        </div>
							</section>
						<!-- individual part -->
							<section class="span4 hideindividual individual">
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Name</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="firstname lastname" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Mobile No.</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="mobile number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Cause</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Cause" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>CKYC</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="ckyc" id="inputPassword">
		                            </div>
		                        </div>  
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Profession</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="profession" id="inputPassword">
		                            </div>
		                        </div> 
							</section>
							<section class="span4 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Email</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter email id" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Website</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder=" enter web address" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class="control-label loginform"><b>Personal Skills</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>Medicine</option>
										    <option>Law</option>
										    <option>Accountant</option>
										    <option>Architect</option>
										    <option>Engineer</option>
										    <option>Interior Decorator</option>
										    <option>Management Consultant</option>
										    <option>Information Technology</option>
										    <option>Software Engineer</option>
										  </select>
										</div>
		                            </div>
		                        </div>       
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Aadhar Number</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder=" enter aadhar card number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Business</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Business details" id="inputPassword">
		                            </div>
		                        </div>
							</section>
							<section class="span3 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Address</b> <sup>*</sup></label>
		                            <div class="controls address">
		                              <textarea placeholder="enter address" ></textarea>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Experience</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter experience" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Gender</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="male/female" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Service</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter service details" id="inputEmail">
		                            </div>
		                        </div>
							</section>
						<!-- other part	 -->
							<section class="span4 hideothers others">
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Name</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="firstname lastname" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Mobile No.</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="mobile number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Cause</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Cause" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class="control-label loginform"><b>Form Of Organisation</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>Partnership Firm</option>
										    <option>Association Of Person</option>
										  </select>
										</div>
		                            </div>
		                        </div>    
							</section>
							<section class="span4 hideothers others" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Email</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter email id" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Website</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder=" enter web address" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>CKYC</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="ckyc" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Business</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Business details" id="inputPassword">
		                            </div>
		                        </div>
							</section>
							<section class="span3 hideothers others" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Address</b> <sup>*</sup></label>
		                            <div class="controls address">
		                              <textarea placeholder="enter address" ></textarea>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Aadhar Number</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter aadhar number" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Service</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter service details" id="inputEmail">
		                            </div>
		                        </div>
							</section>
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>   <!-- 1st accordion group -->
			<!--  4 nd -->
				<div class="accordion-group hidengo ngo"> <!-- single element org details -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Organization Details</h3>
						</a>
					</div>
					<div id="collapse13" class="accordion-body collapse adjustcontent">
						<div class="adjmgn">
							<section class="span4 hidengo ngo">
		                        <div class="control-group">
		                            <label for="inputEmail" class="control-label loginform"><b>NGO Registration Act</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>Society under Societies Registration Act</option>
										    <option>Company registered under Section 8/25 of Companies Act</option>
										    <option>Trust registered under Public Trust Act</option>
										  </select>
										</div>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Name</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter name" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Contact Person Name</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter Person name" id="inputPassword">
		                            </div>
		                        </div> 
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Address</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <textarea type="submit" rows="3" cols="50" placeholder="enter address">
		                              </textarea>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Rate Of Deduction</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="50%/100%" id="inputEmail">
		                            </div>
		                        </div>  
							</section>
							<section class="span4 hidengo ngo" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Date Of Establishment</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter date" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>email</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter place" id="inputPassword">
		                            </div>
		                        </div> 
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Contact person email</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter email" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Contact Person Address</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <textarea type="submit" rows="3" cols="50" placeholder="enter address">
		                              </textarea>
		                            </div>
		                        </div> 
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Is Formed for Religious Benefit?</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="Yes/No" id="inputEmail">
		                            </div>
		                        </div> 
							</section>
							<section class="span3 hidengo ngo" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Purpose</b> <sup>*</sup></label>
		                            <div class="controls">
										<div class="styled-select slate">
										  <select>
										    <option>100% Charitable Purpose
											</option>
										    <option>100% Religious Purpose
											</option>
										    <option>Partly Charitable and Partly Religious (of National Importance)
											</option>
											<option>Partly Charitable and Partly Religious (Others)
											</option>
										  </select>
										</div>
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Contact Number</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="contact number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Contact Person Number</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="contact number" id="inputPassword">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Benefit Donor Under Section</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="80G/80GGA" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group mdonate">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>If Yes,Describe</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="description" id="inputEmail">
		                            </div>
		                        </div>     
		                        
							</section>
						<!-- individual part -->
							<section class="span4 hideindividual individual">
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Causes Intrested</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter causes" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Budget for current year</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter budget" id="inputPassword">
		                            </div>
		                        </div>       
							</section>
							<section class="span4 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Projects Undertaken</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter projects" id="inputEmail">
		                            </div>
		                        </div>
							</section>
							<section class="span3 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Spent/Disbursed Last Year </b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter spent" id="inputEmail">
		                            </div>
		                        </div>
							</section>
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>
				
				<div class="accordion-group hidengo ngo"> <!-- single element -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Add Projects</h3>
						</a>
					</div>
					<div id="collapse15" class="accordion-body collapse adjustcontent">
						<div class="adjustmgn">
							<div class="span2 mprjlabel">
								<b>Project Name</b>
							</div>
							<div class="inputwidth mprjinput ">	
								<input name="project" type="text" placeholder="enter project name">
							</div>
							<table class="table rmtabborder hidengo ngo">
								<tr>
									<th>Financial Year</th>
									<td>
										<input name="financialyear" type="text" placeholder="enter financial year">
									</td>
									<td>
										<input name="financialyear" type="text" placeholder="enter financial year">
									</td>
									<td>
										<input name="fincancialyear" type="text" placeholder="enter financial year">
									</td>
								</tr>
								<tr>
									<th>Spent/Given</th>
									<td>
										<input name="amount" type="text" placeholder="enter amount">
									</td>
									<td>
										<input name="amount" type="text" placeholder="enter kind">
									</td>
									<td>
										<input name="Time" type="text" placeholder="enter amount">
									</td>
								</tr>
								<tr>
									<th>Money</th>
									<td>
										<input name="amount" type="text" placeholder="enter amount">
									</td>
									<td>
										<input name="amount" type="text" placeholder="enter kind">
									</td>
									<td>
										<input name="Time" type="text" placeholder="enter amount">
									</td>
								</tr>
								<tr>
									<th>In Kind</th>
									<td>
										<input name="amount" type="text" placeholder="enter amount">
									</td>
									<td>
										<input name="amount" type="text" placeholder="enter kind">
									</td>
									<td>
										<input name="Time" type="text" placeholder="enter amount">
									</td>
								</tr>
								<tr>
									<th>Time</th>
									<td>
										<input name="amount" type="text" placeholder="enter amount">
									</td>
									<td>
										<input name="amount" type="text" placeholder="enter kind">
									</td>
									<td>
										<input name="Time" type="text" placeholder="enter amount">
									</td>
								</tr>
								<tr>
									<th>Direct Beneficiaries</th>
									<td>
										<input name="amount" type="text" placeholder="enter Beneficiaries">
									</td>
									<td>
										<input name="amount" type="text" placeholder="enter Beneficiaries">
									</td>
									<td>
										<input name="Time" type="text" placeholder="enter Beneficiaries">
									</td>
								</tr>
								<tr>
									<th>InDirect Beneficiaries</th>
									<td>
										<input name="amount" type="text" placeholder="enter Beneficiaries">
									</td>
									<td>
										<input name="amount" type="text" placeholder="enter Beneficiaries">
									</td>
									<td>
										<input name="Time" type="text" placeholder="enter Beneficiaries">
									</td>
								</tr>
							</table>
							<div class="span2 mprjlabel">
								<b>Description</b>
							</div>
							<div class="inputwidth">	
								<textarea name="desc" type="text" placeholder="enter description">
								</textarea>
							</div>
						<!-- individual part -->
							<section class="span4 hideindividual individual">
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Causes Intrested</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter causes" id="inputEmail">
		                            </div>
		                        </div>
		                        <div class="control-group">
		                            <label for="inputPassword" class="control-label loginform">
		                            <b>Budget for current year</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter budget" id="inputPassword">
		                            </div>
		                        </div>       
							</section>
							<section class="span4 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Projects Undertaken</b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter projects" id="inputEmail">
		                            </div>
		                        </div>
							</section>
							<section class="span3 hideindividual individual" >
		                        <div class="control-group">
		                            <label for="inputEmail" class=""><b>Spent/Disbursed Last Year </b> <sup>*</sup></label>
		                            <div class="controls">
		                              <input class="" type="text" placeholder="enter spent" id="inputEmail">
		                            </div>
		                        </div>
							</section>
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>   <!-- 5th accordion group -->	

				<div class="accordion-group hidengo ngo"> <!-- single element -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Add Statutory Information</h3>
						</a>
					</div>
					<div id="collapse12" class="accordion-body collapse adjustcontent">
						<div class="adjustmgn">
							<table class="table rmtabborder hidengo ngo">
								<tr>
									<th  class="text-center">Financial Date</th>
									<th>Year 1</th>
									<th>Year 2</th>
									<th>Year 3</th>
								</tr>
								<tr>
									<td rowspan="2"><input name="financialdate" type="text" placeholder="enter financial date"></td>
									<td><input name="year1" type="text" placeholder="enter Year 1"></td>
									<td><input name="year2" type="text" placeholder="enter Year 2"></td>
									<td><input name="year3" type="text" placeholder="enter Year 3"></td>
								</tr>
								<tr>
									<td>[Rs in Lakhs]</td>
									<td>[Rs in Lakhs]</td>
									<td>[Rs in Lakhs]</td>
								</tr>
								<tr>
									<th>Donations From Govt./Semi-Govt</th>
									<td>
										<input  type="text" placeholder="govt/semi-govt">
									</td>
									<td>
										<input type="text" placeholder="govt/semi-govt">
									</td>
									<td>
										<input type="text" placeholder="govt/semi-govt">
									</td>
								</tr>
								<tr>
									<th>Donations From Indian</th>
									<td>
										<input  type="text" placeholder="enter donations">
									</td>
									<td>
										<input type="text" placeholder="enter donations">
									</td>
									<td>
										<input type="text" placeholder="enter donations">
									</td>
								</tr>
								<tr>
									<th>Donations From Foriegn</th>
									<td>
										<input name="income1" type="text" placeholder="enter donations">
									</td>
									<td>
										<input name="income2" type="text" placeholder="enter donations">
									</td>
									<td>
										<input name="income3" type="text" placeholder="enter donations">
									</td>
								</tr>
								<tr>
									<th>Donations From KH</th>
									<td>
										<input name="income1" type="text" placeholder="enter donations">
									</td>
									<td>
										<input name="income2" type="text" placeholder="enter donations">
									</td>
									<td>
										<input name="income3" type="text" placeholder="enter donations">
									</td>
								</tr>
								<tr>
									<th>Income From Assets/Investments</th>
									<td>
										<input name="income1" type="text" placeholder="enter income">
									</td>
									<td>
										<input name="income2" type="text" placeholder="enter income">
									</td>
									<td>
										<input name="income3" type="text" placeholder="enter income">
									</td>
								</tr>
								<tr>
									<th>Other Income</th>
									<td>
										<input name="income1" type="text" placeholder="enter income">
									</td>
									<td>
										<input name="income2" type="text" placeholder="enter income">
									</td>
									<td>
										<input name="income3" type="text" placeholder="enter income">
									</td>
								</tr>
								<tr>
									<th>Gross Income</th>
									<td>
										<input name="income1" type="text" placeholder="enter income">
									</td>
									<td>
										<input name="income2" type="text" placeholder="enter income">
									</td>
									<td>
										<input name="income3" type="text" placeholder="enter income">
									</td>
								</tr>
								<tr>
									<th>Expense On Objectives</th>
									<td>
										<input name="income1" type="text" placeholder="expense on objective">
									</td>
									<td>
										<input name="income2" type="text" placeholder="expense on objective">
									</td>
									<td>
										<input name="income3" type="text" placeholder="expense on objective">
									</td>
								</tr>
								<tr>
									<th>Expense On Administrative Activity</th>
									<td>
										<input name="income1" type="text" placeholder="expense on administration">
									</td>
									<td>
										<input name="income2" type="text" placeholder="expense on administration">
									</td>
									<td>
										<input name="income3" type="text" placeholder="expense on administration">
									</td>
								</tr>
								<tr>
									<th>Total Expense</th>
									<td>
										<input name="expense1" type="text" placeholder="Total expense">
									</td>
									<td>
										<input name="income2" type="text" placeholder="Total expense">
									</td>
									<td>
										<input name="income3" type="text" placeholder="Total expense">
									</td>
								</tr>
								<tr>
									<th>Net Surplus/Deficit</th>
									<td>
										<input name="income1" type="text" placeholder="enter amount">
									</td>
									<td>
										<input name="income2" type="text" placeholder="enter amount">
									</td>
									<td>
										<input name="income3" type="text" placeholder="enter amount">
									</td>
								</tr>
							</table>
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>	<!-- 2nd accordion group -->
			<!--  3 rd 			 -->
				
				<div class="accordion-group"> <!-- single element -->
					<div class="accordion-heading adjusthead">
						<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
							 <span class="toggle_faq rmmgdonatereg">
							 <i class="icon-chevron-right"></i>
							 </span>
							 <h3>Intend To Receive</h3>
						</a>
					</div>
					<div id="collapse14" class="accordion-body collapse adjustcontent">
						<div class="adjustmgn">
							<div class="control-group hidengo ngo">
                                <span class="remember">
                                 <input type="checkbox" name="intend" value="intend"/>   
                                </span>
                                Money
                                <span class="remember">
                                 <input type="checkbox" name="intend" value="intend"/>   
                                </span>
                                Kind
                                <span class="remember">
                                 <input type="checkbox" name="intend" value="intend"/>   
                                </span>
                                Time
                            </div>
						
						<!-- individual part -->
							<section class="span4 hideindividual individual">
								<div class="control-group hideindividual individual">
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Money
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Kind
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Time
                            	</div>
							</section>
						<!-- others part -->
							<section class="span4 hideothers others">
								<div class="control-group hideothers others">
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Money
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Kind
	                                <span class="remember">
	                                 <input type="checkbox" name="intend" value="intend"/>   
	                                </span>
	                                Time
                            	</div>	
							</section>
							
						</div><!-- 1 -->
					</div> <!-- 2 -->
				</div>   <!-- 4th accordion group -->
				
			
				<!-- submit button -->
				<div class="span12 text-center">
					<a href="{% url 'memberdashboard' %}" class="btn btn-default more-btn">Submit</a>
				</div>
			</div> <!-- end full container  -->
 		</section>
	</section>
</section>
{% endblock main-content %}
