{% extends "base-login2.html" %}
{% block main-content %}
<section id="blog_features" class="greybg">
	<section class="container mbtm">
		<div class="mtop-20 mbtm">
			<div class="mem-blog-head for-inline">
				 <span class="text-font"> My Blogs </span>
			</div>
			<div class="create-blog-btn pull-right">
				<a href="{% url 'membercreateblog' %}" class="btn btn-default more-btn " type="submit">Create New Blog</a>
			</div>
		</div>
		<section class="row-fluid">
			{% for blog in own_blogs %}
			<figure class="team_member span4 mbtm-20 {% cycle '' '' '' 'first' %}">
				<a href="{% url 'myblogdetail' blog.id %}">
					<div class="member_img">
						<img src="/media/{{blog.blog_image}}" alt="Team Member" class="img-responsive" style="height:219px;" />
					</div>
					<div class="team_member_description bloglist">
						<h4>{{blog.blog_title}}</h4>
						<p class="blog_cont_hgt">{{blog.blog_content}}</p>
						<a href="" data-toggle="tab">View Comments</a>
					</div>
				</a>
			</figure>
			{% endfor %}
		</section>
	</section>
</section>
{% endblock main-content %}