{% extends "base-login2.html" %}
{% block main-content %}
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
						<div class="span12 first"> <h2> Photos</h2> </div>
					</section>
				</section>
			</section>		
		</section>
	</section>
</section>
<section id="content" class="mbtm gallery">
	<section class="container-fluid container">
		<section class="row-fluid">
			<ul id="portfolio-item-filter" class="category-list">
				<li><a data-toggle="modal" data-target="#addPhoto" class="btn btn-default more-btn" type="submit">Add Photos</a></li>
				<li><a id="allphotos">All</a></li>
				<li><a id="ownphotos">My Photos</a></li>
				<li><a id="allphotoscauses">Causes</a></li>
				<li><a id="allphotosevents">Events</a></li>
			</ul>
			<ul class="gallery-page">
			{% for photo in all_photos %}
	            <li class="gal_img Charity span4 view_new view-tenth first">
	               <figure class="gal_img_container">
	                  <img class="galler-img" src="/media/{{photo.photo}}" alt="">
	                  <div class="mask">
	                     <a class="image-gal info" href="/media/{{photo.photo}}" title="">&nbsp;</a>
	                  </div>
	               </figure>
	            </li>
            {% endfor %}
            </ul>
			<!-- <ul class="gallery-page allphotos">
				{% for photo in all_photos %}			
				<li class="gal_img Charity span4 view_new view-tenth first">
					<figure class="gal_img_container">
						<img class="galler-img img-height" src="/media/{{photo.photo}}" alt="">
						<div class="mask">
							<div class="gal_tag"> {{photo.name}} </div>
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="/media/{{photo.photo}}" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				{% endfor %}
			</ul>
			<ul class="gallery-page alleventphotos" hidden>
				{% for photo in event_photos %}			
				<li class="gal_img Charity span4 view_new view-tenth first">
					<figure class="gal_img_container">
						<img class="galler-img img-height" src="/media/{{photo.photo}}" alt="">
						<div class="mask">
							<div class="gal_tag"> {{photo.name}} </div>
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="/media/{{photo.photo}}" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				{% endfor %}
			</ul>
			<ul class="gallery-page ownphotos" hidden>
				{% for photo in user_photos %}			
				<li class="gal_img Charity span4 view_new view-tenth first">
					<figure class="gal_img_container">
						<img class="galler-img img-height" src="/media/{{photo.photo}}" alt="">
						<div class="mask">
							<div class="gal_tag"> {{photo.name}} </div>
							<a class="image-gal info" data-rel="prettyPhoto[gallery1]" href="/media/{{photo.photo}}" title="">&nbsp;</a>
						</div>
					</figure>
				</li>
				{% endfor %}
			</ul> -->
		</section>
	</section>
</section>

<div class="modal fade" id="addPhoto" role="dialog">
   	<div class="modal-dialog">
      	<div class="modal-content">
         	<div class="modal-header">
            	<h4 class="modal-title">Add Photo</h4>
         	</div>
         	<form id="addmemberphotos" method="POST" action="{% url 'memberphotos' %}" enctype="multipart/form-data" data-parsley-validate="">
         		{% csrf_token %}
         		<input type="hidden" name="created_by" value="{{user.id}}">
		        <div class="modal-body">
		         	<div>
		         		<input class="input-block-level"  type="text" name="name" placeholder="add caption" >
		         	</div>
		         	<div class="span3 first"> 
			         	<div class='fileupload fileupload-new input-block-level' data-provides='fileupload'>
			                <span class='btn btn-red btn-file'>
			                    <span class='fileupload-new'>Upload Photo</span>
			                    <span class='fileupload-exists'>Change</span><br>
			                    <input name="photo" type='file' data-parsley-required="true" data-parsley-errors-container="#photo-err" data-parsley-imagevalidation="" />
			                </span>
			                <span class='fileupload-preview'></span>
			                <a href='#' class='close fileupload-exists' data-dismiss='fileupload' style='float: none'>×</a>
			            </div>
			            <div id="photo-err"></div>
			        </div>    
		        </div>
		        <div class="modal-footer">
		         	<input type="submit" value="Submit">
		            <button type="button" class="btn btn-default modal_close" data-dismiss="modal">Close</button>
		        </div>
		    </form>    
      	</div>
   	</div>
</div>

{% endblock main-content %}
