{% extends "base-login2.html" %}
{% block main-content %}
<section id="ngo_features" class="whitebg">
	<section class="container mbtm">
		<h2>Active Donations</h2>
		<section class="row-fluid">
			{% for contribution in contributions  %}
			<figure class="span4 feature">
				<a href="{% url 'memberdonationdetail' contribution.id %}" >
					<img src="/static/images/causes/cause{{forloop.counter}}.jpg" alt="" class="img-responsive" style="height:219px;">
					<div class="ftr_txt cont_txt requestor_info">
						<div class="span12">
							<span class="span6">Cause : </span>
							<span class="span6 mycontribution_list_font">{{contribution.cause.name}}</span>
						</div>
						<div class="span12 first">
							<span class="span6 ">Contributed For :</span>
							<span class="span6 mycontribution_list_font">{% if contribution.contribution_for == '1'  %} Project {% else %} Request {% endif %}</span>
						</div>
						<div class="span12 first">
							<span class="span6 ">Whether Confirmed:</span>
							<span class="span6 mycontribution_list_font">{% if contribution.confirmed == False %} No {% else %} Yes {% endif %}</span>
						</div>
						<div class="span12 first">
							<span class="span6 ">Confirmed by :</span>
							<span class="span6 mycontribution_list_font">{{contribution.confirmed_by.name}}</span>
						</div>
						<div class="span12 first">
							<a href="{% url 'print-certificate' contribution.id  %}" class="btn btn-more btn-red">View/Print Certificate</a>	
						</div>
					</div>
				</a>		
			</figure>
			{% endfor %}
		</section>
	</section>
</section>

<section id="ngo_features" class="greybg">
	<section class="container mbtm">
		<h2>Completed Donations</h2>
		<section class="row-fluid">
			{% for i in '123' %}
			<figure class="span4 feature">
				<a href="{% url 'memberdonationdetail' 1 %}" >
					<img src="/static/images/causes/cause{{i}}.jpg" alt="" class="img-responsive" style="height:219px;">
					<div class="ftr_txt">
						<strong>Help children to make a better life</strong>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<a href="{% url 'print-certificate' contribution.id %}" class="btn btn-more btn-red">View/Print Certificate</a>
					</div>
				</a>
			</figure>
			{% endfor %}
			<!-- End of Features Boxes 1 -->
		</section>
	</section>
</section>
{% endblock main-content %}