{% extends "base-login2.html" %}
{% block main-content %}
<section id="ngo_features" class="whitebg">
	<section class="container mbtm">
		<h2>Active Requests</h2>
		<section class="row-fluid">
			{% for request in requests %}
			<figure class="span4 feature mbtm-20 {% cycle 'first' '' ''  %}">
			<a href="{% url 'donationreceiveddetail' request.id  %}" >
				<img src="/static/images/causes/cause{{1}}.jpg" alt="" class="img-responsive" style="height:219px;">
				<div class="ftr_txt cont_txt requestor_info">
					<div class="span12">
						<span class="span6">Cause : </span>
						<span class="span6 mycontribution_list_font">{{request.cause.name}}</span>
					</div>
					<div class="span12 first">
						<span class="span6 ">Comment :</span>
						<span class="span6 mycontribution_list_font">{{request.comment}}</span>
					</div>
					<div class="span12 first">
						<span class="span6 ">Status:</span>
						<span class="span6 mycontribution_list_font">{% if request.status == 'ACTIVE' %} ACTIVE {% elif request.status == 'INACTIVE'  %} INACTIVE {% elif request.status == 'COMPLETED' %} COMPLETED {% endif %} </span>
					</div>
				</div>
			</a>
			</figure>
			{% endfor %}
			<!-- End of Features Boxes 1 -->
		</section>
	</section>
</section>

<section id="ngo_features" class="greybg">
	<section class="container mbtm">
		<h2>Completed Requests</h2>
		<section class="row-fluid">
			{% for i in '123' %}
			<figure class="span4 feature">
				<img src="/static/images/causes/cause{{i}}.jpg" alt="" class="img-responsive" style="height:219px;">
				<div class="ftr_txt">
					<strong>Help children to make a better life</strong>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</figure>
			{% endfor %}
			<!-- End of Features Boxes 1 -->
		</section>
	</section>
</section>

{% endblock main-content %}