{% extends "base-login.html" %}

{% block main-content %}
<div id="page-wrapper" class="hide-overflow">
	<section id="donation_box">
		<section class="container">
			<section class="row-fluid">
				<div class="first"><h2> Start a cause</h2> </div>
			</section>
		</section>
	</section>
	<section class="container-fluid container mbtm">
		<section class="row-fluid">
			<form>
				<div class="form-group">
					<input type="text" name="name" class="newcauseform form-control" placeholder="Home Location" placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
				</div>
				<div class="form-group">
					<input type="text" name="contact_number" class="newcauseform form-control" placeholder="Cause" required="true" data-parsley-pattern="^[0-9]+$" data-parsley-minlength="10" data-parsley-maxlength="10" maxlength="10">
				</div>
				<div class="form-group">
					<input type="text" name="name" class="newcauseform form-control" placeholder="Sub Cause" placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
				</div>
				<div class="form-group">
					<input type="text" name="name" class="newcauseform form-control" placeholder="Sub Cause Category" placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
				</div>
				<div class="form-group">
					<textarea name="message" id="" cols="30" rows="10" class="newcauseform form-control" placeholder="Description"></textarea>
				</div>
				<div class="mrgntop">
					<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Upload photo</button>

					<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Upload Promo Video</button>
				</div>
				<div class="mrgntop">
					<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Submit</button>
				</div>
			</form>
		</section>
	</section>
</div>
{% endblock main-content %}