{% extends "base-login.html" %}

{% block main-content %}
<div id="page-wrapper" style="overflow:hidden">	
	<section id="donation_box">
		<section class="container">
			<div class="row-fluid">
            	<div class="col-lg-8">
                    <div class="adm-gang-inline">
                        <h2>Create New Gang</h2>    
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'ganglist' %}" class="btn btn-default more-btn " type="submit">Gang List</a>    
                    </div>
                </div>
            </div>    
		</section>
	</section>
	<section class="container-fluid container mbtm margin-align">
		<section class="row-fluid">
			<form>
				<div class="form-group">
					<input type="text" name="name" class="newcauseform form-control" placeholder="Gang Name" placeholder="Academic Session" data-parsley-pattern="^[A-Za-z ]*$" required="true">
				</div>
				<div class="form-group">
					<input type="text" name="Cause Name" class="newcauseform form-control" placeholder="Cause" required="true" data-parsley-pattern="^[0-9]+$" data-parsley-minlength="10" data-parsley-maxlength="10" maxlength="10">
				</div>
				<div class="mrgntop form-group">
					<textarea name="message" id="" cols="30" rows="10" class="newcauseform form-control" placeholder="Add Members"></textarea>
				</div>
				<div class="mrgntop form-group">
					<textarea name="message" id="" cols="30" rows="10" class="newcauseform form-control" placeholder="Description"></textarea>
				</div>																															
				<div class="mrgntop">
					<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Upload Promo Video</button>
				</div>
				<div class="mrgntop">
					<button type="submit" data-placement="top" data-rel="tooltip" title="Support Us"  class=" btn btn-large dropdown-toggle btn-red" type="submit" >Submit</button>
				</div>
			</form>
		</section>
	</section>
</div>
{% endblock main-content %}