{% extends  base_template_name %}
{% block main-content %}
<div class="container container-fluid">
    <div class="row-fluid">
        <div class="span12 mtop mprj">
            <div class="span2">
                <div class="img-circle mrg-display">
                    <img class="img-circle" src="/static/images/exective4.jpg/">
                </div>
                <div>    
                    <p>By {{project.user_id.name}} {{project_contribution.money}}</p>
                </div>
            </div>
            <div class="span10">
                <div class="mrg-display">
                    <span class="project-title">
                        {{project.title}}    
                    </span>
                </div>
                <br>
                <span class="project-head">
                    {{project.short_desc}}        
                </span>
            </div>
        </div>
    </div>
    <div class="row-fluid ">
        <div class="span12 project mprj">
            <div class="span5">
                <img height="42" width="42" src="/static/images/request_1.jpg">
            </div>
            <div class="span3">
                <h2>Requested</h2>
                <div class="prj-fig-width">
                    <div class="mrg-display mkt-wrap-text">
                        <strong class="display-figure">
                        {{project.money}} {{project.money_frequency}}
                        </strong>
                        <br>
                        <span class="small-text mrg-display">
                            Money<br>
                        </span>
                    </div>
                    {% for mkt in project.projectkind_set.all %}
                    <div class="mrg-display mkt-wrap-text">
                        <strong class="display-figure ">
                        {% if mkt.quantity != None %} {{mkt.quantity}} {% endif %}
                        {% if mkt.ktype != None %} {{mkt.ktype}} {% endif %} 
                        {% if mkt.ksubtype != None %} {{mkt.ksubtype}} {% endif %} 
                        {% if mkt.specifics != None %} [{{mkt.specifics}}] {% endif %} 
                        {% if mkt.frequency != None %} {{mkt.frequency}} {% endif %} 
                        </strong>
                        <br>
                        <span class="small-text mrg-display">
                            Kind<br>
                        </span>
                    </div>
                    {% endfor %}
                    {% for mkt in project.projecttime_set.all %}
                    <div class="mrg-display mkt-wrap-text">
                        <strong class="display-figure mrg-display">
                        {% if mkt.manhours != None %} {{mkt.manhours}} {% endif %}
                        {% if mkt.skilltype != None %} {{mkt.skilltype}} {% endif %}
                        {% if mkt.skillsubtype != None %} {{mkt.skillsubtype}} {% endif %}
                        {% if mkt.specifics != None %} [{{mkt.specifics}}] {% endif %}
                        {% if mkt.frequency != None %} {{mkt.frequency}} {% endif %}
                        </strong>
                        <br>
                        <span class="small-text">
                            Time<br>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                {% for cont in project_contribution %}
                    {{cont.money}}
                {% endfor %}
                <div class="control-group">
                    <input type="submit" class="btn--login btn--red" value="Make Contribution!"
                     onclick="window.location='/donate/pledge/'"/>
                </div> 
            </div>
            <div class="span3">
                <h2>Pending</h2>
                <div class="prj-fig-width">
                    <div class="mrg-display mkt-wrap-text">
                        <strong class="display-figure">
                        {{project.get_mkt_donated.pending_money|floatformat:0}}
                        </strong> Rupees
                        <br>
                        <span class="small-text mrg-display">
                            Money<br>
                        </span>
                    </div>
                    <div class="mrg-display mkt-wrap-text">
                        <strong class="display-figure ">
                        {{project.get_mkt_donated.pending_kind|floatformat:0}}
                        </strong> Units
                        <br>
                        <span class="small-text mrg-display">
                            Kind<br>
                        </span>
                    </div>
                    <div class="mrg-display mkt-wrap-text">
                        <strong class="display-figure mrg-display">
                        {{project.get_mkt_donated.pending_time|floatformat:0}}
                        </strong> Man/Hrs
                        <br>
                        <span class="small-text">
                            Time<br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">    
        <ul class="nav nav-tabs prjulmrg mtop">
            <li class="active"><a data-toggle="tab" href="#campaign"><b>Campaign</b></a></li>
            <li><a data-toggle="tab" href="#faq"><b>FAQ</b></a></li>
            <li><a data-toggle="tab" href="#updates"><b>Updates</b></a></li>
            <li><a data-toggle="tab" href="#comments"><b>Comments</b></a></li>
            <li><a data-toggle="tab" href="#community"><b>Community</b></a></li>
            <li class="dropdown temphide">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="tab" href="#dropdown1">Dropdown 1</a></li>
                    <li><a data-toggle="tab" href="#dropdown2">Dropdown 2</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div id="campaign" class="tab-pane fade in active mtop">
                <div class="span7">
                    <span class="project-title">About this project<br></span>
                    <div class="mtop">
                        <span class="lrg-text">
                        {{project.long_desc}}
                        </span>
                    </div>
                </div>
                <div class="span5">
                    <span class="project-title">Support this project<br></span>
                    <div class="row-fluid">
                        <div class="prj-campaign-sidebar mtop">
                            <div class="pledge1 ">
                                <div class="control-group">
                                    <label for="inputEmail" class="">Make a Pledge for this project </label>
                                    <div class="controls">
                                      <input class="" type="text" placeholder="enter any amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prj-campaign-sidebar mtop">
                            <div class="pledge1 ">
                                <div class="control-group">
                                    <label for="inputEmail" class="">Pledge 500 INR or More </label>
                                    <div class="controls">
                                      <input class="" type="text" placeholder="amount more than 500">
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div id="faq" class="tab-pane fade mtop">
                <p class="head">Frequently Asked Questions</p>
                <div class="faqs">
                    <section id="content" class="mtop">
                        <div class="accordion faq_accordion" id="accordion2">
                            {% for faq in faqs %}
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">
                                             <span class="toggle_faq"><i class="icon-chevron-right"></i> </span>  <h3>  <strong>{{faq.question}}</strong> </h3>
                                        </a>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                        <p> {{faq.answer}}  </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %} 
                        </div>
                        <div class="form-group mtop-20 mbtm-20" >
                            <form method="POST" action="{% url 'projectdetail' project.id %}" >
                                {% csrf_token %}
                                <input type="hidden" name="project_id" value="{{project.id}}">
                                <label><b>Ask Your Question</b></label>
                                <textarea cols="" class="faqhide askquestion" id="ask_question" placeholder="Ask your question" name="question" ></textarea>
                                <input type="submit" class="btn btn-more btn-red" name="Submit Question">
                            </form>
                        </div>
                        <!-- <a data-toggle="tab" href="#" class="btn btn-orange mem_faqask">Ask a Question</a> -->
                    </section>
                </div>
            </div>
            <div id="updates" class="tab-pane fade mtop">

                {% if not updates %}

                {% else %}
                <div id="project-update">
                    {% for update in updates %}    
                        <div data-vtdate="{{update.update_on}}">
                            <h1>{{update.update_title}}</h1>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div> <!-- end updates -->
            <div id="comments" class="tab-pane fade mtop">
                <div id="disqus_thread">
                </div>
            </div>
            <div id="community" class="tab-pane fade mtop" style="overflow:hidden ">
                <div class="span12">
                    <div class="span6 prj-community">
                        <div class="text-center">
                            <div class="mrg-lrgdisplay">
                                <strong class="display-lrgfigure">
                                {{project.get_mkt_donated.count_contribution|floatformat:0}} <br>
                                </strong>
                                <span class="mrg-display lrg-text">
                                  Members Contributed<br>
                                </span>
                            </div>
                            <div class="mrg-lrgdisplay">
                                <strong class="display-lrgfigure">
                                {{project.get_mkt_donated.donated_money|floatformat:0}}  INR<br>
                                </strong>
                                <span class="mrg-display lrg-text">
                                    Contributed Amount<br>
                                </span>
                            </div>
                        </div>
                    </div> 
                    <div class="span6 prj-community">
                        <div class=" text-center">
                            <div class="mrg-lrgdisplay">
                                <strong class="display-lrgfigure">
                                {{project.get_mkt_donated.donated_kind|floatformat:0}}
                                Quantity<br>
                                </strong>
                                <span class="mrg-display lrg-text">
                                  Contributed Kinds<br>
                                </span>
                            </div>
                            <div class="mrg-lrgdisplay">
                                <strong class="display-lrgfigure">
                                {{project.get_mkt_donated.donated_time|floatformat:0}}
                                Man-Hrs<br>
                                </strong>
                                <span class="mrg-display lrg-text">
                                Contributed Times <br>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
                <section class="span12 mtop project-head">
                    Here are a few of the people supporting this project.   
                </section> 
                <section class="span12 mtop row-fluid first">
                    {% for contributor in project_contribution %}
                        <figure class="team_member span3 {% if forloop.counter == 1%}first{% endif %}">
                            <div class="member_img">
                                <img src="/static/images/exective{{i}}.jpg" onerror="this.src='/static/images/default_profile_img.png'" />
                            </div>
                            <div class="team_member_description">
                                <h4>{{contributor.contributed_by.name}}</h4>
                                <span class="">{{contributor.contributed_by.profession}}</span>
                            </div>
                        </figure>
                    {% endfor %}
                </section>
            </div>
            <div id="dropdown1" class="tab-pane fade">
                <p>Dropdown 1 content…</p>
            </div>
            <div id="dropdown2" class="tab-pane fade">
                <p>Dropdown 2 content…</p>
            </div>
        </div>
    </div>
</div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-fafadiatech-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock main-content %}