{% for i in '1' %}
<div class="span4 feature first mem-list mbtm" id="data-container">
	<img src="/static/images/causes/cause{{i}}.jpg" alt="" class="img-responsive" style="height:219px;">
	<div class="ftr_txt">
		<strong>Project title</strong>
		<p>About the project that is entered by creator during project creation.</p>
		<span class="span5 first"><b>PROJECT BY</b></span>
		<span class="span7 first">BEING HUMAN</span>
		<span class="span5 first"><b>CREATOR TYPE</b></span>
		<span class="span7 first">NGO</span>
		<a href="{% url 'projectdetail' 1 %}" class="btn btn-primary btn-orange">View Details</a>
		<a href="" class="btn btn-primary btn-orange">donate</a>
		<div class="mtop-20 progress progress-success bar-height">
		  	<div class="bar" style="width: 60%;">
		  	</div>
		</div>	
	</div>
</div>
{% endfor %}