{% extends "base.html" %}


</!DOCTYPE html>
<html>
<head>
	<title>Legal Advisory</title>
</head>
<body class="default red">
{% block main-content %}

<section id="content" class="mbtm product_grid">
	<section class="container-fluid container">
	
		<section class="row-fluid">
			
			<section class="span12 product_view" id="product_grid">  
 
					
					<figure class="span12 first mtop mbtm team" id="category_title">
							<h3> <i class="icon-ok-circle mbtm "></i>   Recipient List </h3>
							
					</figure>
					
					<Section class="product_image_holder">
					
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store2.jpg" alt="Product Image" />
								
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store1.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store3.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<hr />
 					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store2.jpg" alt="Product Image" />
								
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store1.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store3.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<hr />
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store2.jpg" alt="Product Image" />
								
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store1.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store3.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<hr />
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store2.jpg" alt="Product Image" />
								
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store1.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="/static/images/store3.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price">Cause name</span>
							<a href="#" class="btn pull-right"> Contact </a>
						</div>
						
						
						
					</figure>

					<hr />
					
					
					</section>
					
				<div class="pagination">  
                  <ul>  
                    <li><a href="#">Prev</a></li>  
                    <li class="active">  
                      <a href="#">1</a>  
                    </li>  
                    <li><a href="#">2</a></li>  
                    <li><a href="#">3</a></li>  
                    <li><a href="#">4</a></li>  
                    <li><a href="#">Next</a></li>  
                  </ul>  
                </div>						
		
		</section>
			
				
			
 
			
		</section>
	</section>

	</section>
<!-- Page Content Container -->



{% endblock main-content %}
</body>
</html>