{% extends "base.html" %}

{% block main-content %}

	<!-- Title & BreadCrumbs -->
	<section class="mtop">
		<section class="container-fluid container">
			<section class="row-fluid">
				<section id="donation_box">
					<section class="container container-fluid">
						<section class="row-fluid">
							<div class="span12 first"> <h2> Recipients</h2> </div>
						</section>
					</section>
				</section>		<!-- end of Page Title -->
			</section>
	 		<section class="row-fluid">
				<!-- BreadCrumbs -->
				<figure id="breadcrumbs" class="span12">
					<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Home</a> <span class="divider">/</span></li>
					<li><a href="#">Community</a> <span class="divider">/</span></li>
					<li class="active">Recipients</li>
					</ul>
				</figure>
				<!-- End of breadcrumbs -->
			</section>
		</section>
	</section>
	<!-- End of Tile & Breadcrumbs -->
	
	<section class="container container-fluid mbtm team">
		<section class="row-fluid"> 
			{% for requestor in object_list %}
				<figure class="team_member span3 {% if forloop.counter0|divisibleby:4 %}first{% else %}odd{% endif %} mbtm">
					<div class="member_img">
						<img src="/static/images/exective{{forloop.counter}}.jpg" alt="Team Member" />
					</div>
					<div class="team_member_description">
						<h5>Name : {{requestor.user.name}}</h5>
						<span class="mem_desig">Profession : {{requestor.user.profession}} </span>
						<figure class="n_social"> 
							<a href="#"> <i class="icon-facebook"></i> </a> 
							<a href="#"> <i class="icon-twitter"></i> </a> 
							<a href="#"> <i class="icon-google-plus"></i> </a> 
						</figure>
					</div>
				</figure>
			{% endfor %}
		</section>
	</section>

{% endblock main-content %}