{% extends "base-login.html" %}
{% block main-content %}
<section class="mtop" id="donation_box">
    <section class="container">
        <section class="row-fluid">
            <div class="span12 first"><h2>Request Details</h2> </div>
        </section>
    </section>
</section>
<section id="content" class="mbtm blog">
    <section class="container-fluid container">
        <section class="row-fluid">
            <section class="span12 " id="blog_post_detail">
                <figure class="blog_post">
                    <div class="">
                        <a href="#"> <img src="/static/images/request_1.jpg" alt="Blog Post" /> </a>
                    </div>
                     
                    <div class="first reqbox2 reqdivhgt" >
                        <div class="reqbox2 span8 first " >
                            <h3>Hospital Bill</h3>
                            <table class="table table-hover">
                            <tr>
                                <td>
                                  Cause Type  
                                </td>
                                <td>
                                  Hospital Bill  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Requestor 
                                </td>
                                <td>
                                  Individual 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Contribution Type 
                                </td>
                                <td>
                                  Money 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Contribution 
                                </td>
                                <td>
                                  1500 INR 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Contributors Referred 
                                </td>
                                <td>
                                  Being Human Charitable Trust
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Contributors Assigned 
                                </td>
                                <td>
                                  Nick Anderson 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Request Amount 
                                </td>
                                <td>
                                  50,000 INR 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Request Status 
                                </td>
                                <td>
                                  Assigned 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Date of Request  
                                </td>
                                <td>
                                  12th Aug 2016 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  Request Rank  
                                </td>
                                <td>
                                  50 
                                </td>
                            </tr>
                            </table>
                        </div> 
                        <div class="reqbox2">
                            <div class=" span4">
                                <div class="reqbox0">
                                    <p>Final Goal</p>
                                <span class="goalfig"> 50,000 INR</span>
                                </div>
                            <div class="reqbox1">
                                <p>Fund Raised </p>
                                <span class="goalfig"> 20,000 INR</span>
                            </div>
                            </div>
                        </div>
                        
                         
                    </div>

                </figure>
            </section>
        </section>
    </section>
</section>

{% endblock main-content %}
