{% extends "base-login2.html" %}
{% block main-content %}
<section class="container-fluid container">
    <section class="row-fluid logaccdiv mtop">
        <div class="span6">
            <a href="#"> <img src="/static/images/request_1.jpg" alt="Blog Post" /> </a>
        </div>
        <div class="formupper">
            Basic Request Details.    
        </div> 
        <div class="span6">
            <table class="table">
                <tr>
                   <th>Cause Name</th>
                   <td>Educating Girl Child</td>
                </tr>
                <tr>
                    <th>Requestor Name</th>
                    <td>Narsimha Rao</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>Active</td>
                </tr>
                <tr>
                    <th>Date of Request</th>
                    <td>26th August</td>
                </tr>
                <tr>
                    <th>Rank</th>
                    <td>26</td>
                </tr>
                <tr>
                   <th>Recommended</th>
                   <td>Mr John</td>
                </tr>
                <tr>
                    <th>Tagged for help</th>
                    <td>Mr Narsimha Rao</td>
                </tr>
                <tr>
                    <th>Referred by Others</th>
                    <td>Mr John</td>
                </tr>
                <tr>
                    <th>Contributors</th>
                    <td>Mr John</td>
                </tr>
            </table>
        </div>
        <div class="formupper">
            Request Particulars    
        </div> 
        <div class="">   
            <table class="rqttable2 span8 ">
                <tr>
                    <th rowspan="2">REQUEST DETAILS</th>
                    <th colspan="2">MONEY</th>
                    <th colspan="3">KIND</th>
                    <th colspan="3">TIME</th>
                </tr>
                <tr>
                    <th>Amount</th>
                    <th>Frequency</th>
                    <th>Item</th>
                    <th>Unit</th>
                    <th>Frequency</th>
                    <th>Man</th>
                    <th>Hrs</th>
                    <th>Frequency</th>
                </tr>
                <tr>
                    <th>REQUESTED</th>
                    <td>20k</td>
                    <td>once</td>
                    <td>Cloth</td>
                    <td>500</td>
                    <td>Once</td>
                    <td>50</td>
                    <td>30</td>
                    <td>Yearly</td>
                </tr>
                <tr>
                    <th>COMPLETED</th>
                    <td>10k</td>
                    <td>once</td>
                    <td>Cloth</td>
                    <td>300</td>
                    <td>Once</td>
                    <td>50</td>
                    <td>30</td>
                    <td>Yearly</td>
                </tr>
                <tr>
                    <th>PENDING</th>
                    <td>10k</td>
                    <td>once</td>
                    <td>Cloth</td>
                    <td>200</td>
                    <td>Once</td>
                    <td>00</td>
                    <td>00</td>
                    <td>Yearly</td>
                </tr>
            </table>
            <div class=" span4">
                <div class="reqbox0">
                    <p>Final Goal</p>
                    <span class="goalfig"> 50,000 INR</span>
                </div>
                <div class="reqbox1">
                    <p>Fund Raised </p>
                    <span class="goalfig"> 20,000 INR</span>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock main-content %}
