{% extends  base_template_name %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class="span12 mtop">
			<div class="span3 contributor-detail">
				<img  src="/static/images/exective1.jpg">
				<div class="mtop mbtm">
					<div class="span12">
						<H4><b>BASIC INFORMATION</b></H4>
					</div>
					<div class="form-group span12 first">
					    <span class="span3">NAME</span>
					    <span class="span7">{{object.user.name}}</span>
				  	</div>
				  	<div class="form-group span12 first">
					    <span class="span3">TYPE</span>
					    <span class="span7">{{object.user.user_type}}</span>
				  	</div>
				  	<div class="form-group span12 first">
					    <span class="span3">ELIGIBILITY</span>
					    <span class="span7">STRONG</span>
				  	</div>
				</div>
			</div> <!-- dk -->
			<div class="span9">
				<div class="mbtm detail-tab">
					<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
		                <div class="btn-group" role="group">
		                    <button type="button" id="stars" class="btn btn-primary basics" href="#request" data-toggle="tab">
		                    <div class="hidden-xs">REQUEST</div>
		                    </button>
		                </div>
		                <div class="btn-group" role="group">
		                    <button type="button" id="favorites" class="btn btn-default story" href="#donation-received" data-toggle="tab">
		                     <div class="hidden-xs">DONATIONS RECEIVED</div>
		                    </button>
		                </div>
		                <div class="btn-group" role="group">
		                    <button type="button" id="favorites" class="btn btn-default story" href="#recommend" data-toggle="tab">
		                    <div class="hidden-xs">RECOMMENDED CONTRIBUTORS</div>
		                    </button>
		                </div>
		                <div class="btn-group" role="group">
		                    <button type="button" id="favorites" class="btn btn-default preview" href="#allrequests" data-toggle="tab">
		                     <div class="hidden-xs">All REQUESTS</div>
		                    </button>
		                </div>
		                <div class="btn-group" role="group">
		                    <button type="button" id="favorites" class="btn btn-default review" href="#comments" data-toggle="tab">
		                     <div class="hidden-xs">COMMENTS</div>
		                    </button>
		                </div>
            		</div>
				</div>
				<div class="tab-content mtop">
					<div id="request" class="tab-pane fade in active">
						<div class="span12 first">
							<div class="form-group span12 first">
							    <span class="span3">CAUSES</span>
							    <span class="span7">{{object.cause}}</span>
						  	</div>
						  	<div class="form-group span12 first">
							    <span class="span3">REQUEST DATE</span>
							    <span class="span7">{{object.request_date}}</span>
						  	</div>
						  	<div class="form-group span12 first">
							    <span class="span3">STATUS</span>
							    <span class="span7">{{object.status}}</span>
						  	</div>
						</div>
						<div class="request-particular span12 first">
							<div class="span12"><H4><b>ORIGINAL REQUEST DETAILS</b></H4></div>
							<table class="table mkt-th">
								<tr>
									<th>MONEY</th>
									<th>Money</th>
									<th>Money Frequency</th>
									<td colspan="3"></td>
								</tr>
								<tr>
									<td colspan="1"></td>
									<td>{{object.money}}<span> INR</span></td>
									<td colspan="4">{{object.money_frequency}}</td>
								</tr>
								{% for kind in object.receivekind_set.all %}
								{% if forloop.counter == 1 %}
								<tr>
									<th>KIND</th>
									<th>Kind Quantity</th>
									<th>Kind Type</th>
									<th>Kind SubType</th>
									<th>Kind Specifics</th>
									<th>Kind Frequency</th>
								</tr>
								{% endif %}
								<tr>
									<th colspan="1"></th>
									<td>{{kind.quantity}}</td>
									<td>{{kind.ktype}}</td>
									<td>{{kind.ksubtype}}</td>
									<td>{{kind.specifics}}</td>
									<td>{{kind.frequency}}</td>
								</tr>
								{% endfor %}
								{% for time in object.receivetime_set.all %}
								{% if forloop.counter == 1 %}
								<tr>
									<th>TIME</th>
									<th>Time Man-Hours</th>
									<th>Time Skill Type</th>
									<th>Time Sub Skill Type</th>
									<th>Time Specifics</th>
									<th>Time Frequency</th>
								</tr>
								{% endif %}
								<tr>
									<td colspan="1"></td>
									<td>{{time.manhours}}</td>
									<td>{{time.skilltype}}</td>
									<td>{{time.skillsubtype}}</td>
									<td>{{time.specifics}}</td>
									<td>{{time.frequency}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
						<div class="request-particular span12 first">
							<div class="span12"><H4><b>PENDING REQUEST DETAILS</b></H4></div>
							<table class="table mkt-th">
								<tr>
									<th>MONEY</th>
									<th>Money</th>
									<th>Money Frequency</th>
									<td colspan="3"></td>
								</tr>
								<tr>
									<td colspan="1"></td>
									<td>{{object.get_mkt_donated.pending_money|floatformat:0}}<span> INR</span></td>
									<td colspan="4">{{object.money_frequency}}</td>
								</tr>
								{% for kind in object.get_mkt_donated.kind %}
								{% if forloop.counter == 1 %}
								<tr>
									<th>KIND</th>
									<th>Kind Quantity</th>
									<th>Kind Type</th>
									<th>Kind SubType</th>
									<th>Kind Specifics</th>
									<th>Kind Frequency</th>
								</tr>
								{% endif %}
								<tr>
									<th colspan="1"></th>
									<td>{{kind.quantity}}</td>
									<td>{{kind.ktype}}</td>
									<td>{{kind.ksubtype}}</td>
									<td>{{kind.specifics}}</td>
									<td>{{kind.frequency}}</td>
								</tr>
								{% endfor %}
								{% for time in object.get_mkt_donated.time %}
								{% if forloop.counter == 1 %}
								<tr>
									<th>TIME</th>
									<th>Time Man-Hours</th>
									<th>Time Skill Type</th>
									<th>Time Sub Skill Type</th>
									<th>Time Specifics</th>
									<th>Time Frequency</th>
								</tr>
								{% endif %}
								<tr>
									<th colspan="1"></th>
									<td>{{time.manhours}}</td>
									<td>{{time.skilltype}}</td>
									<td>{{time.skillsubtype}}</td>
									<td>{{time.specifics}}</td>
									<td>{{time.frequency}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>								
					</div>
					<div id="donation-received" class="tab-pane fade">
						<div class="cont-pastdonations">
							<div class="span12"><H4><b>DONATION RECEIVED</b></H4></div>
							{% for donation in object.contribution_set.all %}
							<div id="pastcontribution" class="accordion" >
							    <div class="span12 first accordion-group req-head">
							    	<div class="accordion-heading">
							    		<span class="span5">CONTRIBUTOR NAME :</span>
						    			<span class="span7 first">{{donation.contributed_by.name}}</span>
									    <span class="span5 first">CONTRIBUTOR TYPE :</span>
									    <span class="span7 first">{{donation.contributed_by.user_type}}</span>
							    		<span class="span5 first">CONTRIBUTION ID :</span>
							    		<span class="span7 first">{{donation.id}}</span>	
							    		<a class="accordion-toggle active rmpad" data-toggle="collapse" data-parent="pastcontribution" href="#con-1001">View Contribution Details</a>	
							    	</div>
									<div class="accordion-body collapse" id="con-1001">
										<table class="table mkt-th">
											<tr>
												<th>MONEY</th>
												<th>Money</th>
												<th>Money Frequency</th>
												<td colspan="3"></td>
											</tr>
											<tr>
												<th colspan="1"></th>
												<td>{{donation.money}}<span>  INR</span></td>
												<td colspan="4">{{donation.money_frequency}}</td>
											</tr>
											{% for kind in donation.kindcontribution_set.all %}
											{% if forloop.counter == 1 %}
											<tr>
												<th>KIND</th>
												<th>Kind Quantity</th>
												<th>Kind Type</th>
												<th>Kind SubType</th>
												<th>Kind Specifics</th>
												<th>Kind Frequency</th>
											</tr>
											{% endif %}
											<tr>
												<th colspan="1"></th>
												<td>{{kind.quantity}}</td>
												<td>{{kind.ktype}}</td>
												<td>{{kind.ksubtype}}</td>
												<td>{{kind.specifics}}</td>
												<td>{{kind.frequency}}</td>
											</tr>
											{% endfor %}
											{% for time in donation.timecontribution_set.all %}
											{% if forloop.counter == 1 %}
											<tr>
												<th>TIME</th>
												<th>Time Man-Hours</th>
												<th>Time Skill Type</th>
												<th>Time Sub Skill Type</th>
												<th>Time Specifics</th>
												<th>Time Frequency</th>
											</tr>
											{% endif %}
											<tr>
												<th colspan="1"></th>
												<td>{{time.manhours}}</td>
												<td>{{time.skilltype}}</td>
												<td>{{time.skillsubtype}}</td>
												<td>{{time.specifics}}</td>
												<td>{{time.frequency}}</td>
											</tr>
											{% endfor %}
										</table>
									</div>
							    </div>
							</div>
							{% endfor %}
						</div>		
					</div>
					<div id="recommend" class="tab-pane fade">
						<div class="span12 mbtm first">
							<div class="myrequests">
								<div class="span12"><H4><b>RECOMMENDED CONTRIBUTORS	</b></H4></div>
								<div class="accordion" id="recommended-cont" >
								    <div  class="span12 first accordion-group req-head">
								    	<div class="accordion-heading span12">
											<div class="span3">
												<img src="/static/images/exective1.jpg">	
											</div>					    	
								    		<div class="span9">
												<span class="span3">NAME</span>
												<span class="span9">BEING HUMAN</span>
												<span class="span3 first">TYPE</span>
												<span class="span9">NGO</span>
												<span class="span3 first">CAUSES INTERESTED</span>
												<span class="span9">MEDICAL, KIDS EDUCATION</span>
												<div class="span12 first">
													<a class="first accordion-toggle active rmpad" data-toggle="collapse" data-parent="recommended-cont" href="#con-recommended">View Details</a>	
												</div>
											</div>
								    	</div>
										<div class="first span12 accordion-body collapse" id="con-recommended">
											<div class="span12 first">
											INTEND TO DONATE
											</div>
											<table class="table mkt-th">
												<tr>
													<th>MONEY</th>
													<th>Money</th>
													<th>Money Frequency</th>
													<td colspan="3"></td>
												</tr>
												<tr>
													<th colspan="1"></th>
													<td>30000<span>INR</span></td>
													<td colspan="4">Monthly</td>
												</tr>
												<tr>
													<th>KIND</th>
													<th>Kind Quantity</th>
													<th>Kind Type</th>
													<th>Kind SubType</th>
													<th>Kind Specifics</th>
													<th>Kind Frequency</th>
												</tr>
												<tr>
													<th colspan="1"></th>
													<td>30</td>
													<td>clothes</td>
													<td>Used Clothes</td>
													<td>5 yr old</td>
													<td>Yearly</td>
												</tr>
												<tr>
													<th>TIME</th>
													<th>Time Man-Hours</th>
													<th>Time Skill Type</th>
													<th>Time Sub Skill Type</th>
													<th>Time Specifics</th>
													<th>Time Frequency</th>
												</tr>
												<tr>
													<th colspan="1"></th>
													<td>5</td>
													<td>Accountant</td>
													<td>Tally</td>
													<td>15 yrs experience</td>
													<td>Monthly</td>
												</tr>
											</table>
										</div>
									</div> <!-- accordion group -->
								</div>
							</div>	
						</div>		
					</div>
					<div id="allrequests" class="tab-pane fade">
						<div class="myrequests">
							<div class="span12"><H4><b>ALL REQUESTS</b></H4></div>
							<div id="request-detail" class="accordion">
							{% for request in object.user.intendtoreceive_set.all %}
							    <div  class="span12 first accordion-group req-head">
							    	<div class="accordion-heading ">
							    		<span class="span5">REQUEST ID :</span>
							    		<span class="span7 first">{{request.id}}</span>
							    		<span class="span5 first">CAUSES LINKED :</span>
							    		<span class="span7 first">{{request.cause}}</span>
							    		<a class="accordion-toggle active rmpad" data-toggle="collapse" data-parent="request-detail" href="#{{request.id}}">View Details</a>	
							    	</div>
									<div class="accordion-body collapse " id="{{request.id}}">
										<span class="span5 first">REQUEST DETAILS :</span>
										<table class="table mkt-th">
											<tr>
												<th>MONEY</th>
												<th>Money</th>
												<th>Money Frequency</th>
												<td colspan="3"></td>
											</tr>
											<tr>
												<th colspan="1"></th>
												<td>{{request.money}}<span> INR</span></td>
												<td colspan="4">{{request.money_frequency}}</td>
											</tr>
											{% for kind in request.receivekind_set.all %}
											{% if forloop.counter == 1 %}
											<tr>
												<th>KIND</th>
												<th>Kind Quantity</th>
												<th>Kind Type</th>
												<th>Kind SubType</th>
												<th>Kind Specifics</th>
												<th>Kind Frequency</th>
											</tr>
											{% endif %}
											<tr>
												<th colspan="1"></th>
												<td>{{kind.quantity}}</td>
												<td>{{kind.ktype}}</td>
												<td>{{kind.ksubtype}}</td>
												<td>{{kind.specifics}}</td>
												<td>{{kind.frequency}}</td>
											</tr>
											{% endfor %}
											{% for time in request.receivetime_set.all %}
											{% if forloop.counter == 1 %}
											<tr>
												<th>TIME</th>
												<th>Time Man-Hours</th>
												<th>Time Skill Type</th>
												<th>Time Sub Skill Type</th>
												<th>Time Specifics</th>
												<th>Time Frequency</th>
											</tr>
											{% endif %}
											<tr>
												<th colspan="1"></th>
												<td>{{time.manhours}}</td>
												<td>{{time.skilltype}}</td>
												<td>{{time.skillsubtype}}</td>
												<td>{{time.specifics}}</td>
												<td>{{time.frequency}}</td>
											</tr>
											{% endfor %}
										</table>
										<span class="span6 first">RETURN TO COMMUNITY:</span>
										<table class="table mkt-th">
											{% for time in request.returntocommunityobligations_set.all %}
											<tr>
												{% if forloop.counter0 == 0 %}
													<th>TIME (Obligations)</th>
												{% else %}
													<th colspan="1"></th>
												{% endif %}	
													<td>{{time.time_manhours}}</td>
													<td>{{time.time_skill_type}}</td>
													<td>{{time.time_skill_subtype}}</td>
													<td>{{time.time_specifics}}</td>
													<td>{{time.time_frequency}}</td>
											</tr>
											{% endfor %}
											{% for time in request.returntocommunitycompleted_set.all %}
											<tr>
												{% if forloop.counter0 == 0 %}
													<th>TIME(Completed)</th>
												{% else %}
													<th colspan="1"></th>
												{% endif %}	
													<td colspan="5">{{time.time_manhours}}</td>
											</tr>
											{% endfor %}
										</table>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>		
					</div>
				</div> <!-- end tab-content -->
				<div id="donate-matri" class="accordion mtop">
					<div class="text-center">
						<button type="button" class="btn btn-red" data-toggle="collapse" href="#fill-donate">DONATE</button>
					</div>
					<div class="accordion-group requestor-donate-btn mtop-20">
						<div class="accordion-body collapse req_detail_donate_pad" id="fill-donate">
							<form method="POST" action="/donation/">
								{% csrf_token %}
								<input type="hidden" name="request_id" value="{{object.id}}">
								<input type="hidden" name="cause" value="">
								<input type="hidden" name="category" value="">
								<input type="hidden" name="contributed_by" value="{{object.user.id}}">
								<input type="hidden" name="contribution_for" value="1">
								<input type="hidden" name="status" value="1">
								<div class="mtop">
									<div class="span12">
										<label class="span1">MONEY</label>
										<div class="span2">
											<input class="input-block-level" type="number" name="money" placeholder="Enter Money Amount">
										</div>
										<div class="span2">
											<select class="input-block-level" name="money_frequency">
												<option value="">Select Money frequency</option>
											{% for freq in money_freq %}
												<option value="{{forloop.counter}}">{{freq.name}}</option>
											{% endfor %}
											</select>
										</div>
									</div>

									<input id="id_kind-TOTAL_FORMS" name="kind-TOTAL_FORMS" type="hidden" value="1">
									<input id="id_kind-INITIAL_FORMS" name="kind-INITIAL_FORMS" type="hidden" value="0">
									<input id="id_kind-MIN_NUM_FORMS" name="kind-MIN_NUM_FORMS" type="hidden" value="0">
									<input id="id_kind-MAX_NUM_FORMS" name="kind-MAX_NUM_FORMS" type="hidden" value="1000">

									<div id="kind" class="span12 first mbtm-20">
										<label class="span1">KIND</label>
										<div class="span2">
											<input class="input-block-level" type="number" name="kind-0-quantity" placeholder="Enter Kind Quantity">
											<input type="button" name="" class="btn-orange" value="Add More Kinds">
										</div>
										<div class="span2">
											<select name="kind-0-ktype" class="input-block-level">
												<option value="">Select Kind Type</option>
													{% for type in kind_type %}
														<option value="{{forloop.counter}}">{{type.name}}</option>
													{% endfor %}
											</select>
										</div>
										<div class="span2">
											<select name="kind-0-ksubtype" class="input-block-level">
												<option value="">Select Kind Sub Type</option>
												{% for subtype in kind_subtype %}
													<option value="{{forloop.counter}}">{{subtype.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="span2">
											<input class="input-block-level" type="text" name="kind-0-specifics"
											placeholder="Enter Kind Specifics">
										</div>
										<div class="span2">
											<select name="kind-0-frequency" class="input-block-level">
												<option value="">Select Kind Frequency</option>
												{% for freq in kind_freq %}
													<option value="{{forloop.counter}}">{{freq.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>

									<input id="id_time-TOTAL_FORMS" name="time-TOTAL_FORMS" type="hidden" value="1">
									<input id="id_time-INITIAL_FORMS" name="time-INITIAL_FORMS" type="hidden" value="0">
									<input id="id_time-MIN_NUM_FORMS" name="time-MIN_NUM_FORMS" type="hidden" value="0">
									<input id="id_time-MAX_NUM_FORMS" name="time-MAX_NUM_FORMS" type="hidden" value="1000">

									<div id="time" class="span12 first mbtm-20">
										<label class="span1">TIME</label>
										<div class="span2">
											<input class="input-block-level" type="number" name="time-0-manhours" placeholder="Enter Man/Hours">
											<input type="button" name="" class="btn-orange" value="Add More Times">
										</div>
										<div class="span2">
											<select name="time-0-skilltype" class="input-block-level">
												<option value="">Select Time Skill</option>
												{% for skill in time_skilltype %}
													<option value="{{forloop.counter}}">{{skill.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="span2">
											<select name="time-0-skillsubtype" class="input-block-level">
												<option value="">Select Time Sub-Skill</option>
												{% for subskill in time_subskill %}
													<option value="{{forloop.counter}}">{{subskill.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="span2">
											<input class="input-block-level" type="text" name="time-0-specifics" placeholder="Enter Time Specifics">
										</div>
										<div class="span2">
											<select name="time-0-frequency" class="input-block-level">
												<option value="">Select Time Frequency</option>
												{% for freq in time_freq %}
													<option value="{{forloop.counter}}">{{freq.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="text-center">
									<input type="submit" value="Submit" class="btn btn-more btn-red">	
								</div>
							</form>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>
{% endblock main-content %}