{% extends "base-login2.html" %}
{% block main-content %}
<section class="mtop">
	<section class="container-fluid container">
		<section class="row-fluid">
			<section id="donation_box">
				<section class="container container-fluid">
					<section class="row-fluid">
					<div class="span8 first"> <h2>Return To Community</h2> </div>
					</section>
				</section>
			</section>		
		</section>
	</section>
</section>
<section class="container container-fluid">
	<div class="row-fluid logaccdiv"><!-- return to community -->
		<div class="formupper">
            Record Return to Community 
        </div> 
		<div>
			<table class="table span12">
				<tr>
					<th rowspan="1"></th>
					<th>item</th>
					<th>Unit</th>
					<th>Frequency</th>
				</tr>
				<tr>
					<th>Kind</th>
					<td>
						<div class="styled-select slate">
							<select>
								<option>Enter Kind</option>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
								<option>option 4</option>
							</select>
						</div>	
					</td>
					<td>
						<input type="text" name="" placeholder="enter units">
					</td>
					<td>
						<div class="styled-select slate">
							<select>
								<option>Enter Frequency</option>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
								<option>option 4</option>
							</select>
						</div>
					</td>
				</tr>
				<tr>
					<th>Time</th>
					<td>
						<div class="styled-select slate">
							<select>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
								<option>option 4</option>
							</select>
						</div>	
					</td>
					<td>
						<input type="text" name="" placeholder="Number of mans">
					</td>
					<td>
						<div class="styled-select slate">
							<select>
								<option>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
								<option>option 4</option>
							</select>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</section>	
{% endblock main-content %}
