{% extends 'base-login2.html' %}
{% block main-content %}
<div class="container temphide">
	<div class="row-fluid">
		<div class="search-params">
			<select id="select-addon">
            	<option>All</option>
            	<option>Projects</option>
            	<option>Contributors</option>	
            	<option>Recipient</option>		
            </select>
			<input class="typeahead pad-within-text" type="search" name="" class="">
			<i class="icon-search icon-2x" ></i>
		</div>
	</div>
</div>
<section class="grey-container">
	<section class="container container-fluid mbtm" id="data-container" >
		<div class="span12 first mbtm">
			<div class="search-params ">
				<select id="select-addon">
	            	<option>All</option>
	            	<option>Projects</option>
	            	<option>Contributors</option>	
	            	<option>Recipient</option>		
	            </select>
				<input value={{query}} class="typeahead pad-within-text" type="search" name="" class="">
				<i class="icon-search icon-2x" ></i>
			</div>	
		</div>
		
		<div class="span12 mbtm first">
			<span class="headtext">Search Results</span><br>
			<!-- <a href="{% url 'allproject' %}">See all live projects</a>	 -->
		</div>
		{% for i in '123' %}
		<div class="span4 feature first mem-list" >
			<img src="/static/images/causes/cause{{i}}.jpg" alt="" class="img-responsive" style="height:219px;">
			<div class="ftr_txt">
				<strong>Project title</strong>
				<p>About the project that is entered by creator during project creation.</p>
				<span class="span5 first"><b>PROJECT BY</b></span>
				<span class="span7 first">BEING HUMAN</span>
				<span class="span5 first"><b>CREATOR TYPE</b></span>
				<span class="span7 first">NGO</span>
				<a href="{% url 'projectdetail' 1 %}" class="btn btn-primary btn-orange">View Details</a>
				<a href="" class="btn btn-primary btn-orange">donate</a>
				<div class="mtop-20 progress progress-success bar-height">
				  	<div class="bar" style="width: 60%;">
				  	</div>
				</div>	
			</div>
		</div>
		{% endfor %}
		<!-- <div id="button-more" onclick="lazyload.load()">
  			Load more items
		</div> -->
		<!-- <div id="loading-div" class="span4 feature first mem-list" style="display:none">
			loading more items
		</div> -->
	</section>
</section>


{% endblock main-content %}