{% extends "base-login2.html" %}
{% block main-content %}
<div class="container">
	<div class="row-fluid mtop" id="certificate">
		<div class="span12 text-center">
			<span class="crfte-title">Kind Hearted</span>
		</div>
		<div class="span12 text-center first">
			<span class="crfte-1"><b><u>RECORD OF PARTICIPATION FOR GOOD CAUSE</u></b><br></span>
			<span class="crfte-no">Certificate no : 1245</span>
		</div>
		<div class="span12 text-center first">
			<span class="crfte-common-txt">We are pleased to record that</span>
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-name">{{object.contributed_by.name}}</span><br>
			<span class="crfte-bracket">(Name of the member)</span>
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-name">000</span><br>
			<span class="crfte-bracket">(Membership No)</span>
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-common-txt">Has Undertaken the activity as follows</span>
		</div>
		<div class="span12 text-center first">
			<span class="crfte-common-txt">Contribution Details</span>
			<br>
		</div>
		<div class=" first ">
			<div class=" text-center first">
				<table class="table mtop-20">
					<tbody>
						<tr>
							<td>MONEY</td>
							<td>{{object.money}} INR</td>
							<td colspan="3">{{object.money_frequency}}</td>
						</tr>
						{% for kindcontribution in object.kindcontribution_set.all %}
						<tr>
							<td>KIND</td>
							<td>{{kindcontribution.quantity}}</td>
							<td>{{kindcontribution.ktype}}</td>
							<td>{{kindcontribution.ksubtype}}</td>
							<td>{{kindcontribution.specifics}}</td>
						</tr>
						{% endfor %}
						{% for timecontribution in object.timecontribution_set.all %}
						<tr>
							<td>TIME</td>
							<td>{{timecontribution.manhours}}</td>
							<td>{{timecontribution.skilltype}}</td>
							<td>{{timecontribution.skillsubtype}}</td>
							<td>{{timecontribution.specifics}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>	
			</div>	
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-name">{{object.confirmed_by.name}}</span><br>
			<span class="crfte-bracket">(Acknowledge by)</span>
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-name">{{object.cause}}</span><br>
			<span class="crfte-bracket">(Cause)</span>
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-name">{{object.contributed_on}} to {{object.confirmed_on}}</span>
			<br>
			<span class="crfte-bracket">(Held on/between)</span>
		</div>
		<div class="span12 text-center first mtop-20">
			<span class="crfte-common-txt">The KARMA Credit for the activity is</span><br>
			Details
		</div>
		<div class="span12 text-center first mtop-20">
			<a id="btn-print" href="#"  class="btn btn-more btn-red">PRINT CERTIFICATE</a>
		</div>
	</div>
</div>
{% endblock main-content %}