{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class=" mtop">
			<div class="">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary" href="#others" data-toggle="tab">
	                    <div class="hidden-xs">BASIC</div>
	                    </button>
	                </div>
	            </div>
				<div class="card hovercard">
		            <div class="card-background">
		                <img class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		            </div>
	                <div class="useravatar">
	                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
	                </div>
	                <div class="card-info"> 
	                	<span class="card-title">Pamela Anderson</span>
	                </div>
	            </div>
	            
	            <div class="well">
	            	<div class="tab-content">
			    		<div id="others" class="tab-pane fade in active">
							<div class="span12">
								<span class="lrg-text">Basic Details</span>
								<table class="table">
									<tr>
										<th>Name</th>
										<td>Jay Fifadra</td>
									</tr>
									<tr>
										<th>Form of Organisation</th>
										<td>Partnership Firm</td>
									</tr>
									<tr>
										<th>Email-id</th>
										<td>abc@gmail.com</td>
									</tr>
									<tr>
										<th>Address</th>
										<td>vasi west</td>
									</tr>
									<tr>
										<th>Contact Person Name</th>
										<td>Adwin</td>
									</tr>
									<tr>
										<th>Contact Person NUmber</th>
										<td>6466464658</td>
									</tr>
									<tr>
										<th>Contact Person email-id</th>
										<td>abc@gmail.com</td>
									</tr>
									<tr>
										<th>Contact Person Address</th>
										<td>vasai west</td>
									</tr>
									<tr>
										<th>Website</th>
										<td>abc.com</td>
									</tr>
									<tr>
										<th>Aadhar No</th>
										<td>466465465</td>
									</tr>
									<tr>
										<th>CKYC no</th>
										<td>6466464658</td>
									</tr>
									<tr>
										<th>Another Contact no.</th>
										<td>6466464658</td>
									</tr>
									<tr>
										<th>Nature of Business</th>
										<td>Trading</td>
									</tr>
									<tr>
										<th>Geography of Operation</th>
										<td>Mumbai and Outskirts of it</td>
									</tr>
								</table>
								<span class="lrg-text">Causes Supported</span>
								<table class="table">
									<tr>
										<th>Cause Category  </th>
										<th>Cause Sub-Category  </th>
										<th>Cause Description  </th>
									</tr>
									<tr>
										<td>Medical </td>
										<td>Organ Transplant</td>
										<td>Kidney</td>
									</tr>
								</table>
							</div>
						</div>
	            	</div>
	            </div>				
			</div>
		</div>
	</div>
</div>		

{% endblock main-content %}