{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class=" mtop">
			<div class="">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary" href="#ngobasic" data-toggle="tab">
	                    <div class="hidden-xs">BASIC</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default" href="#organizationdetails" data-toggle="tab">
	                     <div class="hidden-xs">ORGANIZATION DETAILS</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-default" href="#projects" data-toggle="tab">
	                    <div class="hidden-xs">PROJECTS</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default" href="#statutory" data-toggle="tab">
	                     <div class="hidden-xs">STATUTORY INFORMATION</div>
	                    </button>
	                </div>
	            </div>
				<div class="card hovercard">
		            <div class="card-background">
		                <img class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		            </div>
	                <div class="useravatar">
	                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
	                </div>
	               <div class="card-info"> <span class="card-title">Pamela Anderson</span>
	               </div>
	            </div>
	            
	            <div class="well">
	            	<div class="tab-content">
						<div id="ngobasic" class="tab-pane fade in active">
							<div class="span12">
								<span class="lrg-text">NGO Basic Details</span>
								<table class="table">
									<tr>
										<th>Name of the NGO  </th>
										<td>Being Human</td>
									</tr>
									<tr>
										<th>CSR Ready:</th>
										<td>Yes</td>
									</tr>
									<tr>
										<th>CSR Fund Availability:</th>
										<td>2 crore</td>
									</tr>
									<tr>
										<th>Date of Establishment </th>
										<td>12th August 2016</td>
									</tr>
									<tr>
										<th>Geographical Area OF Operation :</th>
										<td>Mumbai and outskirts of it</td>
									</tr>
								</table>
								<span class="lrg-text">Causes Supported</span>
								<table class="table">
									<tr>
										<th>Cause Category  </th>
										<th>Cause Sub-Category  </th>
										<th>Cause Description  </th>
									</tr>
									<tr>
										<td>Medical </td>
										<td>Organ Transplant</td>
										<td>Kidney</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="organizationdetails" class="tab-pane fade">
							<div class="span12">		
								<span class="lrg-text">Organizational Skills</span>
								<table class="table">
									<tr>
										<th>Form of the Organisation</th>
										<td>Society</td>
									</tr>
									<tr>
										<th>Certificate of Registration</th>
										<td>View Details</td>
									</tr>
									<tr>
										<th>Purpose:</th>
										<td>100% Charitable Purpose</td>
									</tr>
									<tr>
										<th>Geographical Area OF Operation :</th>
										<td>Mumbai and outskirts of it</td>
									</tr>
									<tr>
										<th>Contact Person Name</th>
										<td>Adwin</td>
									</tr>
									<tr>
										<th>Contact Person Number</th>
										<td>6466464658</td>
									</tr>
									<tr>
										<th>Contact Person email-id</th>
										<td>abc@gmail.com</td>
									</tr>
									<tr>
										<th>Contact Person Address</th>
										<td>vasai west</td>
									</tr>
									<tr>
										<th>Benefit Donor u/s</th>
										<td>80g</td>
									</tr>
									<tr>
										<th>Rate OF Deduction</th>
										<td>50%</td>
									</tr>
									<tr>
										<th>Formed for religious reason</th>
										<td>Yes</td>
									</tr>
									<tr>
										<th>Religious Description </th>
										<td>Jain Organization</td>
									</tr>
								</table>
								<span class="lrg-text">Trustees</span>
								<table class="table">
									<tr>
										<th>Name  </th>
										<th>Designation</th>
										<th>Email-Id</th>
										<th>Mobile Number</th>
										<th>Photo</th>
										<th>Description</th>
									</tr>
									<tr>
										<td>Jay  </td>
										<td>Trustee</td>
										<td>abc@gmail.com</td>
										<td>abc@gmail.com</td>
										<td>-</td>
										<td>handling the entire thing from last 20 years</td>
									</tr>
								</table>
							</div>	
						</div>
						<div id="projects" class="tab-pane fade">
							<div class="span12">
								{% for i in '123' %}
								<span class="lrg-text">Project {{i}}</span>		
								<table class="table">
									<tr>
										<th>Project Name</th>
										<td colspan="5">Prevent Farmer Suicide</td>
									</tr>
									<tr>
										<th>Financial Year</th>
										<td>2014</td>
										<td>2015</td>
										<td colspan="3">2016</td>
									</tr>
									<tr>
										<th>Spent</th>
										<td>200k</td>
										<td>200k</td>
										<td colspan="3">200k</td>
									</tr>
									<tr>
										<th>Money</th>
										<td>300000</td>
										<td colspan="4">Monthly</td>
									</tr>
									<tr>
										<th>Kind</th>
										<td>30</td>
										<td>Clothes</td>
										<td>Used Clothes</td>
										<td>5 yr old</td>
										<td>yearly</td>
									</tr>
									<tr>
										<th>Time</th>
										<td>5</td>
										<td>Accountant</td>
										<td>Tally</td>
										<td>15 yr experience</td>
										<td>Monthly</td>
									</tr>
									<tr>
										<th>Direct Beneficiaries</th>
										<td>200k</td>
										<td>200k</td>
										<td colspan="3">200k</td>
									</tr>
									<tr>
										<th>Indirect Beneficiaries</th>
										<td>200k</td>
										<td>200k</td>
										<td colspan="3">200k</td>
									</tr>
									<tr>
										<th>Geographic Location</th>
										<td colspan="5" >Mumbai</td>
									</tr>
									<tr>
										<th>Project Description</th>
										<td colspan="5" >farmer welfare is the main motto ,increase minimum support price</td>
									</tr>
								</table>
								{% endfor %}
							</div>
						</div>
						<div id="statutory" class="tab-pane fade">
							<div class="span12">
								<span class="lrg-text">Statutory Information</span>
								<table class="table">
									<tr>
										<th>Financial date</th>
										<th>Year 1</th>
										<th>Year 2</th>
										<th>Year 3</th>
									</tr>
									<tr>
										<th>Donations From Govt/Non-govt</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Donations From Indian</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Donations From Foreign</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Donations From KH</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Donations From Assets/Investment</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Other Income</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Gross Income</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Expense on Objectives</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Expense on Administrative Activity</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Total Expense</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
									<tr>
										<th>Net Surplus/ Deficit</th>
										<td>200k</td>
										<td>200k</td>
										<td>200k</td>
									</tr>
								</table>
							</div>
						</div>
	            	</div>
	            </div>				
			</div>
		</div>
	</div>
</div>		

{% endblock main-content %}