{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class="span12 mtop">
			<div class="mbtm detail-tab">
				<b><a class="" data-toggle="tab" href="#individual">INDIVIDUAL BASIC</a></b>
			</div>
		</div>
		<div class="tab-content span12">
			<div id="individual" class="tab-pane fade">
				<div class="span12">
					<span class="lrg-text">Basic Details</span>
					<table class="table">
						<tr>
							<th>Name</th>
							<td>Jay Fifadra</td>
						</tr>
						<tr>
							<th>Email-id</th>
							<td>abc@gmail.com</td>
						</tr>
						<tr>
							<th>Mobile NUmber</th>
							<td>9821114112</td>
						</tr>
						<tr>
							<th>Address</th>
							<td>vasi west</td>
						</tr>
						<tr>
							<th>Website</th>
							<td>abc.com</td>
						</tr>
						<tr>
							<th>Gender</th>
							<td>male</td>
						</tr>
						<tr>
							<th>Aadhar No</th>
							<td>466465465</td>
						</tr>
						<tr>
							<th>CKYC no</th>
							<td>6466464658</td>
						</tr>
						<tr>
							<th>Profession</th>
							<td>Business</td>
						</tr>
						<tr>
							<th>Business Description</th>
							<td>flipkart products</td>
						</tr>
						<tr>
							<th>Service Details</th>
							<td>-</td>
						</tr>
						<tr>
							<th>Professional email-id</th>
							<td>jay@fafadiatech.com</td>
						</tr>
						<tr>
							<th>Personal Skills</th>
							<td>Medicine</td>
						</tr>
						<tr>
							<th>Experience in skill mentioned</th>
							<td>5 years</td>
						</tr>
						<tr>
							<th>Geographic Area of Operation</th>
							<td>Mumbai and Outskirts of into</td>
						</tr>
					</table>
					<span class="lrg-text">Causes Supported</span>
					<table class="table">
						<tr>
							<th>Cause Category  </th>
							<th>Cause Sub-Category  </th>
							<th>Cause Description  </th>
						</tr>
						<tr>
							<td>Medical </td>
							<td>Organ Transplant</td>
							<td>Kidney</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>		

{% endblock main-content %}