{% extends "base-login2.html" %}
{% block main-content %}
<div class="container container-fluid">
	<div class="row-fluid">
		<div class=" mtop">
		{% if object.user_type == 'corporate' %}
			<div class="">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary" href="#corporatebasic" data-toggle="tab">
	                    <div class="hidden-xs">BASIC</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default" href="#companydetails" data-toggle="tab">
	                     <div class="hidden-xs">COMPANY DETAILS</div>
	                    </button>
	                </div>
	            </div>
	            <div class="btn-group pull-right" role="group">
	                <a type="button" class="btn btn-primary" href="{% url 'editcorporateprofile' object.id %}" >
	                <div class="hidden-xs">EDIT DETAILS</div>
	                </a>
	            </div>
	           
				<div class="card hovercard">
				{% for corporate in object.corporatebasic_set.all %}
		            <div class="card-background">
		                <img class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		            </div>
	                <div class="useravatar">
	                    <img alt="" src="/media/{{corporate.company_image}}" alt="/static/images/default_profile_img.png" onerror="this.src='/static/images/default_profile_img.png'">
	                </div>
	               <div class="card-info"> <span class="card-title">{{object.name}}</span>
	               </div>
	            </div>
	            {% endfor %}
	            <div class="well">
	            	<div class="tab-content">
	                	<div id="corporatebasic" class="tab-pane fade in active">
							<div class="span12">
								<span class="lrg-text">Basic</span>
								<table class="table">
									<tr>
										<th>Company User name</th>
										<td>{{object.username}}</td>
									</tr>
									<tr>
										<th>Company Name</th>
										<td>{{object.name}}</td>
									</tr>
									<tr>
										<th>Registration Number</th>
										<td>{{object.registration_no}}</td>
									</tr>
									<tr>
										<th>Company Email ID</th>
										<td>{{object.email}}</td>
									</tr>
									<tr>
										<th>Company Contact No</th>
										<td>{{object.mobile_number}}</td>
									</tr>
									<tr>
										<th>Company Website</th>
										<td>{{object.website}}</td>
									</tr>
									<tr>
										<th>Company Address</th>
										<td>{{object.address}}</td>
									</tr>
									{% for corporate in object.corporatebasic_set.all %}
									<tr>
										<th>Contact Person Name</th>
										<td>{{corporate.contactperson_name}}</td>
									</tr>
									<tr>
										<th>Contact Person Number</th>
										<td>{{corporate.contactperson_mobileno}}</td>
									</tr>
									<tr>
										<th>Contact Person email-id</th>
										<td>{{corporate.contactperson_emailid}}</td>
									</tr>
									<tr>
										<th>Contact Person Address</th>
										<td>{{corporate.contactperson_address}}</td>
									</tr>
									
									{% endfor %}
								</table>
							</div>
							<span class="lrg-text">Directors Details</span>
							<div class="">
								<table class="table"> 
									<tr>
										<th>Name</th>
										<th>Designation</th>
										<th>Email-id</th>
										<th>Mobile No </th>
										<th>photo</th>
										<th>Description</th>
									</tr>
									{% for corporate in object.corporatebasic_set.all %}
									{% for director in corporate.corporateofficebearers_set.all %}
									<tr>
										<td>{{director.officebearers_name}}</td>
										<td>{{director.officebearers_designation}}</td>
										<td>{{director.officebearers_email_id}}</td>
										<td>{{director.officebearers_mobile_no}}</td>
										<td>{{director.officebearers_photo}}</td>
										<td>{{director.officebearers_description}}</td>
									</tr>
									{% endfor %}
									{% endfor %}
								</table>
							</div>
							<span class="lrg-text">CSR Committee Details</span>
							<div class="">
								<table class="table"> 
									<tr>
										<th>Name</th>
										<th>Designation</th>
										<th>Email-id</th>
										<th>Mobile No </th>
										<th>photo</th>
										<th>Description</th>
									</tr>
									{% for corporate in object.corporatebasic_set.all %}
									{% for csrmember in corporate.corporatecsrcommitee_set.all %}
									<tr>
										<td>{{csrmember.csrcommitee_name}}</td>
										<td>{{csrmember.csrcommitee_designation}}</td>
										<td>{{csrmember.csrcommitee_email_id}}</td>
										<td>{{csrmember.csrcommitee_mobile_no}}</td>
										<td>{{csrmember.csrcommitee_photo}}</td>
										<td>{{csrmember.csrcommitee_description}}</td>
									</tr>
									{% endfor %}
									{% endfor %}
								</table>
							</div>
						</div>
						<div id="companydetails" class="tab-pane fade">
							<div class="span12">
								<span class="lrg-text">Company Specifics</span>
								<table class="table">
									{% for corporate in object.corporatebasic_set.all %}
									<tr>
										<th>Undertaking CSR u/s 135 of companies act </th>
										<td>{{corporate.csr_section_135}}</td>
									</tr>
									<tr>
										<th>CSR Applicability Details:</th>
										<td>{{object.csr_applicability.name}}</td>
									</tr>
									<tr>
										<th>CSR Fund Availability:</th>
										<td>{{corporate.csr_fund}}</td>
									</tr>
									<tr>
										<th>Undertaking Non-CSR Activity </th>
										<td>{{corporate.non_csr}}</td>
									</tr>
									<tr>
										<th>Non-CSR Fund Availability:</th>
										<td>{{corporate.non_csr_fund}}</td>
									</tr>
									<tr>
										<th>Causes of NOn-CSR Spend:</th>
										<td>{{corporate.non_csr_cause}}</td>
									</tr>
									<tr>
										<th>Objectives:</th>
										<td>{{corporate.csr_objectives}}</td>
									</tr>
									<tr>
										<th>Focus Area:</th>
										<td>{{corporate.focusarea}}</td>
									</tr>
									<tr>
										<th>Funding selection and Monitoring Process:</th>
										<td>{{corporate.selection_criteria}}</td>
									</tr>
									<tr>
										<th>Criteria for Selection of NGO's and another entities to join in CSR activities of the company:</th>
										<td>{{corporate.profile_geography_desc}}</td>
									</tr>
									<tr>
										<th>Nature Of Business:</th>
										<td>{{corporate.nature_of_business}}</td>
									</tr>
									<tr>
										<th>Profile with geographic Area of Operation:</th>
										<td>{{corporate.profile_geography_desc}}</td>
									</tr>
									<tr>
										<th>Company history:</th>
										<td>{{corporate.company_history}}</td>
									</tr>
									{% endfor %}
								</table>
							</div>	
						</div>  
	            	</div>
	            </div>				
			</div>
		{% endif %}	
		{% if object.user_type == 'ngo' %}
			<div class="">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary" href="#ngobasic" data-toggle="tab">
	                    <div class="hidden-xs">BASIC</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default" href="#organizationdetails" data-toggle="tab">
	                     <div class="hidden-xs">ORGANIZATION DETAILS</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-default" href="#ngoprojects" data-toggle="tab">
	                    <div class="hidden-xs">PROJECTS</div>
	                    </button>
	                </div>
	                <div class="btn-group" role="group">
	                    <button type="button" id="favorites" class="btn btn-default" href="#statutory" data-toggle="tab">
	                     <div class="hidden-xs">STATUTORY INFORMATION</div>
	                    </button>
	                </div>
	            </div>
	            <div class="btn-group pull-right" role="group">
	                <a type="button" class="btn btn-primary" href="{% url 'editngoprofile' object.id  %}" >
	                <div class="hidden-xs">EDIT DETAILS</div>
	                </a>
	            </div>
				<div class="card hovercard">
		            {% for ngo in object.ngobasic_set.all %}
		            <div class="card-background">
		                <img class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		            </div>
	                <div class="useravatar">
	                    <img alt="" src="/media/{{ngo.ngo_image}}" alt="/static/images/default_profile_img.png" onerror="this.src='/static/images/default_profile_img.png'">
	                </div>
	                <div class="card-info"> <span class="card-title">{{object.name}}</span>
	                </div>
                	{% endfor %}
	            </div>
	            
	            <div class="well">
	            	<div class="tab-content">
						<div id="ngobasic" class="tab-pane fade in active">
							<div class="span12">
								<span class="lrg-text">NGO Basic Details</span>
								<table class="table">
									<tr>
										<th>Name of the NGO  </th>
										<td>{{object.name}}</td>
									</tr>
									<tr>
										<th>Date of Establishment </th>
										<td>{{object.establishment_date}}</td>
									</tr>
									{% for basic in object.ngobasic_set.all %}
									<tr>
										<th>CSR Ready:</th>
										<td>{{basic.csr_ready}}</td>
									</tr>
									<tr>
										<th>Geographical Area OF Operation :</th>
										<td>{{basic.profile_geography_desc}}</td>
									</tr>
									<tr>
										<th>Ngo Image :</th>
										<td>{{basic.ngo_image}}</td>
									</tr>
									{% endfor %}
								</table>
								<span class="lrg-text">Causes Supported</span>
								<table class="table">
									<tr>
										<th>Cause Category  </th>
										<th>Cause Sub-Category  </th>
										<th>Cause Description  </th>
									</tr>
									<tr>
										<td>Medical </td>
										<td>Organ Transplant</td>
										<td>Kidney</td>
									</tr>
								</table>
							</div>
						</div>
						<div id="organizationdetails" class="tab-pane fade">
							<div class="span12">		
								<span class="lrg-text">Organizational Skills</span>
								<table class="table">
									<tr>
										<th>Form of the Organisation</th>
										<td>{{object.form_of_organization_ngo.name}}</td>
									</tr>
								{% for organisationdetail in object.organizationdetails_set.all %}
									<tr>
										<th>Certificate of Registration</th>
										<td>{{organisationdetail.certificate_of_registration}}</td>
									</tr>
									<tr>
										<th>Purpose:</th>
										<td>{{organisationdetail.purpose.name}}</td>
									</tr>
									<tr>
										<th>Contact Person Name</th>
										<td>{{organisationdetail.contactperson_name}}</td>
									</tr>
									<tr>
										<th>Contact Person Number</th>
										<td>{{organisationdetail.contactperson_mobileno}}</td>
									</tr>
									<tr>
										<th>Contact Person email-id</th>
										<td>{{organisationdetail.contactperson_emailid}}</td>
									</tr>
									<tr>
										<th>Contact Person Address</th>
										<td>{{organisationdetail.contactperson_address}}</td>
									</tr>
									<tr>
										<th>Benefit Donor u/s</th>
										<td>{{organisationdetail.get_donor_benefit_section_display}}</td>
									</tr>
									<tr>
										<th>Rate OF Deduction</th>
										<td>{{organisationdetail.get_deduction_rate_display}}</td>
									</tr>
									<tr>
										<th>Formed for religious Community/Caste</th>
										<td>{{organisationdetail.religious_reason}}</td>
									</tr>
									<tr>
										<th>Religious Description </th>
										<td>{{organisationdetail.religious_reason_desc}}</td>
									</tr>
								{% endfor %}	
								</table>
								<span class="lrg-text">Trustees</span>
								<table class="table">
									<tr>
										<th>Name  </th>
										<th>Designation</th>
										<th>Email-Id</th>
										<th>Mobile Number</th>
										<th>Photo</th>
										<th>Description</th>
									</tr>
									{% for trustee in object.ngoofficebearers.all %}
									<tr>
										<td>{{object.name}}</td>
										<td>{{object.designation}}</td>
										<td>{{object.email_id}}</td>
										<td>{{object.mobile_no}}</td>
										<td>{{object.photo}}</td>
										<td>{{object.description}}</td>
									</tr>
									{% endfor %}
								</table>
							</div>	
						</div>
						<div id="ngoprojects" class="tab-pane fade">
							<div class="span12">
								{% for project in object.addpastproject_set.all %}

								<span class="lrg-text">Project {{forloop.counter}}</span>		
								<table class="table">
									<tr>
										<th>Project Name</th>
										<td>{{project.name}}</td>
									</tr>
									<tr>
										<th>Geographic Location</th>
										<td >{{project.location}}</td>
									</tr>
									<tr>
										<th>Project description</th>
										<td >{{project.description}}</td>
									</tr>
									<tr>
										<th>Financial Year</th>
										<td>{{project.financialyear}}</td>
									</tr>
									<tr>
										<th>Project Supported by</th>
										<td>{{project.supported_by}}</td>
									</tr>
									<tr>
										<th>Particulars of Support</th>
										<td>{{project.support_particulars}}</td>
									</tr>
									<tr>
										<th>Money Donated</th>
										<td>{{project.money}}</td>
									</tr>
									<tr>
										<th>Kind Donation Description</th>
										<td>{{project.kind_desc}}</td>
									</tr>
									<tr>
										<th>Time Donation Description</th>
										<td>{{project.time_desc}}</td>
									</tr>
									<tr>
										<th>Direct Beneficiaries</th>
										<td>{{project.direct_benefitter}}</td>
									</tr>
									<tr>
										<th>Indirect Beneficiaries</th>
										<td>{{project.indirect_benefitter}}</td>
									</tr>
								</table>
								{% endfor %}
							</div>
						</div>
						<div id="statutory" class="tab-pane fade">
							<div class="span12">
								<span class="lrg-text">Financial Information</span>
								{% for finance in object.ngofinancialdetails_set.all %}
								<table class="table">financial_year
									<tr>
										<th>Financial Year</th>
										<th>{{finance.financial_year}}</th>
									</tr>
									<tr>
										<th>Financial date</th>
										<th>{{finance.financialdate}}</th>
									</tr>
									<tr>
										<th>Donations From Govt/Non-govt</th>
										<td>{{finance.don_govt_nongovt}}</td>
									</tr>
									<tr>
										<th>Donations From Indian</th>
										<td>{{finance.don_india}}</td>
									</tr>
									<tr>
										<th>Donations From Foreign</th>
										<td>{{finance.don_foreign}}</td>
									</tr>
									<tr>
										<th>Donations From KH</th>
										<td>{{finance.don_khmembers}}</td>
									</tr>
									<tr>
										<th>Donations From Assets/Investment</th>
										<td>{{finance.don_assets}}</td>
									</tr>
									<tr>
										<th>Other Income</th>
										<td>{{finance.otherincome}}</td>
									</tr>
									<tr>
										<th>Gross Income</th>
										<td>{{finance.grossincome}}</td>
									</tr>
									<tr>
										<th>Expense on Objectives</th>
										<td>{{finance.expense_objective}}</td>
									</tr>
									<tr>
										<th>Expense on Administrative Activity</th>
										<td>{{finance.expense_administration}}</td>
									</tr>
									<tr>
										<th>Total Expense</th>
										<td>{{finance.expense_total}}</td>
									</tr>
									<tr>
										<th>Net Surplus/ Deficit</th>
										<td>{{finance.net_surpluss_deficit}}</td>
									</tr>
								</table>
								{% endfor %}
							</div>
						</div>
	            	</div>
	            </div>				
			</div>
		{% endif %}
		{% if object.user_type == 'individual' %}
			<div class="">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary" href="#individual" data-toggle="tab">
	                    <div class="hidden-xs">BASIC</div>
	                    </button>
	                </div>
	            </div>
	            <div class="btn-group pull-right" role="group">
	                <a type="button" class="btn btn-primary" href="{% url 'editindividualprofile' object.id  %}" >
	                <div class="hidden-xs">EDIT DETAILS</div>
	                </a>
	            </div>
				<div class="card hovercard">
		            {% for individual in object.individualdetails_set.all %}
		            <div class="card-background">
		                <img class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		            </div>
	                <div class="useravatar">
	                    <img alt="" src="/media/{{individual.individual_image}}" alt="/static/images/default_profile_img.png" onerror="this.src='/static/images/default_profile_img.png'">
	                </div>
	                <div class="card-info"> <span class="card-title">{{object.name}}</span>
	                </div>
                	{% endfor %}
	            </div>
	            
	            <div class="well">
	            	<div class="tab-content">
			    		<div id="individual" class="tab-pane fade in active">
							<div class="span12">
								<span class="lrg-text">Basic Details</span>
								<table class="table">
									<tr>
										<th>Name</th>
										<td>{{object.name}}</td>
									</tr>
									<tr>
										<th>Email-id</th>
										<td>{{object.email}}</td>
									</tr>
									<tr>
										<th>Mobile NUmber</th>
										<td>{{object.mobile_number}}</td>
									</tr>
									<tr>
										<th>Address</th>
										<td>{{object.address}}</td>
									</tr>
									<tr>
										<th>Website</th>
										<td>{{object.website}}</td>
									</tr>
									<tr>
										<th>Gender</th>
										<td>{{object.gender}}</td>
									</tr>
								{% for individual in object.individualdetails_set.all %}
									
									<tr>
										<th>Aadhar No</th>
										<td>{{individual.individual_aadhar_no}}</td>
									</tr>
									<tr>
										<th>PAN no</th>
										<td>{{individual.individual_pan}}</td>
									</tr>
									<tr>
										<th>CKYC no</th>
										<td>{{individual.individual_ckyc}}</td>
									</tr>
									<tr>
										<th>Occupation</th>
										<td>{{individual.individual_occupation}}</td>
									</tr>
									<tr>
										<th>Nature of Business Description</th>
										<td>{{individual.individual_business_dedsc}}</td>
									</tr>
									<tr>
										<th>Professional Skills</th>
										<td>{% for skill in individual.individual_professional_skills.all %}
											{{skill.name}}
										{% endfor %}</td>
									</tr>
									<tr>
										<th>Business Description</th>
										<td>{{individual.individual_business_dedsc}}</td>
									</tr>

									<tr>
										<th>Nature of profession</th>
										<td>{{individual.individual_nature_of_profession}}</td>
									</tr>
									<tr>
										<th>Professional email-id</th>
										<td>{{individual.individual_professional_email_id}}</td>
									</tr>
									<tr>
										<th>Nature of Job</th>
										<td>{{individual.individual_nature_of_job}}</td>
									</tr>
									<tr>
										<th>Name of the Employer</th>
										<td>{{individual.individual_name_of_employer}}</td>
									</tr>
									<tr>
										<th>Designation</th>
										<td>{{individual.individual_designation}}</td>
									</tr>
									<tr>
										<th>Occupation Details </th>
										<td>{{individual.individual_others_details}}</td>
									</tr>

									<tr>
										<th>Personal Skills</th>
										<td> {% for skill in individual.individual_personal_skills.all %}
											{{skill.name}}
										{% endfor %}</td>
									</tr>
									<tr>
										<th>Experience in skill mentioned</th>
										<td>{{individual.individual_experience_skills}}</td>
									</tr>
									<tr>
										<th>Geographic Area of Operation</th>
										<td>{{individual.individual_profile_geography_desc}}</td>
									</tr>
								{% endfor %}
								</table>
								<span class="lrg-text">Causes Supported</span>
								<table class="table">
									<tr>
										<th>Cause Category  </th>
										<th>Cause Sub-Category  </th>
										<th>Cause Description  </th>
									</tr>
									<tr>
										<td>Medical </td>
										<td>Organ Transplant</td>
										<td>Kidney</td>
									</tr>
								</table>
							</div>
						</div>
	            	</div>
	            </div>				
			</div>
		{% endif %}
		{% if object.user_type == 'others'%}
			<div class="">
				<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
	                <div class="btn-group" role="group">
	                    <button type="button" id="stars" class="btn btn-primary" href="#others" data-toggle="tab">
	                    <div class="hidden-xs">BASIC</div>
	                    </button>
	                </div>
	            </div>
				<div class="btn-group pull-right" role="group">
	                <a type="button" class="btn btn-primary" href="{% url 'editothersprofile' object.id %}" >
	                <div class="hidden-xs">EDIT DETAILS</div>
	                </a>
	            </div>
				<div class="card hovercard">
		            {% for others in object.othersdetails_set.all %}
		            <div class="card-background">
		                <img class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		            </div>
	                <div class="useravatar">
	                    <img alt="" src="/media/{{others.others_image}}" alt="/static/images/default_profile_img.png" onerror="this.src='/static/images/default_profile_img.png'">
	                </div>
	                <div class="card-info"> <span class="card-title">{{object.name}}</span>
	                </div>
                	{% endfor %}
	            </div>
	            
	            <div class="well">
	            	<div class="tab-content">
			    		<div id="others" class="tab-pane fade in active">
							<div class="span12">
								<span class="lrg-text">Basic Details</span>
								<table class="table">
									<tr>
										<th>Name</th>
										<td>{{object.name}}</td>
									</tr>
									<tr>
										<th>Form of Organisation</th>
										<td>{{object.form_of_organization_others.name}}</td>
									</tr>
									<tr>
										<th>Email-id</th>
										<td>{{object.email}}</td>
									</tr>
									<tr>
										<th>Address</th>
										<td>{{object.address}}</td>
									</tr>
									<tr>
										<th>Website</th>
										<td>{{object.website}}</td>
									</tr>
									{% for other in object.othersdetails_set.all %}
									<tr>
										<th>Contact Person Name</th>
										<td>{{other.others_contactperson_name}}</td>
									</tr>
									<tr>
										<th>Contact Person Number</th>
										<td>{{other.others_contactperson_mobileno}}</td>
									</tr>
									<tr>
										<th>Contact Person email-id</th>
										<td>{{other.others_contactperson_emailid}}</td>
									</tr>
									<tr>
										<th>Contact Person Address</th>
										<td>{{other.others_contactperson_address}}</td>
									</tr>
									<tr>
										<th>Aadhar No</th>
										<td>{{other.others_aadhar_no}}</td>
									</tr>
									<tr>
										<th>CKYC no</th>
										<td>{{other.others_ckyc}}</td>
									</tr>
									<tr>
										<th>Another Contact no.</th>
										<td>{{other.others_alternate_contact}}</td>
									</tr>
									<tr>
										<th>Nature of Business</th>
										<td>{{other.others_business_nature}}</td>
									</tr>
									<tr>
										<th>Geography of Operation</th>
										<td>{{other.others_profile_geography_desc}}</td>
									</tr>
									{% endfor %}
								</table>
								<span class="lrg-text">Causes Supported</span>
								<table class="table">
									<tr>
										<th>Cause Category  </th>
										<th>Cause Sub-Category  </th>
										<th>Cause Description  </th>
									</tr>
									<tr>
										<td>Medical </td>
										<td>Organ Transplant</td>
										<td>Kidney</td>
									</tr>
								</table>
							</div>
						</div>
	            	</div>
	            </div>				
			</div>
		{% endif %}
		</div>
	</div>
</div>		

{% endblock main-content %}